.wp-block-product-blocks-product-image {
	.flex-control-nav {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			cursor: pointer;
		}
	}
	.wopb-builder-slider-nav .slick-vertical.slick-initialized {
		height: 100%;
	}
	.wopb-product-gallery-wrapper .slick-slide > div {
		line-height: 0;
	}
	.wopb-builder-slider-nav .slick-slide > div {
		line-height: 0;
	}
}
.wopb-product-wrapper .woocommerce-product-gallery {
	position: relative;
	display: inline-block;
	overflow: hidden;
	.thumbnails {
		display: none;
	}

	&.woocommerce-product-gallery--wcavi {
		width: 100% !important;
		.woocommerce-product-gallery__image img {
			width: 100%;
		}
	}
	.product-additional-galleries {
		display: none;
	}
	.wd-owl {
		display: none;
	}
}
.wopb-product-wrapper .woocommerce-product-gallery__wrapper {
	margin: 0px;
	position: relative;
	height: max-content;
	.wopb-builder-slider-nav {
		.slick-active {
			opacity: 0.5;
			transition: all, ease, 0.2s;
			&.slick-current {
				opacity: 1;
			}
		}
	}
}
.wopb-product-wrapper .woocommerce-product-gallery__trigger {
	position: relative;
	z-index: 11;
	text-decoration: none;
	background-color: red;
}
.wopb-product-gallery-wrapper {
	position: relative;
}
.wopb-product-zoom {
	position: absolute;
	z-index: 1;
	right: 0;
	line-height: 0;
	&:focus {
		outline: 0;
	}
}
.sales-badge {
	background-color: blue;
	color: white;
}
.wopb-product-gallery-sale-tag {
	position: absolute;
	display: block;
	text-align: center;
	padding-top: 10px;
	z-index: 1;
}
.wopb-product-gallery-sale-tag::before {
	content: "";
	position: absolute;
	z-index: 2;
	top: 100%;
	padding: 0;
	border-bottom: 28px solid transparent;
	border-left: 32px solid #31b54e;
	border-right: 33px solid #31b54e;
	//width: 100%;
	box-sizing: border-box;
	display: block;
}

.wopb-product-wrapper .woocommerce-product-gallery-off {
	opacity: 1 !important;
	width: 100% !important;
	.woocommerce-product-gallery__wrapper {
		&:hover {
			.wd-btn-arrow {
				display: none;
			}
		}
	}
}

.wp-block-product-blocks-product-image {
	.wopb-product-wrapper {
		position: relative;
	}
}
.editor-styles-wrapper
	.wopb-product-gallery-wrapper
	.wopb-builder-slider-for:not(.slick-initialized) {
	visibility: unset;
}
.wopb-product-gallery-wrapper {
	position: relative;

	.wopb-builder-slider-for:not(.slick-initialized) {
		visibility: hidden;
	}
	.slick-slide {
		img:not(.zoomImg) {
			width: -webkit-fill-available !important;
			object-fit: cover;
		}
	}
	//contorl
	.wopb-slick-prev-large,
	.wopb-slick-next-large {
		position: absolute;
		z-index: 1;
		top: 50%;
		cursor: pointer;
		width: 40px;
		height: 40px;
		background: rgba(0, 0, 0, 0.15);
		transition: 300ms;
		margin-top: -20px;
		svg {
			transition: 300ms;
		}
		&:hover {
			background: rgba(0, 0, 0, 0.9);
			svg {
				fill: #fff;
			}
		}
	}
	.wopb-slick-prev-large {
		left: 0;
		right: auto;
	}
	.wopb-slick-next-large {
		right: 0;
		left: auto;
	}
}
.editor-styles-wrapper .wopb-builder-slider-nav .slick-slide {
	line-height: 0;
	img {
		width: 100% !important;
	}
}
.editor-styles-wrapper
	.wopb-product-gallery-bottom
	.woocommerce-product-gallery__wrapper
	.wopb-builder-slider-nav
	.wopb-slick-next-nav,
.editor-styles-wrapper
	.wopb-product-gallery-bottom
	.woocommerce-product-gallery__wrapper
	.wopb-builder-slider-nav
	.wopb-slick-prev-nav {
	height: 100%;
	top: 0;
}
.editor-styles-wrapper
	.wopb-product-gallery-top
	.woocommerce-product-gallery__wrapper
	.wopb-builder-slider-nav
	.slick-arrow {
	height: 100% !important;
}
.wopb-builder-slider-nav {
	.slick-slide {
		border: none;
		img {
			cursor: pointer;
			width: 100%;
		}
	}
	.wopb-slick-next-nav,
	.wopb-slick-prev-nav {
		box-sizing: border-box;
	}
}
.wopb-product-gallery-bottom {
	.woocommerce-product-gallery__wrapper {
		.wopb-builder-slider-nav {
			padding-top: 20px;
			.wopb-slick-next-nav,
			.wopb-slick-prev-nav {
				position: absolute;
				z-index: 1;
				height: calc(100% - 20px);
				top: 20px;
				cursor: pointer;
				padding-left: 20px;
				padding-right: 20px;
				background: rgba(255, 255, 255, 0.6);
				transition: 300ms;
				&:hover {
					background: rgba(255, 255, 255, 0.9);
				}
			}
			.wopb-slick-prev-nav {
				left: 0;
				svg {
					transform: rotate(-90deg);
				}
			}
			.wopb-slick-next-nav {
				right: 0;
				svg {
					transform: rotate(90deg);
				}
			}
		}
	}
}

.wopb-product-gallery-top {
	.woocommerce-product-gallery__wrapper {
		display: flex;
		flex-direction: column-reverse;
		.wopb-builder-slider-nav {
			padding-bottom: 20px;
			.wopb-slick-next-nav,
			.wopb-slick-prev-nav {
				position: absolute;
				z-index: 1;
				height: calc(100% - 20px);
				top: 0;
				cursor: pointer;
				padding-left: 20px;
				padding-right: 20px;
				background: rgba(255, 255, 255, 0.6);
				transition: 300ms;
				&:hover {
					background: rgba(255, 255, 255, 0.9);
				}
			}
			.wopb-slick-prev-nav {
				left: 0;
				svg {
					transform: rotate(-90deg);
				}
			}
			.wopb-slick-next-nav {
				right: 0;
				svg {
					transform: rotate(90deg);
				}
			}
		}
	}
}

.wopb-product-gallery-left {
	.woocommerce-product-gallery__wrapper {
		display: flex;
		//flex-wrap: wrap;
		flex-direction: row-reverse;
		.wopb-product-gallery-wrapper {
			max-width: 80%;
			width: 100%;
		}
		.wopb-builder-slider-nav {
			max-width: 20%;
			width: 100%;
			padding-right: 20px;
			// height: 500px;
			overflow: hidden;
			.slick-slide {
				img {
					height: auto;
					width: 100%;
					object-fit: cover;
				}
			}
			.wopb-slick-prev-nav,
			.wopb-slick-next-nav {
				position: absolute;
				z-index: 1;
				cursor: pointer;
				width: calc(100% - 20px);
				margin-left: 0;
				padding-top: 20px;
				padding-bottom: 20px;
				background: rgba(255, 255, 255, 0.6);
				transition: 300ms;
				&:hover {
					background: rgba(255, 255, 255, 0.9);
				}
			}
		}
		.wopb-builder-slider-nav {
			.wopb-slick-prev-nav,
			.wopb-slick-next-nav {
				left: 0;
			}
		}
		.wopb-slick-prev-nav {
			top: 0;
			bottom: auto;
		}
		.wopb-slick-next-nav {
			top: auto;
			bottom: 0;
			svg {
				transform: rotate(180deg);
			}
		}
	}
}

.wopb-product-gallery-right {
	.woocommerce-product-gallery__wrapper {
		display: flex;
		//flex-wrap: wrap;
		.wopb-product-gallery-wrapper {
			max-width: 80%;
			width: 100%;
		}
		.wopb-builder-slider-nav {
			max-width: 20%;
			width: 100%;
			padding-left: 20px;
			// height: 500px;
			overflow: hidden;
			.slick-slide {
				img {
					height: auto;
					width: 100%;
					object-fit: cover;
				}
			}
			.wopb-slick-prev-nav,
			.wopb-slick-next-nav {
				position: absolute;
				z-index: 1;
				cursor: pointer;
				width: calc(100% - 20px);
				margin-left: 0;
				padding-top: 20px;
				padding-bottom: 20px;
				background: rgba(255, 255, 255, 0.6);
				transition: 300ms;
				&:hover {
					background: rgba(255, 255, 255, 0.9);
				}
			}
		}
		.wopb-builder-slider-nav {
			.wopb-slick-prev-nav,
			.wopb-slick-next-nav {
				right: 0;
			}
		}
		.wopb-slick-prev-nav {
			top: 0;
			bottom: auto;
		}
		.wopb-slick-next-nav {
			top: auto;
			bottom: 0;
			svg {
				transform: rotate(180deg);
			}
		}
	}
}

//bottom
.wopb-product-gallery-bottom .thumb-image .slick-next > svg,
.wopb-product-gallery-top .thumb-image .slick-next > svg {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.wopb-product-gallery-bottom .thumb-image .slick-prev > svg,
.wopb-product-gallery-top .thumb-image .slick-prev > svg {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}

.editor-styles-wrapper
	.wopb-product-gallery-left
	.woocommerce-product-gallery__wrapper
	.wopb-builder-slider-nav
	.slick-arrow {
	width: 100% !important;
}
.editor-styles-wrapper
	.wopb-product-gallery-right
	.woocommerce-product-gallery__wrapper
	.wopb-builder-slider-nav
	.slick-arrow {
	width: 100% !important;
}

@media screen and (max-width: 991px) {
	.wopb-builder-slider-nav .slick-slide span {
		padding: 5px 0;
	}
	.wopb-product-wrapper
		.woocommerce-product-gallery__wrapper
		.slider.wopb-builder-slider-nav {
		height: auto;
	}

	//right
	.wopb-product-gallery-right
		.woocommerce-product-gallery__wrapper
		.wopb-product-gallery-wrapper,
	.wopb-product-wrapper
		.woocommerce-product-gallery__wrapper
		.slider.wopb-builder-slider-nav {
		max-width: 100%;
		float: none;
	}
	.wopb-product-gallery-right
		.woocommerce-product-gallery__wrapper
		.wopb-product-gallery-wrapper {
		padding-right: 0;
	}
	.wopb-product-gallery-right
		.woocommerce-product-gallery__wrapper
		.wopb-builder-slider-nav
		.wopb-slick-prev-nav {
		left: 0;
		right: unset;
		height: 100%;
	}
	.wopb-product-gallery-right
		.woocommerce-product-gallery__wrapper
		.wopb-builder-slider-nav
		.wopb-slick-next-nav {
		left: unset;
		right: 0;
		height: 100%;
	}
	.wopb-product-gallery-right
		.woocommerce-product-gallery__wrapper
		.wopb-builder-slider-nav
		.wopb-slick-next-nav
		svg {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.wopb-product-gallery-right
		.woocommerce-product-gallery__wrapper
		.wopb-builder-slider-nav
		.wopb-slick-prev-nav
		svg {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	.wopb-product-gallery-right
		.woocommerce-product-gallery__wrapper
		.wopb-builder-slider-nav
		.slick-slide
		img {
		padding: 0 10px;
	}
	.wopb-product-gallery-right
		.woocommerce-product-gallery__wrapper
		.wopb-builder-slider-nav {
		padding-left: 0 !important;
		padding-top: 20px;
	}
	.wopb-product-gallery-right
		.woocommerce-product-gallery__wrapper
		.wopb-builder-slider-nav
		.slick-arrow {
		width: initial !important;
	}
	.wopb-product-gallery-right
		.woocommerce-product-gallery__wrapper
		.wopb-builder-slider-nav
		.wopb-slick-next-nav,
	.wopb-product-gallery-right
		.woocommerce-product-gallery__wrapper
		.wopb-builder-slider-nav
		.wopb-slick-prev-nav {
		padding: 15px;
	}

	//left
	.wopb-product-gallery-left
		.woocommerce-product-gallery__wrapper
		.wopb-product-gallery-wrapper,
	.wopb-product-wrapper
		.woocommerce-product-gallery__wrapper
		.slider.wopb-builder-slider-nav {
		max-width: 100%;
		float: none;
	}
	.wopb-product-gallery-left
		.woocommerce-product-gallery__wrapper
		.wopb-product-gallery-wrapper {
		padding-right: 0;
	}
	.wopb-product-gallery-left
		.woocommerce-product-gallery__wrapper
		.wopb-builder-slider-nav
		.wopb-slick-prev-nav {
		left: 0;
		right: unset;
		height: 100%;
	}
	.wopb-product-gallery-left
		.woocommerce-product-gallery__wrapper
		.wopb-builder-slider-nav
		.wopb-slick-next-nav {
		left: unset;
		right: 0;
		height: 100%;
	}
	.wopb-product-gallery-left
		.woocommerce-product-gallery__wrapper
		.wopb-builder-slider-nav
		.wopb-slick-next-nav
		svg {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.wopb-product-gallery-left
		.woocommerce-product-gallery__wrapper
		.wopb-builder-slider-nav
		.wopb-slick-prev-nav
		svg {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	.wopb-product-gallery-left
		.woocommerce-product-gallery__wrapper
		.wopb-builder-slider-nav
		.slick-arrow {
		width: initial !important;
	}
	.wopb-product-gallery-left
		.woocommerce-product-gallery__wrapper
		.wopb-builder-slider-nav
		.wopb-slick-next-nav,
	.wopb-product-gallery-left
		.woocommerce-product-gallery__wrapper
		.wopb-builder-slider-nav
		.wopb-slick-prev-nav {
		padding: 15px;
	}
	.wopb-product-gallery-left
		.woocommerce-product-gallery__wrapper
		.wopb-builder-slider-nav {
		padding-right: 0 !important;
		padding-top: 20px;
	}
	.wopb-product-gallery-left
		.woocommerce-product-gallery__wrapper
		.wopb-builder-slider-nav
		.slick-slide
		img {
		padding: 0 10px !important;
	}
}

.single-product div.wopb-builder-container.product .images {
	width: unset;
	float: unset;
	margin-right: unset;
	margin-bottom: unset;
	max-width: unset;
}

// theme-rife-free
.theme-rife-free .product-labels {
	display: none;
}

.wopb-product-wrapper
	figure.woocommerce-product-gallery__wrapper
	div:not(:first-of-type) {
	display: block;
}

.theme-flatsome .wopb-product-wrapper {
	.flickity-viewport {
		height: unset !important;
		.flickity-slider {
			position: unset !important;
		}
	}
	.woocommerce-product-gallery__wrapper {
		display: unset !important;
	}
	.wopb-product-gallery-wrapper {
		position: relative !important;
		left: unset !important;
	}
	.badge-container {
		display: none !important;
	}
	.slick-arrow {
		display: flex !important;
		width: 40px;
	}
	.flickity-button {
		display: none;
	}
	.image-tools {
		display: none !important;
	}
	.product-thumbnails {
		display: none !important;
	}
	.wopb-builder-slider-nav {
		position: relative !important;
		left: unset !important;
	}
}

.wp-block-product-blocks-product-image {
	.wpgs-for.slick-initialized,
	.wpgs-nav.slick-initialized {
		//hide gallery of Product Gallery Slider for WooCommerce plugin
		display: none !important;
	}
}

.theme-woodmart .wp-block-product-blocks-product-image {
	.woocommerce-product-gallery .product-labels[class*="labels-rounded"] {
		display: none;
	}
	.wd-owl .owl-item {
		float: initial;
	}
	.wopb-product-gallery-left,
	.wopb-product-gallery-top,
	.wopb-product-gallery-right {
		.owl-stage {
			display: flex;
		}
	}
	.wopb-product-gallery-left .owl-stage {
		flex-direction: row-reverse;
	}
	.wopb-product-gallery-top .owl-stage {
		flex-direction: column-reverse;
	}
	.wopb-product-gallery-left .owl-stage,
	.wopb-product-gallery-right .owl-stage {
		width: 100% !important;
		.owl-item {
			max-width: 20%;
			.wopb-builder-slider-nav {
				max-width: 100%;
				.slick-list,
				.slick-track {
					height: auto !important;
				}
			}
		}
		.owl-item.active {
			max-width: 80%;
			.wopb-product-gallery-wrapper {
				max-width: 100%;
			}
		}
	}
}

.woocommerce {
	.wopb-product-wrapper {
		.woocommerce-product-gallery__wrapper {
			display: block !important;
		}
		&.wopb-product-gallery-left,
		&.wopb-product-gallery-right,
		&.wopb-product-gallery-top {
			.woocommerce-product-gallery__wrapper {
				display: flex !important;
			}
		}
	}
}
