.wp-block-product-blocks-list {
	position: relative;
	width: 100%;
	transition: 0.3s;
	&:hover {
		transition: 0.3s;
	}
	.wopb-list-content {
		display: flex;
		align-items: center;
		text-decoration: none;
		transition: 0.3s;
		.wopb-list-texticon {
			grid-area: a;
			box-sizing: border-box;
		}
		.wopb-listicon-bg,
		.wopb-listicon-dropdown {
			grid-area: a;
		}
		.wopb-list-title,
		a {
			grid-area: b;
		}
		.wopb-list-subtext {
			grid-area: c;
		}
		.wopb-list-textcontent {
			a {
				text-decoration: none;
			}
		}
	}
	.wopb-listicon-bg,
	.wopb-list-texticon {
		box-sizing: border-box;
	}
}
.wopb-list-heading {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
