.wopb-product-category-3-wrapper {
	&.wopb-block-wrapper .wopb-block-item {
		height: 100%;
		box-sizing: border-box;
		&:hover {
			transition: all 0.5s ease-out;
		}
		&.wopb-row-gap-0.wopb-last-row-item {
			border-top: none;
			&.wopb-last-rest-item {
				margin-right: -1px;
			}
		}
		&.wopb-column-gap-0.wopb-center-column-item {
			border-right: none;
		}
	}
	.wopb-product-cat-layout1,
	.wopb-product-cat-layout2 {
		flex-wrap: wrap;
		.wopb-block-image-empty {
			width: 80px;
		}
	}
	.wopb-product-cat-layout1 {
		flex-direction: column;
	}
	.wopb-product-cat-layout2 {
		flex-direction: column-reverse;
	}
	.wopb-product-cat-layout2,
	.wopb-product-cat-layout3,
	.wopb-product-cat-layout4 {
		display: flex;
		justify-content: space-between;
	}
	.wopb-product-cat-layout3,
	.wopb-product-cat-layout4 {
		gap: 10px;
		align-items: center;
		.wopb-block-image-empty {
			width: 50px;
		}
	}
	.wopb-product-cat-layout3 {
		text-align: right;
	}
	.wopb-product-cat-layout4 {
		flex-direction: row-reverse;
	}
	.wopb-block-image,
	.wopb-product-cat-img {
		display: table;
		&:has(.imageTop) {
			overflow: unset;
		}
		&.imageTop {
			position: relative;
			display: flex;
			justify-content: center;
			overflow: unset;
		}
		.wopb-product-cat-count {
			position: absolute;
			z-index: 99;
			top: -15px;
			min-width: 10px;
			text-align: center;
		}
	}
	.wopb-category-content-items {
		position: unset;
	}
}
.wopb-product-cat-desc p {
	margin: 0;
	padding: 0;
}
