@import "../utility.scss";
.wopb-dashboard-support {
	grid-template-columns: auto 350px;
	.wopb-pro-feature-lists {
		.wopb-item-label {
			text-decoration: none;
			color: #333;
			&:hover {
				color: var(--wowstore-primary-color);
			}
		}
	}
}
.wopb-support-heading {
	font-size: 20px;
	font-weight: 700;
	color: var(--wowstore-text-color);
}
.wopb-support-sub-heading {
	font-size: 16px;
	color: #9f9f9f;
	margin-bottom: 30px;
}
.wopb-support-options {
	display: flex;
	flex-direction: column;
	gap: 25px;
	.wopb-support-option {
		font-size: 16px;
		color: #000000;
		display: flex;
		gap: 10px;
		align-items: center;
		label a {
			color: var(--wowstore-primary-color);
			text-decoration: none;
			margin-left: 5px;
		}
	}
	input[type="radio"] {
		&#TechnicalSupport,
		&#FreeSupportWordPressORG {
			&::before {
				content: none;
			}
		}
		&,
		&::before {
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
		}
		height: 20px;
		width: 20px;
		border: 1px solid #000000;
		&::before {
			background-color: var(--wowstore-primary-color);
			height: 12px;
			width: 12px;
		}
	}
}
.wopb-support-lists {
	.wopb-description {
		color: #9f9f9f;
		font-size: 16px;
	}
	.wopb-pro-feature-lists > div {
		display: flex;
		gap: 8px;
		align-items: baseline;
		& > svg {
			height: 8px;
			width: 8px;
			fill: var(--wowstore-primary-color);
		}
		& > a {
			font-size: 14px;
			color: #000000;
			text-decoration: none;
			&:hover {
				color: var(--wowstore-primary-color);
			}
		}
	}
}
.wopb-support-create {
	margin-top: 30px;
}
.wopb-support-form {
	margin-top: 40px;
	.wopb-support-type {
		font-size: 16px;
		color: #513d02;
		line-height: 1.2;
		padding: 12px 20px;
		margin-bottom: 20px;
		background: #fff3cd;
		border: 1px solid #ffe69c;
		border-radius: 4px;
		&.success {
			color: #0a3622;
			border: 1px solid #0a3622;
			background: #d1e7de;
		}
	}
	.wopb-support-form-double {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		input {
			width: calc(50% - 12px);
		}
	}
	input,
	textarea {
		border: 1px solid #eaedf2;
		border-radius: 2px;
		background-color: #ffffff;
		padding: 12px;
		color: #000000;
		font-size: 16px;
	}
	input {
		width: 100%;
		height: 44px;
		min-width: 180px;
	}
	textarea {
		height: 150px;
		width: 100%;
	}
	#wopb-contact {
		display: flex;
		flex-direction: column;
		gap: 18px;
		margin-bottom: 40px;
	}
	.dashicons.loadericon {
		margin-left: 8px;
		margin-top: 2px;
		animation: wopb-spin 1s linear infinite;
	}
}
@media only screen and (max-width: 700px) {
	.wopb-support-form .wopb-support-form-double input {
		width: 100%;
	}
}
