.wp-block-product-blocks-checkout-billing .wopb-product-wrapper {
	.wopb-naming-full-width {
		width: 100%;
	}
	.wopb-naming-half-width {
		width: 49%;
	}
	.form-row-first {
		float: left;
	}
	.form-row-last {
		float: right;
	}
	.form-row-wide {
		clear: both;
		width: 100%;
	}
	@media only screen and (max-width: 767px) {
		.form-row-first {
			width: 100%;
		}
		.form-row-last {
			width: 100%;
		}
	}
	.wopb-checkout-billing-container .woocommerce-billing-fields {
		input,
		select,
		.select2-selection {
			width: 100%;
			max-width: 100%;
			max-height: 40px;
			box-sizing: border-box;
			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
		.select2-selection {
			max-height: 55px;
			height: 100%;
			display: inline-flex;
			align-items: center;
			& > .select2-selection__arrow {
				top: unset;
			}
			.select2-selection__rendered {
				padding: 0;
			}
		}
	}
	p {
		margin: 0px 0px 0px 0px;
	}
	input[type="email"] {
		text-transform: lowercase !important;
	}
}
.block-editor-block-list__layout
	.block-editor-block-list__block
	.wopb-product-wrapper {
	overflow-wrap: unset !important;
}

.editor-styles-wrapper
	.wp-block-product-blocks-checkout-billing
	.woocommerce-checkout
	> #customer_details {
	width: auto;
}
.wp-block-product-blocks-checkout-additional-information,
.wp-block-product-blocks-checkout-billing,
.wp-block-product-blocks-checkout-login,
.wp-block-product-blocks-checkout-shipping {
	.form-row {
		display: block;
	}
}
