.wp-block-product-blocks-button-group {
	.wopb-button-wrapper {
		position: relative;
		&:has(> .wp-block-product-blocks-button) {
			display: flex;
			flex-wrap: wrap;
		}
	}
	a {
		text-decoration: none !important;
	}
	.block-editor-inner-blocks {
		width: 100%;
	}
	.block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		& > div {
			margin: 0px;
		}
	}
}

/* Button Animation Style */
.wopb-anim-style1 {
	.wopb-button-link {
		&:before {
			opacity: 1;
			width: 10px;
		}

		&:hover {
			&:before {
				width: 100%;
			}
		}
	}
	.wopb-button-layout4 {
		.wopb-button-link {
			&:hover {
				background: #ffbf2f;
			}

			&:before {
				background: #ffbf2f;
			}
		}
	}
}
.wopb-anim-style2 {
	.wopb-button-link {
		&:before {
			width: 100%;
			opacity: 1;
		}
		&:hover {
			&:before {
				opacity: 1;
				width: 10px;
			}
		}
	}
	.wopb-button-layout4 {
		.wopb-button-link {
			background: none;
			&:before {
				background: #ffbf2f;
			}
		}
	}
}
.wopb-anim-style3 {
	.wopb-button-link {
		box-shadow: 3px 3px 0px #ffb714;
		&:hover {
			box-shadow: none;
		}
	}
}
.wopb-anim-style4 {
	.wopb-button-link {
		box-shadow: none;
		&:hover {
			box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
		}
	}
}
.wopb-anim-style1,
.wopb-anim-style2 {
	.wopb-button-layout2 {
		.wopb-button-link {
			&:before {
				background: #004cf7;
			}
		}
	}
	.wopb-button-layout3 {
		.wopb-button-link {
			&:before {
				background: #62adff;
			}
		}
	}
}
