.wp-block-product-blocks-product-cart {
	.wopb-product-wrapper {
		transition: 300ms;
		.woocommerce-variation-add-to-cart {
			display: block;
		}

		& > p,
		.wopb-stock-progress-bar-section {
			display: none !important;
		}
	}
	input.qty {
		border-width: 0;
		box-shadow: none;
		&:focus {
			outline: none;
		}
	}
	.grouped_form {
		table,
		td {
			border: none !important;
			margin: 0 !important;
			padding-bottom: 15px !important;
			padding-top: 0 !important;
			background-color: unset;
		}
		.woocommerce-grouped-product-list-item__quantity {
			padding-left: 0;
		}
	}
	.wopb-buy-button {
		box-sizing: border-box;
		width: 100% !important;
	}
}

body.woocommerce div.product .wopb-builder-cart,
.wopb-builder-cart {
	del,
	ins {
		background-color: unset !important;
	}
	&.wopb-hide-qty form.cart div.quantity {
		display: none !important;
	}
	form.cart div.quantity {
		padding: 0px;
		display: inline-flex !important;
		float: left;
		margin: 0 12px 0 0;
		position: relative;
		border: none;
		max-width: unset !important;
		align-items: unset;
		overflow: unset;

		.wopb-builder-cart-plus,
		.wopb-builder-cart-minus {
			line-height: 0;
			display: flex;
			align-items: center;
			cursor: pointer;
			svg {
				width: 8px;
				outline: none;
			}
		}
		.wopb-builder-cart-icon-left,
		.wopb-builder-cart-icon-right {
			height: 100%;
			padding: unset;
			display: flex;
			flex-direction: column;
			.wopb-builder-cart-plus,
			.wopb-builder-cart-minus {
				height: 50%;
				box-sizing: border-box;
			}
			svg {
				height: 15px;
			}
		}
		.input-text {
			width: auto;
			text-align: left;
			min-height: unset;
			margin: 0;
			font-size: 16px;
			line-height: 20px !important;
		}
		.input-text[type="number"]::-webkit-inner-spin-button {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			margin: 0;
		}
		.wopb-add-to-cart-quantity {
			line-height: normal;
			margin: 0px;
			font-size: inherit;
		}
		.wopb-add-to-cart-quantity:focus {
			outline: none;
			box-shadow: none;
		}
	}
	.wopb-quantity-add {
		overflow-y: visible;
	}
}

.wopb-builder-cart {
	.cart {
		clear: both;
		display: flex !important;
		flex-wrap: wrap;
		margin: 0 !important;
		&.grouped_form {
			display: block !important;
			table td {
				background: none !important;
				vertical-align: middle !important;
			}
		}
		&.grouped_form,
		&.variations_form {
			table.variations {
				width: 100%;
				td.value select {
					padding: 0.5em;
					min-width: 130px;
				}
			}
			.woocommerce-variation-add-to-cart {
				clear: both;
			}
			.wopb-wishlist-add {
				margin-right: 10px;
			}
		}
	}
}
.wopb-builder-container {
	display: block !important;
	.ct-increase,
	.ct-decrease {
		display: none !important;
	}
}

/*
 *Theme issue
 */
.woocommerce .wp-block-product-blocks-product-cart .wopb-builder-cart,
.wp-block-product-blocks-product-cart .wopb-builder-cart {
	a {
		text-decoration: none;
	}
	form.cart .quantity {
		width: unset !important;
		height: unset;
		.minus,
		.plus {
			display: none;
		}
		.qty {
			height: unset;
			text-align: left;
			min-height: 26px;
			line-height: unset;
			margin-right: 0px;
			box-sizing: border-box;
		}
	}
	&.wopb-hide-qty form.cart .wopb-cart-button {
		margin-left: 0;
	}
	form.cart .wopb-cart-button {
		flex-grow: unset;
		vertical-align: unset;
		float: unset;
		padding: unset;
		margin-left: 3px;
		height: unset;
		min-height: unset;
		width: unset;
	}
}
[dir="rtl"] .woocommerce .wp-block-product-blocks-product-cart {
	form.cart .wopb-cart-button {
		float: right;
	}
}

//twenty twenty one issue
.theme-twentytwentyone .editor-styles-wrapper {
	.wp-block {
		max-width: 90%;
	}
	.wp-block-heading h1,
	h1,
	h2 .h1 {
		font-size: revert;
	}
}

// Divi Theme
.woocommerce-page .wopb-product-wrapper button.button.alt:after {
	display: none;
}

// WoodMart Theme
.theme-woodmart {
	.wd-swatches-product {
		display: none;
	}
}
