.wopb-block-archive-title {
	.wopb-archive-name {
		margin: 0;
	}
	.wopb-archive-content {
		width: 100%;
		height: 100%;
		line-height: 0;
		overflow: hidden;
		transition: 400ms;
		text-decoration: none !important;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		position: relative;
		.wopb-archive-name,
		.wopb-archive-desc,
		.wopb-archive-prefix {
			transition: 400ms;
			position: relative;
			z-index: 1;
			margin: 0;
		}
		.wopb-archive-overlay {
			position: absolute;
			left: 0;
			top: 0;
			background: rgba(0, 0, 0, 0.1);
			width: 100%;
			height: 100%;
			transition: 400ms;
		}
		&:hover {
			.wopb-archive-overlay {
				background: rgba(0, 0, 0, 0.7);
			}
		}
	}
}
.wopb-archive-layout-2 {
	.wopb-archive-name,
	.wopb-archive-desc,
	.wopb-archive-prefix {
		color: #fff;
	}
}
