.wopb-builder-product-title,
.editor-styles-wrapper .wopb-builder-product-title {
	transition: 300ms;
	margin: 0 !important;
}
.wp-block-product-blocks-product-title {
	.wopb-product-wrapper {
		transition: 300ms;
		display: inline-block;
		width: 100%;
	}
}
.wopb-title-limit-single
	.wp-block-product-blocks-product-title
	.wopb-product-wrapper {
	display: block;
}
