.wp-block-product-blocks-checkout-shipping .wopb-product-wrapper {
	.wopb-naming-half-width {
		width: 49%;
	}
	.form-row-first {
		float: left;
	}
	.form-row-last {
		float: right;
	}
	.form-row-wide {
		clear: both;
		width: 100%;
	}
	@media only screen and (max-width: 767px) {
		.form-row-first {
			width: 100%;
		}
		.form-row-last {
			width: 100%;
		}
	}
	.wopb-checkout-shipping-container .woocommerce-shipping-fields {
		input,
		select,
		.select2-selection {
			width: 100%;
			max-width: 100%;
			max-height: 40px;
			box-sizing: border-box;
			&:focus {
				outline: none;
				box-shadow: none;
			}
			&.woocommerce-form__input-checkbox {
				width: max-content;
			}
		}
		.select2-selection {
			max-height: 55px;
			height: 100%;
			display: inline-flex;
			align-items: center;
			& > .select2-selection__arrow {
				top: unset;
			}
			.select2-selection__rendered {
				padding: 0;
			}
		}
		.woocommerce-form__input-checkbox {
			cursor: pointer;
			&:focus {
				outline: none;
			}
		}
		h3 {
			margin: 0px;
		}
	}
	p {
		margin: 0px 0px 10px 0px;
	}
	#ship-to-different-address {
		input[type="checkbox"] {
			cursor: pointer;
			margin: 0;
			height: 18px;
			width: 18px;
			appearance: none;
			-webkit-appearance: none;
			position: relative;
			box-shadow: none;
			border: 1px solid #d5d5d5;
			background-color: #fff;
			line-height: normal;
			margin-right: 8px;
			&:checked {
				border: none;
				background-color: #070707;
				color: #fff;
			}
			&:checked::before {
				content: "✓";
				height: unset;
				width: unset;
				margin: unset;
				position: absolute;
				left: 4px;
				top: -2px;
				font-size: 14px;
				font-weight: 900;
				border: none;
				transform: unset;
			}
		}
		.woocommerce-form__input-checkbox {
			position: unset;
			transform: none;
			-webkit-appearance: auto;
		}
	}
}
