.wopb-product-wrapper .wopb-thankyou-order-payment-container {
	ul.woocommerce-order-overview.order_details li {
		// problem in blocksy theme
		border: none;
		margin: 0;
	}
	ul.woocommerce-order-overview.order_details {
		// problem in blocksy theme
		border: none;
		background-color: unset;
		margin: 0;
		&::before,
		&::after {
			content: none;
			display: none;
		}
	}
	ul {
		display: flex !important;
		flex-wrap: wrap;
		margin: 0px;
		margin-block-start: 0px;
		padding-inline-start: 0px;

		li {
			list-style: none;

			strong {
				display: block;
			}

			&:last-child {
				// border-bottom: 0px !important;
			}

			&.email strong {
				text-transform: lowercase !important;
			}
		}
	}
}
