.wopb-product-wrapper {
	&.wopb-cart-table-wrapper {
		&:has(.wc-empty-cart-message) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 30px;
			position: relative;
			margin-bottom: 60px;
			.woocommerce-notices-wrapper {
				position: absolute;
				left: 0;
				bottom: -20px;
			}
			.return-to-shop,
			.wc-empty-cart-message,
			.cart-empty.woocommerce-info {
				margin: 0;
				padding: 0;
				border: none;
				background: none;
			}
			.cart-empty.woocommerce-info {
				padding-left: 30px;
				&::before {
					top: 0;
					left: 0;
					color: inherit;
				}
			}
		}
		.wopb-cart-form {
			width: 100%;
			margin-bottom: unset;
			padding-right: unset;

			.wopb-cart-shopping-btn,
			.wopb-cart-coupon-submit-btn,
			.wopb-cart-empty-btn {
				text-align: center;
				display: inline-flex;
				align-items: center;
			}
			.wopb-cart-coupon-section {
				display: grid;
				grid-template-columns: auto auto;
				column-gap: 10px;
			}
			.wopb-cart-empty-btn {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.wopb-cart-update-btn {
				cursor: pointer;
			}
			// cart table wrapper css start
			table.wopb-cart-table {
				width: 100%;
				margin-bottom: 0px;
				border-collapse: collapse !important;
				border-spacing: 0 !important;
				border: none;

				thead tr th,
				tbody tr td {
					text-align: left;
				}

				thead tr th.wopb-product-qty,
				tbody tr td.wopb-product-qty {
					text-align: center;
				}

				tr.cart_item {
					padding: 0;
					display: revert;
				}

				tbody tr td {
					vertical-align: middle !important;
				}

				.product-remove {
					position: unset;
					a.remove.wopb-cart-product-remove:before {
						display: none;
					}

					.wopb-cart-product-remove {
						display: flex;
						text-indent: 0px;
						align-items: center;
						justify-content: center;
						font-style: normal !important;
						box-sizing: content-box;
					}
				}
				.wopb-product-image-section img {
					width: 100%;
				}

				.wopb-cart-table-product-details {
					display: inline-flex;
					flex-direction: row;
					align-items: center;

					.product-remove {
						margin-right: 10px;
					}

					.wopb-product-image-section {
						position: relative;
						max-width: 151px;
						display: inline-block;
						img {
							height: auto;
							width: 100%;
						}
					}

					.wopb-cart-table-product-section {
						display: inline-block;
					}
				}

				.wopb-product-image-section
					.product-remove
					.wopb-cart-product-remove {
					position: absolute;
					top: -5px;
					right: -5px;
				}

				.wopb-product-subtotal {
					text-align: right;

					.wopb-cart-table-medium {
						display: inline-block;
					}
				}
			}
			// cart table wrapper css end
			.wopb-qty-wrap,
			.wopb-add-to-cart-minus,
			.wopb-add-to-cart-plus {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.wopb-qty-wrap {
				gap: 5px;
				cursor: pointer;
				input:focus {
					outline: none;
				}
				.wopb-qty-ctrl {
					width: 40px;
					align-self: center;
					padding-left: 0 !important;
					padding-right: 0 !important;
				}
			}

			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			input,
			.wopb-qty-wrap {
				width: unset;
				height: unset !important;
				min-height: unset !important;
				align-items: stretch;
				box-shadow: none;
				border: none;
				margin: 0;
			}

			.wopb-cart-table-small .wopb-product-image-section {
				position: relative;
				margin: 0 auto;
			}

			.wopb-cart-table-options {
				display: grid;
				grid-template-columns: auto auto;
				gap: 10px;
				justify-content: space-between;

				.wopb-cart-table-first-option,
				.wopb-cart-table-second-option {
					display: grid;
					grid-template-columns: auto auto;
					gap: 10px;
				}
			}

			a {
				text-decoration: none;
			}
		}

		.wopb-cart-cross-sell {
			.cross-sells {
				width: 100%;

				ul.products {
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					gap: 1%;

					li.product {
						margin-bottom: 10px;
					}
				}

				ul.products::after,
				ul.products::before {
					display: none;
				}
			}

			&.wopb-cart-cross-sell-bottom {
				margin-top: 50px;
			}
		}

		@media only screen and (min-width: 992px) {
			.wopb-cart-form.wopb-cart-form-left {
				width: 65%;
				display: inline-block;
			}

			.wopb-cart-cross-sell.wopb-cart-cross-sell-right {
				width: 30%;
				float: right;

				.cross-sells ul.products {
					display: grid;
					grid-template-columns: 1fr 1fr;
					gap: 2%;
				}
			}
		}

		@media only screen and (min-width: 768px) {
			.wopb-cart-form table.wopb-cart-table {
				tbody .wopb-cart-table-product-details .wopb-cart-table-medium {
					display: flex;
					align-items: center;
				}

				.wopb-cart-table-small {
					display: none;
				}
			}
		}

		@media only screen and (max-width: 767px) {
			.wopb-cart-form table.wopb-cart-table {
				tbody tr td,
				tbody tr td.wopb-product-qty {
					text-align: right;
				}

				thead,
				.wopb-cart-table-medium {
					display: none !important;
				}

				tbody tr td {
					vertical-align: middle !important;
					display: block;
					clear: both;
				}

				tbody tr td:before {
					content: attr(data-title) ": ";
					float: left;
				}

				tbody tr td.wopb-cart-table-small:before {
					display: none;
				}
			}

			.wopb-cart-cross-sell .cross-sells ul.products {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 1%;
			}
		}

		@media only screen and (max-width: 685px) {
			.wopb-cart-form {
				.wopb-cart-table-options {
					grid-template-columns: auto;
					justify-content: normal;

					.wopb-cart-table-option-hidden {
						grid-template-columns: auto;
					}
				}
			}
		}

		@media only screen and (max-width: 600px) {
			.wopb-cart-cross-sell .cross-sells ul.products {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 1%;
			}
		}
	}
}
