@import "../utility.scss";

.wopb-dashboard-blocks-container {
	display: flex;
	flex-direction: column;
	gap: 50px;
	.wopb-dashboard-blocks-group {
		.wopb_frequency {
			margin-bottom: 0px !important;
		}
	}
}
.wopb-dashboard-group-blocks {
	margin-top: 20px;
	display: grid;
	gap: 30px;
	grid-template-columns: grid(3);
	.wopb-dashboard-group-blocks-item {
		display: flex;
		justify-content: space-between;
		padding: 20px 15px;
		.wopb-blocks-control-option {
			display: flex;
			align-items: center;
			gap: 10px;
			a {
				text-decoration: none;
			}
		}
	}
}
.wopb-blocks-item-meta {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 16px;
}
@media only screen and (max-width: 1350px) {
	.wopb-dashboard-group-blocks {
		grid-template-columns: grid(2);
	}
}
@media only screen and (max-width: 990px) {
	.wopb-dashboard-group-blocks {
		grid-template-columns: grid(1);
	}
}
