.wp-block-product-blocks-menu-compare {
	.wopb-menu-compare-wrapper {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-decoration: none !important;
		cursor: pointer;
		&.wopb-label-left {
			flex-direction: row-reverse;
		}
	}
	.wopb-menu-compare-icon {
		height: fit-content;
		width: fit-content;
		line-height: 0;
		position: relative;
		.wopb-menu-compare-count {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
