.wp-block-product-blocks-product-category-2 {
	.wopb-block-items-wrap {
		display: -ms-grid;
		display: grid;
	}
	.wopb-block-item {
		&:first-child {
			grid-column-start: 1;
			grid-row-start: 1;
			grid-row-end: 3;
			.wopb-block-content-wrap {
				height: 100%;
				@media (min-width: 769px) {
					.wopb-block-image {
						height: 100%;
					}
				}
				.wopb-block-image img {
					min-height: 100%;
				}
				.wopb-block-empty-image {
					min-height: 100%;
				}
			}
		}
	}
	.wopb-block-content-wrap {
		.wopb-block-image > a {
			height: 100%;
			display: block;
			position: relative;
			z-index: 1;
		}
	}
}
.wopb-cg2-items-1 {
	grid-template-columns: 50% 1fr 1fr;
}
.wopb-cg2-items-2 {
	grid-template-columns: 1fr 1fr 50%;
	.wopb-block-item {
		&:first-child {
			grid-column-start: 3;
			grid-row-start: 1;
			grid-row-end: 3;
		}
	}
}
.wopb-cg2-items-3 {
	grid-template-columns: 1fr 40% 1fr;
	.wopb-block-item {
		&:first-child {
			grid-column-start: 2;
			grid-row-start: 1;
			grid-row-end: 3;
		}
	}
}
.wopb-cg2-items-4 {
	grid-template-columns: 50% 1fr 1fr;
	.wopb-block-item {
		&:nth-child(2) {
			grid-column-start: 2;
			grid-column-end: 4;
			grid-row: 1;
		}
	}
}
.wopb-cg2-items-5 {
	grid-template-columns: 50% 1fr 1fr;
	.wopb-block-item {
		&:nth-child(2) {
			grid-column-start: 2;
			grid-column-end: 4;
			grid-row: 2;
		}
	}
}
.wopb-cg2-items-6 {
	grid-template-columns: 1fr 1fr 50%;
	.wopb-block-item {
		&:first-child {
			grid-column-start: 3;
			grid-row-start: 1;
			grid-row-end: 3;
		}
		&:nth-child(2) {
			grid-column-start: 1;
			grid-column-end: 3;
			grid-row: 2;
		}
	}
}
.wopb-cg2-items-7 {
	grid-template-columns: 40% 1fr 1fr;
	.wopb-block-item {
		&:nth-child(2) {
			grid-column-start: 3;
			grid-row-start: 1;
			grid-row-end: 3;
			.wopb-block-content-wrap {
				height: 100%;
				@media (min-width: 769px) {
					.wopb-block-image {
						height: 100%;
					}
				}
				.wopb-block-image img {
					min-height: 100%;
				}
				.wopb-block-empty-image {
					min-height: 100%;
				}
			}
		}
	}
}
.wopb-cg2-items-8 {
	grid-template-columns: 40% 1fr 1fr;
	.wopb-block-item {
		&:nth-child(2) {
			grid-column-start: 2;
			grid-row-start: 1;
			grid-row-end: 3;
			.wopb-block-content-wrap {
				height: 100%;
				@media (min-width: 769px) {
					.wopb-block-image {
						height: 100%;
					}
				}
				.wopb-block-image img {
					min-height: 100%;
				}
				.wopb-block-empty-image {
					min-height: 100%;
				}
			}
		}
	}
}
.wopb-cg2-items-9 {
	grid-template-columns: 60% auto;
}

//Content
.wp-block-product-blocks-product-category-1,
.wp-block-product-blocks-product-category-2 {
	.wopb-block-content-wrap:has(.wopb-block-image)
		.wopb-category-content-items {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 2;
	}
	.wopb-category-content-items {
		pointer-events: none;
	}
	.wopb-category-content-item {
		pointer-events: all;
	}
}
.wopb-block-content-wrap {
	position: relative;
	&.wopb-category-wrap {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.wopb-block-image-empty {
		height: 100%;
	}
	.wopb-category-content-items {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		transition: 400ms;
		.wopb-category-content-item {
			transition: 400ms;
			.wopb-product-cat-title {
				margin: 0;
				a {
					pointer-events: auto;
				}
			}
			.wopb-product-readmore {
				a {
					display: inline-block;
					pointer-events: auto;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.wp-block-product-blocks-product-category-2 {
		.wopb-block-items-wrap {
			grid-template-columns: 1fr;
		}
	}
	.wopb-cg2-items-2 .wopb-block-item:first-child,
	.wopb-cg2-items-3 .wopb-block-item:first-child,
	.wopb-cg2-items-4 .wopb-block-item:first-child,
	.wopb-cg2-items-4 .wopb-block-item:nth-child(2),
	.wopb-cg2-items-5 .wopb-block-item:first-child,
	.wopb-cg2-items-5 .wopb-block-item:nth-child(2),
	.wopb-cg2-items-6 .wopb-block-item:first-child,
	.wopb-cg2-items-6 .wopb-block-item:nth-child(2),
	.wopb-cg2-items-7 .wopb-block-item:first-child,
	.wopb-cg2-items-7 .wopb-block-item:nth-child(2),
	.wopb-cg2-items-8 .wopb-block-item:first-child,
	.wopb-cg2-items-8 .wopb-block-item:first-child,
	.wopb-cg2-items-8 .wopb-block-item:nth-child(2),
	.wopb-cg2-items-9 .wopb-block-item:first-child {
		grid-column-start: initial;
		grid-row-start: initial;
		grid-row-end: initial;
		grid-column-end: initial;
	}
}

.wp-block-product-blocks-product-category-2
	.wopb-block-wrapper
	.wopb-block-item {
	height: 100%;
}
