.wp-block-product-blocks-thankyou-address .wopb-product-wrapper {
	.woocommerce-customer-details .woocommerce-column__title {
		// problem in blocksy theme
		border: none;
		background: none;
	}
	.woocommerce-customer-details address {
		// problem in blocksy theme
		border: none;
	}
	.woocommerce-customer-details .woocommerce-column__title,
	.woocommerce-customer-details address {
		// problem in blocksy theme
		padding: unset;
	}
	.woocommerce-customer-details {
		display: flex;
		flex-wrap: wrap;
		gap: 4%;
		.woocommerce-column--billing-address {
			flex-basis: 47%;
		}
		.woocommerce-column--shipping-address {
			flex-basis: 47%;
		}
		.wopb-billing-shipping-address {
			width: max-content;
		}
		address p {
			margin: 0;
			&.woocommerce-customer-details--phone {
				margin-top: 24px;
			}
		}
	}
}
