.wp-block-product-blocks-checkout-additional-information .wopb-product-wrapper {
	.woocommerce-additional-fields {
		label {
			display: block;
		}
		textarea {
			width: 100%;
			min-height: 136px;
			box-sizing: border-box;
			--theme-form-field-height: unset;
		}
		p.notes {
			margin: 0px;
		}
	}
	.wopb-additional-info-section-title {
		margin: 0px;
	}
}
