.wp-block-product-blocks-button {
	/* ===== Common  Style ===== */
	.wopb-button-link {
		color: #fff;
		cursor: pointer;
		width: fit-content;
		display: flex;
		align-items: center;
		overflow: hidden;
		position: relative;
		z-index: 0;
		transition: all 0.4s;
		&:before {
			content: "";
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			transition: all 0.4s;
			opacity: 0;
		}
		&:hover {
			transition: all 0.4s;
			color: #fff;
			&:before {
				transition: all 0.4s;
				opacity: 1;
			}
		}
	}
	.wopb-button-text {
		line-height: normal;
	}
	.wopb-btnIcon-wrap {
		line-height: 0;
		svg {
			transition: 0.3s;
		}
	}

	/* ===== Button Layout Style ===== */
	&.wopb-button-layout1 {
		.wopb-button-link {
			border-radius: 4px;
		}
	}
	&.wopb-button-layout2 {
		.wopb-button-link {
			border-radius: 100px;
			background-image: linear-gradient(0deg, #354cff 10%, #7485ff 80%);
			&:before {
				background-image: linear-gradient(
					0deg,
					#7485ff 0%,
					#354cff 100%
				);
			}
		}
	}
	&.wopb-button-layout3 {
		.wopb-button-link {
			color: #004cf7;
			font-weight: 500;
			border-radius: 100px;
			box-shadow: 4px 4px 17px 0 #354cff38;
			&:hover {
				color: #004cf7;
				box-shadow: 15px 15px 20px 0 #354cff38;
			}
		}
	}
	&.wopb-button-layout4 {
		.wopb-button-link {
			color: #101010;
			border-radius: 0px;
			font-weight: 500;
			border: solid 4px #354cff;
			&:before {
				background: #e3e7ff;
			}
		}
	}
}
