.wopb-image-block {
	display: inline-block;
	overflow: hidden;
	position: relative;
	transition: 400ms;
	-webkit-transition: 400ms;
	&.wopb-image-block-zoomIn,
	&.wopb-image-block-roateLeft,
	&.wopb-image-block-rotateRight,
	&.wopb-image-block-zoomOut {
		img {
			-webkit-transition: 400ms;
			transition: 400ms;
		}
	}
	.wopb-imag-empty {
		background: #f5f5f5;
		width: 400px;
		height: 250px;
		position: relative;
		border: 1px solid #e5e5e5;
		border-radius: 0px;
		> span {
			right: 0;
			top: 20px;
			position: absolute;
			width: 100%;
			display: inline-block;
			text-align: center;
			cursor: pointer;
			z-index: 3;
			span {
				position: relative;
				border: 2px dashed #c3c3c3;
				padding: 8px 20px 8px 30px;
				border-radius: 4px;
				background: #dadada;
				font-size: 18px !important;
				display: inline-block;
				&:before {
					content: "\f317";
					font-family: dashicons;
					position: absolute;
					left: 8px;
					top: 6px;
					font-size: 20px;
				}
			}
		}
	}
	.wopb-image-close-icon {
		position: absolute;
		right: 10px;
		top: 10px;
		cursor: pointer;
		z-index: 3;
		background: #ea0e0e;
		color: #fff;
		border-radius: 100px;
		font-size: 22px;
		width: 24px;
		height: 24px;
		line-height: 24px;
		transition: 400ms;
		&:hover {
			background: #d40e0e;
		}
	}
	.wopb-image-button {
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		display: flex;
		position: absolute;
		display: -webkit-box;
		display: -ms-flexbox;
		z-index: 2;
		a {
			transition: 400ms;
			&:hover {
				text-decoration: none;
			}
		}
		&.wopb-image-button-centerCenter {
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			text-align: center;
		}
		&.wopb-image-button-leftTop {
			-webkit-box-align: start;
			-ms-flex-align: start;
			-ms-grid-row-align: flex-start;
			align-items: flex-start;
		}
		&.wopb-image-button-rightTop {
			-webkit-box-pack: end;
			-ms-flex-pack: end;
			justify-content: flex-end;
			text-align: right;
			-webkit-box-align: start;
			-ms-flex-align: start;
			-ms-grid-row-align: flex-start;
			align-items: flex-start;
		}
		&.wopb-image-button-bottomLeft {
			-webkit-box-pack: start;
			-ms-flex-pack: start;
			justify-content: flex-start;
			text-align: left;
			-webkit-box-align: end;
			-ms-flex-align: end;
			-ms-grid-row-align: flex-end;
			align-items: flex-end;
		}
		&.wopb-image-button-bottomRight {
			-webkit-box-pack: end;
			-ms-flex-pack: end;
			justify-content: flex-end;
			text-align: right;
			-webkit-box-align: end;
			-ms-flex-align: end;
			-ms-grid-row-align: flex-end;
			align-items: flex-end;
		}
	}
	&.wopb-image-block-opacity {
		overflow: hidden;
		img {
			-webkit-transition: opacity 400ms ease-in-out;
			transition: opacity 400ms ease-in-out;
		}
	}
	&.wopb-image-block-zoomIn {
		img {
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}
	&.wopb-image-block-zoomOut {
		img {
			-webkit-transform: scale(1.3);
			transform: scale(1.3);
		}
	}
	&.wopb-image-block-roateLeft,
	&.wopb-image-block-rotateRight {
		img {
			-webkit-transform: rotate(0deg) scale(1);
			transform: rotate(0deg) scale(1);
		}
	}
	&.wopb-image-block-opacity {
		img {
			opacity: 1;
		}
	}

	&.wopb-image-block-overlay {
		&:before {
			bottom: 0;
			content: "";
			display: block;
			width: 100%;
			position: absolute;
			z-index: 1;
			pointer-events: none;
		}
		&.wopb-image-block-custom {
			&:before {
				height: 100%;
			}
		}
		&.wopb-image-block-default {
			&:before {
				background-color: #000;
				opacity: 0.6;
				height: 100%;
			}
		}
		&.wopb-image-block-simgleGradient {
			&:before {
				background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(30%, rgba(0, 0, 0, 0.4)),
					to(rgba(0, 0, 0, 0))
				);
				background: -webkit-linear-gradient(
					top,
					rgba(0, 0, 0, 0.4) 20%,
					rgba(0, 0, 0, 0) 90%
				);
				background: -o-linear-gradient(
					top,
					rgba(0, 0, 0, 0.4) 20%,
					rgba(0, 0, 0, 0) 90%
				);
				background: linear-gradient(
					to bottom,
					rgba(0, 0, 0, 0.4) 20%,
					rgb(0, 0, 0) 90%
				);
				opacity: 0.6;
				height: 100%;
			}
		}
		&.wopb-image-block-multiColour {
			&:before {
				opacity: 0.75;
				-webkit-box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.4);
				-moz-box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.4);
				box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.4);
				height: 100%;
				background: #d760b7;
				background: -moz-linear-gradient(
					-45deg,
					#d760b7 0%,
					#3b78b4 100%
				);
				background: -webkit-gradient(
					left top,
					right bottom,
					color-stop(0%, #d760b7),
					color-stop(100%, #3b78b4)
				);
				background: -webkit-linear-gradient(
					-45deg,
					#d760b7 0%,
					#3b78b4 100%
				);
				background: -o-linear-gradient(
					-45deg,
					#d760b7 0%,
					#3b78b4 100%
				);
				background: -ms-linear-gradient(
					-45deg,
					#d760b7 0%,
					#3b78b4 100%
				);
				background: linear-gradient(135deg, #d760b7 0%, #3b78b4 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d760b7', endColorstr='#3b78b4', GradientType=1);
			}
		}
		&.wopb-image-block-flat {
			&:before {
				opacity: 0.8;
				height: 100%;
				background: #292484;
				background: -moz-linear-gradient(
					20deg,
					#292484 0%,
					#dc4225 100%
				);
				background: -webkit-gradient(
					left bottom,
					right top,
					color-stop(0%, #292484),
					color-stop(100%, #dc4225)
				);
				background: -webkit-linear-gradient(
					20deg,
					#292484 0%,
					#dc4225 100%
				);
				background: -o-linear-gradient(20deg, #292484 0%, #dc4225 100%);
				background: -ms-linear-gradient(
					20deg,
					#292484 0%,
					#dc4225 100%
				);
				background: linear-gradient(20deg, #292484 0%, #dc4225 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292484', endColorstr='#dc4225', GradientType=1);
			}
		}
	}
}
.wopb-image-block-wrapper {
	line-height: 0;
	.wopb-image {
		max-width: 100%;
	}
	&:hover {
		.wopb-image-block {
			&.wopb-image-block-zoomIn {
				img {
					-webkit-transform: scale(1.3);
					transform: scale(1.3);
				}
			}
			&.wopb-image-block-zoomOut {
				img {
					-webkit-transform: scale(1);
					transform: scale(1);
				}
			}
			&.wopb-image-block-roateLeft {
				img {
					-webkit-transform: rotate(5deg) scale(1.3);
					transform: rotate(5deg) scale(1.3);
				}
			}
			&.wopb-image-block-rotateRight {
				img {
					-webkit-transform: rotate(-5deg) scale(1.3);
					transform: rotate(-5deg) scale(1.3);
				}
			}
			&.wopb-image-block-opacity {
				img {
					opacity: 0.5;
				}
			}
		}
	}
}
