.wopb-product-wrapper table.woocommerce-product-attributes,
.wopb-product-wrapper table.woocommerce-product-attributes td,
.wopb-product-wrapper table.woocommerce-product-attributes tr,
.wopb-product-wrapper table.woocommerce-product-attributes th {
	border-collapse: collapse;
	border: none !important;
}
.wopb-product-wrapper {
	.woocommerce-product-attributes-item__label {
		display: table-cell;
	}
	.woocommerce-product-attributes tr {
		display: table-row;
	}
}
.woocommerce-product-attributes-item__value > p {
	margin: 0px;
	a {
		text-decoration: none;
	}
}
.wp-block-product-blocks-product-additional-info {
	.wopb-product-wrapper {
		transition: 300ms;
		table {
			width: -webkit-fill-available;
			th,
			td {
				text-align: left;
				p {
					margin-bottom: unset !important;
				}
			}
		}
	}
}
