.wp-block-product-blocks-checkout-login .wopb-product-wrapper {
	.woocommerce-form-login-toggle .woocommerce-info {
		&::before {
			content: unset;
		}
	}
	.woocommerce-form-login {
		button {
			min-height: unset;
		}
		label {
			display: block;
		}
		input {
			box-sizing: border-box;
		}
		.form-row-first input,
		.form-row-last input {
			width: 100%;
		}
		.form-row-first,
		.form-row-last,
		.form-row-first input,
		.form-row-last input {
			width: 100%;
		}
		p {
			margin: 0px;
		}
		.form-row-first,
		.form-row-last {
			margin-top: 0;
			margin-bottom: 25px;
		}
	}
	.woocommerce-form-login p.lost_password {
		margin-top: 18px;
		a {
			text-decoration: none;
		}
	}

	@media only screen and (min-width: 768px) {
		.form-row-first,
		.form-row-last {
			width: 100%;
			margin: 0px;
		}
	}
	.wopb-required-msg {
		display: block;
	}
}
