.wp-block-product-blocks-product-short {
	.wopb-product-wrapper {
		transition: 300ms;
		display: inline-block;
		.woocommerce-product-details__short-description {
			margin-bottom: 0;
			padding-bottom: 0;
			border: none;
			p:last-child {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
}
