@import "../utility.scss";

.wopb-dashboard-general-settings-container {
	display: grid;
	grid-template-columns: auto 330px;
	gap: 50px;
	.wopb-general-settings {
		height: fit-content;
		width: -webkit-fill-available;
		form {
			margin-top: 40px;
		}
		.skeletonOverflow {
			margin-top: 40px;
			@include flex(30);
		}
	}
}
@media only screen and (max-width: 1100px) {
	.wopb-dashboard-general-settings-container {
		grid-template-columns: auto;
		justify-items: center;
		.wopb-general-settings-content-right {
			width: 330px;
		}
	}
}
