.wp-block-product-blocks-checkout-order-review .wopb-product-wrapper {
	table {
		ul {
			list-style: none;
			margin: 3px;
		}
		tr.order-total {
			display: contents;
			position: unset;
			filter: unset;
			th {
				text-align: initial;
			}
		}
		thead tr th:last-child,
		tbody tr td:last-child,
		tfoot tr td {
			text-align: right;
		}
		tfoot tr:last-child th,
		tfoot tr:last-child td {
			border: 0px;
		}
		th,
		td {
			vertical-align: middle !important;
		}
		&.shop_table {
			text-align: left;
			width: 100%;
			border-spacing: 0px;
			border-collapse: collapse;
			border: 0px;
			margin: 0px;
			.wopb-product-info {
				display: flex;
				align-items: center;
				gap: 10px;
				.wopb-product-name img {
					display: none;
				}
			}
			.product-name {
				display: revert !important;
			}
			.product-total {
				text-wrap: nowrap;
			}
		}
	}
	.woocommerce-shipping-totals td {
		width: 55%;
	}
	.wopb-order-section-title {
		margin: 0px;
	}
}
.woocommerce ul#shipping_method li {
	justify-content: end;
}
@media only screen and (min-width: 1025px) {
	form.checkout
		.wp-block-product-blocks-checkout-order-review
		.woocommerce-checkout-review-order {
		width: 100% !important;
		padding-left: unset !important;
		float: unset !important;
	}
}

.wopb-builder-container {
	.woocommerce-message {
		box-shadow: 7px 0 green inset;
	}
	.woocommerce-error {
		box-shadow: 7px 0 #ff9800 inset;
	}
	.woocommerce-message,
	.woocommerce-error {
		border: 1px solid grey;
		padding-left: 40px;
		margin-bottom: 10px !important;
		&::before {
			left: 15px;
		}
	}
}
.wopb-builder-container .woocommerce-notices-wrapper {
	ul {
		list-style: none;
		margin: 0px;
	}
}

// Theme
form .wp-block-product-blocks-checkout-order-review #order_review {
	padding: 0px !important;
	border-width: 0px !important;
}
