// Animation CSS start
.wopb-unfold {
	transform: scaleY(0.01) scaleX(0);
	animation: wopbUnfold 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.wopb-fold {
	transform: scale(1);
	animation: wopbFold 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.wopb-zoom_out {
	transform: scale(1);
	animation: wopbZoomOut 0.01s 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
		forwards;
}
.wopb-fade_out {
	animation: wopbZoomOut 0s 1s forwards;
}
.wopb-shrink_out {
	animation: wopbZoomOut 0s 1s forwards;
}
.wopb-flip_out {
	animation: wopbZoomOut 0s 0.8s forwards;
}
.wopb-slide_up_out {
	animation: wopbZoomOut 0s 0.8s forwards;
}
.wopb-slide_down_out {
	animation: wopbZoomOut 0s 0.8s forwards;
}
.wopb-slide_left_out {
	animation: wopbZoomOut 0s 0.8s forwards;
}
.wopb-slide_right_out {
	animation: wopbZoomOut 0s 0.8s forwards;
}
.wopb-blow_up {
	transform: scale(1);
}
.wopb-blow_down {
	animation: wopbBlowDownTable 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
		forwards;
}
// Animation CSS end

/* Animation Keyframe Start */
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes wopbFadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes wopbFadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes wopbShrinkIn {
	0% {
		transform: scale(2);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes wopbShrinkOut {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(2);
		opacity: 0;
	}
}
@keyframes wopbFlipIn {
	0% {
		transform: perspective(400px) rotateY(-90deg);
		opacity: 0;
	}
	100% {
		transform: perspective(400px) rotateY(0);
		opacity: 1;
	}
}
@keyframes wopbFlipOut {
	0% {
		transform: perspective(400px) rotateY(0deg);
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
	100% {
		transform: perspective(400px) rotateY(-90deg);
		opacity: 0;
	}
}
@keyframes wopbSlideUpIn {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes wopbSlideUpOut {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(-100%);
		opacity: 0;
	}
}
@keyframes wopbSlideDownIn {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes wopbSlideDownOut {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(100%);
		opacity: 0;
	}
}
@keyframes wopbSlideLeftOut {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(-100%);
		opacity: 0;
	}
}
@keyframes wopbSlideLeftIn {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes wopbSlideRightIn {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes wopbSlideRightOut {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(100%);
		opacity: 0;
	}
}
@keyframes wopbZoomIn {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes wopbZoomIn2 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}
@keyframes wopbZoomOut {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}
@keyframes wopbUnfold {
	0% {
		transform: scaleY(0.005) scaleX(0);
	}
	50% {
		transform: scaleY(0.005) scaleX(1);
	}
	100% {
		transform: scaleY(1) scaleX(1);
	}
}
@keyframes wopbFold {
	0% {
		transform: scaleY(1) scaleX(1);
	}
	50% {
		transform: scaleY(0.005) scaleX(1);
	}
	100% {
		transform: scaleY(0.005) scaleX(0);
	}
}
@keyframes wopbBlowUpContent {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(2);
	}
}
@keyframes wopbBlowDownContent {
	0% {
		transform: scale(2);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes wopbBlowUpTable {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes wopbBlowDownTable {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}
@keyframes demoLoading {
	100% {
		transform: translateX(100%);
	}
}
@keyframes wopbRotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes wopbRotationBack {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
@keyframes wopbScaleTo1 {
	0% {
		transform: scale(0.3);
	}
	100% {
		transform: scale(2);
	}
}
@keyframes wopbFillUp {
	0%,
	20% {
		width: 101%;
	}
	80%,
	100% {
		width: 0%;
	}
}
@keyframes wopbUpDownPendulum {
	10%,
	90% {
		width: 100%;
		transform: translateY(80px);
	}
	20%,
	80% {
		width: 8%;
	}
	45%,
	65% {
		width: 100%;
		transform: translateY(32px);
	}
}
@keyframes wopbSpin360 {
	0%,
	25% {
		transform: rotate(0deg);
	}
	50%,
	75% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes wopbCartZoomIn {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes wopbCartClick {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes wopbCartShake {
	0%,
	100% {
		transform: translateX(0);
	}
	25%,
	75% {
		transform: translateX(-5px);
	}
	50% {
		transform: translateX(5px);
	}
}
@keyframes wopbCartBounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-10px);
	}
	60% {
		transform: translateY(-10px);
	}
}
@keyframes wopbCartWobble {
	0%,
	100% {
		transform: rotate(0);
	}
	15% {
		transform: rotate(-10deg);
	}
	30% {
		transform: rotate(7deg);
	}
	45% {
		transform: rotate(-7deg);
	}
	60% {
		transform: rotate(5deg);
	}
	75% {
		transform: rotate(-1deg);
	}
}
@keyframes wopbCartPulse {
	0%,
	100% {
		transform: scale(1);
	}
	30%,
	70% {
		transform: scale(1.2);
	}
}
@keyframes wopbCartPulse2 {
	0% {
		opacity: 1;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}
	100% {
		opacity: 0;
		left: -15px;
		right: -15px;
		bottom: -15px;
		top: -15px;
	}
}
@keyframes wopbCartColorRipple {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes wopbCartGradientSwap {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
@keyframes rotateToLeft {
	0% {
		transform: rotateY(90deg);
	}
	50% {
		transform: rotateY(180deg);
	}
	100% {
		transform: rotateY(180deg);
	}
}
/* Animation Keyframe End */
