.wopb-animation {
	animation-duration: 800ms;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}
.wopb-anim-on-hover {
	animation-play-state: paused;
	&:hover {
		animation-play-state: running;
	}
}
.wopb-anim-zoomIn {
	animation-name: wopbCartZoomIn;
}
.wopb-anim-click {
	animation-name: wopbCartClick;
}
.wopb-anim-shake {
	animation-name: wopbCartShake;
}
.wopb-anim-bounce {
	animation-name: wopbCartBounce;
}
.wopb-anim-wobble {
	animation-name: wopbCartWobble;
}
.wopb-anim-swing {
	animation-name: wopbCartSwing;
	transform-origin: center -20px;
	float: left;
}
.wopb-anim-gradient-swap {
	background-size: 400% 400%;
	animation-name: wopbCartGradientSwap;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
.wopb-anim-pulse {
	animation-name: wopbCartPulse;
	position: relative;
	z-index: 1;
	&::after {
		content: " ";
		position: absolute;
		z-index: -1;
		background: rgba(255, 0, 0, 0.5);
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		animation-name: wopbCartPulse2;
		animation-duration: 800ms;
		animation-iteration-count: 1;
	}
}
.wopb-anim-infinite.wopb-anim-pulse::after {
	animation-iteration-count: infinite;
}
.wopb-anim-color-ripple {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	overflow: hidden;
	&::before,
	&::after {
		animation-name: wopbCartColorRipple;
		animation-fill-mode: forwards;
		animation-duration: 1s;
		animation-iteration-count: 1;
		content: " ";
		width: 700px;
		height: 700px;
		border-radius: 50%;
		position: absolute;
		z-index: -1;
		transform: scale(0);
	}
	&::after {
		animation-delay: 500ms;
	}
}
