@import "../../dashboard/utility";

$bg-primary-lite: #f3f3f3;
$bg-secondary-color: #ff176b;
$bg-tooltip-color: #7d8087;
$bg-layout-color: #eff4ff;
$bg-overlay-color: rgba(0, 0, 0, 0.6);
$text-primary-color: #070c1a;
$text-secondary-color: #5a5a5a;
$text-tertiary-color: #ffffff;
$text-message-color: #7a7a7a;
$text-highlight-color: #ff176b;
$text-primary-size: 14px;
$text-secondary-size: 16px;
$text-large-size: 36px;
$text-primary-weight: 400;
$text-secondary-weight: 600;
$text-medium-weight: 500;
$text-primary-style: normal;
$border-primary-color: #e5e5e5;
$border-search-color: #ff176b;
$border-add-item-color: #d7d7d7;
$border-secondary-color: #5a5a5a;
$button-normal-color: #ff176b;
$button-hover-color: #ed2b15;
$button-secondary-hover-color: #ffffff;
$button-add-normal-color: #b5b5b5;
$button-add-hover-color: #46484b;
$star-review-color: #ffa132;

@mixin typo-fixed {
	font-family: "Roboto", sans-serif;
	font-size: $text-primary-size;
	font-style: $text-primary-style;
	font-weight: $text-primary-weight;
}
@mixin typo-swh($size, $weight, $height) {
	font-size: $size;
	font-weight: $weight;
	line-height: $height;
}
@mixin typo-hc($height, $color) {
	line-height: $height;
	color: $color;
}
@mixin typo-wh($weight, $height) {
	font-weight: $weight;
	line-height: $height;
}
@mixin item-flex-center {
	display: flex;
	align-items: center;
}
.wopb-d-none {
	display: none;
}
/* Compare header nav style */
.wopb-compare-nav-item {
	display: inline-flex !important;
	align-items: center;
	gap: 5px;
	height: fit-content;
	justify-content: center;
	cursor: pointer;
	line-height: normal;
	&.wopb-flex-column-dir {
		flex-direction: column;
		gap: 0;
	}
	svg {
		width: 18px;
		height: 18px;
	}
	.wopb-compare-icon {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		.wopb-compare-count {
			position: absolute;
			background: #ff176b;
			color: #fff;
			border-radius: 10px;
			width: 16px;
			height: 16px;
			font-size: 10px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			top: -8px;
			right: -5px;
		}
	}
}
/*Compare header nav style end */

/*Compare Wrapper Style Start*/
.entry-content {
	&:has(.wopb-compare-wrapper) {
		background: #ffffff;
	}
}
.entry-content .wopb-compare-wrapper,
.wopb-compare-wrapper {
	max-width: 100%;
	a {
		text-decoration: none;
		cursor: pointer;
	}
}
.wopb-my-account-container .woocommerce-MyAccount-content {
	.wopb-compare-table {
		overflow: auto !important;
	}
}
.woocommerce-MyAccount-content {
	.wopb-compare-wrapper {
		max-width: 1276px;
	}
}
@media only screen and (max-width: 1600px) {
	.woocommerce-MyAccount-content {
		.wopb-compare-wrapper {
			max-width: 970px;
		}
	}
}
#content {
	.wopb-compare-product-list-modal {
		max-width: 100%;
	}
	.wopb-compare-message {
		max-width: 400px;
	}
}
.wopb-compare-wrapper {
	font-family: "Roboto", sans-serif;
	max-width: 1300px;
	.wopb-modal-header {
		display: none;
	}
	.wopb-modal-body {
		overflow: auto;
		@include wopb-custom-scrollbar-style;
		background: #ffffff;
		&:has(.wopb-no-product) {
			overflow: unset;
		}
		table.wopb-compare-table {
			line-height: 18px;
			margin: 0;
			height: 100%;
			width: fit-content;
			border: 0;
			thead {
				background: unset;
				th.wopb-sticky-column {
					z-index: 2;
				}
				td {
					text-align: center;
					a.wopb-compare-remove {
						color: #5a5a5a;
						padding: 6px 8px;
						border-radius: 4px;
						border: 1px solid #5a5a5a;
						display: inline-flex;
						gap: 5px;
						transition: all 0s;
						&:hover {
							border: 1px solid $text-highlight-color;
							color: $text-highlight-color;
							svg {
								path {
									stroke: $text-highlight-color;
								}
							}
						}
					}
					.wopb-compare-add-btn {
						display: flex;
						align-items: center;
						border: 0;
						background: $border-primary-color;
						padding: 7px;
						border-radius: 2px;
						position: relative;
						width: fit-content;
						.wopb-tooltip {
							position: absolute;
							white-space: nowrap;
							display: none;
							right: 45px;
							font-size: 16px;
							color: #ffffff;
							background: $bg-tooltip-color;
							padding: 5px 6px 4px;
							border-radius: 4px;
							&::before {
								content: "";
								position: absolute;
								right: -7px;
								top: 6px;
								width: 15px;
								height: 15px;
								background: #7d8087;
								border-radius: 1px;
								transform: rotate(45deg);
								z-index: -1;
							}
						}
						&:hover {
							.wopb-tooltip {
								display: block;
							}
						}
					}
				}
			}
			th,
			td {
				vertical-align: middle;
				text-align: left;
				&.wopb-action-add-btn {
					min-width: 50px;
					max-width: 70px;
					position: sticky;
					right: -4px;
					background: #ffffff;
				}
				&.wopb-sticky-column {
					position: sticky;
					left: -1px;
					z-index: 1;
				}
			}
			th {
				white-space: nowrap;
			}
			td {
				min-width: 335px;
				img {
					background: $bg-primary-lite;
					width: 255px;
					height: 270px;
				}
				@media (max-width: 768px) {
					min-width: 170px;
					img {
						width: 100px;
						height: 100px;
					}
				}
			}
			.wopb-qty-wrap {
				display: flex;
				align-items: stretch;
				justify-content: start;
				height: auto;
				border: none;
				overflow: visible;
				a {
					border: 1px solid $border-secondary-color;
					padding: 8px 5px;
					display: flex;
					align-items: center;
					svg {
						margin-bottom: -4px;
					}
					&:hover {
						background: $text-primary-color;
						svg path {
							fill: #ffffff;
						}
					}
				}
				input {
					font-size: 16px;
					color: $text-primary-color;
					padding: 0;
					margin: 0;
					text-align: center;
					border-radius: 0 !important;
					border-left: none !important;
					border-right: none !important;
					border: 1px solid #5a5a5a;
					background: transparent;
					width: 70px;
					&:focus {
						border: 1px solid #5a5a5a;
						border-width: 1px 0;
						outline: none;
					}
					&::-webkit-outer-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}
					&::-webkit-inner-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}
					&[type="number"] {
						-moz-appearance: textfield;
					}
				}
			}
			.wopb-cart-action {
				&.wopb-active {
					.wopb-add-to-cart.wopb-view-cart {
						display: inline-flex !important;
					}
				}
				.wopb-add-to-cart {
					display: inline-flex;
					text-align: center;
					&.wopb-view-cart {
						display: none !important;
					}
				}
			}
			.wopb-review-content {
				display: flex;
				gap: 5px;
				@media (max-width: 768px) {
					flex-direction: column;
					gap: 3px;
				}
				.wopb-star-rating {
					font-size: 17px;
					color: $star-review-color;
					display: inline-block;
					margin: 0;
					float: none;
					overflow: hidden;
					position: relative;
					height: 1em;
					line-height: 1;
					width: fit-content;
					font-family: star;
					&::before {
						color: inherit;
						content: "\73\73\73\73\73";
						float: left;
						top: 0;
						left: 0;
						position: absolute;
						display: contents;
					}
					span {
						overflow: hidden;
						float: left;
						top: 0;
						left: 0;
						position: absolute;
						padding-top: 1.5em;
						&:before {
							content: "\53\53\53\53\53";
							top: 0;
							position: absolute;
							left: 0;
						}
						strong {
							display: block;
						}
					}
				}
				.wopb-review-count {
					color: $text-highlight-color;
				}
			}
			.wopb-additional {
				table.woocommerce-product-attributes {
					border-collapse: collapse;
					th {
						text-wrap: wrap;
					}
					td {
						min-width: 50px;
						max-width: 300px;
					}
				}
			}
			.wopb-demo-column {
				span {
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					background: #dedede;
					height: 12px;
					width: 70%;
					max-width: 220px;
					overflow: hidden;
					opacity: 0.5;
					@media (max-width: 768px) {
						max-width: 100px;
						max-height: 100px;
						svg {
							height: 50px;
						}
					}
				}
				&.image {
					span {
						height: 100%;
					}
				}
			}
		}
	}
	.wopb-modal-footer {
		text-align: right;
		padding: 10px 20px;
		background: $text-tertiary-color;
		border-radius: 0 0 8px 8px;
		.wopb-compare-clear-btn {
			font-size: 16px;
			text-decoration: underline;
		}
	}
	.wopb-no-product:not(.wopb-sidebar) {
		@include typo-swh($text-large-size, $text-medium-weight, 44px);
		text-align: center;
		padding-bottom: 171px;
		.wopb-no-product-text {
			margin: 0 auto;
			padding: 171px 0 32px;
			max-width: 395px;
		}
		.wopb-retun-shop {
			color: $text-tertiary-color;
			font-size: 16px;
			font-weight: 500;
			border-radius: 4px;
			background: $button-normal-color;
			padding: 20px 40px;
		}
	}
}

.wopb-modal-wrap {
	.wopb-modal-content {
		tr.wopb-sticky-row {
			position: sticky;
			top: 0;
			z-index: 2;
		}
	}
	.wopb-modal-content:has(.wopb-compare-wrapper) {
		background: unset;
	}
	.wopb-compare-wrapper {
		height: 100%;
		background: #ffffff;
		position: relative;
		width: 100%;
		margin: 0 auto;
		.wopb-modal-header {
			display: flex;
		}
		.wopb-modal-body {
			height: 80vh;
		}
		/* Compare in Message Style Start */
		&.wopb-modal-toaster {
			.wopb-compare-item {
				@include item-flex-center;
				gap: 13px;
				.wopb-compare-image {
					width: 65px;
					height: 51px;
					img {
						width: 100%;
						height: 100%;
						background: $bg-primary-lite;
					}
				}
				.wopb-compare-product-name {
					@include typo-hc(20px, $text-message-color);
					span {
						@include typo-wh($text-medium-weight, 20px);
					}
				}
			}
			.wopb-compare-view-btn {
				margin-top: 16px;
				cursor: pointer;
				@include typo-hc(20px, $text-highlight-color);
				text-decoration: underline;
				display: block;
				&:hover {
					color: $text-primary-color;
				}
			}
		}
	}
}
.wopb-compare-layout-1 table {
	.wopb-sticky-row,
	th.wopb-sticky-column {
		background: #ffffff;
	}
}
.wopb-compare-layout-2 {
	.wopb-modal-body {
		table.wopb-compare-table {
			thead {
				tr {
					background: #ffffff;
				}
			}
			th {
				background: $bg-primary-lite;
			}
		}
	}
}
.wopb-compare-layout-3 {
	.wopb-modal-body {
		table.wopb-compare-table {
			border: 0;
			thead th,
			thead td,
			thead td.wopb-action-add-btn,
			tr:nth-child(2n) th,
			tr:nth-child(2n) td {
				background: $bg-primary-lite;
			}
			thead td .wopb-compare-add-btn,
			th {
				background: #ffffff;
			}
			th,
			td {
				border: 0;
			}
		}
	}
}
.wopb-compare-layout-4 {
	.wopb-modal-body {
		table.wopb-compare-table {
			border: 0;
			th,
			td {
				border: 0;
			}
			tr,
			td.wopb-action-add-btn,
			th.wopb-sticky-column {
				background: $bg-layout-color;
			}
			tbody tr:hover,
			tbody tr:hover td.wopb-action-add-btn,
			tbody tr:hover th {
				background: #ffffff;
			}
			thead td .wopb-compare-add-btn {
				background: #ffffff;
			}
		}
	}
}
.wopb-compare-layout-5 {
	.wopb-modal-body {
		table.wopb-compare-table {
			border: 0;
			thead tr,
			thead td.wopb-action-add-btn,
			tr:nth-child(2n) td {
				background: $bg-primary-lite;
			}
			thead tr.wopb-sticky-row {
				box-shadow: unset;
				top: -4px;
			}
			th,
			td {
				border: 8px solid #ffffff;
			}
			th.wopb-sticky-column {
				left: -4px;
			}
			th,
			thead td .wopb-compare-add-btn {
				background: #ffffff;
			}
		}
	}
}
/*Compare Wrapper Style End*/

/*Compare Product List Modal Style Start*/
.wopb-compare-product-list-modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 999999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: $bg-overlay-color;
	@include typo-fixed;
	.wopb-product-list-content {
		position: relative;
		width: 60%;
		max-width: 900px;
		.wopb-product-list-close {
			display: flex;
			position: absolute;
			right: -25px;
			top: -25px;
			background: #ffffff;
			border-radius: 2px;
			&:hover {
				background: $button-normal-color;
				transition: all 0.3s;
				svg path {
					stroke: $text-tertiary-color;
				}
			}
		}
		.wopb-product-list-body {
			background: #ffffff;
			padding: 36px 36px 24px;
			border-radius: 8px;
			.wopb-product-search {
				@include item-flex-center;
				border-radius: 4px;
				border: 1px solid $border-search-color;
				padding: 2px;
				input {
					width: 100%;
					border: 0;
					padding: 8px;
					background-color: #fff;
					box-shadow: unset;
					@include typo-fixed;
					@include typo-hc(22px, $text-secondary-color);
				}
				.wopb-search-icon {
					margin: 0px 17px;
					svg {
						margin-bottom: -4px;
					}
				}
			}
			.wopb-product-list {
				overflow-y: auto;
				@include wopb-custom-scrollbar-style;
				height: 60vh;
				padding-right: 5px;
				margin-top: 10px;
				.wopb-compare-item {
					@include item-flex-center;
					@media (max-width: 768px) {
						align-items: flex-start;
					}
					border-bottom: 1px solid $border-add-item-color;
					padding: 24px 0 22px;
					justify-content: space-between;
					.wopb-compare-product-review {
						gap: 5px;
					}
					.wopb-compare-product-details,
					.wopb-compare-product-review {
						@include item-flex-center;
						@media (max-width: 768px) {
							flex-direction: column;
							align-items: flex-start;
							gap: 5px;
						}
					}
					.wopb-compare-product-details {
						@include item-flex-center;
						gap: 24px;
						a.wopb-product-image {
							max-width: 96px;
							max-height: 100px;
							img {
								width: 100%;
								height: 100%;
								background: $bg-primary-lite;
							}
						}
					}
					.wopb-add-to-compare-btn {
						display: flex;
						border-radius: 2px;
						background: $button-add-normal-color;
						padding: 9px;
						&:hover {
							background: $button-add-hover-color;
						}
					}
					&:last-child {
						border: 0;
						padding-bottom: 0;
					}
				}
			}
		}
	}
}
/*Compare Add Popup Style End*/

/* compare Sidebar Style Start */
.wopb-sidebar-wrap .wopb-modal-content .wopb-compare-wrapper {
	width: 100%;
	height: 100vh;
	@include typo-fixed;
	@media only screen and (max-width: 1420px) {
		width: 35%;
	}
	@media only screen and (max-width: 1024px) {
		width: 50%;
	}
	@media only screen and (max-width: 710px) {
		width: 60%;
	}
	@media only screen and (max-width: 592px) {
		width: 90%;
	}
	a {
		color: $text-primary-color;
		font-weight: 600;
		&:hover {
			color: $text-highlight-color;
		}
	}
	.wopb-modal-header {
		background: $bg-secondary-color;
		@include item-flex-center;
		justify-content: space-between;
		padding-right: 10px;
		border-radius: unset;
		.wopb-header-title {
			@include typo-swh(
				$text-secondary-size,
				$text-secondary-weight,
				20px
			);
			text-transform: uppercase;
			padding-left: 32px;
			color: $text-tertiary-color;
		}
		.wopb-modal-close {
			background: transparent;
			right: 14px;
			border-color: #fff;
			&:hover {
				background: $button-secondary-hover-color;
				svg {
					path {
						stroke: $bg-secondary-color;
					}
				}
			}
		}
	}
	.wopb-modal-body {
		overflow: auto;
		@include wopb-custom-scrollbar-style;
		height: -webkit-fill-available;
		padding: 30px;
		.wopb-compare-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 16px 32px 0;
			.wopb-compare-product-details {
				display: flex;
				align-items: center;
				.wopb-product-image {
					width: 100%;
					max-width: 100px;
					img {
						width: 100%;
						height: auto;
						background: $bg-primary-lite;
					}
				}
			}
			.wopb-compare-product-name {
				@include typo-swh(
					$text-secondary-size,
					$text-medium-weight,
					20px
				);
				margin-left: 20px;
				max-width: 112px;
			}
			&:last-child {
				margin-bottom: 0;
			}
			.wopb-compare-remove {
				&:hover {
					svg {
						path {
							stroke: $button-hover-color;
						}
					}
				}
			}
		}
	}
	.wopb-modal-footer {
		display: inline-flex;
		width: 100%;
		height: 105px;
		position: absolute;
		bottom: 0;
		z-index: 9;
		padding: 5px 32px 0;
		background: #ffffff;
		a {
			@include typo-swh($text-secondary-size, $text-medium-weight, 24px);
			padding: 10px 24px;
			border-radius: 2px;
			height: fit-content;
		}
		.wopb-compare-clear-btn {
			background: $text-tertiary-color;
			border: 1px solid $text-primary-color;
			color: $text-primary-color;
			text-decoration: none;
			&:hover {
				border: 1px solid $button-hover-color;
				color: $button-hover-color;
			}
		}
		.wopb-lets-compare-btn {
			margin-left: 16px;
			background: #ff176b;
			color: #ffffff;
			&:hover {
				background: #333333;
			}
		}
	}
}
/* compare Sidebar Style End */

.wopb-compare-addon-btn {
	cursor: pointer;
	display: inline-flex !important;
	align-items: center;
	gap: 5px;
	height: fit-content !important;
	text-decoration: none;
	:hover {
		text-decoration: none;
	}
	svg {
		height: 16px;
		width: 16px;
		&:has(path[stroke]) {
			fill: none;
		}
	}
	.wopb-compare-added-text {
		display: none;
	}
	&.wopb-compare-active {
		.wopb-compare-btn-text {
			display: none;
		}
		.wopb-compare-added-text {
			display: block;
		}
	}
	&:hover {
		svg:has(path[stroke]) {
			fill: none;
		}
	}
	&.default_shop_loop_image {
		position: absolute;
		z-index: 99;
		right: 15px;
		top: 20px;
	}
}
.wopb-block-wrapper .wopb-product-meta a {
	svg:has(path[stroke]) {
		fill: none !important;
	}
	&:hover {
		svg:has(path[stroke]) {
			fill: none !important;
		}
	}
}
/* Blocksy Compare Button Style start */
// Default Shop Page
.ct-woo-card-actions:not(:empty):has(.wopb-compare-shop-btn) {
	&:has(.before_cart),
	&:has(.after_cart) {
		display: flex;
		align-items: center;
		gap: 5px;
		text-wrap: nowrap;
	}
}

// Default Single Product Page
.product form.cart:has(.wopb-compare-single-btn.before_cart) {
	display: flex;
	gap: 10px;
}
/* Blocksy Compare Button Style End */

/* Compare in Message Style End */

body {
	&:has(.blow_up) {
		#main-container,
		.site-content {
			animation: wopbBlowUpContent 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
				forwards;
		}
	}
	&:has(.blow_down) {
		#main-container,
		.site-content {
			animation: wopbBlowDownContent 0.5s
				cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
		}
	}
}
/* Animation style end */
