.wopb-flip-image {
	position: absolute;
	// width: 100% !important;
	// height: 100% !important;
	object-position: 50% 50%;
	object-fit: cover;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}
.wopb-flip-image-section {
	display: block !important;
	overflow: hidden;
	position: relative;
	height: fit-content;
	&.wopb-flip-image-hover {
		.wopb-flip-image {
			opacity: 1;
			&.wopb-fade_in {
				animation: wopbFadeIn 1.1s forwards;
			}
			&.wopb-zoom_in {
				animation: wopbZoomIn2 1.2s forwards;
			}
			&.wopb-fade_in_zoom_in {
				transition: opacity 1s;
				animation: wopbZoomIn2 1.2s forwards;
			}
			&.wopb-slide_right_in {
				animation: wopbSlideRightIn 0.9s forwards;
			}
			&.wopb-flip_right_to_left {
				animation: rotateToLeft 1.2s forwards ease-in-out;
			}
		}
	}
}
