.wopb-modal-wrap {
	position: fixed;
	visibility: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1400;
	opacity: 0;
	&.wopb-sidebar-wrap {
		&.wopb-right_sidebar .wopb-modal-content {
			left: unset;
		}
		&.wopb-left_sidebar .wopb-modal-content {
			right: unset;
		}
		.wopb-modal-content {
			min-width: unset;
			max-width: 460px;
			width: 90%;
			min-height: 100%;
		}
	}
	&.wopb-modal-toast-wrapper {
		position: unset;
		.wopb-modal-content {
			max-width: 100%;
			width: 100%;
			height: 100%;
			background: unset;
			.wopb-modal-toaster {
				position: fixed;
				height: fit-content;
				z-index: 999999;
				font-size: 14px;
				background: #ffffff;
				border-radius: 4px;
				box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.12);
				max-width: 347px;
				padding: 16px 52px 16px 16px;
				&.wopb-right-top {
					top: 50px;
					right: 50px;
				}
			}
		}
	}
	&.active {
		display: flex;
		align-items: center;
		visibility: visible;
		opacity: 1;
		z-index: 999998;
	}
	.wopb-modal-content {
		min-height: 560px;
		min-width: 865px;
		max-width: 1600px;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: fit-content;
		height: fit-content;
		background: #ffffff;
		-ms-overflow-style: none;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	&:not(.wopb-modal-toast-wrapper) {
		.wopb-modal-loading {
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			opacity: 0;
			visibility: hidden;

			&.active {
				display: flex;
				align-items: center;
				justify-content: center;
				opacity: 1;
				visibility: visible;
				z-index: 99;
			}

			.wopb-loading {
				border: none;
				width: unset;
				height: unset;
				padding-top: 6.5px;
				animation: none;

				.wopb-loader {
					width: 48px;
					height: 48px;
					display: inline-block;
					position: relative;

					&.loader_1 {
						border-radius: 50%;
						border: 3px solid;
						border-color: #fff #fff transparent;
						box-sizing: border-box;
						animation: wopbRotation 1s linear infinite;

						&::after {
							content: "";
							box-sizing: border-box;
							position: absolute;
							left: 0;
							right: 0;
							top: 0;
							bottom: 0;
							margin: auto;
							border: 3px solid;
							border-color: transparent #ff176b #ff176b;
							width: 24px;
							height: 24px;
							border-radius: 50%;
							animation: wopbRotationBack 0.5s linear infinite;
							transform-origin: center center;
						}
					}

					&.loader_2,
					&.loader_3 {
						width: 70px;
						height: 70px;

						> * {
							transform-origin: 40px 40px;
							animation: wopbFadeOut 1.2s linear infinite;

							&::after {
								content: " ";
								display: block;
								position: absolute;
								top: 3px;
								left: 37px;
								width: 6px;
								height: 18px;
								border-radius: 20%;
								background: #fff;
							}

							&:nth-child(1) {
								transform: rotate(0deg);
								animation-delay: -1.1s;
							}

							&:nth-child(2) {
								transform: rotate(30deg);
								animation-delay: -1s;
							}

							&:nth-child(3) {
								transform: rotate(60deg);
								animation-delay: -0.9s;
							}

							&:nth-child(4) {
								transform: rotate(90deg);
								animation-delay: -0.8s;
							}

							&:nth-child(5) {
								transform: rotate(120deg);
								animation-delay: -0.7s;
							}

							&:nth-child(6) {
								transform: rotate(150deg);
								animation-delay: -0.6s;
							}

							&:nth-child(7) {
								transform: rotate(180deg);
								animation-delay: -0.5s;
							}

							&:nth-child(8) {
								transform: rotate(210deg);
								animation-delay: -0.4s;
							}

							&:nth-child(9) {
								transform: rotate(240deg);
								animation-delay: -0.3s;
							}

							&:nth-child(10) {
								transform: rotate(270deg);
								animation-delay: -0.2s;
							}

							&:nth-child(11) {
								transform: rotate(300deg);
								animation-delay: -0.1s;
							}

							&:nth-child(12) {
								transform: rotate(330deg);
								animation-delay: 0s;
							}
						}
					}

					&.loader_3 {
						> * {
							&::after {
								width: 10px;
								height: 10px;
							}
						}
					}

					&.loader_4 {
						height: unset;
						width: unset;
						display: flex;
						justify-content: center;
						animation: wopbSpin360 2s linear infinite;

						svg {
							margin: 9px -31px;
						}

						.dot_line {
							position: absolute;
							width: 100%;
							height: 4px;
							transform: translateY(80px);
							background-color: #ffffff;
							border-radius: 10px;
							margin: 1px 0;
							animation: wopbUpDownPendulum 2s 0.7s infinite
								ease-in-out;
						}
					}

					&.loader_5 {
						width: unset;
						height: unset;
						font-size: 60px;
						--num-dot: 15;

						> * {
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							transform: rotate(
								calc((360deg / var(--num-dot)) * var(--index))
							);
						}

						> *::before {
							position: absolute;
							content: "";
							top: 0.15em;
							left: 0.45em;
							width: 0.1em;
							height: 0.1em;
							transform: scale(0.3);
							border-radius: 50%;
							background-color: #ffffff;
							animation: wopbScaleTo1 1s ease-in-out
								calc(1s / var(--num-dot) * var(--index))
								infinite reverse;
						}
					}

					&.loader_6 {
						width: 80px;
						height: 35px;
						border-bottom: 9.99px solid #fff;
						border-top: 10px solid #fff;
						box-sizing: border-box;

						&::after,
						&::before {
							content: "";
							position: absolute;
							left: -1;
							top: -10px;
							width: 102%;
							height: 10px;
							background: #ff3d00;
							box-sizing: border-box;
							animation: wopbFillUp 1s infinite ease-in-out
								alternate;
						}

						&::after {
							top: 16px;
							animation-direction: alternate-reverse;
						}
					}

					&.loader_7 {
						background-size: cover;
						background: radial-gradient(
								circle,
								#ff176b,
								transparent,
								transparent,
								transparent,
								transparent,
								transparent,
								transparent
							)
							center;
						border-radius: 50%;
						border: 3px solid #ffffff;
						padding: 30px;

						&::after,
						&::before {
							content: "";
							position: absolute;
							height: 16px;
							width: 4px;
							background: #ff176b;
							top: 50%;
							left: 50%;
							transform: translateX(-50%) rotate(0deg);
							transform-origin: 25% 0;
							box-sizing: border-box;
							animation: wopbRotation 10s linear infinite;
						}

						&::before {
							height: 22px;
							width: 2px;
							transform: translateX(-50%) rotate(0deg);
							animation-duration: 1s;
						}
					}
				}
			}
		}

		.wopb-modal-overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.8);
			z-index: -1;
		}
	}
	.wopb-modal-close-icon {
		cursor: pointer;
		position: absolute;
		top: 9px;
		right: 9px;
		text-indent: -9999px;
		padding: 0;
		border-radius: 0;
		border: 1px solid #090909;
		background: #090909;
		width: 25px;
		height: 25px;
		transition: 400ms;
		&:before {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			width: 16px;
			border-top: 2px solid;
			margin-top: -1px;
			margin-left: -8px;
			transform: rotate(45deg);
			color: #ffffff;
			transition: 400ms;
		}
		&:after {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			height: 16px;
			border-left: 2px solid;
			margin-top: -8px;
			margin-left: -1px;
			transform: rotate(45deg);
			color: #ffffff;
			transition: 400ms;
		}
		&:hover {
			border: 1px solid #f31616;
			background: #f31616;
			&:before,
			&:after {
				color: #fff;
			}
		}
	}

	// Animation CSS start
	&.wopb-unfold {
		.wopb-modal-content {
			transform: scale(0);
			animation: wopbZoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1)
				forwards;
		}
	}
	&.wopb-fold {
		.wopb-modal-content {
			animation: wopbZoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
				forwards;
		}
	}
	&.wopb-zoom_in {
		.wopb-modal-content {
			transform: scale(0);
			animation: wopbZoomIn 0.8s 0.15s cubic-bezier(0.165, 0.84, 0.44, 1)
				forwards;
		}
	}
	&.wopb-zoom_out {
		.wopb-modal-content {
			animation: wopbZoomOut 0.8s 0.15s cubic-bezier(0.165, 0.84, 0.44, 1)
				forwards;
		}
	}
	&.wopb-fade_in {
		.wopb-modal-content {
			animation: wopbFadeIn 1.6s forwards;
		}
	}
	&.wopb-fade_out {
		.wopb-modal-content {
			animation: wopbFadeOut 1.6s forwards;
		}
	}
	&.wopb-shrink_in {
		.wopb-modal-content {
			animation: wopbShrinkIn 1s forwards;
		}
	}
	&.wopb-shrink_out {
		.wopb-modal-content {
			animation: wopbShrinkOut 1s forwards;
		}
	}
	&.wopb-flip_in {
		.wopb-modal-content {
			animation: wopbFlipIn 0.8s forwards;
		}
	}
	&.wopb-flip_out {
		.wopb-modal-content {
			animation: wopbFlipOut 0.8s forwards;
		}
	}
	&.wopb-slide_up_in {
		.wopb-modal-content {
			animation: wopbSlideUpIn 0.8s forwards;
		}
	}
	&.wopb-slide_down_in {
		.wopb-modal-content {
			animation: wopbSlideDownIn 0.8s forwards;
		}
	}
	&.wopb-slide_up_out {
		.wopb-modal-content {
			animation: wopbSlideUpOut 0.8s forwards;
		}
	}
	&.wopb-slide_down_out {
		.wopb-modal-content {
			animation: wopbSlideDownOut 0.8s forwards;
		}
	}
	&.wopb-slide_left_in {
		.wopb-modal-content {
			animation: wopbSlideLeftIn 0.8s forwards;
		}
	}
	&.wopb-slide_right_in {
		.wopb-modal-content {
			animation: wopbSlideRightIn 0.8s forwards;
		}
	}
	&.wopb-slide_left_out {
		.wopb-modal-content {
			animation: wopbSlideLeftOut 0.8s forwards;
		}
	}
	&.wopb-slide_right_out {
		.wopb-modal-content {
			animation: wopbSlideRightOut 0.8s forwards;
		}
	}
	&.wopb-blow_up {
		.wopb-modal-body {
			animation: wopbBlowUpTable 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
				forwards;
		}
	}
	// Animation CSS end

	@media (max-width: 992px) {
		.wopb-modal-content {
			width: 80%;
			min-height: 300px;
			min-width: 300px;
		}
	}
	@media (max-height: 560px) {
		.wopb-modal-content {
			min-height: 300px;
		}
	}
}

.wopb-modal-header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 8px 8px 0 0;
	height: 50px;
	.wopb-header-title {
		display: block;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		color: #070c1a;
	}
	.wopb-modal-close {
		position: absolute;
		right: 10px;
		border-radius: 2px;
		border: 1px solid #dadada;
		background: #090909;
		width: 30px;
		height: 30px;
		transition: 400ms;
		display: inline-flex;
		align-items: center;
		justify-content: center;

		svg path {
			stroke: #fff;
			stroke-width: 1.3;
		}

		&:hover {
			border: 1px solid #f31616;
			background: #f31616;
		}
	}
}
