@import "../../dashboard/utility";

@mixin typo-fixed {
	font-family: "Roboto", sans-serif;
}

.wopb-quick-view-image {
	position: relative;
	&.wopb-image-sticky,
	div.wopb-image-sticky {
		position: sticky;
		top: 0;
		z-index: 9;
	}
	.wopb-zoom-image-outer.wopb-zoom-1 {
		height: 300px;
		width: 300px;
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 101%;
		z-index: 999999;
		border: 1px solid #d5d5d5;
		display: none;

		.wopb-zoom-image-inner {
			width: 400%;
			height: 400%;

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
		@media (max-width: 778px) {
			left: 0;
			top: 260px;
		}
	}
	.woocommerce-product-gallery {
		display: block;
	}
}

//Quick view next/previous navigation
.wopb-quick-view-navigation {
	.wopb-nav-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: #4c4c4c;
		width: 40px;
		height: 80px;
		overflow: hidden;
		transition:
			width 0.4s,
			background-color 0.4s;
		transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		display: flex;
		cursor: pointer;
		z-index: 9;
		.wopb-nav-icon {
			position: absolute;
			z-index: 100;
			padding: 0;
			width: 40px;
			height: 80px;
			text-align: center;
			margin: 0;
			svg {
				width: 30px;
				height: 80px;
				fill: #fff;
			}
		}
		.wopb-quick-view-btn-image {
			position: absolute;
			top: 0;
			width: 260px;
			height: 100%;
			display: flex;
			align-items: center;
			box-sizing: border-box;
			img {
				width: 80px;
				margin: 0;
				position: absolute;
				border-radius: 0;
			}
			.wopb-nav-title {
				font-size: 17px;
				line-height: normal;
				text-align: center;
				margin-bottom: unset;
				color: rgba(7, 7, 7, 1);
				font-weight: 500;
			}
		}

		&.wopb-quick-view-previous {
			left: 0;
			.wopb-nav-icon {
				left: 0;
			}
			.wopb-quick-view-btn-image {
				left: 0;
				padding-right: 95px;
				padding-left: 40px;
				text-align: right;
				img {
					right: 0;
				}
			}
		}
		&.wopb-quick-view-next {
			right: 0;
			.wopb-nav-icon {
				right: 0;
			}
			.wopb-quick-view-btn-image {
				right: 0;
				padding-left: 95px;
				padding-right: 40px;
				text-align: left;
				img {
					left: 0;
				}
			}
		}
		&:hover {
			width: 260px;
		}
	}
}
//End Quick view next/previous navigation

.wopb-quick-view-zoom.wopb-zoom-2 {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(0, 0, 0, 0.8);
	z-index: 99999;
	img {
		width: auto;
		height: 100%;
		object-fit: scale-down;
	}
}
.wopb-quick-view-gallery {
	&.image_with_gallery {
		@include flex(10);
		&.wopb-left,
		&.wopb-right {
			.wopb-thumbnail {
				max-width: 80%;
				width: 100%;
			}
		}
		&.wopb-left {
			flex-direction: row-reverse;
			justify-content: flex-end;
		}
		&.wopb-right {
			flex-direction: row;
			justify-content: flex-start;
		}
		@media (max-width: 778px) {
			max-width: 67vw;
		}
		@media (max-width: 544px) {
			max-width: 60vw;
		}
	}
	&.image_with_pagination {
		&.right_arrow {
			.wopb-slick-prev-large {
				left: unset;
				right: 40px;
			}
			.slick-arrow {
				background: #ffffffb2;
				border-radius: 50px;
			}
		}
		&.line {
			.slick-dots li {
				margin: 0;
				button {
					width: 40px;
					height: 2px;
					padding: 0;
				}
				&.slick-active button {
					background: #070c1a;
					height: 3px;
				}
			}
		}
	}
	.wopb-thumbnail {
		position: relative;
		a {
			display: block;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			line-height: 0;
			max-height: 69vh;
			@media (max-width: 778px) {
				max-height: 250px;
			}
		}
		.wopb-quick-view-sale {
			position: absolute;
			top: 16px;
			left: 16px;
			background: #ff176b;
			color: #ffffff;
			padding: 6px 12px;
			font-size: 12px;
			line-height: 16px;
			text-transform: uppercase;
		}
	}
	&:has(.wopb-quick-slider-nav.wopb-bottom) {
		.wopb-thumbnail {
			img {
				max-height: 52vh;
				height: 425px;
			}
		}
	}
	.wopb-quick-slider {
		display: flex;
		align-items: center;
		justify-content: center;
		.slick-arrow {
			top: unset;
		}
	}
	.slick-arrow {
		display: flex;
		justify-content: center;
		position: absolute;
		z-index: 1;
		top: 25%;
		cursor: pointer;
		width: 40px;
		height: 40px;
		background: rgba(7, 12, 26, 0.15);
		transition: 0.3s;
		svg {
			width: 16px;
			height: auto;
			path {
				fill: #858585;
			}
		}
		&:hover {
			background: #ff176b;
		}
		&.wopb-slick-prev-large {
			left: 0;
			right: auto;
		}
		&.wopb-slick-next-large {
			right: 0;
			left: auto;
		}
	}
	.slick-dots {
		li {
			position: relative;
			display: inline-block;
			margin: 0 5px;
			padding: 0;
			cursor: pointer;
			button {
				border-radius: 50px;
				background: #f3f3f3;
			}
			&.slick-active button {
				background: #070c1a4d;
			}
		}
	}
}
.wopb-quick-slider-nav {
	&.wopb-bottom {
		.slick-track {
			display: flex;
			gap: 5px;
		}
		svg {
			transform: rotate(-90deg);
		}
		.wopb-slick-prev-nav {
			left: 0;
		}
		.wopb-slick-next-nav {
			right: 0;
			svg {
				transform: rotate(90deg);
			}
		}
	}
	&.wopb-right,
	&.wopb-left {
		max-width: 20%;
		width: 100%;
		display: flex;
		justify-content: center;
		.wopb-slick-prev-nav {
			top: 0;
		}
		.wopb-slick-next-nav {
			bottom: 0;
			top: unset;
			svg {
				transform: rotate(-180deg);
			}
		}
	}
	.slick-list {
		height: 100%;
	}
	.slick-slide {
		cursor: pointer;
		img {
			opacity: 0.8;
			padding: 3px;
		}
		&.slick-current {
			img {
				border: 1px solid #cccccc;
				border-radius: 4px;
				opacity: 1;
			}
		}
	}
}

.wopb-quick-view-content {
	display: flex;
	flex-direction: column;
	padding-right: 10px;
	padding-bottom: 20px;
	.wopb-cart-bottom {
		flex-direction: row;
		.wopb-compare-btn-wrap,
		.wopb-wishlist-btn-wrap {
			max-width: fit-content;
		}
	}
}
.wopb-quick-view-wrapper {
	.wopb-modal-content {
		max-width: 1050px;
	}
	&.wopb-layout-2 .wopb-modal-content {
		min-height: 400px;
	}
	// Sidebar CSS start
	&.wopb-sidebar-wrap {
		.wopb-main-section {
			grid-template-columns: 100%;
			max-height: 90vh;
			height: 100%;
		}
		.wopb-quick-view-image {
			padding-right: 5px;

			&:has(.wopb-custom) {
				margin: 0 auto;
			}
		}
		.wopb-zoom-image-outer.wopb-zoom-1 {
			top: 310px;
			left: 0;
		}
		.wopb-quick-view-gallery {
			.wopb-thumbnail img {
				width: 100%;
				max-height: 300px;
			}
		}
	}
	// Sidebar CSS end

	.wopb-modal-header {
		.wopb-modal-close-icon {
			position: relative;
			top: -30px;
			right: -30px;
		}
	}
	.wopb-modal-body {
		padding: 0 40px;
		@media (max-width: 778px) {
			overflow: auto;
			@include wopb-custom-scrollbar-style;
		}
	}
	p {
		margin: 0;
		padding: 0;
	}
	&:not(.wopb-sidebar-wrap) .wopb-main-section:has(.wopb-custom) {
		grid-template-columns: auto grid(1);
	}
	.wopb-main-section {
		@include typo-fixed;
		display: grid;
		grid-template-columns: 50% grid(1);
		gap: 40px;
		@media (min-width: 778px) {
			overflow-y: auto;
		}
		@include wopb-custom-scrollbar-style;
		max-height: 540px;
		height: 70vh;
		@media (max-width: 778px) {
			grid-template-columns: 100% !important;
		}
		@media (max-height: 580px) {
			height: 42vh;
		}
	}
	.wopb-product-info {
		border-bottom: 1px solid #070c1a1a;
		margin-bottom: 30px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;
	}
	.product_title {
		line-height: 40px;
		margin: 0;
		padding: 0;
	}
	.wopb-rating-info {
		display: flex;
		gap: 24px;
		> div {
			border-right: 1px solid #4f4a4a33;
			padding-right: 24px;
			&:last-child {
				border: 0;
				padding: 0;
			}
		}
	}
	div.woocommerce-product-rating {
		display: flex;
		gap: 5px;
		align-items: center;
		&::before {
			display: none;
		}
		.star-rating {
			font-size: 17px;
			color: #ffa132ff;
			display: inline-block;
			margin: 0;
			float: none;
			overflow: hidden;
			position: relative;
			height: 1em;
			line-height: 1;
			width: fit-content;
			font-family: star;
			letter-spacing: 0.2em;
			&::before {
				color: inherit;
				content: "\73\73\73\73\73";
				float: left;
				top: 0;
				left: 0;
				position: absolute;
				display: contents;
			}
			span {
				overflow: hidden;
				float: left;
				top: 0;
				left: 0;
				position: absolute;
				padding-top: 1.5em;
				&:before {
					content: "\53\53\53\53\53";
					top: 0;
					position: absolute;
					left: 0;
				}
				strong {
					display: block;
				}
			}
		}
		.woocommerce-review-link {
			color: #ff176b;
			font-size: 13px;
			line-height: 22px;
			margin-inline-start: unset;
		}
	}
	.price {
		display: inline-flex;
		gap: 5px;
		align-items: center;
		del span {
			bdi {
				font-size: 16px;
				line-height: 24px;
			}
		}
		ins,
		bdi {
			color: #ff176b;
			font-size: 24px;
			font-weight: 500;
			line-height: 32px;
			vertical-align: middle;
			text-decoration: none;
		}
	}
	.wopb-discount-percentage {
		background: #ff176b;
		color: #ffffff;
		font-size: 12px;
		line-height: 20px;
		padding: 5px 7px;
		margin-left: 11px;
		position: relative;
		&::before {
			position: absolute;
			content: "";
			left: -8px;
			top: 5.2px;
			border-top: 8px solid transparent;
			border-right: 10px solid #ff176b;
			border-bottom: 8px solid transparent;
		}
	}
	.wopb-product-stock-status {
		font-size: 12px;
		line-height: 22px;
		text-transform: capitalize;
		.wopb-product-in-stock {
			color: #2aab6f;
			&::before {
				content: "";
				display: inline-block;
				margin: 0 9px 0px 0px;
				height: 12px;
				width: 7px;
				border-right: 1px solid #2aab6f;
				border-bottom: 1px solid #2aab6f;
				transform: rotate(45deg);
			}
		}
		.wopb-product-out-stock {
			color: #de210c;
			&::before {
				content: "X";
				display: inline-block;
				margin: 0 5px 2px 0;
				border: 1px solid #de210c;
				line-height: 8px;
			}
		}
	}
	form.cart,
	form.cart .woocommerce-variation-add-to-cart {
		display: flex;
		gap: 5px;
	}
	form.cart {
		del,
		ins {
			background-color: unset;
		}
		&.grouped_form {
			display: block;
			.quantity::before {
				margin-right: 5px;
			}
		}
		.quantity {
			width: fit-content;
			display: inline-flex;
			align-items: center;
			border: none;
			margin-right: 2px;
			height: auto;
			span,
			input.qty {
				height: 40px;
				box-sizing: border-box;
			}
			span {
				padding: 10px 6px 3px;
				cursor: pointer;
				border: 1px solid #e5e5e5 !important;
			}
			input.qty {
				background: 0 0;
				font-size: 16px;
				line-height: 20px;
				text-align: center;
				padding: 0 !important;
				max-width: 60px;
				min-width: 40px;
				min-height: unset;
				margin: 0;
				border-radius: 0 !important;
				border-width: 1px 0 1px 0 !important;
				border-style: solid !important;
				border-color: #e5e5e5 !important;
				box-shadow: unset;
				outline: none;
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					margin: 0;
				}
			}
			a {
				display: none !important;
			}
		}
		button.single_add_to_cart_button {
			padding: 13px 20px;
			line-height: 16px;
			border-radius: 4px;
			float: unset;
		}
		&.variations_form {
			flex-direction: column;
			table.variations {
				border: none;
				tr {
					display: flex;
					flex-direction: row;
					td, th {
						padding: 5px;
					}
					th {
						border: none;
						text-align: left;
						width: fit-content;
					}
					td {
						border: none;
						select {
							padding-right: 2em;
						}
					}
				}
			}
			.reset_variations {
				text-decoration: none;
				color: #ff176b;
				&:hover {
					color: #ca483a;
				}
			}
		}
	}
	.wopb-compare-btn,
	.wopb-wishlist-add {
		padding: 10px;
	}
	.single_add_to_cart_button.wopb-quickview-buy-btn {
		display: inline-block;
		width: 240px;
		padding: 14px 20px;
		line-height: 16px;
		text-transform: capitalize;
		text-align: center;
		cursor: pointer;
	}
	.product_meta {
		display: flex;
		flex-direction: column;
		width: 100%;
		font-size: 13px;
		font-weight: 600;
		border-top: 1px solid #e5e5e533;
		span {
			text-transform: uppercase;
			a {
				text-decoration: none;
				color: #ff176b;
			}
		}
	}
	.wopb-product-details {
		font-size: 13px;
		font-weight: 600;
		line-height: 22px;
		text-transform: capitalize;
		text-decoration: underline;
		text-align: center;
		width: 100%;
		display: block;
		padding-top: 15px;
		color: #ff8645;
	}
	.wopb-product-social-share {
		font-size: 13px;
		font-weight: 600;
		line-height: 22px;
		text-transform: capitalize;
		display: flex;
		gap: 8px;
		span {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		svg {
			width: 18px;
			height: 18px;
			fill: #ffffff;
			border-radius: 50%;
			path {
				fill: #ffffff;
			}
		}
		a {
			display: flex;
			align-items: center;
			border-radius: 50%;
			padding: 7px;
		}
		.wopb-share-facebook {
			background: #1877f2;
		}
		.wopb-share-linkedin {
			background: #005582;
		}
		.wopb-share-twitter {
			background: #1da1f2;
		}
		.wopb-share-pinterest {
			background: #b3041b;
		}
		.wopb-share-skype {
			background: #009edc;
		}
	}
	@media (max-width: 992px) {
		.wopb-quickview-buy-btn {
			width: 140px;
		}
	}
	@media (max-width: 778px) {
		.wopb-quickview-buy-btn {
			width: 100px;
		}
	}
	@media (max-height: 745px) {
		&.wopb-layout-2 {
			.wopb-main-section {
				height: 42vh;
			}
		}
	}
	.wopb-add-to-cart-plus,
	.wopb-add-to-cart-minus {
		display: flex;
	}
}
.wopb-quickview-btn.wopb-quick-addon-btn {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	gap: 5px;
	svg {
		width: 16px;
		height: 16px;
	}
}
