.wp-block-product-blocks-row {
	position: relative;
	& > .wopb-row-wrapper {
		transition: 0.3s;
		position: relative;
		&:hover {
			transition: 0.3s;
		}
		& > .wp-block-product-blocks-column {
			transition: 0.3s;
			&:hover {
				transition: 0.3s;
			}
		}
		.alignfull {
			margin-left: unset;
			margin-right: unset;
			width: unset;
			max-width: unset;
		}
		& > .wopb-row-content {
			display: flex;
			flex-wrap: wrap;
			box-sizing: border-box;
			width: 100%;
		}
	}
}

/*========= Row Background Video  =========*/
.wopb-rowbg-video {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	iframe {
		height: 100vh;
		width: 100vw;
		pointer-events: none;
		transform: translateX(-50%) translateY(-50%);
		position: absolute;
		left: 50%;
		top: 50%;
	}
	video {
		height: auto;
		width: auto;
		min-width: 100%;
		min-height: 100%;
		max-width: unset;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
	}
}

/*========= Shape Style =========*/
.wopb-row-shape {
	width: 100%;
	height: fit-content;
	pointer-events: none;
	line-height: 0px;
	display: block;
	overflow: hidden;
	position: absolute;
	top: -1px;
	left: 0;
	z-index: 0;
}
.wopb-row-shape.wopb-shape-bottom {
	bottom: 0;
	top: auto !important;
	svg {
		transform: rotate(180deg);
	}
}

/*========= Row Wrapper Url Css  =========*/
.wopb-rowwrap-url {
	cursor: pointer;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 999999999;
}

/*========= Row/Column Overlay =========*/
.wopb-row-overlay,
.wopb-column-overlay {
	width: 100%;
	height: 100%;
	transition: 0.3s;
	box-sizing: border-box;
	position: absolute;
	top: 0px;
	left: 0px;
	&:hover {
		transition: 0.3s;
	}
}

/*========= Row/Column Background Padding =========*/
@media only screen and (min-width: 991px) {
	body .wp-block-product-blocks-row.wopbBgPadding.lgL {
		& > .wopb-row-wrapper {
			& > .block-editor-inner-blocks , // backend  
            & > .wopb-row-content {
				padding-left: 15px;
			}
		}
	}
	body .wp-block-product-blocks-row.wopbBgPadding.lgR {
		& > .wopb-row-wrapper {
			& > .block-editor-inner-blocks,
			& > .wopb-row-content {
				padding-right: 15px;
			}
		}
	}
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	body .wp-block-product-blocks-row.wopbBgPadding.smL {
		& > .wopb-row-wrapper {
			& > .block-editor-inner-blocks,
			& > .wopb-row-content {
				padding-left: 15px;
			}
		}
	}
	body .wp-block-product-blocks-row.wopbBgPadding.smR {
		& > .wopb-row-wrapper {
			& > .block-editor-inner-blocks,
			& > .wopb-row-content {
				padding-right: 15px;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	body .wp-block-product-blocks-row.wopbBgPadding.xsL {
		& > .wopb-row-wrapper {
			& > .block-editor-inner-blocks,
			& > .wopb-row-content {
				padding-left: 15px;
			}
		}
	}
	body .wp-block-product-blocks-row.wopbBgPadding.xsR {
		& > .wopb-row-wrapper {
			& > .block-editor-inner-blocks,
			& > .wopb-row-content {
				padding-right: 15px;
			}
		}
	}
}
