@import "../utility.scss";

.wopb-builder-dashboard__content {
	width: 100%;
	margin: 0;
	display: grid;
	grid-template-columns: 200px grid(1);
	.wopb-builder-tab__content {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		.wopb-tab__content {
			height: 100%;
		}
	}
}
.wopb-builder-tab__option {
	background: var(--wowstore-popbodyBgBold);
	border: solid 1px #f4ebe9;
	min-height: 100vh;
	border-radius: var(--wowstore-border-radius) 0 0
		var(--wowstore-border-radius);
	ul {
		padding: 0px;
		margin: 0px;
	}
	ul li {
		font-size: var(--wowstore-text-sm-size);
		cursor: pointer;
		color: var(--wowstore-text-color);
		padding: 12px 0px 12px 30px;
		display: flex;
		align-items: center;
		transition: 400ms;
	}
	ul li.active,
	ul li.active * {
		color: var(--wowstore-primary-color);
		background-color: var(--wowstore-white-color);
	}
	ul li:hover,
	ul li:hover * {
		color: var(--wowstore-primary-color);
	}
	ul li img {
		margin-right: 8px;
		height: 20px;
		text-align: left;
	}
	ul li span {
		margin-right: 8px;
		font-size: 24px;
		text-align: left;
		display: block;
		line-height: 1;
		height: auto;
	}
	ul ul li {
		padding-left: 50px;
	}
	.wopb-popup-sync {
		font-size: var(--wowstore-text-sm-size);
		cursor: pointer;
		display: flex;
		align-items: center;
		transition: 400ms;
		padding: 12px 0px 12px 30px;
		margin-bottom: 0;
		color: var(--wowstore-primary-color);
		i {
			margin-right: 4px;
			font-size: 25px;
			height: auto;
			width: auto;
		}
		&:hover,
		&:hover * {
			color: var(--wowstore-primary-color);
		}
	}
}
.wopb-builder-tab__content {
	.wopb-builder-tab__heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 0 20px 30px;
		max-height: 30px;
		.wopb-builder-heading__title {
			span {
				margin-right: 20px;
				padding-right: 20px;
				border-right: 1px solid var(--wowstore-text-color);
				font-size: 18px;
				cursor: pointer;
				color: var(--wowstore-text-color);
				svg {
					height: 12px;
					width: 14px;
					fill: var(--wowstore-text-color);
					margin-right: 5px;
				}
			}
		}
	}
	.wopb-tab__content {
		display: none !important;
		opacity: 0;
		transition: 0.3s;
		padding: 30px;
		background: var(--wowstore-white-color);
		border-radius: 0 var(--wowstore-border-radius)
			var(--wowstore-border-radius) 0;
		box-shadow: 0 1px 2px 0 rgba(147, 42, 30, 0.08);
		&.active {
			display: block !important;
			opacity: 100;
			transition: 0.3s;
		}
		.wopb-template-list__tab {
			@include flex(20);
			.wopb-template-list__wrapper {
				background: var(--wowstore-popbodyBg);
				padding: 15px 20px 15px 20px;
				border-radius: var(--wowstore-border-radius);
				border: solid 1px #f4ebe9;
				.wopb-template-list__heading {
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					gap: 15px;
					justify-content: space-between;
					.wopb-template-list__meta {
						display: flex;
						gap: 15px;
						color: var(--wowstore-text-color);
						& > div {
							font-size: var(--wowstore-text-sm-size);
							font-weight: normal;
							margin: 0px !important;
							& > span {
								font-weight: 600;
								text-transform: capitalize;
							}
						}
					}
					.wopb-template-list__content div {
						display: flex;
						align-items: center;
						justify-content: space-between;
					}
					.wopb-template-list__control {
						display: flex;
						gap: 12px;
						position: relative;
						align-items: center;
						a {
							text-decoration: none;
							font-size: 13px;
							color: var(--wowstore-text-color);
							display: flex;
							align-items: center;
							text-transform: capitalize;
							min-width: 42px;
							span {
								font-size: 12px;
								color: var(--wowstore-text-color);
								height: auto;
							}
							&:hover {
								span {
									color: var(--wowstore-primary-color);
								}
								color: var(--wowstore-primary-color);
							}
						}
						.wopb-builder-dashboard__action {
							line-height: 1.2;
							cursor: pointer;
						}
						.wopb-builder-action__active {
							position: absolute;
							top: 42px;
							cursor: pointer;
							right: -20px;
							padding: 10px 36px;
							background: #faf8f7;
							box-shadow: none;
							border: solid 1px #f4ebe9;
							border-radius: var(--wowstore-border-radius);
							z-index: 9999;
							.dashicons {
								font-size: 18px;
								top: 3px;
								position: relative;
							}
						}
						.status {
							min-width: 56px;
						}
						.wopb-condition__edit {
							padding: 5px 10px;
							border-radius: 2px;
							font-size: 12px;
							border: none;
							color: #fff;
							cursor: pointer;
							background-color: var(--wowstore-text-color);
						}
					}
				}
			}
		}
	}
	$builderItemsCol: grid(3);
	$builderItemsColMd: grid(2);
	$builderItemsColSm: grid(1);
	.wopb-builder-items {
		display: grid;
		gap: 30px;
		grid-template-columns: $builderItemsCol;
		.newScreen {
			border-radius: var(--wowstore-border-radius);
			border: solid 1px #f4ebe9;
			background-color: #fff;
			.listInfo {
				padding: 8px 12px;
				border-bottom: solid 1px #f4ebe9;
				text-transform: capitalize;
				margin-bottom: 12px;
				background: #f3ecee;
			}
			.listOverlays {
				height: 150px;
				img {
					height: 100%;
					object-fit: fill;
				}
			}
		}
	}
}

.premadeScreen {
	.wopb-item-list {
		border-radius: var(--wowstore-border-radius);
		border: solid 1px rgba(147, 42, 30, 0.08);
		background-color: #fff;
		.listInfo {
			padding: 10px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: solid 1px rgba(147, 42, 30, 0.08);
			text-transform: capitalize;
			flex-wrap: wrap;
			row-gap: 10px;
			.title {
				font-size: var(--wowstore-text-sm-size);
				color: var(--wowstore-text-color);
			}
			.btnImport {
				display: flex;
				align-items: center;
				border-radius: var(--wowstore-border-radius);
				background-image: linear-gradient(#18dd5c, #0c8d20);
				padding: 5px 10px;
				color: #fff;
				font-size: 12px;
				svg {
					height: 12px;
					fill: #fff;
					margin-right: 6px;
				}
				span {
					color: #fff;
				}
			}
			.wopb-upgrade-pro-btn {
				font-size: 12px;
				padding: 5px 10px;
			}
		}
		.listOverlay {
			box-sizing: border-box;
			position: relative;
			line-height: 0;
			padding: 10px;
			img {
				border-radius: var(--wowstore-border-radius);
			}
		}
	}
}
.wopb-builder-items .wopb-item-list img {
	width: 100%;
	max-width: 100%;
}
.wopb-item-list {
	position: relative;
}
.wopb-premade-item {
	transition: 0.3s;
	&:hover {
		box-shadow: 1px 5px 15px #f4ebe9;
	}
}
.wopb-list-white-overlay {
	cursor: pointer;
	font-weight: 600;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	top: 16px;
	left: 0;
	position: absolute;
	display: flex;
	align-items: center;
	color: var(--wowstore-primary-color);
	font-size: 14px;
	.dashicons {
		margin-right: 15px;
		font-size: 32px;
		display: block;
		height: auto;
		color: var(--wowstore-primary-color);
	}
}
.wopb-premade-img__blank .wopb-list-white-overlay {
	flex-direction: column;
	gap: 15px;
	font-size: 16px;
}

//
.wopb-condition-wrapper {
	z-index: 100000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.7);
	.wopb-condition-popup {
		max-width: 700px;
		width: 100%;
		position: relative;
		background: var(--wowstore-white-color);
		padding: 40px 60px;
		border-radius: var(--wowstore-border-radius);
		height: fit-content;
		max-height: 90%;
		overflow: unset !important;
		margin: 50px auto 0;

		.wopb-save-close {
			//check
			position: absolute;
			top: 0;
			right: -52px;
			height: 40px;
			width: 40px;
			border-radius: 50%;
			color: #000;
			cursor: pointer;
			border: none;
			padding: 12px;
			background: #fff;
			svg {
				fill: #000;
			}
			transition: 400ms;
			&:hover {
				background: #ff0000;
				svg {
					fill: #fff;
				}
			}
		}
		.wopb-modal-content {
			display: flex;
			gap: 30px;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			position: relative;
			.wopb-condition-wrap {
				height: 450px;
				width: 100%;
				@include flex();
				align-items: center;
				overflow-y: scroll !important;
				-ms-overflow-style: none; /* IE and Edge */
				scrollbar-width: none; /* Firefox */
				&::-webkit-scrollbar {
					display: none;
				}
				.wopb_frequency:first-child {
					margin-bottom: 15px;
				}
				.wopb-condition-items {
					width: calc(700px - 100px);
					margin-top: 20px;
				}
				.btnCondition {
					margin-top: 20px;
					color: #fff;
					border-radius: var(--wowstore-border-radius);
					background-color: var(--wowstore-text-color);
					padding: 8px 16px;
					border: none;
					cursor: pointer;
				}
				.wopb-condition_cancel {
					cursor: pointer;
					position: absolute;
					right: -30px;
					color: #de1010;
					font-size: 24px;
					line-height: 0.7;
					transition: 400ms;
					&:hover {
						color: #c00a0a;
					}
				}
				.wopb-condition-fields,
				.wopb-condition-wrap__field {
					display: flex;
					align-items: center;
					position: relative;
					width: 100%;
				}
				.wopb-condition-wrap__field {
					background: #fff;
					margin-top: 15px;
					border: 1px solid var(--wowstore-border-color);
					border-radius: 2px;
				}
				.wopb-condition-fields {
					padding: 0px;
					select {
						color: var(--wowstore-text-color);
						border: none;
						margin-right: 0;
						padding-top: 7px;
						padding-bottom: 7px;
						border-right: 1px solid var(--wowstore-border-color);
						border-radius: 0;

						&:last-child {
							border-right: none;
							width: 100%;
							max-width: 100%;
						}
					}
				}
				.wopb-condition-dropdown__label {
					display: inline-flex;
					align-items: center;
					background: #7c8084;
					padding: 4px 8px;
					border-radius: 2px;
					color: #fff;
					&::-webkit-scrollbar {
						display: none;
					}
				}
				.wopb-condition-dropdown {
					text-align: left;
					width: 100%;
					display: flex;
					align-items: center;
					position: relative;
					.wopb-condition-text {
						width: 100%;
						display: inline-flex;
						padding: 0 10px 0 10px;
						align-items: center;
						.wopb-condition-arrow {
							// top: 14px;
							// right: 7px;
							font-size: 15px;
							// position: absolute;
							display: inline-block;
							padding-left: 15px;
							line-height: 1.5;
						}
					}
					span {
						cursor: pointer;
					}
					.wopb-dropdown-value__close {
						color: #fff;
						background: #000;
						margin-left: 8px;
						border-radius: 50%;
						font-size: var(--wowstore-text-sm-size);
						line-height: 1;
						height: auto;
						width: auto;
					}
				}
				.wopb-condition-dropdown__default {
					width: 100%;
					display: block;
					padding: 12px 0;
				}
				.wopb-condition-dropdown__content {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					.wopb-condition-arrow {
						top: 3px;
					}
				}

				.wopb-condition-search {
					background: #fff;
					position: absolute;
					left: 0;
					z-index: 1;
					top: 39px;
					width: 100%;
					padding: 10px;
					border-radius: 0;
					box-sizing: border-box;
					border: 1px solid var(--wowstore-border-color);
					input {
						width: 100%;
						border-radius: 2px;
						min-height: 34px;
						border: 1px solid var(--wowstore-border-color);
					}
					li {
						cursor: pointer;
						text-align: left;
						margin-bottom: 12px;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
			.wopb-save-condition {
				width: 100%;
				font-size: var(--wowstore-text-sm-size);
				position: sticky;
				bottom: 0;
				color: #fff;
				padding: 15px;
				cursor: pointer;
				span {
					font-size: 17px;
					margin-left: 4px;
					color: #fff;
				}
				background: linear-gradient(180deg, #ff176b, transparent)
					#fd2560;
				border-radius: var(--wowstore-border-radius);
				text-decoration: none;
				border: none;
				transition: background-color 400ms;
				&:hover {
					background-color: var(--wowstore-primary-color);
				}
			}
		}
	}
}

// new ones
.wopb-builder-items .wopb-premade-img__blank {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}
.wopb-premade-img__blank img {
	max-height: 395px;
}
.wopb-list-blank-img {
	min-height: 450px;
	img {
		opacity: 0.1;
	}
}
.wopb-list-blank-img a {
	text-decoration: none !important;
}

@media only screen and (max-width: 1100px) {
	.wopb-settings-tab li.current a:after,
	.wopb-settings-tab li a:hover:after {
		opacity: 0;
	}
	.wopb-builder-dashboard__content {
		gap: 20px;
		grid-template-columns: 150px grid(1);
		.wopb-builder-tab__option {
			min-width: 170px;
			width: fit-content;
			min-height: fit-content;
		}
	}
	.wopb-builder-tab__content .wopb-builder-items {
		grid-template-columns: grid(2);
	}
}
@media only screen and (max-width: 767px) {
	.wopb-builder-dashboard {
		overflow-x: scroll;
	}
	.wopb-templatekit-layout-search-container {
		padding: 5px;
	}
	.wopb-templatekit-search-container {
		column-gap: 0;
	}
}
