.wp-block-product-blocks-product-stock p,
.editor-styles-wrapper .wp-block-product-blocks-product-stock p {
	margin: 0;
}
.wp-block-product-blocks-product-stock {
	.wopb-product-wrapper {
		transition: 300ms;
	}
	.stockProgressBar-false {
		.wopb-stock-progress-bar-section {
			display: none;
		}
	}
}
