// Drag and Drop File Uploader

$font-size-base: 14px;
$color-base: #343a46;
$color-primary: var(--wowstore-primary-color);
$color-secondary: #575a5d;
$padding-base: 10px;
$background-color-base: #efefef;
$line-height-base: 28px;
$font-weight-base: 500;

.wopb_drag_drop_file_upload {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

input#wopb_file_upload {
	opacity: 0;
	height: 0px;
	width: 0px;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 50%;
	right: 50%;
}

.wopb_drag_drop_file_upload__content_wrapper {
	border-radius: 4px;
	width: fit-content;
	border: dotted 1px var(--wowstore-border-color);
	background-color: #fff;
	padding: 20px 80px;
	align-items: center;
	justify-content: center;
	display: flex;
	font-weight: $font-weight-base;
}

.wopb_cloud_upload_icon {
	font-size: 40px;
	line-height: $line-height-base;
	width: 40px;
	height: 35px;
	color: #3b414d;
}

.wopb_drag_drop_file_upload__content {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	color: $color-secondary;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

.wopb_file_upload__drag_active {
	background-color: #e5e5e5 !important;
}

.wopb_link_text {
	color: $color-primary;
}
//----- Drag and Drop File Upload
