.wp-block-product-blocks-social-share {
	.wopb-share-layout {
		display: flex;
		align-items: center;

		.wopb-share-item {
			display: block;
			margin: 5px;
		}
	}

	.wopb-share-item {
		height: fit-content;

		a {
			display: flex !important;
			align-items: center;
			text-decoration: none !important;

			&:hover {
				span {
					color: #ddd;
				}

				svg {
					fill: #ddd;
				}
			}
		}
		.wopb-share-item-icon {
			line-height: 0;
		}
	}

	.wopb-share-item-label {
		color: white;
		white-space: nowrap;
		margin: 0 0 0 8px !important;
	}

	.wopb-share-more-section {
		display: -webkit-inline-box;
		height: fit-content;

		a {
			display: block;
			margin-right: 5px;
		}

		img {
			width: 30px;
		}
	}

	.wopb-share-count-section {
		width: fit-content;
		height: fit-content;
		word-break: normal;
		margin-right: 15px;
		display: flex;
		align-items: center;
	}

	.wopb-share-item-icon {
		svg {
			fill: #fff;
		}

		img {
			height: 25px;
			width: 25px;
			margin-right: 8px;
		}
	}

	.wopb-share-icon-section {
		svg {
			height: 24px;
		}

		img {
			width: 23px;
		}
	}

	.wopb-sort-items .components-base-control {
		margin-bottom: unset;
	}

	.wopb-share .block-editor-block-list__block {
		display: flex;
		width: unset !important;
	}

	.wopb-share .block-editor-block-list__block:empty {
		display: none;
	}

	// .hide_item { // html not found
	//   display: none !important;
	// }

	.wopb-share-item-inner-block {
		display: block;
		flex-wrap: wrap;
		height: fit-content;
	}

	.wopb-share-count-section-style1,
	.wopb-share-count-section-style3 {
		position: relative;
		text-align: center;
		padding: 2.5px 23.2px 5.5px 14px;
		border: solid 1px #070c1a;
		border-radius: 11px;

		span {
			display: block;
		}
	}

	.wopb-share-count-section-style1 {
		&::after {
			content: " ";
			height: 15px;
			width: 15px;
			display: inline-block;
			border-top: 1px solid #000;
			border-right: 1px solid #000;
			transform: rotate(44deg);
			position: absolute;
			right: -6px;
			border-radius: 1px 0 1px 0;
		}
	}

	.wopb-share-count-section-style2 {
		line-height: 0;
	}

	.wopb-share-count-section-style3 {
		border-radius: 2px !important;
		border: none !important;

		&::after {
			border-color: transparent !important;
		}
	}

	.wopb-share-count-section-style3 {
		margin-bottom: 10px;
	}

	.wopb-share-count-section-style4 {
		&::after {
			display: none;
		}

		span {
			margin-right: 10px;
		}
	}

	.wopb-inline-false {
		display: inline-block !important;

		.wopb-share-item {
			width: fit-content;
		}
	}

	.wopb-inline-false {
		.wopb-share-count-section-style1:after {
			right: 40%;
			bottom: -9px;
			transform: rotate(136deg);
			top: auto;
		}

		.wopb-share-count-section-style1 {
			margin-bottom: 15px;
		}
	}

	.wopb-inline-true .wopb-share-item-inner-block {
		display: flex !important;
	}
}
