.wp-block-product-blocks-currency-switcher {
	&.wopb-block-loading {
		opacity: 0.2;
	}
}
.editor-styles-wrapper {
	.wp-block-product-blocks-currency-switcher {
		&.wopb-block-loading {
			opacity: 1;
		}
	}
}
.wopb-currency-switcher-prefixText {
	margin-bottom: 12px;
}
.wopb-currency-switcher-container {
	width: -webkit-fill-available;
	cursor: pointer;
	position: relative;
	.wopb-currency-arrow {
		box-sizing: border-box;
		pointer-events: none;
		transition: transform linear 0.4s;
		&::before {
			content: "";
			display: block;
			box-sizing: border-box;
			border-bottom: 2px solid;
			border-right: 2px solid;
			transform: rotate(45deg);
			transition: 0.4s;
			margin-top: -3px;
		}
	}
	&.open .wopb-currency-arrow {
		transform: rotate(180deg);
	}
	.wopb-selected-currency {
		display: flex;
		align-items: center;
	}
	.wopb-selected-currency-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}
	.wopb-set-default-currency {
		overflow: hidden;
		z-index: 999;
		position: absolute;
		width: 100%;
		margin-top: 8px;
		padding: 0px;
	}
	.wopb-select-container {
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin: 0px;
		padding: 12px;
		width: 100%;
		li {
			cursor: pointer;
			min-width: 150px;
			list-style: none;
			display: flex;
			align-items: center;
			&.hide-currency {
				display: none;
			}
		}
	}
}
.wopb-currency-switcher-container-pro-message {
	color: #d46d17;
	font-size: 26px;
	border: 1px solid #d29d3a;
	padding: 10px 30px;
	border-radius: 4px;
	background: #d1e4f6;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}
