.wopb-product-wrapper .wopb-cart-total {
	position: unset !important;
	width: auto !important;
	margin-top: 0px;
	float: unset;
	background-color: unset;
	h2 {
		display: none;
	}
	table td,
	table th {
		vertical-align: middle;
		padding: 0px;
		background-color: unset;
	}
	ul {
		list-style-type: none;
	}
	.wc-proceed-to-checkout {
		button {
			line-height: unset;
		}
		text-align: center;
		text-align: -webkit-center;
		margin-bottom: 0px;
		padding: 0px;
	}
	.checkout-button {
		position: unset;
		width: 100%;
		text-align: center;
		margin-bottom: 0px !important;
	}
	.shop_table tbody {
		tr.order-total {
			position: unset;
			filter: unset;
		}
		tr,
		th,
		td {
			display: revert;
		}
		tr td {
			text-align: right;
			width: 55%;

			&:before {
				display: none;
			}
		}
		ul {
			margin: 0;
		}
	}

	.wopb-cart-total-section {
		table {
			border-collapse: collapse;
			width: 100%;
			border: none;
			margin-bottom: 15px;
		}
		.wc-proceed-to-checkout .checkout-button {
			box-sizing: border-box;
		}
	}
	tr:last-child {
		border-bottom: none;
		th,
		td {
			border-bottom: none;
		}
	}
	.woocommerce-shipping-calculator {
		margin-bottom: 10px;
	}
	.wc-forward::after {
		display: none !important;
	}
	.shipping-calculator-form {
		border: 1px solid black;
		padding: 10px;
		border-radius: 4px;
	}
	.selection .select2-selection--single,
	.shipping-calculator-form input {
		background-color: initial;
		border: 1px solid #000;
		border-radius: 4px;
		text-align: left;
		min-height: 50px;
		padding: 6px !important;
		font-weight: inherit;
	}
	.shipping-calculator-form button {
		background-color: #000;
		color: #fff;
		border-radius: 4px;
	}
}

// Astra Theme
.wopb-builder-container {
	width: 100%;
	.wp-container-3 {
		padding: 0px;
	}
}
.theme-astra {
	.wopb-product-wrapper {
		*,
		:after,
		:before {
			box-sizing: inherit;
		}
	}
	.wopb-cart-table-wrapper,
	.wopb-cart-total,
	.wopb-free-progress-bar-section {
		*,
		:after,
		:before {
			box-sizing: border-box;
		}
	}
}
