//font family star font support
@font-face {
	font-family: "star";
	src: url("../fonts/star.eot");
	src:
		url("../fonts/star.eot?#iefix") format("embedded-opentype"),
		url("../fonts/star.woff") format("woff"),
		url("../fonts/star.ttf") format("truetype"),
		url("../fonts/star.svg#star") format("svg");
}

// variable
$pColor: #ff176b;
$sColor: #e63838;

// Store front Theme Support
.hentry
	.entry-content
	.wopb-block-wrapper
	a:not(.button):not(.components-button) {
	text-decoration: none;
}

.home.storefront-align-wide.page-template-template-fullwidth
	.hentry
	.entry-content
	> .wp-block-cover.alignfull,
.home.storefront-align-wide.page-template-template-fullwidth
	.hentry
	.entry-content
	> .wp-block-image.alignfull {
	margin-top: 0;
}

.home.storefront-align-wide.page-template-template-fullwidth
	.hentry
	.entry-content
	> .wp-block-cover.alignfull:first-child,
.home.storefront-align-wide.page-template-template-fullwidth
	.hentry
	.entry-content
	> .wp-block-image.alignfull:first-child {
	margin-top: -4.235801032em;
}

.home.page-template-template-fullwidth .hentry .entry-content > .wp-block-cover,
.home.page-template-template-fullwidth
	.hentry
	.entry-content
	> .wp-block-image {
	margin-bottom: 0;
}

.home.page-template-template-fullwidth
	.hentry
	.entry-content
	> .wp-block-cover:first-child,
.home.page-template-template-fullwidth
	.hentry
	.entry-content
	> .wp-block-image:first-child {
	margin-bottom: 0;
}

.wopb-block-wrapper a:focus,
.wopb-block-wrapper input:focus,
.wopb-block-wrapper textarea:focus,
.wopb-block-wrapper button:focus {
	outline: 0;
}

.slick-slide {
	height: auto;
	& > div {
		height: 100%;
	}
	&.slick-active {
		opacity: 1;
	}
}

.wopb-block-row {
	display: -ms-grid;
	display: grid;
}

.theme-kadence .wopb-block-item .wopb-star-rating::before {
	content: "\e900\e900\e900\e900\e900";
}

.theme-kadence .wopb-block-item .wopb-star-rating span::before {
	content: "\e901\e901\e901\e901\e901";
}

.wopb-star-rating {
	display: inline-block;
	margin: 0;
	float: none;
	overflow: hidden;
	position: relative;
	font-size: 12px;
	width: fit-content;
	font-family: "star", serif;
	&:before {
		content: "\73\73\73\73\73";
		color: #d3ced2;
		float: left;
		display: contents;
	}
	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
		&:before {
			content: "\53\53\53\53\53";
			top: 0;
			position: absolute;
			left: 0;
		}
		strong {
			display: block;
		}
	}
}

// Filter
.wopb-heading-filter {
	position: relative;
	.wopb-filter-navigation {
		position: absolute;
		top: 0;
		height: 100%;
		right: 0;
		margin: auto 0px 0 200px;
		opacity: 1;
		z-index: 3;
		text-align: right;
		display: flex;
		align-items: center;
	}
	.wopb-next-prev-wrap {
		margin-left: 20px;
	}
}
// theme-twentytwentytwo issue
.theme-twentytwentytwo .wopb-heading-filter {
	.wopb-filter-navigation {
		height: auto;
	}
}

/* flex menu */
.flexMenu-viewMore {
	position: relative;
	> a {
		position: relative;
		display: flex !important;
		align-items: center;
		padding-right: 15px;
		&:before {
			content: "";
			position: absolute;
			border-style: solid;
			border-color: black;
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 3px;
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			right: -1px;
			margin-bottom: 2px;
			transition: 400ms;
		}
	}
	&.active {
		> a {
			&:before {
				transform: rotate(-135deg);
				-webkit-transform: rotate(-135deg);
				margin-bottom: -5px;
			}
		}
	}
}

.wopb-filter-wrap {
	.wopb-flex-menu {
		margin-bottom: 0 !important;
		margin-top: 0 !important;
		margin-left: 0 !important;
		padding-left: 0 !important;
	}
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			display: inline-block;
			position: relative;
			&:first-child {
				margin-left: 0 !important;
			}
			.dashicons {
				font-size: 14px;
				width: auto;
				height: auto;
				vertical-align: baseline;
			}
			a {
				display: inline-block;
				transition: 400ms;
				text-decoration: none;
				&:hover {
					text-decoration: none;
				}
			}
			&.filter-dropdown-item {
				position: relative;
				> a {
					padding-left: 15px;
					display: flex;
					align-items: center;
					.dashicons {
						margin-left: 3px;
					}
				}
				.filter-dropdown {
					position: absolute;
					right: 0;
					top: 100%;
					background-color: #fff;
					min-width: 120px;
					z-index: 999;
					box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
					display: block;
					padding: 10px 15px 10px;
					display: none;
					li {
						display: block;
					}
				}
				&:hover {
					.filter-dropdown {
						display: block;
					}
				}
			}
			.flexMenu-popup {
				text-align: left;
				right: 0;
				box-shadow: 0 2px 12px -4px rgba(0, 0, 0, 0.24);
				margin: 5px 0 0;
				width: 170px;
				li {
					display: block;
					margin-left: 0;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.wopb-heading-filter .wopb-filter-navigation {
		position: relative;
		margin: auto 0 10px;
		height: auto;
	}
}

//Heading
.wopb-heading-inner {
	span {
		display: inline-block;
	}
}

//style 2
.wopb-heading-style2 {
	.wopb-heading-inner {
		span {
			padding: 3px 12px;
		}
	}
}

//style 3
.wopb-heading-style3 {
	.wopb-heading-inner {
		border-bottom-style: solid;
		span {
			padding: 3px 12px;
		}
	}
}
//style 4
.wopb-heading-style4 {
	.wopb-heading-inner {
		border-style: solid;
		span {
			padding: 3px 12px;
		}
	}
}

//style 5
.wopb-heading-style5 {
	.wopb-heading-inner {
		span {
			position: relative;
			padding: 3px 12px;
			&:before {
				margin: 0;
				content: "";
				position: absolute;
				top: 100%;
				left: 10px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 7px 7px 0 7px;
				border-color: #2c2d2f transparent transparent transparent;
			}
		}
	}
	&.wopb-heading-center {
		.wopb-heading-inner {
			span {
				&:before {
					left: 50%;
					margin-left: -3px;
				}
			}
		}
	}
	&.wopb-heading-right {
		.wopb-heading-inner {
			span {
				&:before {
					right: 10px;
					left: auto;
				}
			}
		}
	}
}

//style 6
.wopb-heading-style6 {
	.wopb-heading-inner {
		span {
			position: relative;
			padding: 0 12px;
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				margin: 0;
			}
		}
	}
	&.wopb-heading-right {
		.wopb-heading-inner {
			span {
				&:before {
					right: 0;
					left: auto;
				}
			}
		}
	}
}

//style 7
.wopb-heading-style7 {
	.wopb-heading-inner {
		position: relative;
		overflow: hidden;
		span {
			position: relative;
			padding-right: 12px;
			padding-left: 12px;
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				margin-top: 0;
				width: 2000px;
				left: 100%;
				margin: 0;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				margin-top: 0;
				width: 2000px;
				right: 100%;
				// margin-right: 12px;
			}
		}
	}
	&.wopb-heading-right {
		.wopb-heading-inner {
			span {
				padding-right: 0;
				padding-left: 12px;
				&:before {
					right: 100%;
					left: auto;
				}
			}
		}
	}
}

//style 8
.wopb-heading-style8 {
	.wopb-heading-inner {
		position: relative;
		span {
			padding-bottom: 8px;
		}
		&:before {
			content: "";
			width: 100%;
			position: absolute;
			top: 100%;
			left: 0;
			margin: 0;
		}
		&:after {
			content: "";
			width: 50px;
			position: absolute;
			top: 100%;
			left: 0;
		}
	}
	&.wopb-heading-center {
		.wopb-heading-inner {
			&:after {
				left: 50%;
				margin-left: -25px;
			}
		}
	}
	&.wopb-heading-right {
		.wopb-heading-inner {
			&:after {
				left: auto;
				right: 0;
			}
		}
	}
}

//style 9
.wopb-heading-style9 {
	.wopb-heading-inner {
		position: relative;
		&:before {
			content: "";
			width: 100%;
			position: absolute;
			top: 100%;
			left: 0;
			margin: 0;
		}
	}
}

//style 10
.wopb-heading-style10 {
	.wopb-heading-inner {
		position: relative;
		span {
			padding-top: 8px;
			padding-bottom: 8px;
		}
		&:before {
			content: "";
			width: 100%;
			position: absolute;
			left: 0;
			top: 100%;
			margin: 0;
		}
		&:after {
			content: "";
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 100%;
		}
	}
}

//style 11
.wopb-heading-style11 {
	position: relative;
	.wopb-heading-inner {
		position: relative;
	}
	.wopb-heading-btn {
		position: absolute;
		right: 0;
		top: 50%;
		margin: auto 0;
		display: table;
		text-decoration: none;
		line-height: 1;
		font-size: 14px;
		margin-top: -8px;
		transition: 400ms;
		svg {
			width: 16px;
			margin-left: 8px;
			vertical-align: middle;
			display: inline-block;
		}
		&:hover {
			text-decoration: none;
		}
		i {
			margin-left: 6px;
			width: auto;
			height: auto;
			font-size: inherit;
			transition: 400ms;
		}
	}
	&.wopb-heading-right {
		.wopb-heading-btn {
			right: auto;
			left: 0;
		}
	}
}

//style 12
.wopb-heading-style12 {
	position: relative;
	.wopb-heading-inner {
		span {
			padding: 3px 12px;
		}
	}
}

//style 13
.wopb-heading-style13 {
	position: relative;
	.wopb-heading-inner {
		border-style: solid;
		span {
			padding: 3px 12px;
		}
	}
}

//style 14
.wopb-heading-style14 {
	position: relative;
	.wopb-heading-inner {
		position: relative;
		&:before {
			content: "";
			width: 100%;
			position: absolute;
			left: 0;
			bottom: -12px;
			margin: 0;
		}
		&:after {
			content: "";
			width: 100%;
			position: absolute;
			left: 0;
			bottom: -8px;
		}
	}
}

//style 15
.wopb-heading-style15 {
	.wopb-heading-inner {
		span {
			position: relative;
			padding-bottom: 5px;
			&:before {
				content: "";
				z-index: 10;
				position: absolute;
				bottom: -2px;
				left: 0;
				width: 40px;
				margin: 0;
			}
		}
	}
	&.wopb-heading-center {
		.wopb-heading-inner {
			span {
				&:before {
					left: 50%;
					margin-left: -20px;
				}
			}
		}
	}
	&.wopb-heading-right {
		.wopb-heading-inner {
			span {
				&:before {
					left: auto;
					right: 0;
				}
			}
		}
	}
}

//style 16
.wopb-heading-style16 {
	.wopb-heading-inner {
		span {
			position: relative;
			padding-right: 12px;
			&:before {
				position: absolute;
				content: "";
				width: 50px;
				top: 50%;
				left: 100%;
				margin-top: -1px;
				margin: 0;
			}
		}
	}
	&.wopb-heading-right {
		.wopb-heading-inner {
			span {
				padding-right: 0;
				padding-left: 12px;
				&:before {
					left: auto;
					right: 100%;
				}
			}
		}
	}
}

//style 17
.wopb-heading-style17 {
	.wopb-heading-inner {
		position: relative;
		span {
			padding-top: 8px;
		}
		&:before {
			right: 0;
			left: 0;
			content: "";
			display: block;
			position: absolute;
			top: 0;
			width: 100%;
			margin: 0;
		}
	}
}

//style 18
.wopb-heading-style18 {
	.wopb-heading-inner {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
		}
		span {
			padding: 3px 12px;
		}
	}
	&.wopb-heading-right {
		.wopb-heading-inner {
			&:after {
				right: 0;
				left: auto;
			}
		}
	}
}
//style 19
.wopb-heading-style19 {
	.wopb-heading-inner {
		position: relative;
		&:before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			right: 0;
			border-width: 1px;
			border-style: solid;
			margin: 0;
		}
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 4px;
			height: 100%;
		}
		span {
			padding: 3px 12px;
			position: relative;
		}
	}
	&.wopb-heading-right {
		.wopb-heading-inner {
			&:after {
				right: 0;
				left: auto;
			}
		}
	}
}

//style 20
.wopb-heading-style20 {
	.wopb-heading-inner {
		span {
			position: relative;
			padding: 3px 12px;
			&:before {
				content: "";
				position: absolute;
				top: 100%;
				left: 15px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 5px 5px 0 5px;
				margin: 0;
			}
		}
	}
	&.wopb-heading-center {
		.wopb-heading-inner {
			span {
				&:before {
					left: 50%;
					margin-left: -3px;
				}
			}
		}
	}
	&.wopb-heading-right {
		.wopb-heading-inner {
			span {
				&:before {
					right: 15px;
					left: auto;
				}
			}
		}
	}
}

// Category
.wopb-cat-topRight {
	right: 0;
	top: 0;
}
.wopb-cat-topLeft {
	left: 0;
	top: 0;
}
.wopb-cat-bottomLeft {
	bottom: 0;
}
.wopb-cat-bottomRight {
	bottom: 0;
	right: 0;
}
.wopb-cat-centerCenter {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	align-self: center;
}
.wopb-category-grid {
	line-height: 1;
	font-size: 12px;
	align-self: center;
	a {
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		display: inline-block;
		margin-right: 5px;
		margin-bottom: 0;
		outline: 0;
	}
}
.wopb-block-image {
	position: relative;
	font-size: 0;
	line-height: normal;
	img {
		display: initial;
		width: 100%;
		height: 100%;
	}
	.wopb-category-grid {
		position: absolute;
		z-index: 2;
	}
}

//empty Image
.wopb-block-image-empty {
	background: #454545;
}

//image
.wopb-block-items-wrap {
	backface-visibility: hidden;
}
.wopb-block-items-wrap
	> .wopb-block-item
	> .wopb-block-content-wrap
	> .wopb-block-image.wopb-block-image-zoomIn,
.wopb-block-items-wrap
	> .wopb-block-item
	> .wopb-block-content-wrap
	> .wopb-block-image.wopb-block-image-roateLeft,
.wopb-block-items-wrap
	> .wopb-block-item
	> .wopb-block-content-wrap
	> .wopb-block-image.wopb-block-image-rotateRight,
.wopb-block-items-wrap
	> .wopb-block-item
	> .wopb-block-content-wrap
	> .wopb-block-image.wopb-block-image-opacity,
.wopb-block-items-wrap
	> .wopb-block-item
	> .wopb-block-content-wrap
	> .wopb-block-image.wopb-block-image-zoomOut,
.wopb-block-items-wrap
	> .wopb-block-item.wopb-block-media
	> .wopb-block-image.wopb-block-image-zoomIn,
.wopb-block-items-wrap
	> .wopb-block-item.wopb-block-media
	> .wopb-block-image.wopb-block-image-roateLeft,
.wopb-block-items-wrap
	> .wopb-block-item.wopb-block-media
	> .wopb-block-image.wopb-block-image-rotateRight,
.wopb-block-items-wrap
	> .wopb-block-item.wopb-block-media
	> .wopb-block-image.wopb-block-image-opacity,
.wopb-block-items-wrap
	> .wopb-block-item.wopb-block-media
	> .wopb-block-image.wopb-block-image-zoomOut {
	img {
		-webkit-transition: 400ms;
		transition: 400ms;
	}
}
.wopb-block-image {
	overflow: hidden;
	&.wopb-block-image-zoomIn,
	&.wopb-block-image-roateLeft,
	&.wopb-block-image-rotateRight,
	&.wopb-block-image-opacity,
	&.wopb-block-image-zoomOut {
		overflow: hidden;
		img {
			-webkit-transition: opacity 400ms ease-in-out;
			transition: opacity 400ms ease-in-out;
		}
	}
	&.wopb-block-image-zoomIn {
		img {
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}
	&.wopb-block-image-zoomOut {
		img {
			-webkit-transform: scale(1.3);
			transform: scale(1.3);
		}
	}
	&.wopb-block-image-roateLeft {
		img {
			-webkit-transform: rotate(0deg) scale(1);
			transform: rotate(0deg) scale(1);
		}
	}
	&.wopb-block-image-rotateRight {
		img {
			-webkit-transform: rotate(0deg) scale(1);
			transform: rotate(0deg) scale(1);
		}
	}
	&.wopb-block-image-opacity {
		img {
			opacity: 1;
		}
	}

	&.wopb-block-image-overlay {
		> a {
			&:before {
				bottom: 0;
				content: "";
				display: block;
				width: 100%;
				position: absolute;
				z-index: 1;
			}
		}
		&.wopb-block-image-custom {
			> a {
				&:before {
					height: 100%;
				}
			}
		}
		&.wopb-block-image-default {
			> a {
				&:before {
					background-color: #000;
					opacity: 0.6;
					height: 100%;
				}
			}
		}
		&.wopb-block-image-simgleGradient {
			> a {
				&:before {
					background: -webkit-gradient(
						linear,
						left top,
						left bottom,
						color-stop(30%, rgba(0, 0, 0, 0.4)),
						to(rgba(0, 0, 0, 0))
					);
					background: -webkit-linear-gradient(
						top,
						rgba(0, 0, 0, 0.4) 20%,
						rgba(0, 0, 0, 0) 90%
					);
					background: -o-linear-gradient(
						top,
						rgba(0, 0, 0, 0.4) 20%,
						rgba(0, 0, 0, 0) 90%
					);
					background: linear-gradient(
						to bottom,
						rgba(0, 0, 0, 0.4) 20%,
						rgb(0, 0, 0) 90%
					);
					opacity: 0.6;
					height: 100%;
				}
			}
		}
		&.wopb-block-image-multiColour {
			> a {
				&:before {
					opacity: 0.75;
					-webkit-box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.4);
					-moz-box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.4);
					box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.4);
					height: 100%;
					background: #d760b7;
					background: -moz-linear-gradient(
						-45deg,
						#d760b7 0%,
						#3b78b4 100%
					);
					background: -webkit-gradient(
						left top,
						right bottom,
						color-stop(0%, #d760b7),
						color-stop(100%, #3b78b4)
					);
					background: -webkit-linear-gradient(
						-45deg,
						#d760b7 0%,
						#3b78b4 100%
					);
					background: -o-linear-gradient(
						-45deg,
						#d760b7 0%,
						#3b78b4 100%
					);
					background: -ms-linear-gradient(
						-45deg,
						#d760b7 0%,
						#3b78b4 100%
					);
					background: linear-gradient(
						135deg,
						#d760b7 0%,
						#3b78b4 100%
					);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d760b7', endColorstr='#3b78b4', GradientType=1);
				}
			}
		}
		&.wopb-block-image-flat {
			> a {
				&:before {
					opacity: 0.8;
					height: 100%;
					background: #292484;
					background: -moz-linear-gradient(
						20deg,
						#292484 0%,
						#dc4225 100%
					);
					background: -webkit-gradient(
						left bottom,
						right top,
						color-stop(0%, #292484),
						color-stop(100%, #dc4225)
					);
					background: -webkit-linear-gradient(
						20deg,
						#292484 0%,
						#dc4225 100%
					);
					background: -o-linear-gradient(
						20deg,
						#292484 0%,
						#dc4225 100%
					);
					background: -ms-linear-gradient(
						20deg,
						#292484 0%,
						#dc4225 100%
					);
					background: linear-gradient(
						20deg,
						#292484 0%,
						#dc4225 100%
					);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292484', endColorstr='#dc4225', GradientType=1);
				}
			}
		}
		&.wopb-block-image-multiColour1,
		&.wopb-block-image-flat1 {
			> a {
				&:before {
					background: #4db2ec;
					background: -moz-linear-gradient(
						45deg,
						#4db2ec 0%,
						#4a8f5e 100%
					);
					background: -webkit-gradient(
						left bottom,
						right top,
						color-stop(0%, #4db2ec),
						color-stop(100%, #4a8f5e)
					);
					background: -webkit-linear-gradient(
						45deg,
						#4db2ec 0%,
						#4a8f5e 100%
					);
					background: -o-linear-gradient(
						45deg,
						#4db2ec 0%,
						#4a8f5e 100%
					);
					background: -ms-linear-gradient(
						45deg,
						#4db2ec 0%,
						#4a8f5e 100%
					);
					background: linear-gradient(
						45deg,
						#4db2ec 0%,
						#4a8f5e 100%
					);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4db2ec', endColorstr='#4a8f5e', GradientType=1);
				}
			}
		}
		&.wopb-block-image-multiColour2,
		&.wopb-block-image-flat2,
		&.wopb-block-image-flat9,
		&.wopb-block-image-multiColour9 {
			> a {
				&:before {
					background: #d17646;
					background: -moz-linear-gradient(
						45deg,
						#d17646 0%,
						#c63939 100%
					);
					background: -webkit-gradient(
						left bottom,
						right top,
						color-stop(0%, #d17646),
						color-stop(100%, #c63939)
					);
					background: -webkit-linear-gradient(
						45deg,
						#d17646 0%,
						#c63939 100%
					);
					background: -o-linear-gradient(
						45deg,
						#d17646 0%,
						#c63939 100%
					);
					background: -ms-linear-gradient(
						45deg,
						#d17646 0%,
						#c63939 100%
					);
					background: linear-gradient(
						45deg,
						#d17646 0%,
						#c63939 100%
					);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d17646', endColorstr='#c63939', GradientType=1);
				}
			}
		}
		&.wopb-block-image-multiColour3,
		&.wopb-block-image-flat3,
		&.wopb-block-image-flat10,
		&.wopb-block-image-multiColour10 {
			> a {
				&:before {
					background: #d760b7;
					background: -moz-linear-gradient(
						-45deg,
						#d760b7 0%,
						#3b78b4 100%
					);
					background: -webkit-gradient(
						left top,
						right bottom,
						color-stop(0%, #d760b7),
						color-stop(100%, #3b78b4)
					);
					background: -webkit-linear-gradient(
						-45deg,
						#d760b7 0%,
						#3b78b4 100%
					);
					background: -o-linear-gradient(
						-45deg,
						#d760b7 0%,
						#3b78b4 100%
					);
					background: -ms-linear-gradient(
						-45deg,
						#d760b7 0%,
						#3b78b4 100%
					);
					background: linear-gradient(
						135deg,
						#d760b7 0%,
						#3b78b4 100%
					);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d760b7', endColorstr='#3b78b4', GradientType=1);
				}
			}
		}
		&.wopb-block-image-multiColour4,
		&.wopb-block-image-flat4,
		&.wopb-block-image-flat11,
		&.wopb-block-image-multiColour11 {
			> a {
				&:before {
					background: #d760b7;
					background: -moz-linear-gradient(
						-45deg,
						#d760b7 0%,
						#3b78b4 100%
					);
					background: -webkit-gradient(
						left top,
						right bottom,
						color-stop(0%, #d760b7),
						color-stop(100%, #3b78b4)
					);
					background: -webkit-linear-gradient(
						-45deg,
						#d760b7 0%,
						#3b78b4 100%
					);
					background: -o-linear-gradient(
						-45deg,
						#d760b7 0%,
						#3b78b4 100%
					);
					background: -ms-linear-gradient(
						-45deg,
						#d760b7 0%,
						#3b78b4 100%
					);
					background: linear-gradient(
						135deg,
						#d760b7 0%,
						#3b78b4 100%
					);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d760b7', endColorstr='#3b78b4', GradientType=1);
				}
			}
		}
		&.wopb-block-image-multiColour5,
		&.wopb-block-image-flat5,
		&.wopb-block-image-flat12,
		&.wopb-block-image-multiColour12 {
			> a {
				&:before {
					background: #0016be;
					background: -moz-linear-gradient(
						20deg,
						#0016be 0%,
						#2aec74 100%
					);
					background: -webkit-gradient(
						left bottom,
						right top,
						color-stop(0%, #0016be),
						color-stop(100%, #2aec74)
					);
					background: -webkit-linear-gradient(
						20deg,
						#0016be 0%,
						#2aec74 100%
					);
					background: -o-linear-gradient(
						20deg,
						#0016be 0%,
						#2aec74 100%
					);
					background: -ms-linear-gradient(
						20deg,
						#0016be 0%,
						#2aec74 100%
					);
					background: linear-gradient(
						20deg,
						#0016be 0%,
						#2aec74 100%
					);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0016be', endColorstr='#2aec74', GradientType=1);
				}
			}
		}
		&.wopb-block-image-multiColour6,
		&.wopb-block-image-flat6,
		&.wopb-block-image-flat14,
		&.wopb-block-image-multiColour13 {
			> a {
				&:before {
					background: #e0be00;
					background: -moz-linear-gradient(
						20deg,
						#e0be00 0%,
						#dc4225 100%
					);
					background: -webkit-gradient(
						left bottom,
						right top,
						color-stop(0%, #e0be00),
						color-stop(100%, #dc4225)
					);
					background: -webkit-linear-gradient(
						20deg,
						#e0be00 0%,
						#dc4225 100%
					);
					background: -o-linear-gradient(
						20deg,
						#e0be00 0%,
						#dc4225 100%
					);
					background: -ms-linear-gradient(
						20deg,
						#e0be00 0%,
						#dc4225 100%
					);
					background: linear-gradient(
						20deg,
						#e0be00 0%,
						#dc4225 100%
					);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0be00', endColorstr='#dc4225', GradientType=1);
				}
			}
		}
		&.wopb-block-image-multiColour8,
		&.wopb-block-image-multiColour14 {
			> a {
				&:before {
					background: #292484;
					background: -moz-linear-gradient(
						20deg,
						#292484 0%,
						#dc4225 100%
					);
					background: -webkit-gradient(
						left bottom,
						right top,
						color-stop(0%, #292484),
						color-stop(100%, #dc4225)
					);
					background: -webkit-linear-gradient(
						20deg,
						#292484 0%,
						#dc4225 100%
					);
					background: -o-linear-gradient(
						20deg,
						#292484 0%,
						#dc4225 100%
					);
					background: -ms-linear-gradient(
						20deg,
						#292484 0%,
						#dc4225 100%
					);
					background: linear-gradient(
						20deg,
						#292484 0%,
						#dc4225 100%
					);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292484', endColorstr='#dc4225', GradientType=1);
				}
			}
		}
	}
}

.wopb-block-item:hover {
	.wopb-block-image-zoomIn {
		img {
			-webkit-transform: scale(1.3);
			transform: scale(1.3);
		}
	}
	.wopb-block-image-zoomOut {
		img {
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}
	.wopb-block-image-roateLeft {
		img {
			-webkit-transform: rotate(5deg) scale(1.3);
			transform: rotate(5deg) scale(1.3);
		}
	}
	.wopb-block-image-rotateRight {
		img {
			-webkit-transform: rotate(-5deg) scale(1.3);
			transform: rotate(-5deg) scale(1.3);
		}
	}
	.wopb-block-image-opacity {
		img {
			opacity: 0.5;
		}
	}
}

// Title
.wopb-block-title {
	padding: 0;
	margin: 0 !important;
	word-break: break-word;
	a {
		line-height: normal;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		outline: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

// Pricing
.wopb-product-price {
	display: block;
	del,
	ins {
		background-color: unset;
	}
	del {
		.woocommerce-Price-amount {
			opacity: 0.5;
		}
	}
	ins {
		margin-left: 5px;
		background: none;
	}
}

// stock batch
.wopb-product-instock,
.wopb-product-outofstock {
	color: #fff;
	display: inline-block;
	font-size: 13px;
	line-height: 22px;
	padding: 6px 15px 7px;
	position: absolute;
	left: 25px;
	right: 25px;
	bottom: 40%;
	margin-bottom: 0;
	border-radius: 2px;
	transition: all 400ms ease-out 0s;
	opacity: 1;
	width: auto;
	text-align: center;
	transform: translate(0, 0);
	z-index: 1;
}
.wopb-block-item {
	&:hover {
		.wopb-block-image {
			.wopb-product-instock,
			.wopb-product-outofstock {
				opacity: 0;
				transform: translate(0, 100%);
			}
		}
	}
}
.wopb-product-outofstock {
	background: #de4646;
}
.wopb-product-instock {
	background: #64a67b;
}

// Quick View
.wopb-quick-view {
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 400ms ease-out 0s;
	opacity: 0;
	width: auto;
	text-align: center;
	transform: translate(0, 100%);
	padding: 8px 15px 8px;
	cursor: pointer;
}
.wopb-block-item {
	&:hover {
		.wopb-block-image {
			.wopb-quick-view {
				opacity: 1;
				transform: translate(0, 0);
			}
		}
	}
}
// Sales
.wopb-onsale {
	&.wopb-onsale-classic {
		text-transform: uppercase;
		border-radius: 0;
		line-height: 1;
		font-weight: 600;
		z-index: 1;
		display: inline-block;
		margin-bottom: 4px;
	}
	&.wopb-onsale-ribbon {
		width: 46px;
		font-weight: 700;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 8px;
		z-index: 1;
		display: block;
		position: relative;
		margin-bottom: 20px;
		margin-top: -15px;
		&:before {
			content: "";
			position: absolute;
			z-index: 2;
			left: 0;
			bottom: -9px;
			padding: 0;
			border-bottom: 10px solid transparent;
		}
	}
}

// pagination
.wopb-pagination-wrap {
	.wopb-pagination {
		padding: 0;
		list-style: none;
		li {
			display: inline-block;
			font-size: 14px;
			line-height: 20px;
			margin: 0 2px 4px 0px;
			&:last-child {
				margin-right: 0px;
			}
			a {
				text-decoration: none;
				display: inline-block;
				transition: 400ms;
				padding: 10px 20px;
				svg {
					width: 10px;
					display: inline-block;
				}
			}
			&.wopb-prev-page-numbers {
				svg {
					margin-right: 4px;
				}
			}
			&.wopb-next-page-numbers {
				svg {
					margin-left: 4px;
				}
			}
			i {
				font-size: inherit;
				line-height: inherit;
				font-style: normal;
				width: auto;
				height: auto;
			}
			span.current {
				display: inline-block;
				padding: 10px 20px;
			}
		}
	}
}

//Load More
.wopb-loadmore {
	.wopb-loadmore-action {
		transition: 400ms;
		text-decoration: none;
		cursor: pointer;
		&:hover {
			text-decoration: none;
		}
		&.wopb-disable {
			display: none;
		}
		svg {
			width: 16px;
		}
	}
}

.wopb-spin {
	-webkit-animation: wopb-spin 1s linear infinite;
	animation: wopb-spin 1s linear infinite;
	font-size: inherit;
	line-height: 0;
	width: auto;
	height: auto;
	vertical-align: middle;
	margin-left: 1px;
	position: relative;
	top: -1;
	display: none;
}

.wopb-loading-active {
	.wopb-spin {
		display: inline-block;
	}
}

@keyframes wopb-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}

// Slider
.wopb-block-wrapper,
.wopb-product-wrapper {
	.slick-arrow {
		transition: 400ms;
		text-align: center;
		display: flex !important;
		justify-content: center;
		&:before {
			display: none;
			opacity: 1;
			transition: 400ms;
		}
		svg {
			width: 16px;
			height: auto;
		}
	}
}
.slick-dots {
	li {
		margin: 0;
		width: auto;
		height: auto;
		button {
			font-size: 0 !important;
			display: inline-block;
			transition: 400ms;
			padding: 0;
			&:before {
				display: none;
			}
		}
	}
}

//cart
.wopb-product-btn {
	line-height: normal;
	a {
		transition: 400ms;
		cursor: pointer;
	}
	.yith_ywraq_add_item_response_message {
		font-size: 14px;
	}
}
.wp-block-product-blocks-product-grid-1,
.wp-block-product-blocks-product-grid-2,
.wp-block-product-blocks-product-grid-2,
.wp-block-product-blocks-product-list-1,
.wopb-pg4-content5,
.wopb-pg4-content1,
.wopb-pg4-content6 {
	.wopb-product-btn {
		a,
		a.add-request-quote-button {
			display: inline-flex;
			//&.added {
			//    display: none;
			//}
		}
	}
}

.wopb-block-media {
	.wopb-block-content-wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		.wopb-block-content {
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
		}
	}
}
.wopb-block-content-true,
.wopb-block-content-1 {
	.wopb-block-media {
		.wopb-block-content-wrap {
			flex-direction: row-reverse;
		}
	}
}

// Product Grid #2
.wp-block-product-blocks-product-grid-2 {
	.wopb-block-content-wrap {
		position: relative;
	}
	.wopb-block-image {
		z-index: 3;
		transition: 400ms ease;
	}
	.wopb-product-grid3-overlay {
		position: absolute;
		top: -22px;
		left: -15px;
		right: -15px;
		bottom: 0;
		visibility: hidden;
		opacity: 0;
		background-color: #fff;
		box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
		transform: scale(0.98);
		z-index: 2;
		transition:
			400ms ease,
			visibility 0s ease,
			transform 400ms ease;
	}
	.wopb-product-grid3-content {
		z-index: 2;
		position: relative;
		transition: 400ms ease;
		.wopb-block-title,
		.wopb-category-grid,
		.wopb-short-description,
		.wopb-product-price {
			transition: 400ms ease;
		}
		.wopb-short-description {
			> p {
				margin: 0;
			}
		}
		.wopb-star-rating {
			transition: 400ms ease;
		}
		.wopb-fade-in-block {
			position: absolute;
			top: calc(100% - 5px);
			right: -15px;
			left: -15px;
			padding: 15px;
			padding-top: 0;
			visibility: hidden;
			opacity: 0;
			background: #fff;
		}
		.wopb-grid3-quick-cart {
			display: flex;
			flex-wrap: wrap;
			position: relative;
			top: 100%;
			left: 0;
			width: 100%;
			visibility: hidden;
			opacity: 0;
			transform: translateY(10px) translateZ(0);
			transition:
				opacity 400ms ease,
				visibility 0s ease,
				transform 400ms ease;
			.wopb-product-btn > a {
				display: inline-block;
			}
		}
	}
	.wopb-block-item {
		&:hover {
			.wopb-block-content-wrap {
				z-index: 20;
				.wopb-product-grid3-overlay {
					opacity: 1;
					transform: scale(1);
					visibility: visible;
					transition:
						opacity 400ms ease,
						visibility 0s ease,
						transform 400ms ease;
				}
				.wopb-block-image {
					transform: translateY(-8px) translateZ(0);
					&.wopb-block-image-zoomIn {
						img {
							transform: translateY(-8px) translateZ(0) scale(1.2);
						}
					}
					&.wopb-block-image-zoomOut {
						img {
							transform: translateY(-8px) translateZ(0) scale(1);
						}
					}
					&.wopb-block-image-roateLeft {
						img {
							transform: translateY(-8px) translateZ(0)
								rotate(5deg) scale(1.3);
						}
					}
					&.wopb-block-image-rotateRight {
						img {
							transform: translateY(-8px) translateZ(0)
								rotate(-5deg) scale(1.3);
						}
					}
				}
				.wopb-variation-swatches {
					transform: translateY(-8px) translateZ(0);
				}
				.wopb-product-grid3-content {
					.wopb-block-title,
					.wopb-category-grid {
						transform: translateY(-8px) translateZ(0);
					}
					.wopb-product-price {
						transform: translateY(-10px) translateZ(0);
					}

					.wopb-fade-in-block {
						box-shadow: 0 7px 6px 1px rgba(0, 0, 0, 0.2);
						visibility: visible;
						opacity: 1;
						transition:
							opacity 100ms ease,
							visibility 0s ease;
					}

					.wopb-star-rating {
						transform: translateY(-8px) translateZ(0);
					}
					.wopb-short-description {
						transform: translateY(-5px) translateZ(0);
					}
					.wopb-grid3-quick-cart {
						visibility: visible;
						transform: translateY(-8px) translateZ(0);
						opacity: 1;
						transition:
							opacity 400ms ease,
							visibility 0s ease,
							transform 400ms ease;
					}
				}
			}
		}

		.wopb-variation-swatches {
			z-index: 3;
			position: relative;
			transition: 0.4s ease;
			margin-bottom: 8px;
		}
	}
}

/* Product Category 1 */
.wopb-product-cat-wrap {
	position: relative;
	.wopb-block-image {
		img {
			transition: 400ms;
		}
	}
	.wopb-product-cat-content {
		position: absolute;
		width: 100%;
		bottom: 80px;
		transition: 400ms;
		padding: 15px;
		background: rgba(255, 255, 255, 0.9);
		z-index: 1;
		.wopb-product-cat-title {
			margin: 0;
			a {
				transition: 400ms;
			}
		}
		.wopb-product-cat-count {
			font-size: 12px;
			line-height: 20px;
		}
		.wopb-product-cat-desc {
			font-size: 14px;
			line-height: 22px;
		}
	}
	&:hover {
		.wopb-product-cat-content {
			transform: translate(0, -20px);
		}
	}
}

@media (max-width: 768px) {
	//wishlist
	.wopb-wishlist-modal {
		table {
			tbody {
				tr {
					border-bottom: 1px solid rgba(0, 0, 0, 0.08);
					td {
						clear: both;
						border: none;
					}
				}
			}
		}
	}
}

.wopb-block-item .wopb-variation-swatche-dummy {
	.wopb-variation-swatches {
		.wopb-swatch.wopb-swatch-color {
			border-radius: 50%;
		}
		.wopb-swatch {
			.wopb-swatch .wopb-variation-swatch-tooltip:after {
				bottom: -6px;
			}

			img {
				border-radius: 50%;
			}
		}

		.wopb-swatch-red {
			background-color: red;
		}

		.wopb-swatch-green {
			background-color: green;
		}

		.wopb-swatch-blue {
			background-color: blue;
		}

		.wopb-swatch:hover .wopb-swatch-tooltip {
			opacity: 1;
			visibility: visible;
		}
	}
}
.wp-block-product-blocks-product-grid-2,
.wp-block-product-blocks-product-grid-3,
.wp-block-product-blocks-product-list-1 {
	.wopb-block-image {
		display: inline-block;
		width: 100%;
		line-height: normal;
	}
	.wopb-product-meta a,
	.wopb-product-meta > span {
		line-height: normal;
	}
}

// Flatsome theme
.theme-flatsome .wopb-block-item .wopb-star-rating {
	font-family: "fl-icons";
	&::before {
		content: "\e006\e006\e006\e006\e006";
	}
	span::before {
		content: "\e005\e005\e005\e005\e005";
	}
}
.theme-flatsome .editor-styles-wrapper .wopb-block-item .wopb-star-rating {
	font-family: "star";
	&::before {
		content: "\73\73\73\73\73";
	}
	span::before {
		content: "\53\53\53\53\53";
	}
}
.wopb-block-wrapper .wopb-block-item {
	height: fit-content;
}

// title style 1
.wopb-title-style1 {
	a {
		&:hover {
			background-size: 100% 2px !important;
		}
	}
}
// title style 1
// title style 3
.wopb-title-style3 {
	a {
		&:hover {
			transition: all 1s;
			background-size: 0px 2px;
		}
	}
}
// title style 3
// title style 4
.wopb-title-style4 {
	a {
		&:hover {
			background-size: 0px 2px !important;
		}
	}
}
// title style 4
// title style 5
.wopb-title-style5 {
	a {
		&:hover {
			text-decoration: none;
			$thetransition: all 1s cubic-bezier(1, 0.25, 0, 0.75) 0s;
			position: relative;
			transition: all 0.35s ease-out;
			padding-bottom: 3px;
			border-bottom: none;
			padding-bottom: 2px;
			background-position: 0 100%;
			background-repeat: repeat;
			// probably never do this. its weird.
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 10 18'%3E%3Cstyle type='text/css'%3E.squiggle%7Banimation:shift .5s linear infinite;%7D@keyframes shift %7Bfrom %7Btransform:translateX(-10px);%7Dto %7Btransform:translateX(0);%7D%7D%3C/style%3E%3Cpath fill='none' stroke-width='1' class='squiggle' d='M0,17.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5' /%3E%3C/svg%3E");
		}
	}
}
// title style 5
// title style 6
.wopb-title-style6 {
	a {
		&:hover {
			background-size: 100% 88% !important;
		}
	}
}
// title style 6
// title style 7
.wopb-title-style7 {
	a {
		&:hover {
			background-size: 100% 2px !important;
		}
	}
}
// title style 7
// title style 8
.wopb-title-style8 {
	a {
		&:hover {
			background-size: 100% 2px !important;
		}
	}
}
// title style 8
// title style 9
.wopb-title-style9 {
	a {
		&:hover {
			background-size: 100% 88% !important;
		}
	}
}
// title style 9
// title style 10
.wopb-title-style10:hover {
	transition: all 0.35s;
	a {
		letter-spacing: 0.4px !important;
		transition: all 0.35s;
	}
}
// title style 10
// title style 11
.wopb-title-style11 {
	word-spacing: 0px;
	transition: all 0.35s;
	&:hover {
		word-spacing: 3px;
	}
}
// title style 11

/* 
* New Overlay Meta style
*/

.wp-block-product-blocks-product-grid-1,
.wp-block-product-blocks-product-grid-2,
.wp-block-product-blocks-product-grid-3,
.wp-block-product-blocks-product-list-1 {
	.wopb-block-item {
		.wopb-block-image {
			display: inline-flex;
		}
	}
	.wopb-star-rating {
		font-size: 13px;
	}
}
.wopb-block-item {
	&:hover .wopb-product-new-meta,
	.wopb-product-new-meta.wopb-is-visible {
		display: flex;
	}
	.wopb-product-new-meta {
		display: none;
		position: absolute;
		z-index: 9999;
		height: fit-content;
		width: fit-content;
		box-sizing: border-box;
		top: unset;
		bottom: unset;
		left: unset;
		right: unset;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		&.wopb_f_inline {
			flex-direction: row;
		}
		.wopb_meta_svg_con {
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}
	}
}
.wp-block-product-blocks-product-list-1 .wopb-product-new-meta {
	flex-wrap: wrap;
	justify-content: flex-start;
}
.wopb-has-gridlay {
	.wopb-block-image {
		align-items: flex-start;
		justify-content: flex-end;
	}
	.wopb-product-new-meta {
		margin: 15px;
		gap: 4px;
	}
}
.wopb-has-gridlay .wopb_meta_svg_con {
	background-color: #fff;
	height: 30px !important;
	width: 30px !important;
	border-radius: 30px;
	svg {
		color: #000;
		height: 16px;
		width: 16px;
	}
	&:hover {
		background-color: #070707;
		svg {
			color: #fff;
		}
	}
}

/* 
* Grid 3 Only
*/
.wp-block-product-blocks-product-grid-3 {
	.wopb-product-btn .wopb-cart-action {
		display: block;
	}
}

.wopb-after-loop-item {
	margin-top: 5px;
	line-height: normal;
	p {
		margin: 0 !important;
	}
}

.wp-block-product-blocks-product-grid-1 {
	.slick-track {
		display: flex;
	}
	.wopb-block-item {
		.wvs-archive-variations-wrapper,
		.wvs-archive-variations-wrapper ul.variations,
		.wvs-archive-variations-wrapper ul.variations > li {
			display: block;
			text-align: inherit;
		}
		.wvs-archive-variations-wrapper ul.variations > li > ul {
			display: inline-flex;
		}
	}
}

.wopb-block-item {
	.wvs-archive-variations-wrapper,
	.wvs-archive-variations-wrapper ul.variations,
	.wvs-archive-variations-wrapper ul.variations > li {
		justify-content: inherit;
	}
}
