@import "./utility.scss";

.wopb-table-con {
	margin-top: 30px;
	border-radius: var(--wowstore-border-radius);
	box-shadow: 0 1px 2px 0 rgba(147, 42, 30, 0.08);
	.wopb-date {
		text-transform: capitalize;
	}
}
.wopb-bulk-con {
	display: flex;
	justify-content: space-between;
	border-radius: var(--wowstore-border-radius) var(--wowstore-border-radius) 0
		0 !important;
	box-shadow: unset !important;
	flex-wrap: wrap;
	gap: 20px;
	& > div {
		display: flex;
		gap: 15px;
	}
	.wopb-primary-button {
		padding: 6px 15px;
	}
	input,
	select {
		max-height: 35px;
		border: 1px solid var(--wowstore-border-color);
		padding-left: 12px;
		&:focus {
			box-shadow: none;
			outline: 0;
			border: 1px solid var(--wowstore-primary-color);
		}
	}
}
.pageCon {
	display: flex;
	justify-content: space-between;
	border-radius: 0 0 var(--wowstore-border-radius)
		var(--wowstore-border-radius);
	padding: 22px 25px;
	background: #fff;
	.wopbPages {
		display: flex;
		gap: 12px;
		.currentPage {
			background: #000;
			border-radius: 50%;
			font-size: var(--wowstore-text-sm-size);
			color: var(--wowstore-white-color);
			height: 25px;
			width: 25px;
			text-align: center;
			line-height: 1.8;
		}
		span:not(.currentPage) {
			cursor: pointer;
			display: flex;
			align-items: center;
			svg {
				height: 14px;
				width: 14px;
			}
		}
	}
}
.shortCode {
	cursor: copy;
	position: relative;
	span {
		background: rgb(0 0 0 / 70%);
		color: #fff;
		border-radius: 6px;
		position: absolute;
		left: calc(100% + 6px);
		padding: 2px 6px;
	}
}
th.title {
	width: 220px;
}
th.fontType {
	width: 65px;
}
th.fontpreview {
	width: 300px;
}
.fontType {
	text-align: center;
}
.actions {
	position: relative;
	.dashicons {
		cursor: pointer;
	}
	.actionPopUp {
		position: absolute;
		width: 130px;
		right: 0;
		text-align: left;
		padding: 10px;
		z-index: 1;
		li {
			cursor: pointer;
			margin-bottom: 8px;
			padding: 0 6px;
			a {
				display: block;
				text-decoration: none;
			}
			&:hover {
				background: var(--wowstore-popbodyBgBold);
				border-radius: var(--wowstore-border-radius);
			}
			.dashicons {
				font-size: 16px;
				margin-right: 5px;
			}
		}
	}
}
.wopbTable {
	width: 100%;
	table {
		width: 100%;
		border-spacing: 0px;
		font-size: var(--wowstore-text-sm-size);
		thead {
			tr {
				background: var(--wowstore-popbodyBgBold);
			}
		}
		tbody tr td.title a {
			color: var(--wowstore-primary-color) !important;
		}
		th,
		td {
			padding: 15px 5px;
			color: var(--wowstore-text-color);
			&:first-child {
				padding-left: 25px;
				padding-right: 12px;
				width: 55px;
			}
			&:last-child {
				text-align: center;
				padding-right: 25px;
			}
		}
		tbody {
			.dashicons {
				vertical-align: middle;
			}
			background: #fff;
			tr {
				td {
					border-bottom: 1px solid var(--wowstore-border-color);
					&.title a {
						color: var(--wowstore-text-color);
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 1350px) {
	.wopbTable {
		overflow-x: auto;
		table {
			width: 1200px;
		}
	}
}
