@import "./utility.scss";

#wpbody-content:has(.wopb-settings-tab-wrap) {
	padding: 0 !important;
	background-color: var(--wowstore-popbodyBg);
}

#wopb-dashboard .wopb-form-save-btn {
	padding: 10px 40px;
	display: inline-flex;
	align-items: center;
	font-size: 18px;
	font-weight: 600;
}
.cursor {
	cursor: pointer;
}
.wopb-builder-create-btn {
	text-transform: capitalize;
}
input[type="checkbox"] {
	width: 22px;
	height: 20px;
	border-radius: 2px;
	border: solid 1px var(--wowstore-border-color);
	background: #fff;
	position: relative;
	margin: 0;
	box-shadow: none;
	display: inline-block;
	& + .wopb-description {
		margin-left: 10px;
	}
}
input[type="checkbox"]:checked {
	background: var(--wowstore-primary-color);
	border: none;
	display: inline-flex;
	align-items: center;
	&::before {
		content: "\2713";
		color: #fff;
		height: unset;
		width: unset;
		margin: unset;
		position: absolute;
		left: 5px;
		// top: 9px;
		font-weight: 900;
	}
}

/* transferred to addon.scss file end */
.wopb-setting-pro-tag {
	color: var(--wowstore-primary-color) !important;
	text-decoration: none;
}

form {
	.wopb-data-message {
		display: none;
		position: fixed;
		bottom: 10%;
		padding: 13px 14px 14px 15px;
		border-radius: var(--wowstore-border-radius);
		box-shadow: 0 1px 2px 0 rgba(147, 42, 30, 0.08);
		background: rgb(115 184 28 / 10%);
		width: 224px;
		color: var(--wowstore-text-color);
	}
}
#wopb-regenerate-css {
	margin-top: 10px;
	display: none;
	span {
		color: var(--wowstore-white-color);
	}
}
#wopb-regenerate-css.active {
	display: inline-block;
}
#wopb-regenerate-css .dashicons {
	display: none;
	margin-right: 8px;
	-webkit-animation: wopb-spin 1s linear infinite;
	animation: wopb-spin 1s linear infinite;
}
#wopb-regenerate-css.wopb-spinner .dashicons {
	display: inline-block;
}
@keyframes wopb-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
.rotate {
	animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}
.wopb-addon-lock-container-overlay {
	background: rgb(0 0 0 / 70%);
	position: absolute;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
	top: 0;
	display: flex;
	justify-content: center;
}
.wopb-addon-lock-container {
	position: fixed;
	top: 20%;
	z-index: 999;
	background: var(--wowstore-white-color);
	padding: 40px 100px;
	border-radius: var(--wowstore-border-radius);
	box-shadow: 0 50px 99px 0 rgba(62, 51, 51, 0.5);
	.wopb-popup-unlock {
		@include flex(20);
		align-items: center;
		justify-content: center;
		max-width: 300px;
		width: 100%;
		width: 100%;
		img {
			height: 112px;
		}
		.wopb-description {
			text-align: center;
		}
		.wopb-heading {
			line-height: normal;
		}
	}
	.wopb-popup-close {
		display: inline-flex;
		justify-content: center;
		position: absolute;
		font-size: 0px;
		top: 0;
		right: -12%;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		color: #000;
		cursor: pointer;
		border: none;
		padding: 12px;
		background: #fff;
		svg {
			width: 25px;
		}
		&:hover {
			background: #ff0000;
			svg {
				fill: #fff;
			}
		}
	}
}
.settingsLink {
	color: var(--wowstore-primary-color) !important;
}
input[type="checkbox"].wopb-addons-enable {
	width: 0;
	height: 0;
	display: none;
}
.wopb-dash-control-options {
	.wopb-addons-enable,
	.wopb-blocks-enable {
		width: 0;
		height: 0;
		display: none;
		&:checked + .wopb-control__label {
			position: relative;
			background-color: var(--wowstore-primary-color);
			opacity: unset;
			& > span {
				display: none;
			}
			&::after {
				left: calc(100% - 3px);
				transform: translateX(-100%);
			}
		}
		&.disabled + .wopb-control__label {
			opacity: 0.25 !important;
		}
	}
	.wopb-control-switch {
		display: inline-flex;
		align-items: center;
		gap: 10px;
	}
	.wopb-control-switch-text {
		color: #2b1506;
		font-size: 14px;
	}
	.wopb-control__label {
		width: 31px;
		height: 16px;
		display: block;
		cursor: pointer;
		border-radius: 100px;
		text-indent: -9999px;
		background: var(--wowstore-primary-color);
		opacity: 0.25;
		position: relative;
	}

	.wopb-control__label::after {
		content: "";
		position: absolute;
		top: 2px;
		left: 3px;
		width: 12px;
		height: 12px;
		border-radius: 90px;
		background: var(--wowstore-white-color);
		transition: 0.3s;
	}
}
.wopb-settings-container {
	margin: 0px !important;
	background: var(--wowstore-popbodyBg);
	padding: 40px 62px;
	min-height: 100vh;
	height: 100%;
}
.wopb-settings-content {
	margin: 0px auto 40px auto !important;
	max-width: 1300px;
}
.wopb-dash-item-con {
	background: var(--wowstore-white-color);
	border-radius: var(--wowstore-border-radius);
	box-shadow: 0 1px 2px 0 rgba(110, 38, 24, 0.2);
	padding: 25px;
}
.wopb-pro-feature-lists {
	@include flex(12);
	margin-bottom: 10px;
	span {
		display: inline-flex;
		gap: 8px;
		align-items: center;
		font-size: 15px;
		color: var(--wowstore-text-color);
		& > span {
			align-items: self-start;
			a {
				text-decoration: none;
				.dashicons {
					color: var(--wowstore-primary-color);
					font-size: 17px;
					line-height: 1.2;
				}
			}
		}
		svg {
			height: 16px;
			width: 16px;
			fill: var(--wowstore-primary-color);
			margin-right: 8px;
			flex-shrink: 0;
		}
	}
}
.wopb-dashboard-promotions-features {
	@include flex(40);
	& > div {
		@include flex(20);
		&.wopb-dashboard-news-tips {
			gap: 15px;
		}
	}
	.wopb-dashboard-news-tips {
		a {
			color: var(--wowstore-text-color);
			transition: 400ms;
			&:focus {
				outline: 0;
				box-shadow: none;
			}
			&:hover {
				color: var(--wowstore-primary-color);
			}
		}
	}
	.wopb-pro-feature-lists span {
		font-size: var(--wowstore-text-sm-size);
	}
}

/* =========================
     Dashboard header Style
============================ */
.wopb-setting-header {
	display: grid;
	align-items: center;
	grid-template-columns: 260px grid(1) 60px;
	background: var(--wowstore-white-color);
	border-bottom: 1px solid var(--wowstore-border-color);
	padding: 0 10px 0 20px;
	position: sticky;
	width: 100%;
	box-sizing: border-box;
	top: 32px;
	z-index: 99;
	&.skeletonOverflow {
		padding-top: 12px;
		padding-bottom: 12px;
	}
}

// hello bar
.wopb-setting-hellobar {
	background: #ff4b7c;
	padding: 6px 0;
	text-align: center;
	color: rgba(255, 255, 255, 0.85);
	font-size: var(--wowstore-text-sm-size);
}

.wopb-setting-hellobar a {
	margin-left: 4px;
	font-weight: 700;
	font-size: var(--wowstore-text-sm-size);
	color: #fff;
}

.wopb-setting-hellobar strong {
	color: #fff;
	font-weight: 700;
}
.wopb-ring {
	-webkit-animation: ring 4s 0.7s ease-in-out infinite;
	-moz-animation: ring 4s 0.7s ease-in-out infinite;
	animation: ring 4s 0.7s ease-in-out infinite;
	margin-right: 5px;
	font-size: 20px;
	position: relative;
	top: 0;
	color: #fff;
}
.helobarClose {
	position: absolute;
	cursor: pointer;
	right: 15px;
	svg {
		height: 10px;
		fill: rgba(255, 255, 255, 0.43);
	}
}
@keyframes ring {
	0% {
		transform: rotate(0);
	}
	1% {
		transform: rotate(30deg);
	}
	3% {
		transform: rotate(-28deg);
	}
	5% {
		transform: rotate(34deg);
	}
	7% {
		transform: rotate(-32deg);
	}
	9% {
		transform: rotate(30deg);
	}
	11% {
		transform: rotate(-28deg);
	}
	13% {
		transform: rotate(26deg);
	}
	15% {
		transform: rotate(-24deg);
	}
	17% {
		transform: rotate(22deg);
	}
	19% {
		transform: rotate(-20deg);
	}
	21% {
		transform: rotate(18deg);
	}
	23% {
		transform: rotate(-16deg);
	}
	25% {
		transform: rotate(14deg);
	}
	27% {
		transform: rotate(-12deg);
	}
	29% {
		transform: rotate(10deg);
	}
	31% {
		transform: rotate(-8deg);
	}
	33% {
		transform: rotate(6deg);
	}
	35% {
		transform: rotate(-4deg);
	}
	37% {
		transform: rotate(2deg);
	}
	39% {
		transform: rotate(-1deg);
	}
	41% {
		transform: rotate(1deg);
	}
	43% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(0);
	}
}

// header logo
.wopb-setting-logo {
	display: flex;
	align-items: center;
	border-right: 1px solid var(--wowstore-border-color);
	padding: 15px 0;
	span {
		font-size: 12px;
		border: 1px solid var(--wowstore-primary-color);
		border-radius: 100px;
		padding: 4px 15px;
		margin-left: 20px;
		background: rgba(255, 88, 69, 0.06);
		color: var(--wowstore-primary-color);
		line-height: 18px;
		font-weight: 600;
	}
}
.wopb-setting-header-img {
	height: 30px;
}

// Header Menu
.wopb-settings-tab {
	margin: 0;
	padding: 0 0 0 30px;
	li {
		margin: 0px 30px 0 0;
		display: inline-block;
		&:last-child {
			margin-right: 0;
		}
		a {
			text-decoration: none;
			font-size: var(--wowstore-text-sm-size);
			padding: 0;
			color: var(--wowstore-dark-color);
			position: relative;
			display: inline-block;
			transition: 400ms;
			&:hover {
				color: var(--wowstore-primary-color);
				&:after {
					opacity: 1;
				}
			}
		}
		&.current a {
			font-weight: 600;
			color: var(--wowstore-primary-color);
			&:after {
				opacity: 1;
			}
		}
	}
}
.wopb-settings-tab li a:active,
.wopb-settings-tab li a:focus {
	outline: none;
	box-shadow: none;
	border: none;
}
@media only screen and (max-width: 1350px) {
	.wopb-settings-tab li {
		margin: 0px 10px 0 0;
	}
	.wopb-design-search-wrapper .wopb-design-search-input {
		min-width: 220px;
	}
}
@media only screen and (max-width: 1250px) {
	.wopb-settings-tab li a:after {
		bottom: -2px;
		height: 2px;
	}
	.wopb-design-search-wrapper {
		display: none;
	}
}

//header faq dropdown
ul:has(.wopb-dash-faq-icon) {
	position: relative;
}
.wopb-dash-faq-con {
	height: 100%;
	border-left: 1px solid var(--wowstore-border-color);
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 10px;
}
.wopb-dash-faq-icon {
	height: auto;
	width: auto;
	font-size: 35px;
	cursor: pointer;
	&:hover {
		color: var(--wowstore-primary-color);
	}
}
.dash-faq-container {
	// display: none;
	a {
		text-decoration: none;
		font-size: var(--wowstore-text-sm-size);
		color: var(--wowstore-text-color);
		display: flex;
		gap: 8px;
		align-items: center;
		width: -webkit-fill-available;
		padding-right: 32px;
		&:focus {
			box-shadow: none;
		}
		.dashicons {
			padding-top: 2px;
		}
		&:hover {
			color: var(--wowstore-primary-color);
		}
	}
	& {
		@include flex(15);
		padding: 25px;
		position: absolute;
		right: 20px;
		top: 70px;
		border-radius: 2px;
		box-shadow: 0 2px 4px 0 rgba(147, 42, 30, 0.08);
		background-color: #fff;
		z-index: 1;
		&::before {
			content: "";
			content: "\f142";
			position: absolute;
			right: 0px;
			top: -29px;
			font: normal 42px dashicons;
			color: #fff;
		}
	}
}
//Multiselection in settings
.wopb-ms-container {
	position: relative;
	.wopb-ms-results-con {
		min-height: 30px;
		max-width: 100%;
		border: 1px solid var(--wowstore-border-color);
		border-radius: var(--wowstore-border-radius);
		color: var(--wowstore-dark-color);
		padding: 8px 14px;
		background-color: var(--wowstore-white-color);
		margin-bottom: 3px;
		display: flex;
		gap: 10px;
		justify-content: space-between;
		.wopb-ms-results {
			display: flex;
			gap: 8px;
			flex-wrap: wrap;
			.wopb-ms-selected {
				padding: 4px 8px;
				border-radius: 2px;
				background-color: #7c8084;
				color: #fff;
				display: inline-flex;
				align-items: center;
				gap: 6px;
				.wopb-ms-remove {
					height: 16px;
					width: 14px;
					&:hover {
						svg {
							fill: var(--wowstore-primary-color);
						}
					}
					svg {
						fill: #fff;
					}
				}
			}
		}
		.wopb-ms-results-collapse {
			height: 12px;
			width: 12px;
			display: inline-block;
		}
	}
	.wopb-ms-options {
		@include flex(5);
		z-index: 1;
		position: absolute;
		width: 100%;
		box-sizing: border-box;
		margin-top: 4px;
		border: 1px solid var(--wowstore-border-color);
		box-shadow: 0 1px 2px 0 rgba(110, 38, 24, 0.2);
		border-radius: var(--wowstore-border-radius);
		color: var(--wowstore-dark-color);
		padding: 8px 14px;
		background-color: var(--wowstore-white-color);
		margin-bottom: 3px;
		.wopb-ms-option {
			padding: 4px 8px;
			border-radius: 2px;
			&:hover {
				background-color: #7c8084;
				color: #fff;
			}
		}
	}
}

//Setting fields css
.wopb-hr-line {
	margin-bottom: 32px;
	height: 1px;
	background: #eddde3;
	&.wopb-hr-line2 {
		margin-left: 24px;
		margin-right: 24px;
	}
}
.wopb-toggle-wrap .wopb-settings-field {
	display: flex;
	gap: 15px;
	align-items: center;
}
.wopb-settings-wrap {
	&:not(
			.wopb-radio-wrap,
			.wopb-select_item-wrap,
			.wopb-layout-wrap,
			.wopb-repeatable-wrap
		),
	&.wopb-alignment-right {
		display: grid;
		grid-template-columns: 1fr 1.4fr;
		align-items: center;
		strong {
			margin-bottom: 0 !important;
		}
		&.wopb-addon-key {
			grid-template-columns: auto 1fr;
			gap: 25px;
			background: none;
			box-shadow: none;
			padding-left: 3px;
			padding-bottom: 0;
		}
	}
	&.wopb-preset_color-wrap,
	&.wopb-typography-wrap,
	&.wopb-color2-wrap,
	&.wopb-color2-wrap,
	&.wopb-dimension-wrap,
	&.wopb-border-wrap,
	&.wopb-number-wrap,
	&.wopb-color-wrap,
	&.wopb-alignment-right {
		.wopb-settings-field-wrap {
			width: fit-content;
			margin-left: auto;
		}
	}
	color: #070c1a;
	padding: 10px 24px;
	border-radius: var(--wowstore-border-radius);
	background: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
	position: relative;
	margin-bottom: 12px;
	.wopb-select-item {
		.wopb-hr-line {
			margin-top: 14px;
		}
	}
	&.wopb-repeatable-wrap {
		.wopb-settings-wrap {
			background: unset;
			box-shadow: unset;
			display: flex;
			flex-direction: column;
			padding: 0;
			align-items: flex-start;
			strong.wopb-title {
				margin-bottom: 8px !important;
			}
		}
		.wopb-settings-field-wrap {
			margin-left: 0 !important;
			width: 100% !important;
			input[type="number"] {
				padding: 8px !important;
			}
			.wopb-repeat-section {
				margin-bottom: 20px;

				.wopb-collapse-header {
					padding: 10px;
					border: 1px solid #c6c6c6;
					display: flex;
					align-items: center;
					justify-content: space-between;
					cursor: pointer;
					background-color: #404040;
					color: #fff;

					.wopb-header-content {
						font-size: 15px;
						display: flex;
						align-items: center;
						gap: 8px;
					}

					.wopb-control-option {
						display: flex;
						gap: 20px;
						padding-right: 0px;
						margin-bottom: unset;
						align-items: flex-start;
					}

					.wopb-control span {
						font-size: 18px;
						color: #fff;
					}
				}

				.wopb-collapse-body {
					background-color: #f4f4f4;
					padding: 15px 12px;

					.wopb-title {
						font-size: 14px;
					}

					select[name="wopb_currency"],
					select[name="wopb_currency_exclude_gateways"] {
						width: 100%;
					}
				}

				&[data-base-repeater="wopb_currencies"] .wopb-collapse-body {
					.wopb-settings-wrap {
						margin-bottom: 12px;
						padding-bottom: 0px;

						&:has(select[name="wopb_currency"])
							select[name="wopb_currency"],
						&:has(input[name="wopb_currency_decimals"])
							input[name="wopb_currency_decimals"],
						&:has(select[name="wopb_currency_symbol_position"])
							select[name="wopb_currency_symbol_position"],
						&:has(input[name="wopb_currency_rate"])
							input[name="wopb_currency_rate"],
						&:has(input[name="wopb_currency_exchange_fee"])
							input[name="wopb_currency_exchange_fee"] {
							width: 100%;
							height: 38px;
							border: 1px solid #000000;
							border-radius: 6px;
						}

						&:has(input[name="wopb_currency_decimals"]),
						&:has(input[name="wopb_currency_rate"]) {
							display: inline-block;
							margin-right: 4%;
							width: 48%;
						}

						&:has(select[name="wopb_currency_symbol_position"]),
						&:has(input[name="wopb_currency_exchange_fee"]) {
							display: inline-block;
							width: 48%;
						}

						&:has(input[name="wopb_currency_exclude_gateways"])
							.wopb-settings-field-inline
							div {
							display: inline-block;
							margin-right: 5px;
							input {
								margin: 0 6px 0 4px;
							}
						}
					}
				}
			}
		}
		.wopb-add-btn {
			cursor: pointer;
			display: flex;
			align-items: center;
			padding: 5px 12px;
			border-radius: 2px;
			background: #ff176b;
			font-size: 14px;
			color: #fff;
			gap: 6px;
			width: fit-content;

			.dashicons {
				color: #fff !important;
				font-size: 16px;
				display: inline-flex;
				align-items: center;
			}
		}
	}
	.wopb-field-right {
		display: flex;
		gap: 5px;
		align-items: center;
	}
	&.wopb-number-wrap .wopb-number-field {
		width: 70px;
	}
}
.wopb-settings-field-wrap {
	width: 100%;
	input[type="number"] {
		border: none;
		width: 100%;
		height: 100%;
		padding: 0;
		-moz-appearance: textfield;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
		&:focus {
			outline: none;
			box-shadow: unset;
		}
	}
	.wopb-number-field {
		border: 1px solid #d8adbd;
		padding: 5px 8px;
		width: 45px;
	}
	.wopb-dimension-field .wopb-unit,
	.wopb-number-field,
	.wopb-typo-field .wopb-tools-item,
	.wopb-field-color {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 30px;
	}
	.wopb-settings-field {
		select,
		input[type="text"],
		input[type="number"] {
			height: 42px;
			width: 100%;
			max-width: 100%;
			background-color: var(--wowstore-white-color);
			border: 1px solid #e7ecf1;
			border-radius: 2px;
			color: #6b7280;
			outline: none;
			box-shadow: none;
			-moz-appearance: textfield;
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
			}
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}
		}
		select {
			background-position: right 14px top 55%;
			option {
				border-bottom: 1px solid #e7ecf1;
				background: #ffffff;
				color: #000000;
				&:last-child {
					border: 0;
				}
			}
		}
		select[multiple] {
			max-height: 100px;
			height: 100%;
		}
		.wopb-description {
			font-size: var(--wowstore-text-sm-size);
			color: #6b7280;
		}
		&.wopb-control-option {
			.wopb-addons-enable {
				&.wopb-active + label.wopb-toggle-switch {
					position: relative;
					opacity: 1;
					& > span {
						display: none;
					}
					&:after {
						left: calc(100% - 3px);
						transform: translateX(-100%);
					}
				}
			}
			label.wopb-toggle-switch {
				width: 36px;
				height: 18px;
				display: block;
				cursor: pointer;
				border-radius: 100px;
				text-indent: -9999px;
				background-color: var(--wowstore-primary-color);
				opacity: 0.5;
				position: relative;
				&::after {
					content: "";
					position: absolute;
					top: 3px;
					bottom: 3px;
					left: 3px;
					width: 12px;
					border-radius: 90px;
					background: var(--wowstore-white-color);
					transition: 0.3s;
				}
			}
		}
		&.wopb-select-field {
			position: relative;
			width: 100%;
			.wopb-selected-content {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 20px;
				cursor: pointer;
				padding: 0 16px;
				height: 40px;
				border: 1px solid #d8adbd;
				border-radius: 2px;
			}
			span {
				font-size: var(--wowstore-text-sm-size);
				color: #6b7280;
			}
		}
		&:has(.wopb-selected-content),
		&:has(input[type="text"]) {
			.wopb-description {
				font-size: 12px;
				margin-top: 4px;
				display: block;
			}
		}
	}
	.wopb-select-arrow {
		display: flex;
		align-items: center;
		svg {
			transition: transform 0.4s ease;
		}
		&.wopb-arrow-up svg {
			transform: rotate(180deg);
		}
	}
	.wopb-select-dropdown {
		position: absolute;
		background: #fff;
		border-radius: 2px;
		border: 1px solid #e7ecf1;
		z-index: 1;
		right: 0;
		width: 100%;
		margin-top: 2.5px;
		box-shadow: 0px 1px 10px 1px #d9d9d9;
		max-height: 250px;
		overflow-y: auto;
		&.wopb-dropdown-bottom {
			bottom: 105%;
		}
		&::-webkit-scrollbar {
			background-color: transparent;
			width: 4px;
			border-radius: 4px;
			height: 4px;
		}
		&:hover {
			&::-webkit-scrollbar {
				transition: 400ms;
			}
			&::-webkit-scrollbar-thumb {
				border-radius: 4px;
				background-color: #ff176b;
			}
		}
		&:has(.wopb-select-preset-list) {
			border: 1px solid #6b7280;
			max-width: unset;
			width: -webkit-fill-available;
			width: -moz-available;
			padding: 5px;
		}
		.wopb-select-item {
			cursor: pointer;
			border-bottom: 1px solid #e7ecf1;
			padding: 7px 20px;
			&:hover,
			&.active {
				background: #ff176b;
				border-color: #ff176b;
				color: #ffffff;
			}
		}
	}
	.wopb-note {
		font-size: 12px;
		color: #6b7280;
		margin-top: 8px;
		border-radius: 2px;
		background: rgba(231, 236, 241, 0.5);
		border-left: 4px solid #070c1a;
		padding: 4px 0 4px 16px;
	}
}

@media only screen and (max-width: 767px) {
	.wopb-settings-container {
		padding: 10px;
	}
}

.wopb-dashboard-modal-wrapper {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999999;
	background: rgba(0, 0, 0, 0.35);
	.wopb-dashboard-modal {
		width: fit-content;
		background: #fff;
		max-width: 90%;
		max-height: 80%;
		overflow: hidden;
	}
	.wopb-modal-header {
		display: flex;
		align-items: center;
		height: 40px;
		padding: 0 20px 0;
		background: #f9ebe9;
		position: relative;
		.wopb-modal-title {
			font-size: 1.2rem;
			font-weight: 600;
		}
		.wopb-popup-close {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #333;
			width: 40px;
			height: 100%;
			top: 0;
			right: 0;
			color: #fff;
			font-size: 30px;
			cursor: pointer;
			&::after {
				content: "×";
				line-height: 0;
			}
		}
	}
	.wopb-modal-body {
		padding: 20px;
		iframe {
			max-width: 100%;
			max-height: 100%;
		}
	}
}

.wopb-arrow-control {
	display: flex;
	flex-direction: column;
	gap: 2px;
	& > span {
		line-height: 0;
	}
	svg {
		cursor: pointer;
		width: 12px;
		height: 12px;
	}
}

.wopb-general-settings {
	.wopb-settings-wrap {
		box-shadow: unset !important;
	}
	.wopb-settings-field-wrap {
		margin-left: 0 !important;
	}
}

//Revenue css
.wopb-revenue-head {
	@media only screen and (max-width: 480px) {
		padding: 0 10px;
	}
	@media only screen and (max-width: 768px) {
		padding: 0 50px;
	}
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-bottom: 32px;
	.wopb-revenue-head-title {
		font-size: 24px;
		font-weight: 600;
		color: #0A0D14;
		line-height: 28px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	.wopb-revenue-head-desc {
		font-size: 14px;
		color: #525866;
	}
}
.wopb-revenue-banner-wrap {
	padding: 0 110px;
	.wopb-revenue-banner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		background-color: #ffffff;
		padding: 16px 30px 16px 18px;
		border-left: 5px solid #00A464;
		@media only screen and (max-width: 991px) {
			flex-direction: column;
		}
		.wopb-revenue-left {
			display: flex;
			align-items: center;
			gap: 24px;
			.wopb-revenue-banner-title {
				font-size: 16px;
				color: #0A0D14;
				font-weight: 600;
				margin-bottom: 8px;
			}
			.wopb-revenue-banner-desc {
				font-size: 14px;
				color: #525866;
			}
			.wopb-revenue-icon svg {
				height: 70px;
				width: 70px;
			}
		}
		.wopb-revenue-active-btn {
			display: flex;
			text-align: center;
			background: #00A464;
			padding: 14px 28px;
			border-radius: 4px;
			color: #FFFFFF;
			font-size: 16px;
			cursor: pointer;
		}
	}
}

.wopb-dashboard-addons-container.wopb-dashboard-revenue {
	.wopb-addon-parent-heading {
		font-size: 16px;
		font-weight: 600;
		color: #0A0D14;
		margin-bottom: 6px;
	}
	.wopb-revenue-body {
		.wopb-revenue-desc {
			margin-bottom: 24px;
			display: block;
			font-size: 14px;
			color: #525866;
		}
	}

	.wopb-addons-grid {
		grid-template-columns: repeat(4, 1fr);
		@media only screen and (max-width: 767px) {
			grid-template-columns: 1fr 1fr;
		}
		@media only screen and (max-width: 1300px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		@media only screen and (max-width: 991px) {
			grid-template-columns: 1fr 1fr;
		}
		gap: 25px;
		.wopb-addon-item {
			height: fit-content;
			border-radius: 0;
			.wopb-addon-item-contents {
				padding: 8px;
				text-align: left;
				position: relative;
				.wopb-revenue-upcoming {
					padding: 3px 11px;
					background-color: #dbd7d9;
					width: fit-content;
					border-radius: 15px;
					color: #333;
					font-size: 12px;
					font-weight: 500;
					line-height: 15px;
				}
				.wopb-addon-item-name {
					margin-bottom: 16px;
					padding: 8px 8px 0px 8px;
					.wopb-addon-heading {
						font-size: 16px;
						font-weight: 500;
						color: #0A0D14;
						margin-bottom: 8px;
						display: flex;
						align-items: center;
						gap: 8px;

						@media only screen and (max-width: 768px) {
							font-size: 14px;
						}
					}
				}
				.wopb-description {
					font-size: 12px;
				}
				.wopb-revenue-icon {
					line-height: 0;
					svg {
						max-width: 100%;
					}
				}
			}
		}
	}
}

#wopb-dasnav-revenue a {
	position: relative;
	margin-right: 22px;
	@media only screen and (max-width: 991px) {
		margin-right: 32px;
	}
	.wopb-revenue-tag {
		top: -8px;
		right: -40px;
	}
}

//skeleton
.wopb-revenue-banner-wrap {
	.wopb-revenue-icon .wopb_skeleton__button {
		border-radius: 0;
	}
}
