// Mixin to apply scrollbar styles
@mixin wopb-custom-scrollbar-style {
	scrollbar-color: var(--wowstore-warning-button-color);
	&::-webkit-scrollbar {
		@media (min-width: 778px) {
			width: 6px;
			height: 6px;
		}
		@media (max-width: 778px) {
			width: 4px;
			height: 4px;
		}
	}
	&::-webkit-scrollbar-track {
		background-color: #eae8e8;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #ff8645;
		border-radius: 20px;
	}
}

.wopb-builder-heading__title .wopb-heading {
	display: inline-block;
}
// Common Class
.wopb-heading {
	font-size: 20px;
	font-weight: 400;
	margin: 0;
	color: #091f36;
}
.wopb-center {
	text-align: center;
}

// Used in Addons & Blocks
.wopb-option-link {
	display: flex;
	align-items: center;
	text-decoration: none;
	gap: 3px;
	font-size: var(--wowstore-text-sm-size);
	color: var(--wowstore-text-color);
	.dashicons {
		height: unset;
		width: unset;
		line-height: unset;
		font-size: var(--wowstore-text-sm-size);
		color: var(--wowstore-text-color);
	}
	&:hover {
		color: var(--wowstore-primary-color);
		.dashicons {
			color: var(--wowstore-primary-color);
		}
	}
}

// All Button CSS
.wopb-primary-button,
.wopb-secondary-button {
	padding: 12px 25px;
	font-size: var(--wowstore-text-size);
	border-radius: 3px;
	text-decoration: none;
	display: inline-block;
	width: fit-content;
	transition: background-color 400ms;
	&:focus {
		outline: 0;
		box-shadow: none;
	}
}
.wopb-primary-button {
	color: var(--wowstore-white-color) !important;
	background: #ff176b;
	border: none;
	&:hover {
		background-color: var(--wowstore-primary-color);
	}
}
.wopb-secondary-button {
	color: #091f36 !important;
	background: #ffe2db;
	border: 1px solid rgba(255, 88, 69, 0.1);
	&:hover {
		background-color: #ff176b29;
	}
	&:focus {
		outline: 0;
		box-shadow: none;
	}
}
.wopb-upgrade-pro-btn {
	display: inline-block;
	padding: 12px 25px;
	color: var(--wowstore-white-color);
	font-size: var(--wowstore-text-sm-size);
	background: linear-gradient(180deg, #ff176b, transparent) #ff176b;
	border-radius: var(--wowstore-border-radius);
	text-decoration: none;
	width: fit-content;
	transition: background-color 400ms;
	&:hover {
		background-color: #ff176b;
		color: var(--wowstore-white-color);
	}
	&:focus {
		outline: 0;
		box-shadow: none;
	}
	&:active {
		color: #fff;
	}
}

// Grid FR Function
@function grid($n) {
	$sequence: 1fr;
	@if $n > 1 {
		@for $_ from 2 through $n {
			$sequence: append($sequence, 1fr);
		}
	}
	@return $sequence;
}

// Flex Function
@mixin flex($gap: 0) {
	display: flex;
	flex-direction: column;
	@if $gap > 0 {
		gap: $gap + px;
	}
}
