.wp-block-product-blocks-product-rating .wopb-product-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	transition: 300ms;
}

body .wopb-product-wrapper {
	.comment-text .star-rating,
	.woocommerce-product-rating .star-rating::before,
	.woocommerce-product-rating .star-rating,
	.comment-form-rating p.stars a::before {
		font-family: "star", serif;
	}
	.woocommerce-product-rating {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 !important;
		.star-rating {
			letter-spacing: 1px;
		}
		a {
			display: block;
			text-decoration: none;
		}
	}
	.comment-text,
	.woocommerce-product-rating {
		.star-rating {
			display: block;
			overflow: hidden;
			position: relative;
			height: 1em;
			line-height: 1;
			float: unset !important;
			margin: 0;
			width: 5.4em;
			&::before {
				content: "\73\73\73\73\73";
				float: left;
				top: 0;
				left: 0;
				position: absolute;
				letter-spacing: unset;
			}
			&::before,
			span::before {
				font-size: unset;
				font-family: "star";
			}
			& > span {
				overflow: hidden;
				float: left;
				top: 0;
				left: 0;
				position: absolute;
				padding-top: 1.5em;
				word-break: initial;
				&::before {
					content: "\53\53\53\53\53";
					top: 0;
					position: absolute;
					left: 0;
					letter-spacing: unset;
				}
			}
		}
	}
}
.wopb-rating-block-template {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	margin-right: 0px !important;
}
// label css
.wopb-rating-label {
	display: block;
	margin-right: 10px;
}
.wopb-product-wrapper .woocommerce-review-link {
	margin-left: 5px;
}
