.wp-block-product-blocks-column {
	position: relative;
	height: max-content;
	width: 100%;
	min-width: 0; // for slider 2 Wrap Issue
	& > .wopb-column-wrapper {
		height: 100%;
		position: relative;
		transition: 0.3s;
		.block-editor-inner-blocks,
		.block-editor-block-list__layout {
			height: 100%;
		}
	}
	.wopb-column-overlay {
		z-index: -1;
	}
	.wopb-column-link {
		position: absolute;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 9999;
	}
}
.wopb-row-content {
	.wopb-column-wrapper {
		& > * {
			max-width: 100%;
		}
	}
}
