.wp-block[data-type="product-blocks/product-title"],
.wp-block[data-type="product-blocks/product-short"],
.wp-block[data-type="product-blocks/product-price"],
.wp-block[data-type="product-blocks/product-stock"],
.wp-block[data-type="product-blocks/product-description"],
.wp-block[data-type="product-blocks/product-rating"],
.wp-block[data-type="product-blocks/product-meta"],
.wp-block[data-type="product-blocks/product-breadcrumb"],
.wp-block[data-type="product-blocks/product-cart"] {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.wp-block-product-blocks-free-shipping-progress-bar .wopb-progress-msg {
	margin-bottom: 16px;
}
.wopb-product-wrapper .woocommerce-shipping-fields__field-wrapper label {
	display: inline-block;
}
.wopb-product-wrapper .woocommerce-privacy-policy-text p {
	margin: 0;
}
.wopb-thankyou-order-details-container
	.woocommerce-MyAccount-downloads-file.button {
	text-decoration: none;
}
.wopb-product-wrapper .wopb-my-account-container a.edit {
	padding: 0;
}
.wopb-cart-total table tbody tr th {
	text-align: left;
}
.wp-block-product-blocks-checkout-payment-method .wopb-product-wrapper {
	#payment .payment_box {
		margin: 0 !important;
		&::before {
			content: unset;
		}
	}
}
.wopb-product-wrapper .woocommerce-form-login-toggle .is-info {
	align-items: center;
}
.theme-oceanwp .wopb-cart-table-wrapper .wopb-product-qty .quantity {
	float: unset;
	.plus,
	.minus {
		display: none;
	}
}
.wopb-block-wrapper .wopb-heading-inner {
	margin: 0;
}
.wopb-block-item .wopb-loop-variations-form table.variations {
	&:has(.wopb-swatch.selected) .reset_variations {
		display: block;
	}
	.reset_variations {
		display: none;
	}
}

.wopb-heading-filter-in {
	&:not(:has(.wopb-heading-wrap)) {
		.wopb-filter-navigation {
			position: unset;
			justify-content: flex-end;
		}
	}
}
