.wp-block-product-blocks-checkout-payment-method .wopb-product-wrapper {
	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		li div p,
		li label {
			margin: 0px !important;
		}
	}
	#payment {
		background: unset;
		ul {
			padding: unset !important;
			border-bottom: unset !important;
			background: unset;
		}
		button[name="woocommerce_checkout_place_order"] {
			position: unset;
			float: unset !important;
			width: inherit !important;
			box-sizing: border-box;
		}
	}
	#payment .payment_methods > .wc_payment_method > label {
		display: flex;
		align-items: center;
		position: relative;
		padding: 0px;
		border-left: 0px;
		cursor: pointer;
		&:before {
			content: "";
			height: 16px;
			width: 16px;
			background-color: #fdfdfd;
			border-radius: 100%;
			display: inline-block;
			vertical-align: middle;
			border: 1px solid rgb(65, 62, 62);
			margin-right: 10px;
		}
		@media only screen and (max-width: 380px) {
			flex-wrap: wrap;
		}
	}
	#payment
		.payment_methods
		li.wc_payment_method
		> input[type="radio"]:first-child:checked
		+ label {
		&::before {
			content: "";
			border-width: 5px;
			box-sizing: border-box;
		}
		&::after {
			// content: "";
			content: unset;
			height: 10px;
			width: 10px;
			background-color: #3d0bd5;
			border-radius: 100%;
			display: inline-block;
			vertical-align: middle;
			position: absolute;
			left: 4px;
		}
	}

	.wc_payment_methods input[type="radio"] {
		display: none;
	}
	#payment .place-order {
		padding: 0px;
		background-color: inherit;
		margin-top: 10px;
	}
	.payment_box select {
		padding-top: 0;
		padding-bottom: 0;
	}
}
.editor-styles-wrapper .wp-block-product-blocks-checkout-payment-method h2 {
	margin: 0px;
}
.wopb-product-wrapper button {
	line-height: normal !important;
}
//theme issue
.theme-twentytwentytwo
	.wp-block-product-blocks-checkout-payment-method
	#payment
	.payment_methods
	li.wc_payment_method
	> input[type="radio"]:first-child:checked
	+ label::after {
	margin-left: 8px;
	margin-top: 6px;
}
