.wopb-tooltip-wrapper {
	display: inline-block;
	position: relative;
	width: inherit;
	height: inherit;
	.dashicons {
		line-height: normal;
	}
}

.tooltip-content {
	top: unset !important;
	background: #000;
	color: #fff;
	font-size: 12px;
	line-height: 1.4;
	z-index: 100;
	white-space: pre-wrap;
	width: 250px;
	position: absolute;
	bottom: 25px;
	transform: translateX(-46%);
	padding: 8px 12px;
	border-radius: 4px;
	white-space: pre-wrap;
}

.tooltip-content::before {
	content: " ";
	left: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 6px;
	margin-left: calc(6px * -1);
}

//   .tooltip-content.top {
//     top: calc(30px * -1);
//   }
.tooltip-content.top::before {
	top: 100%;
	border-top-color: black;
}

.tooltip-content.right {
	left: calc(100% + 30px);
	top: 50%;
	transform: translateX(0) translateY(-50%);
}
.tooltip-content.right::before {
	left: calc(6px * -1);
	top: 50%;
	transform: translateX(0) translateY(-50%);
	border-right-color: black;
}

.tooltip-content.bottom {
	bottom: calc(30px * -1);
}
.tooltip-content.bottom::before {
	bottom: 100%;
	border-bottom-color: black;
}

.tooltip-content.left {
	left: auto;
	right: calc(100% + 30px);
	top: 50%;
	transform: translateX(0) translateY(-50%);
}
.tooltip-content.left::before {
	left: auto;
	right: calc(6px * -2);
	top: 50%;
	transform: translateX(0) translateY(-50%);
	border-left-color: black;
}

.tooltip-icon {
	width: inherit;
	height: inherit;
	font-size: 28px;
}
