.wp-block-product-blocks-product-breadcrumb {
	.wopb-product-wrapper {
		transition: 300ms;
		display: inline-block;
		.woocommerce-breadcrumb {
			margin-bottom: 0;
			border: unset;
			a {
				transition: 300ms;
			}
			.breadcrumb-separator {
				text-indent: inherit;
				padding: 0;
				&:after {
					content: none;
				}
			}
		}
		.storefront-breadcrumb {
			margin-bottom: 0;
			padding: 0;
			.col-full {
				padding: 0;
				max-width: initial;
			}
		}
	}
}
