.wopb-onsale-hot {
	position: absolute;
	z-index: 1;
	.wopb-hot {
		text-transform: uppercase;
		border-radius: 0;
		line-height: 1;
		font-weight: 600;
		z-index: 1;
		background: #eb1e37;
		color: #fff;
		font-size: 12px;
		padding: 6px 9px;
		border-radius: 2px;
		display: block;
	}
}
.wp-block-product-blocks-product-grid-3 .wopb-quick-cart {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	-webkit-transition: all 400ms ease-out 0s;
	transition: all 400ms ease-out 0s;
	opacity: 0;
	width: auto;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	width: 100%;
	-webkit-transform: translate(0, 100%);
	transform: translate(0, 100%);
	> div {
		width: 100%;
	}
}
.wopb-quick-cart {
	.wopb-product-btn {
		a,
		.wopb-quickview-btn {
			display: block;
			line-height: 1;
			font-size: 14px;
			transition: 400ms;
			justify-content: center;
			&.added {
				display: none;
			}
		}
	}
}
.wopb-block-item:hover {
	.wopb-block-image {
		.wopb-quick-cart {
			opacity: 1;
			-webkit-transform: translate(0, 0);
			transform: translate(0, 0);
		}
	}
}
.wopb-product-meta {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 3;
	transition: 400ms;
	.wopb-wishlist-icon {
		cursor: pointer;
		svg {
			width: 16px;
		}
	}
	> a,
	.wopb-quickview-btn,
	.wopb-compare-btn {
		display: block;
		cursor: pointer;
	}
}
.wopb-wishlist-icon {
	cursor: pointer;
	&.wopb-wishlist-add {
		margin-top: unset;
	}
	.wopb-tooltip-text {
		svg:nth-last-child(2) {
			display: none;
		}
		.wopb-tooltip-text-left,
		.wopb-tooltip-text-top,
		.wopb-tooltip-text-right {
			span:last-child {
				display: none;
			}
		}
	}
	&.wopb-wishlist-active {
		.wopb-tooltip-text {
			svg:first-child {
				display: none;
			}
			svg:nth-last-child(2) {
				display: inline-block;
			}
			.wopb-tooltip-text-left,
			.wopb-tooltip-text-top,
			.wopb-tooltip-text-right {
				span:first-child {
					display: none;
				}
				span:last-child {
					display: inline-block;
				}
			}
		}
	}
}

.wopb-block-item .wopb-compare-btn {
	cursor: pointer;
	margin-top: unset;
	.wopb-tooltip-text {
		.wopb-tooltip-text-left,
		.wopb-tooltip-text-top,
		.wopb-tooltip-text-right {
			span:last-child {
				display: none;
			}
		}
	}
	&.wopb-compare-active {
		.wopb-tooltip-text {
			.wopb-tooltip-text-left,
			.wopb-tooltip-text-top,
			.wopb-tooltip-text-right {
				span:first-child {
					display: none;
				}
				span:last-child {
					display: inline-block;
				}
			}
		}
	}
}

.wopb-pg-l2 {
	.wopb-quick-cart {
		left: 50%;
		transform: translateX(-50%);
		right: auto;
		justify-content: center;
		> div {
			width: auto;
			margin: 0 10px;
			> a {
				display: inline-block;
			}
		}
	}
}
.wopb-block-item:hover .wopb-pg-l2 .wopb-quick-cart {
	opacity: 1;
	-webkit-transform: translate(-50%, -15px);
	transform: translate(-50%, -15px);
}
.wopb-pg-l3 {
	.wopb-product-meta {
		display: none;
		&:hover {
			display: block;
		}
		a,
		& > span {
			margin-bottom: 8px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.wopb-pg-l4 {
	.wopb-product-meta {
		display: none;
		background: #fff;
		padding: 10px;
		border-radius: 4px;
		box-shadow: 1px 1px 1px 0 rgba(200, 199, 199, 0.5);
		transition: 400ms;
		a,
		& > span {
			margin-bottom: 8px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.wopb-pg-l5,
.wopb-pg-l6 {
	.wopb-product-meta {
		display: none;
		top: auto;
		bottom: 15px;
		transform: translateX(-50%);
		left: 50%;
		right: auto;
		width: 80%;
		text-align: center;
		> a,
		> div,
		& > span {
			display: inline-block;
			margin-top: 0;
		}
	}
}
.wopb-pg-l5 {
	.wopb-product-meta {
		width: 100%;
	}
}
.wopb-pg-l6 {
	.wopb-product-meta {
		background: #fff;
		padding: 10px;
		border-radius: 4px;
		box-shadow: 0 1px 1px 0 rgba(200, 199, 199, 0.5);
		a,
		& > span {
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.wopb-block-item {
	.wopb-product-meta {
		gap: 10px;
	}
	&:hover {
		.wopb-pg-l3,
		.wopb-pg-l4 {
			.wopb-product-meta {
				display: block;
			}
		}
		.wopb-pg-l5,
		.wopb-pg-l6 {
			.wopb-product-meta {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}
.wopb-quickview-btn,
.wopb-block-item .wopb-compare-btn,
.wopb-wishlist-icon,
.wopb-product-btn {
	svg {
		width: 16px;
		transition: 400ms;
	}
	.wopb-tooltip-text {
		position: relative;
		display: inline-block;
		.wopb-tooltip-text-left,
		.wopb-tooltip-text-top,
		.wopb-tooltip-text-right {
			background-color: rgba(30, 30, 30, 0.9);
			font-size: 12px;
			line-height: 1;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			position: absolute;
			margin-top: -5px;
			visibility: hidden;
			opacity: 0;
			pointer-events: none;
			white-space: nowrap;
			padding: 7px 9px;
			color: #fff;
			box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
			-webkit-transition:
				opacity 0.3s linear,
				right 0.3s linear,
				margin-top 0.3s linear;
			transition:
				opacity 0.3s linear,
				right 0.3s linear,
				left 0.3s linear,
				margin-top 0.3s linear;
			&:after {
				position: absolute;
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
			}
		}
		.wopb-tooltip-text-left {
			&:after {
				border-color: transparent transparent transparent
					rgba(30, 30, 30, 0.9);
				border-width: 6px;
				top: 50%;
				margin-top: -5px;
				right: -12px;
			}
			top: 0;
			right: 20px;
		}
		.wopb-tooltip-text-right {
			&:after {
				border-color: transparent rgba(30, 30, 30, 0.9) transparent
					transparent;
				border-width: 6px;
				top: 50%;
				margin-top: -5px;
				left: -12px;
			}
			top: 0;
			left: 20px;
		}
		&:has(.wopb-tooltip-text-top) {
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
		.wopb-tooltip-text-top {
			// left: -5px;
			// right: auto;
			top: 0;
			margin-top: -35px;
			// margin-left: -15px;
			&:after {
				border-color: rgba(30, 30, 30, 0.9) transparent transparent
					transparent;
				border-width: 6px;
				bottom: -14px;
				left: 50%;
				margin-left: -6px;
				top: 26px;
			}
		}
	}
	&.wopb_meta_svg_con:hover .wopb-tooltip-text {
		.wopb-tooltip-text-left {
			right: 40px;
		}
		.wopb-tooltip-text-top {
			top: 0;
			margin-top: -48px;
		}
		.wopb-tooltip-text-right {
			left: 42px;
		}
		.wopb-tooltip-text-left,
		.wopb-tooltip-text-top,
		.wopb-tooltip-text-right {
			opacity: 1;
			visibility: visible;
		}
	}
}
.wopb-product-btn {
	.wopb-compare-btn svg {
		height: fit-content;
	}
	.wopb-cart-action {
		display: inline-flex;
		gap: 2px;
		text-wrap: nowrap;
		a {
			display: flex; //when use compare button beside cart
			align-items: center;
		}
		.wopb-cart-active,
		.added_to_cart {
			display: none;
		}
		&.wopb-active {
			.wopb-cart-normal,
			.wopb-cart-tooltip {
				display: none;
			}
			.wopb-cart-active {
				display: block;
			}
		}
		.add_to_cart_button {
			margin: unset;
			padding: unset;
		}
	}
}
.wopb-product-meta .wopb-cart-action {
	display: inline-block;
}
.wp-block-product-blocks-product-grid-3 {
	.wopb-pg-l1,
	.wopb-pg-l3 {
		.wopb-tooltip-text {
			display: block;
		}
	}
}
.wp-block-product-blocks-product-grid-1 {
	.wopb-pg-l1,
	.wopb-pg-l2,
	.wopb-pg-l3 {
		.wopb-product-btn {
			.wopb-cart-action {
				.wopb-cart-active,
				.added_to_cart {
					display: none;
				}
				&.wopb-active {
					.wopb-cart-normal {
						display: none;
					}
					.wopb-cart-active {
						display: block;
					}
				}
			}
		}
	}
}
.wopb-pg-cl {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 12px;
	&.wopb-pg-cl2 {
		flex-direction: column-reverse;
	}
}
// Product Grid #3
.wopb-product-cat-price {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.wopb-product-title-review {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

//Deals
.wopb-product-deals {
	line-height: inherit;
	font-size: inherit;
	position: absolute;
	bottom: 12px;
	left: 12px;
	right: 12px;
	z-index: 1;
	background: #000;
	padding: 6px 4px;
	border-radius: 2px;
	-webkit-transition: 0.5s ease-out 0s;
	transition: 0.5s ease-out 0s;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	opacity: 1;
	text-align: center;
	> div {
		color: #fff;
		display: inline-block;
		margin: 0 5px;
		text-align: center;
		position: relative;
		strong {
			font-size: 16px;
		}
		span {
			display: block;
			font-size: 14px;
			line-height: 20px;
		}
	}
}
.wopb-block-item:hover .wopb-block-image {
	.wopb-product-deals {
		opacity: 0;
		-webkit-transform: translate(0, 100%);
		transform: translate(0, 100%);
	}
}
