.wp-block-product-blocks-product-slider {
	.wopb-block-wrapper {
		line-height: 0;
	}
	.wopb-slider-section {
		margin: 0 auto;
	}
	.slick-dotted.slick-slider {
		margin-bottom: unset;
	}
	.slick-list {
		margin: 0 -1px;
		.slick-track {
			display: flex;
			align-items: center;
		}
	}
	.slick-dots ul {
		margin: 0;
	}
	.slick-dots ul li,
	.slick-dots > li {
		width: fit-content;
		height: fit-content;
		button {
			padding: unset;
		}
	}
	.wopb-block-item {
		text-align: center;
		text-align: -webkit-center;
		display: inline-flex !important;
		.wopb-slide-wrap {
			display: flex;
			align-items: center;
			width: 100%;
		}
	}
	.wopb-product-cart-section {
		form.cart {
			display: flex;
			gap: 5px;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;
			.wopb-qty-wrap {
				display: inline-flex !important;
				align-items: stretch;
				margin: 0 !important;
				float: unset !important;
				position: relative;
				height: 100%;
				width: auto;
				overflow: unset;
				input.wopb-qty {
					max-width: 64px;
					height: unset;
					line-height: unset;
					margin-bottom: unset;
					text-align: left;
					&::-webkit-inner-spin-button {
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
						margin: 0;
					}
				}
				.wopb-cart-plus-minus-icon {
					padding: unset;
					display: unset;
					display: flex;
					flex-direction: column;
					.wopb-cart-plus,
					.wopb-cart-minus {
						height: 50%;
					}
					svg {
						height: 15px;
					}
				}
				.wopb-cart-plus,
				.wopb-cart-minus {
					line-height: 0;
					display: flex;
					align-items: center;
					cursor: pointer;

					svg {
						outline: none;
					}
				}
			}
			.wopb-product-cart {
				vertical-align: unset;
				float: unset;
				margin-left: 12px;
				height: unset;
				min-height: unset;
				width: unset;

				&::before {
					display: none;
				}

				&.loading::before {
					display: none;
				}
			}
		}
	}
	.wopb-product-taxonomies {
		display: flex;
	}
	.wopb-product-title {
		width: 100%;
		a {
			color: unset;
			text-decoration: none !important;
		}
	}
	.wopb-product-excerpt {
		width: 100%;
	}
	.wopb-product-price-section {
		.wopb-product-price {
			display: flex;
			gap: 8px;
			flex-wrap: wrap;
			.wopb-prices {
				display: flex;
			}
			ins {
				text-decoration: none;
			}
		}
	}
	.wopb-product-image {
		display: block;
		position: relative;
	}
	.wopb-image-overlay {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}
	img.wopb-block-image {
		width: 100%;
		&.wopb-fallback-image {
			object-fit: cover;
		}
	}
	.wopb-onsale-shape {
		.wopb-sale-shape {
			display: flex;
			position: relative;
			align-items: center;
			justify-content: center;
			text-align: center;
			svg {
				height: 100%;
				width: 100%;
			}
			.wopb-onsale {
				position: absolute;
			}
		}
	}
	.wopb-product-sale-tag {
		position: absolute;
		display: block;
		text-align: center;
		padding-top: 10px;
		z-index: 1;
	}
}
