.wp-block-product-blocks-product-review {
	.wopb-product-wrapper {
		transition: 300ms;
		position: relative;
		&.wopb-hide-heading .comment-reply-title {
			display: none;
		}
	}
	#reviews {
		.commentlist {
			li {
				p.meta {
					margin: 0;
				}
			}
			.description p {
				margin: 0;
			}
		}
	}
}

.woocommerce .wopb-product-wrapper,
.wopb-product-wrapper {
	#reviews {
		display: block;
		margin-top: unset;
		.large-7,
		.large-5 {
			max-width: unset;
			flex-basis: unset;
		}
		#reply-title {
			margin: 0 0 12px 0;
			display: inline-block;
			font-weight: 600;
			font-size: 16px;
			padding: 0;
		}
		li.comment .avatar,
		li.review .avatar {
			max-height: 100% !important;
			height: fit-content !important;
			position: static !important;
			border: none;
			background: none;
			margin: 0 !important;
		}
		#comments {
			margin-bottom: 0 !important;
			padding: 0;
			.commentlist {
				margin: 0;
				padding: 0;
				list-style: none;
				li {
					border: none;
					padding: 0;
					margin: 0 0 30px 0 !important;
					.comment-text {
						display: block;
						float: none;
						width: auto;
						margin: 0 !important;
						padding: unset;
						padding-inline-start: unset;
						border: none;
						position: unset;
						p {
							margin: 0;
						}
						.description {
							padding: 0;
							background: unset;
							margin: 0;
							border: 0;
						}
						.star-rating {
							font-size: 1em;
							margin-bottom: 0.7rem;
							letter-spacing: normal;
							margin-left: 0;
							position: relative;
						}
					}
				}
				.comment_container {
					display: flex;
					gap: 20px;
					padding: 0;
				}
			}
			img.avatar {
				float: left;
				height: 100% !important;
				position: unset !important;
				margin-inline-end: 0;
			}
		}
		#review_form_wrapper {
			padding: 0;
			background: unset;
			margin: 0;
			width: 100%;
			#review_form {
				border: none;
				padding: 0;
				.review-form-inner {
					border: none;
					padding: 0;
				}
				#respond {
					padding: 0 !important;
					background: none !important;
					margin: 0;
				}
				.comment-form {
					display: block;
					margin: 0;
				}
			}
			#comment {
				height: auto;
				background-image: none;
				box-shadow: none;
			}
			.comment-form-rating {
				display: block;
				margin: 0 0 12px 0;
				padding: 0;
				label {
					padding: 0;
					margin-bottom: 5px;
				}
				p.stars {
					display: block;
					width: fit-content;
					margin: 0 !important;
					line-height: normal;
					&:nth-of-type(3),
					&:nth-of-type(2) {
						display: none !important;
					}
					&:hover a::before {
						content: "\53"; //Fill Star
					}
					a:hover ~ a::before {
						content: "\73"; //Empty Star
					}
					&.selected a {
						&.active::before {
							content: "\53";
						}
						&.active ~ a::before {
							content: "\73";
						}
						&:not(.active)::before {
							content: "\53";
						}
					}
					& > span {
						font-size: unset;
						display: block;
					}
					a {
						position: relative;
						height: 1em;
						width: 1em;
						text-indent: -999em;
						display: inline-block;
						text-decoration: none !important;
						box-shadow: none;
						margin-right: 0;
						background: no-repeat;
						margin-inline-start: 0;
						border: none;
						&::before {
							overflow: hidden;
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 1em;
							height: 1em;
							line-height: 1;
							text-indent: 0;
							content: "\73\73\73\73\73";
							font-size: 1em;
						}
						&::after {
							content: "";
							display: none;
						}
						span {
							overflow: hidden;
							float: left;
							top: 0;
							left: 0;
							position: absolute;
							padding-top: 1.5em;
							word-break: initial;
							&::before {
								content: "\53\53\53\53\53";
								top: 0;
								position: absolute;
								left: 0;
							}
						}
					}
				}
				select {
					width: fit-content;
					margin-left: 15px;
				}
			}
			.comment-form-comment {
				margin: 0;
				padding: 0;
			}
			.form-submit {
				margin: 5px 0 0 0;
				text-align: left;
				padding: 0;
				#submit {
					transition: 300ms;
					height: unset;
					line-height: normal;
					width: fit-content;
				}
			}
			#comment:focus {
				outline: 0 !important;
			}
			.comment-respond p:not(.comment-notes) {
				textarea {
					max-width: 100%;
					width: 100%;
				}
				max-width: 100%;
			}
		}
	}
}
