.wp-block-product-blocks-product-price .wopb-product-wrapper > span,
.wp-block-product-blocks-product-price .wopb-product-wrapper > p,
.wp-block-product-blocks-product-price
	.wopb-product-wrapper
	> .woocommerce-discount-badge {
	transition: 300ms;
	display: inline-block;
}
.wp-block-product-blocks-product-price p,
.editor-styles-wrapper .wp-block-product-blocks-product-price p {
	margin: 0 !important;
}

.wp-block-product-blocks-product-price .wopb-product-wrapper {
	display: flex;
	align-items: center;
	transition: 300ms;
	p.price {
		align-items: center;
	}
	.usefull-info,
	.clearfix {
		display: none;
	}
}

.wp-block-product-blocks-product-price p del bdi {
	text-decoration: line-through;
}

.wp-block-product-blocks-product-price .wopb-product-wrapper p del,
ins {
	text-decoration: none !important;
	position: unset;
}
.single-product div.product .wopb-product-wrapper p.price {
	margin: 0;
}
