.wopb-product-wrapper .wopb-coupon-section {
	width: auto;
	.wopb-toggle-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		button {
			box-shadow: none;
			overflow: unset;
			&::after {
				background: none;
			}
		}
	}
	.wopb-toggle-btn {
		padding: 0px;
		background-color: inherit;
		color: inherit;
		border: 0px;
	}
	.wopb-toggle-btn {
		box-sizing: border-box;
		position: relative;
		display: flex;
		// transform: scale(var(--ggs,1));
		width: 15px;
		height: 15px;
	}
	.wopb-toggle-btn::before {
		content: "";
		display: block;
		box-sizing: border-box;
		position: absolute;
		width: 10px;
		height: 10px;
		border-bottom: 2px solid;
		border-right: 2px solid;
		transform: rotate(45deg);
		transition: 0.4s;
	}

	.wopb-toggle-btn.wopb-toggle-btn-collapse::before {
		transform: rotate(-45deg);
	}
	form {
		margin-bottom: unset;
	}
	button {
		outline: none;
	}
	.checkout_coupon {
		margin-top: unset;
		margin-bottom: unset;
		max-width: 100%;
	}
	.wopb-checkout-coupon-submit-btn {
		width: fit-content;
		min-width: fit-content;
	}
	.wopb-toggle-text,
	.wopb-checkout-coupon-submit-btn {
		transition: 0.4s;
	}
	.wopb-coupon-body {
		input {
			display: inline-block;
			height: fit-content !important;
		}
		input,
		.wopb-checkout-coupon-submit-btn {
			min-height: unset;
		}
	}
}
