.wopb-product-wrapper {
	.wopb-meta-cat,
	.wopb-meta-tag {
		display: flex;
		align-items: center;
		a {
			transition: 300ms;
		}
	}
	.wopb-meta-label-cat,
	.wopb-meta-label-tag,
	.wopb-meta-label-sku {
		margin-right: 5px;
	}
}

.wp-block-product-blocks-product-meta {
	.wopb-product-wrapper {
		width: 100%;
		transition: 300ms;
	}
}
