.wopb-product-search-block {
	position: relative;
	form {
		display: flex;
		margin-bottom: unset;
		box-sizing: unset !important;
		.wopb-input-section {
			position: relative;
			width: 100%;
			.wopb-clear {
				position: absolute;
				right: 5px;
				top: calc(50% - 10px);
				cursor: pointer;
			}
			.wopb-loader-container {
				position: absolute;
				right: 10px;
				top: calc(50% - 10px);
			}
		}
		.wopb-search-input {
			width: 100%;
			min-height: unset;
			box-shadow: unset;
			height: 100%;
			border: none !important;
			border-radius: unset;
			background: none !important;
			margin: 0;
			box-sizing: border-box;
		}
		.wopb-search-category {
			.wopb-selected-item {
				height: 100%;
				padding: 0;
				border: none;
				justify-content: center;
				.dashicons {
					font-family: dashicons;
				}
			}
			.wopb-select-items {
				border-radius: unset;
				z-index: 9999;
				li {
					padding: 8px 12px;
				}
			}
		}
		.wopb-search-icon-section {
			display: flex;
			align-items: center;
		}
		.wopb-search-icon,
		.wopb-search-category {
			display: flex;
			align-items: center;
		}
		.wopb-search-icon {
			box-sizing: unset;
			cursor: pointer;
			justify-content: center;
		}
	}
	.wopb-search-result {
		position: absolute;
		width: 100%;
		z-index: 99;
		max-height: 20em;
		overflow-y: auto;
		margin-top: -1px;
		-ms-overflow-style: none;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
		.wopb-tax-term-items {
			display: block !important;
			.wopb-search-item {
				border-bottom: none;
				padding-top: 5px;
				padding-bottom: 5px;
				justify-content: left !important;
				a {
					color: #333;
					cursor: pointer;
					font-size: 14px;
				}
			}
		}
		&.wopb-layout-1 {
			.wopb-search-items .wopb-search-item {
				align-items: center;
			}
		}
		&.wopb-layout-1,
		&.wopb-layout-2 {
			.wopb-search-items .wopb-search-item {
				justify-content: space-between;
			}
		}
		.wopb-search-items {
			display: grid;
			.wopb-search-item {
				display: flex;
				justify-content: center;
				height: auto;
				@media (min-width: 992px) {
					&.wopb-lg-center-column {
						border-right: none;
					}
				}
				@media (max-width: 992px) {
					&.wopb-sm-center-column {
						border-right: none;
					}
				}
				.wopb-item-details {
					display: flex;
					align-items: center;
					gap: 10px;
					.wopb-item-title .wopb-highlight {
						text-decoration: underline;
					}
					.wopb-item-image img {
						width: 100%;
						height: 100%;
					}
				}
				.wopb-star-fill {
					width: 60%;
				}
				.wopb-item-price {
					display: flex;
					gap: 5px;
					flex-wrap: wrap;
					.wopb-main-price,
					del {
						text-decoration: line-through;
						opacity: 0.6;
					}
				}
			}
			p:has(.wopb-highlight) {
				margin: 0;
			}
		}
		.wopb-load-more-section {
			text-align: center;
			padding: 15px;
			.wopb-load-more,
			.wopb-less-result {
				cursor: pointer;
			}
		}
		.wopb-empty-result {
			text-align: center;
			padding: 0.7em;
			border: 1px solid #e5e5e5;
			h2 {
				font-weight: 400;
				font-size: 1.2em;
			}
		}
	}
}
