.wp-block-product-blocks-advance-list {
	a {
		text-decoration: none !important;
	}
	.wopb-list-separator {
		display: block;
	}
	.wopb-list-wrapper {
		list-style: none;
		transition: 0.3s;
		&:hover {
			transition: 0.3s;
		}
		&:has(.block-editor-block-list__layout) {
			padding: 0px !important;
		}
		&:has(> .wp-block-product-blocks-list) {
			width: max-content;
			max-width: fit-content;
		}
		& > li:last-child {
			border: none;
			padding-bottom: 0px;
			margin-bottom: 0px;
		}
	}
	.wopb-listicon-bg {
		width: fit-content;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.3s;
		&:hover {
			transition: 0.3s;
		}
		svg {
			transition: 0.3s;
			&:hover {
				transition: 0.3s;
			}
		}
	}
	.wopb-list-content {
		width: 100%;
		box-sizing: border-box;
		justify-content: flex-start;
		transition: 0.3s;
		&:hover {
			transition: 0.3s;
		}
	}

	// Backend
	.block-editor-block-list__layout {
		width: max-content;
		max-width: fit-content;
		transition: 0.3s;
		&:hover {
			transition: 0.3s;
		}
		& > .block-editor-block-list__block {
			margin: 0px !important;
			width: 100%;
		}
	}
	.block-editor-inner-blocks:has(.block-list-appender) {
		& > .block-editor-block-list__layout {
			& > div {
				margin: 0px;
				&:nth-last-child(2) {
					li {
						border: none;
						padding-bottom: 0px !important;
						margin-bottom: 0px !important;
						padding-right: 0px !important;
						margin-right: 0px !important;
					}
				}
			}
		}
	}
	.block-editor-inner-blocks {
		& > .block-editor-block-list__layout {
			& > div {
				margin: 0px;
				&:last-child {
					li {
						border: none;
						padding-bottom: 0px !important;
						margin-bottom: 0px !important;
						padding-right: 0px !important;
						margin-right: 0px !important;
					}
				}
			}
		}
	}
}

/* ===== Layout Style ===== */
.wopb-list-layout1,
.wopb-list-layout3 {
	list-style: none;
}
.wopb-list-layout2 {
	list-style: none;
	justify-content: flex-end;
	.wopb-list-content {
		text-align: right;
		flex-direction: row-reverse;
		&:has(> .wopb-list-heading) {
			flex-direction: row;
		}
	}
	.wopb-list-heading {
		flex-direction: row-reverse !important;
	}
}
.wopb-list-layout3 {
	li {
		list-style: none;
		color: #070c1a;
		border-width: 0px;
	}
}
