.wopb-product-wrapper .wopb-my-account-container {
	display: flex;
	table tr td {
		vertical-align: middle !important;
	}
	&.wopb-guest-account-container {
		flex-direction: column;
	}
	.wopb-my-account-container-show {
		display: block !important;
	}
	.wopb-my-account-container-hide {
		display: none;
	}
	.wopb-myaccount-item {
		display: none;
	}
	#wopb-ma-login-item > h2,
	& > h2 {
		margin-bottom: 24px;
	}
	.woocommerce-MyAccount-navigation {
		width: fit-content;
		float: unset;
		ul {
			margin: 0;
			li {
				overflow: hidden;
				padding: 0;
				& > a {
					box-sizing: border-box;
					&::before {
						line-height: 1.4;
					}
				}
			}
		}
	}
	.woocommerce-MyAccount-content {
		max-width: 100%;
		width: -webkit-fill-available;
		float: unset;
		.woocommerce-order-details,
		.woocommerce-order-downloads,
		.wopb_deposit_order_details {
			margin-bottom: 20px;
		}
		.woocommerce-info:has(.wc-forward) {
			padding: 0 0 0 26px;
			color: inherit;
			background: inherit;
			border: none;
			&::before {
				color: inherit;
				top: 0;
				left: 0;
			}
			.wc-forward {
				border-radius: 0px;
				padding: 12px 20px;
			}
		}
	}
	ul {
		margin: unset;
		padding: unset;
		li {
			list-style: none;
			margin: 0px;
			a {
				display: block;
				white-space: nowrap;
				&:focus {
					outline: unset;
					outline: unset;
				}
			}
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
	a {
		text-decoration: none;
		display: inline-block;
		&:focus {
			box-shadow: unset;
			transition: unset;
			outline: unset;
		}
	}
	.woocommerce-MyAccount-content .button {
		font-size: inherit;
		line-height: normal;
		min-height: unset;
		margin-top: unset;
		margin-left: unset;
	}
	table {
		width: 100%;
		border-spacing: 0px;
		margin: 0px !important;
		td {
			padding: unset;
			.woocommerce-button {
				padding: 0px;
			}
		}
		th,
		td {
			background-color: inherit;
			text-align: center;
		}
	}
	table:not(.has-background) tbody tr:nth-child(2n) td,
	fieldset,
	fieldset legend {
		background-color: inherit;
	}
	form {
		.form-row-first {
			float: left;
			width: 49%;
			margin-right: 0px;
		}
		.form-row-last {
			float: right;
			width: 49%;
		}
		p.form-row label {
			display: block;
			margin-bottom: 8px;
		}
		p.form-row input {
			width: 100%;
			min-height: 48px;
			box-shadow: unset;
			box-sizing: border-box;
			&[type="checkbox"] {
				width: unset;
				min-height: unset;
			}
			&:focus-visible {
				outline: unset;
			}
			&:focus {
				border-color: unset;
				box-shadow: unset;
			}
		}
		p.form-row {
			margin-top: 0px;
			.select2-selection--single {
				min-height: 40px;
				height: inherit;
				padding: 4px 0 0 6px;
				border-radius: 4px;
				.select2-selection__arrow {
					height: inherit;
					min-height: 40px;
				}
			}
		}
		fieldset {
			margin-top: 25px;
			padding: 0px;
			margin-bottom: 0px;
			legend {
				padding: 3px 0 10px;
				border-bottom: 1px solid currentColor;
				width: 100%;
				margin: 16px 0;
			}
		}
		p:has(.woocommerce-Button),
		p .woocommerce-form-login__submit {
			margin-top: 10px;
			margin-bottom: 0px;
		}
	}
	h1,
	h2,
	h3 {
		padding: 0px;
	}

	.woocommerce-Address {
		address {
			margin-left: unset;
		}
	}
}
.wopb-product-wrapper .wopb-my-account-profile-section {
	display: flex;
	justify-content: flex-start;
	gap: 24px;
	img {
		width: 100%;
	}
	.wopb-my-account-user-data {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

// For Block Editor
.woocommerce-account .wopb-my-account-container .woocommerce-Addresses,
.wopb-my-account-container .woocommerce-Addresses {
	.woocommerce-Address {
		padding: 0;
	}
	address {
		padding: 6px 14px 14px !important;
		font-style: inherit;
	}
	.woocommerce-Address-title {
		padding: 10px 14px !important;
		margin-bottom: 0;
		a {
			padding: 0 !important;
			background: unset;
			margin: 0;
			height: auto;
			width: auto;
			text-indent: unset;
			overflow: visible;
			&::before {
				left: 100%;
				margin-left: 2px;
			}
		}
		h2,
		h3,
		h4 {
			margin: 0;
		}
	}
}
.editor-styles-wrapper .wopb-my-account-container {
	.woocommerce-MyAccount-content header.woocommerce-Address-title h3 {
		margin: unset;
		display: inline-block;
		& + a.edit {
			margin-left: 10%;
		}
	}
	.woocommerce-Addresses {
		display: flex;
		justify-content: space-between;
		.woocommerce-Address {
			width: 45%;
			address {
				// padding: 10px;
				font-style: inherit;
			}
		}
	}
	table:not(.has-background) {
		th,
		td,
		tbody tr:nth-child(2n) td {
			background-color: inherit;
		}
	}
	p {
		margin: 0px;
	}
}
body .wopb-my-account-container .woocommerce-MyAccount-navigation-link {
	&.is-active a {
		background-color: unset;
	}
	a {
		padding: unset;
		line-height: normal;
	}
}
.woocommerce .wopb-my-account-container {
	table td a.button {
		border-radius: 2px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		display: inline-block;
	}
}
.woocommerce-account .wopb-my-account-container {
	.woocommerce-MyAccount-navigation {
		width: fit-content;
		float: unset;
	}
	.woocommerce-MyAccount-content {
		width: -webkit-fill-available;
		float: unset;
	}
	table.account-orders-table:not(.has-background)
		tbody
		tr:nth-child(2n + 1)
		td {
		background: inherit;
		filter: unset;
	}
	.woocommerce-MyAccount-navigation-link {
		a:hover {
			text-decoration: unset !important;
		}
		a:focus {
			background: inherit !important;
		}
	}
	table.account-orders-table
		td.woocommerce-orders-table__cell-order-actions
		a {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
}
@media (max-width: 767px) {
	.wopb-product-wrapper .wopb-my-account-container {
		flex-wrap: wrap;
	}
}
@media (max-width: 387px) {
	.wopb-product-wrapper .wopb-my-account-profile-section {
		flex-wrap: wrap;
	}
}

// theme compability
.wopb-my-account-container {
	@media (min-width: 690px) {
		.ct-acount-nav {
			width: unset;
			min-width: unset;
			margin-inline-end: unset;
		}
		.woocommerce-MyAccount-content table a.button {
			width: unset;
		}
	}
	.ct-acount-nav {
		background: inherit;
	}
	.woocommerce-MyAccount-navigation ul li {
		&:hover a {
			background: unset;
		}
		&:not(:last-child) a {
			border-bottom: unset;
		}
		&.is-active a,
		&.is-active a:hover {
			border-left: unset;
			// font-weight: unset;
		}
		a {
			height: unset;
			padding: unset;
		}
	}
	fieldset {
		border: unset;
	}
	&:has(#customer_login) {
		display: unset;
	}
	.kadence-account-avatar {
		display: none !important;
	}
	.account-navigation-wrap {
		width: fit-content !important;
		border-left: unset !important;
	}
	.woocommerce-Message--info a {
		background: inherit;
	}
	.woocommerce-notices-wrapper {
		ul {
			padding: 10px;
			&::before {
				top: unset;
				left: unset;
			}
			li {
				margin-left: 25px !important;
			}
		}
	}
}
.theme-blocksy .wopb-my-account-container {
	#customer_login {
		display: grid;
		gap: 30px;
	}
	@media (min-width: 690px) {
		#customer_login {
			grid-template-columns: 1fr 1fr;
		}
	}
	.woocommerce-address-fields__field-wrapper {
		margin-bottom: inherit;
	}
}

.wopb-my-account-container
	table.shop_table_responsive
	tbody
	td.woocommerce-orders-table__cell-order-actions
	a.button {
	display: inline-block !important;
	width: fit-content !important;
}
