@import "../dashboard/utility.scss";
/*
=========== SCSS Table of Contents ===========
> 1.x Color Variable
    > 1.1 Color Variabe
    > 1.2 Color and Typo Variable
> 2.x Mixin Function
> 3.x Fields
    > 3.1 Field Common
    > 3.2 Alignment [Field]
    > 3.3 Border & BoxShadow [Field]
    > 3.4 Color [Field]
    > 3.5 Color2 [Field]
    > 3.6 Dimention [Field]
    > 3.7 Divider [Field]
    > 3.8 Group Button [Field]
    > 3.9 Layout [Field]
    > 3.10 Media [Field]
    > 3.11 Number [Field]
    > 3.12 Radio Image [Field]
    > 3.13 Range [Field]
    > 3.14 Select [Field]
    > 3.15 Sort [Field]
    > 3.16 Tag [Field]
    > 3.17 Template [Field]
    > 3.18 Typography [Field]
    > 3.19 Accordion [Field]
    > 3.20 Section [Field]
    > 3.21 Tab [Field]
    > 3.22 Layout2 [Field]
> 4.x PopUp Modal
> 5.x Fix Default Gutenberg
> 6.x Global Settings
> 7.x Filter Pro Wrapper
> 8.x Section Toggle
> 9.x Query
> 10.x Toolbar Icon Size\
> 11.x Template Style
> 12.x Design Template -- Explore Patterns
> 13.x Row Column Structure
> 14.x UX Component
> 15.x WOPB Toolbar Group

=============================================
*/

/* ---------------------------
------ 1.x Color  ----
------------------------------ */
/* ---------------------------
------ 1.1 Color Variable ------
------------------------------ */
$primarycolor: #037fff;
$secondcolor: #0b74e1;
$wpprimarycolor: #007cba;
$wpsecondcolor: #006ba1;
$bordercolor: #1e1e1e;
$white-color: #fff;
$black-color: #000;
$wopbcolor: #ff176bff;

/* ---------------------------
------ 1.2 Color and Typo Variable ------
------------------------------ */
:root {
	--wowstore-primary-color: #037fff;
	--wowstore-white-color: #ffffff;
	--wowstore-dark-color: #000;
	--wowstore-text-color: #3a3838;
	--wowstore-border-color: #dddddd;
	--wowstore-success-button-color: #73b81c;
	--wowstore-success-button-hover-color: #619e14;
	--wowstore-warning-button-color: #d88a02;
	--wowstore-warning-button-hover-color: #d88a02;
	--wowstore-border-radius: 4px;
	--wowstore-text-size: 16px;
	--wowstore-text-sm-size: 14px;
	--wowstore-gutter-35: 35px;
	--wowstore-gutter-15: 15px;
	--wowstore-gutter-10: 10px;
	--wowstore-gutter-5: 5px;
	--wowstore-gutter-2: 2px;
	--wowstore-transition-400: 400ms;
}

/* ---------------------------
------ 2.x Mixin Function ----
------------------------------ */
@mixin track() {
	width: 100%;
	height: 3px;
	cursor: pointer;
	animate: 0.2s;
}
@mixin thumb() {
	height: 15px;
	width: 15px;
	border-radius: 8px;
	background: #007cba;
	cursor: pointer;
}
@mixin contentAlign($horizontal: unset, $vertical: unset) {
	display: flex;
	justify-content: $horizontal;
	align-items: $vertical;
}

@mixin wp-label() {
	font-size: 11px !important;
	font-weight: 500 !important;
	color: black !important;
	text-transform: uppercase !important;
}

.wopb-d-none {
	display: none;
}

// Making our labels same as wp default
.wopb-field-wrap,
.wopb-field-label-responsive {
	label {
		@include wp-label();
	}
}
.wopb-field-toggle {
	label {
		font-size: 13px !important;
		font-weight: unset !important;
		text-transform: capitalize !important;
	}
}

/* ---------------------------
------ 3.1 Field Common ------
------------------------------ */
.editor-styles-wrapper .wopb-product-blocks-slide {
	display: block;
}
.is-hide {
	display: none;
}
.wopb-sub-field {
	// display: block;
	border: none;
	padding: 0px;
	display: flex;
}
.wopb-flex-content {
	display: flex;
	justify-content: space-between;
}

// Popup Field Type Icon
.wopb-icon-style {
	cursor: pointer;
	line-height: 0;
	border-radius: 2px;
	box-sizing: content-box;
	background-color: #000;
	&.active {
		box-shadow:
			inset 0 0 0 2px #fff,
			#000 0 0 0 2px;
	}
	svg {
		width: 25px;
		transition: 0.4s;
		fill: #fff !important;
	}
}

// Popup Field Type
.wopb-popup-control {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	label {
		-ms-flex-positive: 1;
		flex-grow: 1;
		font-weight: 400;
		font-size: 13px;
		color: #545454;
		letter-spacing: 0.2px;
	}
	.wopb-field-wrap {
		margin-bottom: 0;
	}
}

// Pro Message
.wopb-field-pro-message {
	padding: 8px 0 0;
	color: #8e8e8e;
	a {
		color: #30a635;
		margin-left: 2px;
		font-size: 11px;
		font-weight: 600;
	}
}
.wopb-pro-text {
	color: #2ca622;
	font-size: 12px;
	padding: 2px 3px 3px;
	border-radius: 2px;
	text-decoration: underline;
	transition: 0.4s;
}
.wopb-pro-field {
	background: #f8f8f8;
	padding: 10px 8px;
	margin: 8px 0;
	border-radius: 3px;
	border: 1px solid #dadada;
	margin-top: 15px;
}
.wopb-field-pro-message-inline {
	color: #2ca622;
	margin-left: 2px;
	font-size: 11px;
	font-weight: 600;
	transition: 400ms;
	&:hover {
		color: #15750e;
	}
}
.wopb-field-wrap {
	// padding-top: 14px;
	padding-top: 12px;
	padding-bottom: 12px;
	clear: both;
	.wopb-sub-field {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

// Responsive Device
.wopb-responsive-device {
	align-items: center;
	height: 23px;
	overflow: hidden;
	position: relative;
	width: 23px;
	z-index: 3;
	display: flex;
	text-align: center;
	justify-content: center;
	align-content: center;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-right: 4px;
	svg {
		width: 16px;
		cursor: pointer;
		transition: 400ms;
		&:hover {
			fill: #037fff;
		}
	}
	&:hover {
		border-color: #000;
		overflow: visible;
	}
	.wopb-responsive-dropdown {
		outline: 1px solid #2a2a2a;
		background: $white-color;
		position: absolute;
		padding: 0;
		border-radius: 1px;
		top: -1px;
		span {
			padding: 3px 4px 4px;
			display: flex;
			&:hover {
				background: $black-color;
				svg {
					fill: $white-color;
				}
			}
		}
		&.wopb-responsive-lg {
			top: 0;
		}
		&.wopb-responsive-sm {
			top: -24px;
		}
		&.wopb-responsive-xs {
			top: -47px;
		}
		.wopb-responsive-active {
			background: $black-color;
			svg {
				fill: $white-color;
			}
		}
	}
}
.wopb-field-label-responsive {
	display: flex;
	justify-content: unset;
	align-items: center;
	margin-bottom: 6px;
	label {
		padding: 0px !important;
		margin-right: 5px !important;
	}
}

// Unit Field
.wopb-unit-close {
	position: relative;
	.wopb-field-unit-dropdown {
		display: none;
		span {
			&.wopb-unit-checked {
				visibility: visible;
				display: block;
			}
		}
	}
}
.wopb-unit-open {
	position: relative;
	.wopb-field-unit-list {
		.wopb-field-unit-dropdown {
			z-index: 5;
			display: block;
			box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.12);
		}
	}
}
.wopb-field-unit-list {
	width: 29px;
	height: 23px;
	background: $white-color;
	.wopb-field-unit-dropdown {
		position: absolute;
		width: 29px;
		border: 1px solid $black-color;
		right: 0px;
		z-index: 1;
		text-align: center;
		overflow: hidden;
		border-radius: 2px;
		background: $white-color;
		margin-top: 1px;
		border: 1px solid #000;
	}
	span {
		display: block;
		padding: 3px 1px 3px;
		font-size: 12px;
		cursor: pointer;
		height: 100%;
		align-items: center;
		justify-content: center;
		&:hover {
			color: #1e1e1e;
			background: #e5e5e5;
		}
		&.wopb-unit-active {
			color: $white-color;
			background-color: $black-color;
			&:hover {
				color: $white-color;
				background-color: $black-color;
			}
		}
		&.wopb-unit-checked {
			text-align: center;
			font-size: 14px;
			border-radius: 2px;
			background: $white-color;
			padding: 0px 2px 3px;
			border: 1px solid #ddd;
			&:hover {
				color: #e5e5e5;
				border-color: #000;
				background: #1e1e1e;
			}
		}
	}
	&:hover {
		background: #e7e7e7;
	}
}

// Rotate Icon
.rotate {
	animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}
.wopb-popup-rotate {
	animation: popupRotate 1s linear infinite;
}
@keyframes popupRotate {
	to {
		transform: rotate(360deg);
	}
}
.wopb-image-rotate {
	text-align: center;
	padding-top: 12%;
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	i {
		font-size: 25px;
		margin-left: 0;
		width: auto;
		height: auto;
		color: #ff176b;
		border-radius: 100px;
		margin-right: 5px;
		background: -webkit-linear-gradient(#ff47ad, #ff176b);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
.wopb-backend-block-loading .components-placeholder__fieldset,
.wopb-backend-block-loading .components-placeholder__label {
	justify-content: center;
	align-items: center;
	width: 100%;
	//margin-bottom: 0;
}

/* -------------------------------
---- 3.2 Alignment [Field] -------
---------------------------------- */
.wopb-field-alignment {
	.wopb-sub-field {
		border: solid 1px #757575;
		border-radius: 2px;
		padding: 5px;
		align-items: center;
		justify-content: space-between;
		gap: 7px;
		.wopb-align-button {
			font-size: 14px;
			display: block;
			display: flex;
			align-items: center;
			white-space: nowrap;
			svg {
				width: 24px;
				height: 100%;
				display: block;
				cursor: pointer;
				padding: 1px 3px;
				border-radius: 2px;
				box-sizing: content-box;
				margin-right: 15px;
			}
		}
		.alignActive {
			svg {
				background: #2a2a2a;
				fill: $white-color;
			}
		}
	}
}
.wopb-align-toolbar {
	padding: 0px 10px 0px 10px !important;
	svg {
		height: 24px;
		width: 24px;
		cursor: pointer;
	}
}
.components-popover__content {
	.wopb-field-alignment {
		padding: 7px;
	}
	.components-dropdown {
		@include contentAlign(center, center);
	}
}

/* -------------------------------
- 3.3 Border & BoxShadow [Field] -
---------------------------------- */
.wopb-field-border,
.wopb-field-shadow {
	.wopb-edit-btn {
		display: flex;
		align-items: center;
	}
}
.wopb-border-style {
	@include contentAlign(space-between, center);
	padding: 0;
	margin-bottom: 5px;
	border: solid 1px #757575;
	border-radius: 2px;
	span {
		font-size: 14px;
		height: 32px;
		width: 100%;
		min-width: 30px;
		@include contentAlign(center, center);
		cursor: pointer;
		&:after {
			content: "";
			width: 50px;
			height: 1px;
			display: block;
		}
		&.solid {
			position: relative;
			&:after {
				border-top: solid 3px $black-color;
			}
		}
		&.dotted {
			position: relative;
			&:after {
				border-top: dotted 3px $black-color;
			}
		}
		&.dashed {
			position: relative;
			&:after {
				border-top: dashed 3px $black-color;
			}
		}
		&.active {
			background: $black-color;
			&.dashed,
			&.dotted,
			&.solid {
				&:after {
					border-color: $white-color;
				}
			}
		}
	}
}

/* -----------------------------
------ 3.4 Color [Field]--------
-------------------------------- */
.wopb-color-preview {
	width: 20px;
	height: 20px;
	border-radius: 100px;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.08);
	margin: 0 5px;
	display: flex;
}
.wopb-field-color {
	.wopb-color-label {
		display: flex;
		align-items: center;
	}
	.wopb-preset-color {
		margin-right: auto;
		span {
			width: 20px;
			height: 20px;
			border-radius: 100px;
			margin-right: 6px;
			box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
			border: 1px solid #e5e5e5;
		}
	}
	.wopb-sub-field {
		align-items: center;
		.wopb-range-control {
			margin-top: 0;
		}
	}
	.wopb-control-button {
		width: 24px;
		height: 24px;
		display: inline-block;
		cursor: pointer;
		position: relative;
		text-align: center;
		border-radius: 100%;
		background: linear-gradient(
			to right,
			#e9c619 11%,
			#ffd52f 4%,
			#fcaa8b 37%,
			#d77a12 65%,
			#f97800 100%,
			#74f79b 100%,
			#f74a00 100%
		);
		box-sizing: content-box;
		box-shadow:
			0 0 0px 2.5px #fff,
			0 0 0px 0px rgb(0 0 0 / 15%),
			0 0 10px 5px rgb(0 0 0 / 15%);
		&:before {
			content: "\f540";
			position: absolute;
			left: 0;
			top: 0;
			font-family: dashicons;
			width: 100%;
			height: 100%;
			font-size: 16px;
			@include contentAlign(center, center);
			color: $white-color;
			text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
		}
	}

	> label {
		-ms-flex-positive: 1;
		flex-grow: 1;
		font-weight: 400;
		font-size: 13px;
		color: #545454;
		letter-spacing: 0.2px;
	}
	.wopb-clear {
		margin-top: 0px;
		margin-right: 4px;
		font-size: 16px !important;
		color: #e21111 !important;
		cursor: pointer;
		display: flex;
		align-items: center;
	}
}
// For Block
.wopb-color-block {
	justify-content: space-between;
	display: grid;
	grid-template-areas: "x y" "z z";
	align-items: center;
	.wopb-color-label {
		grid-area: x;
	}
	.wopb-sub-field {
		grid-area: y;
		justify-content: flex-end;
	}
	.wopb-field-pro-message {
		grid-area: z;
	}
}
// For inline
.wopb-color-inline {
	.wopb-sub-field {
		display: block;
	}
	.wopb-color-inline__label {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;
		.wopb-color-label__content {
			display: flex;
			align-items: center;
			label {
				padding: 0px !important;
			}
		}
		.wopb-range-control {
			margin: 0px;
			line-height: 0;
		}
	}
	.components-spacer {
		display: none !important;
	}
}
.wopb-preset-color {
	& > span {
		width: 15%;
		height: 25px;
		margin-right: 1.5%;
		border-radius: 5px;
		display: inline-block;
		&:hover {
			cursor: pointer;
		}
	}
	div {
		margin-bottom: 7px;
	}
}
.wopb-color-popup {
	.components-color-picker {
		width: 100% !important;
	}
	.react-colorful {
		width: 100% !important;
	}
	.react-colorful__saturation {
		height: 100px !important;
	}
	.wopb-preset-color {
		span {
			height: 26px;
			width: 26px;
			border: none;
			border-radius: 50%;
			box-shadow: inset 0 0 0 1px rgb(0 0 0 / 20%);
			transition: 0.1s;
			cursor: pointer;
			margin-bottom: 4px;
			&:not(:last-child) {
				margin-right: 8px;
			}
			&:hover {
				transform: scale(1.2);
			}
		}
	}
}

/* -----------------------------
------ 3.5 Color2 [Field]-------
-------------------------------- */
.wopb-field-color2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.wopb-color2-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		label {
			display: block;
		}
	}
	.wopb-sub-field {
		margin-top: 0;
		margin-left: auto;
		align-items: center;
		.wopb-base-label {
			flex-grow: 1;
		}
		.wopb-range-control {
			margin: 0px;
		}
	}
	&.wopb-pro-field {
		display: grid;
		grid-template-columns: 1fr 0.8fr;
		.wopb-field-pro-message {
			grid-column: 1 / span 2;
		}
	}
	.wopb-base-control-btn {
		padding-top: 3px;
		&:hover {
			cursor: pointer;
		}
	}
}
.wopb-color2-btn__group {
	border: 1px solid #757575;
	border-radius: 2px;
	padding: 5px;
	margin-left: 5px;
	@include contentAlign(space-between, center);
	button {
		color: $black-color;
		line-height: normal;
		border: none !important;
		box-shadow: none !important;
		box-sizing: border-box !important;
		border-radius: 3px !important;
		background-color: $white-color;
		margin: 0px;
		padding: 7px;
	}
}
.wopb-color2-btn__group .active.wopb-icon-style {
	background-color: $black-color;
	color: $white-color;
}
.wopb-field-video-image {
	display: block;
	.wopb-sub-field {
		flex-direction: row-reverse;
		gap: 5px;
		.wopb-color2-btn__group {
			width: 100%;
			margin-top: 5px;
			margin-left: 0px;
		}
	}
}
.wopb-image-control--popup {
	.wopb-common-popup {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 20px;
	}
	.wopb-placeholder-image {
		img {
			max-height: 190px;
		}
		.wopb-focalpoint-wrapper {
			.focal-point-picker__controls {
				padding-bottom: 0px !important;
				.components-unit-control-wrapper {
					width: 100%;
					.components-unit-control {
						width: 100%;
					}
				}
			}
		}
	}
}
.wopb-editor-fallback-bg {
	.wopb-field-wrap {
		padding-top: 0px;
		padding-bottom: 15px;
	}
}
// active icon style
.wopb-icon-style {
	cursor: pointer;
	line-height: 0px;
	border-radius: 2px;
	box-sizing: content-box;
	background-color: $black-color;
	svg {
		width: 25px;
		transition: 400ms;
		fill: $white-color !important;
	}
}
.active.wopb-icon-style {
	box-shadow:
		inset 0 0 0 2px #fff,
		#000 0 0 0 2px;
}

/* -----------------------------
----- 3.6 Dimention [Field]-----
--------------------------------*/
.wopb-field-dimension {
	.wopb-dimension-input {
		> span {
			float: left;
			width: 25%;
			input {
				max-width: 100%;
				padding: 0;
				margin: 0;
				height: 30px;
				text-align: center;
				&:focus {
					outline: 0;
					box-shadow: none;
					border-color: #666d75;
				}
			}
			&:not(:last-child) input {
				border-radius: 0;
				border-right: none;
			}
			input + span {
				font-size: 8px;
				text-transform: uppercase;
				color: #4d4c4c;
				font-weight: 500;
				letter-spacing: 0.5px;
			}
			&:first-child input {
				border-radius: 2px 0 0 2px;
			}
			&:last-child input {
				border-radius: 0 2px 2px 0;
			}
		}
		> button {
			padding: 0px;
			width: 20%;
			line-height: 28px;
			height: 30px;
			background: #000;
			border-top: none;
			border-right: none;
			border-bottom: none;
			border-left: none;
			cursor: pointer;
			transition: 400ms;
			border-radius: 0 3px 3px 0;
			display: flex;
			justify-content: center;
			align-items: center;
			> span {
				line-height: normal;
				font-size: 16px;
				color: $white-color;
			}
			&:focus {
				outline: 0;
			}
		}
		&.wopb-base-control-hasLock > span {
			width: 20%;
			text-align: center;
		}
	}
	.wopb-label-control {
		align-items: center;
		margin-bottom: 6px;
	}
}
// Theme Issue

/* -----------------------------
----- 3.7 Divider [Field] ------
--------------------------------*/
.wopb-field-divider {
	margin-bottom: 0;
	.wopb-field-label {
		z-index: 1;
		position: relative;
		background-color: #fff;
		width: fit-content;
		padding-right: 12px;
	}
	hr {
		position: relative;
		top: -8px;
		margin: 0;
		border-top: none;
		border-bottom: 1px solid #cccccc;
	}
}

/* -----------------------------
--- 3.8 Group Button [Field] ---
--------------------------------*/
.wopb-field-groupbutton {
	display: flex;
	align-items: center;
	justify-content: space-between;
	label {
		display: inline-block;
	}
	button {
		min-height: 34px;
		padding: 0 10px;
		&:hover {
			color: $black-color !important;
		}
		&:focus {
			box-shadow:
				inset 0px 0px 0px 1px $white-color,
				0px 0px 0px 2px $black-color !important;
		}
	}
	.components-button.is-primary {
		background-color: $black-color;
		&:hover {
			color: $white-color !important;
			background-color: $black-color;
		}
	}
}
.wopb-groupbtn-justify {
	display: block;
	.components-button-group {
		width: 100%;
		display: flex;
		justify-content: space-between;
		button {
			display: block;
			width: 100%;
			min-height: 34px;
			height: auto;
			line-height: 22px;
			padding: 0 10px;
			font-size: 12px;
			white-space: nowrap;
			&:hover {
				color: $black-color !important;
			}
			&:focus {
				box-shadow:
					inset 0px 0px 0px 1px $white-color,
					0px 0px 0px 2px $black-color !important;
			}
		}
		.components-button.is-primary {
			background-color: $black-color;
			&:hover {
				color: $white-color !important;
			}
		}
	}
}

/* -----------------------------
------ 3.9 Layout [Field] ------
--------------------------------*/
.wopb-field-layout {
	padding: 0;
	label {
		margin-top: 12px;
		display: inline-block;
	}
}
.wopb-field-layout-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
	grid-gap: 5px;
	align-items: center;
	margin-top: 10px;
	.wopb-field-layout-items {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 8px 8px;
		box-shadow: inset 0 0 0 1px #b4bcc0;
		border-radius: 3px;
		opacity: 0.8;
		.wopb-field-layout-item {
			.wopb-field-layout-content {
				line-height: 0;
				cursor: pointer;
				position: relative;
				svg {
					width: 100%;
					height: auto;
					height: auto;
				}
				span {
					font-size: 16px;
					font-weight: 500;
					line-height: normal;
				}
				.wopb-field-layout-pro {
					position: absolute;
					right: 0;
					top: 0;
					background: #2fb924;
					color: #fff;
					font-size: 9px;
					padding: 4px 5px;
					line-height: 1;
					border-radius: 2px;
					transition: 0.4s;
					&:hover {
						background: #27a51d;
					}
				}
			}
		}
		&.active {
			box-shadow:
				inset 0 0 0 1px #424242,
				0 0 0 1px #424242;
			opacity: 1;
			.wopb-field-layout-item {
				cursor: pointer;
			}
		}
	}
}
.wopb-common-toolbar {
	.components-popover__content {
		width: 270px;
		> .wopb-field-wrap {
			padding-top: 0px !important;
		}
	}
}
.wopb-layout-toolbar {
	.wopb-field-wrap {
		padding-top: 0px !important;
	}
	.components-popover__content {
		width: 270px;
		padding: 7px 15px !important;
		border: 1px solid #1e1e1e;
		outline: 0px !important;
	}
	.wopb-field-layout-wrapper {
		grid-template-columns: repeat(auto-fit, minmax(40px, 1fr)) !important;
	}
}

/* -----------------------------
------ 3.10 Media [Field] ------
--------------------------------*/
.wopb-field-media {
	label {
		margin-bottom: 10px;
		display: block;
	}
	.wopb-media-img {
		.wopb-media-image-item {
			position: relative;
			.wopb-image-close-icon {
				position: absolute;
				top: 4px;
				right: 71px;
				background: red;
				width: 13px;
				height: 13px;
				font-size: 12px;
				color: #fff;
				border-radius: 20px;
				line-height: 13px;
				padding: 0;
				margin: 0;
				cursor: pointer;
			}
		}
		.wopb-multiple-img {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-column-gap: 8px;
			grid-row-gap: 4px;
			.wopb-media-image-item span {
				right: 5px;
				top: 5px;
				font-size: 12px;
				line-height: 16px;
				height: 16px;
				width: 16px;
			}
		}
		> span {
			input {
				display: inline-block;
				border-radius: 4px 0 0 4px;
				margin-right: 0;
				width: 172px;
			}
		}
		.wopb-placeholder-image {
			display: inline-block;
			position: relative;
			cursor: copy;
			border-radius: 0 4px 4px 0;
			border: 1px solid #7e8993;
			padding: 6px 12px 4px 20px;
			border-left: 0;
			background: #f3f4f5;
			font-size: 12px;
			&:before {
				content: "\f317";
				font-family: dashicons;
				position: absolute;
				left: 6px;
				top: 5px;
				font-size: 14px;
			}
			cursor: copy;
			span {
				display: block;
				margin-top: 0;
				text-align: center;
			}
		}
	}
	.wopb-media-image-item {
		& > input {
			margin-bottom: 10px;
			width: 100%;
		}
		.wopb-media-upload {
			cursor: pointer;
			width: 100%;
			height: 79px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #f0f0f0;
			color: #b4b4b4;
			font-size: 42px;
		}
	}
}

/* -----------------------------
------ 3.11 Number [Field] -----
--------------------------------*/
.wopb-field-number {
	display: block;
	.wopb-responsive-label {
		width: 100%;
		input {
			border: none;
			width: 100%;
			padding-right: 0;
			&:focus {
				box-shadow: none;
			}
		}
	}
}
.wopb-field-unit {
	position: relative;
	height: 35px;
	border-radius: 2px;
	border: solid 1px #757575;
	display: flex;
	justify-content: flex-end;
}

/* -----------------------------
--- 3.12 Radio Image [Field] ---
--------------------------------*/
.wopb-field-radio-image {
	display: flex;
	label {
		margin-right: auto;
	}
	.wopb-sub-field {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 6px;
		grid-row-gap: 6px;
		span {
			line-height: 0;
			font-size: 0;
			img {
				border-radius: 4px;
				-webkit-box-shadow: 0 0 0 1px #d8d8d8;
				box-shadow: 0 0 0 1px #d8d8d8;
				cursor: pointer;
				&.active {
					-webkit-box-shadow: 0 0 0 1px #00648c;
					box-shadow: 0 0 0 1px #00648c;
				}
			}
		}
	}
	.wopb-field-radio-image-content {
		display: flex;
		> div {
			span {
				border-radius: 2px;
				margin-left: 4px;
				cursor: pointer;
				border: 1px solid #707070;
				display: inline-block;
				padding: 6px 12px;
				&.active {
					color: #fff;
					border: 1px solid #000;
					background-color: #000;
				}
			}
		}
	}
}
.wopb-field-radio-image-items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 6px;
	.wopb-radio-image {
		overflow: hidden;
		border-radius: 2px;
		padding: 4px;
		box-shadow: inset 0 0 0 1px #b4bcc0;
		cursor: pointer;
		&.active {
			box-shadow:
				inset 0 0 0 1px #000,
				0 0 0 1px #000;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
}

/* -----------------------------
------ 3.13 Range [Field] ------
--------------------------------*/
.wopb-field-range {
	> label {
		width: 100%;
		margin-bottom: 0;
	}
	.wopb-range-control {
		margin-top: 20px;
	}
}
.wopb-label-control {
	label {
		font-weight: 400;
		font-size: 13px;
		color: #545454;
		display: inline-block;
		margin-right: 5px;
	}
}
.wopb-range-control {
	text-align: right;
}
.wopb-label-control {
	display: flex;
}
.wopb-range-input {
	display: flex;
	margin-top: -12px;
	> *:not(:last-child) {
		margin-right: 8px;
	}
	input[type="number"] {
		width: 85px !important;
	}
	input[type="range"] {
		-webkit-appearance: none;
		margin-top: 0;
		margin-bottom: 12px/2;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		background: transparent;
		&::-webkit-slider-runnable-track {
			@include track();
			background: #d7dade;
			border-radius: 15px;
			border: 0px solid $black-color;
		}
		&::-webkit-slider-thumb {
			@include thumb();
			-webkit-appearance: none;
			margin-top: -6px;
		}
		&:focus::-webkit-slider-runnable-track {
			background: #d7dade;
		}
		&::-moz-range-track {
			@include track();
			background: #d7dade;
			border-radius: 15px;
			border: 0px solid $black-color;
		}
		&::-moz-range-thumb {
			@include thumb();
		}
		&::-ms-track {
			@include track();
			background: transparent;
			border-color: transparent;
			border-width: 20px 0;
			color: transparent;
		}
		&::-ms-fill-lower {
			background: #d7dade;
			border: 0px solid $black-color;
			border-radius: 15px * 2;
		}
		&::-ms-fill-upper {
			background: #e5e7ea;
			border: 0px solid $black-color;
			border-radius: 15px * 2;
		}
		&::-ms-thumb {
			@include thumb();
		}
		&:focus::-ms-fill-lower {
			background: #d7dade;
		}
		&:focus::-ms-fill-upper {
			background: #d7dade;
		}
	}
}

/* -----------------------------
------ 3.14 Select [Field] ------
--------------------------------*/
.wopb-field-select {
	display: block;
	.wopb-multiple-value {
		> span {
			color: #454545;
			font-size: 12px;
			line-height: 24px;
			display: flex;
			align-items: center;
			border-radius: 2px;
			border: none;
			background-color: #ddd;
			margin-right: 8px;
			margin-bottom: 2px;
			transition: 0.4s;
			padding-left: 7px;
			&:hover {
				background-color: #b5b5b5;
			}
			.wopb-updown-container {
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: center;
				margin-right: 5px;
				.wopb-select-swap {
					display: flex;
					height: 100%;
				}
			}
			.wopb-select-swap {
				cursor: pointer;
				font-size: 14px;
				color: #454545;
				transition: 0.4s;
				padding: 0 3px;
				border-radius: 2px;
				display: flex;
				align-items: center;
				&:hover {
					color: $white-color;
					background-color: #1e1e1e;
				}
			}
			.wopb-select-close {
				cursor: pointer;
				font-size: 14px;
				color: #454545;
				transition: 0.4s;
				padding: 0 7px;
				border-radius: 2px;
				display: flex;
				align-items: center;
				height: 1.4em;
				margin-left: 2px;
				&:hover {
					color: $white-color;
					background-color: #f31e1e;
				}
			}
		}
		.wopb-select-dropdown--tag {
			& > span {
				padding-left: 10px;
			}
		}
	}
}

.wopb-popup-select {
	position: relative;
	background: #fff;
	.wopb-active {
		background-color: #ff176b;
		color: #ffffff;
	}
	.wopb-selected-text {
		display: flex;
		cursor: pointer;
		border: 1px solid $bordercolor;
		padding: 3px 2px 2px 6px;
		line-height: 18px;
		border-radius: 2px;
		align-items: center;
		min-height: 36px;
		.wopb-search-value {
			overflow: hidden;
			white-space: pre-wrap;
			text-overflow: ellipsis;
			font-size: 12px;
			display: flex;
			align-items: center;
			flex: 1 1 0%;
			flex-wrap: wrap;
			min-height: 28px;
		}
		.wopb-search-value:has(img) {
			padding: 5px;
		}
	}
	.wopb-selected-dropdown--icon {
		align-items: stretch !important;
		.wopb-search-value {
			& > span {
				width: 100%;
			}
		}
	}
	.wopb-search-divider {
		align-self: stretch;
		background-color: #a7a7a7;
		margin-bottom: 6px;
		margin-top: 6px;
		width: 1px;
		box-sizing: border-box;
	}
	.wopb-search-icon {
		display: flex;
		align-items: center;
		i {
			padding: 0;
			margin-left: 0px;
			font-size: 13px;
			line-height: 20px;
			width: 15px;
		}
	}
	&::after {
		content: "";
		clear: both;
	}
	ul {
		position: absolute;
		width: 100%;
		right: 0;
		top: calc(100% + 2px);
		background: #fff;
		z-index: 9999;
		margin: 0;
		padding: 5px 0;
		border-radius: 2px;
		box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
		max-height: 180px;
		overflow: auto;
		border: 1px solid #707070;
		min-width: 100%;
		transition: 0.4s;
		&::-webkit-scrollbar {
			background-color: transparent;
			width: 4px;
			border-radius: 4px;
			height: 4px;
		}
		&:hover {
			&::-webkit-scrollbar {
				width: 4px;
				height: 4px;
				border-radius: 4px;
				transition: 400ms;
			}
			&::-webkit-scrollbar-thumb {
				border-radius: 4px;
				//background-color: #555;
				background-color: #ff176b;
			}
		}
		li {
			margin: 0;
			padding: 8px 10px;
			white-space: nowrap;
			cursor: pointer;
			font-size: 11px;
			text-transform: capitalize;
			-webkit-transition: 0.4s;
			transition: 0.4s;
			line-height: 1;
			border-radius: 0;
			&:hover {
				background-color: #ff176b;
				color: #ffffff;
				// svg{
				//     fill: #fff;
				// }
			}
			svg {
				width: 10px;
				float: right;
				margin-top: 3px;
			}
		}
	}
	.select-options-wraper {
		width: 100%;
	}
	&.svgIcon {
		svg {
			fill: #000000;
			width: auto;
		}
		&.btmShapeIcon svg {
			rotate: 180deg;
		}
		ul li {
			margin: 0;
			padding: 5px 10px;
			cursor: pointer;
			font-size: 11px;
			transition: 0.4s;
			line-height: 20px;
			border-radius: 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	img {
		height: auto;
		max-width: 100%;
	}
}

.wopb-select-search {
	padding: 0px 10px;
	margin-bottom: 5px;
	input {
		width: 100%;
		padding: 1px 12px;
		border-radius: 2px;
	}
	.components-spinner {
		position: absolute;
		right: 6px;
		top: 7px;
	}
}

.wopb-select-parent:not(:last-child) {
	margin-bottom: 10px;
}
// Select Field Element Showing Beside
.wopb-field-beside {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 5px;
	.wopb-label-control label {
		white-space: nowrap;
		margin-bottom: 0px;
	}
	.wopb-popup-select {
		width: 100%;
	}
}
.wopb-sub-help {
	font-size: 12px;
	color: #999999;
	margin-top: 3px;
}

/* -----------------------------
------ 3.15 Sort [Field] -------
-------------------------------- */
.wopb-field-sort {
	.wopb-sub-field {
		flex-wrap: wrap;
		.wopb-button-sort {
			display: flex;
			justify-content: space-between;
			margin-bottom: 7px;
			border: 1px solid $bordercolor;
			padding: 6px 12px;
			background: #f5f5f5;
			align-items: center;
			border-radius: 3px;
			.wopb-button-sort-arrow {
				display: inline-block;
				span {
					display: block;
					line-height: 10px;
					height: auto;
					font-size: 14px;
					cursor: pointer;
					transition: 400ms;
					&:hover {
						color: #ff176b;
					}
				}
			}
			.wopb-button-sort-title {
				text-transform: capitalize;
				color: #191e23;
			}
			&.disabled {
				opacity: 0.5;
			}
			.disabled,
			.enabled {
				span {
					cursor: pointer;
				}
			}
		}
	}
}
.wopb-short-up {
	margin-right: 5px;
	cursor: pointer;
	line-height: normal;
	padding: 3px 5px 0px;
	&:after {
		content: "";
		border: solid #000;
		border-width: 0 1px 1px 0;
		display: inline-block;
		padding: 3px;
		transform: rotate(-136deg);
		-webkit-transform: rotate(-136deg);
	}
}
.short-field-wrapper {
	display: flex;
	align-items: center;
	border: 1px solid #222;
	padding: 0;
}
.short-field-wrapper__inside {
	display: flex;
	align-items: center;
	gap: 10px;

	div {
		text-transform: capitalize;
	}
}
.short-field-wrapper__control {
	padding: 0 3px 0 8px;

	span {
		font-size: 17px;
		color: #1c1c1c;
		display: flex;
		align-items: center;
	}
}
.wopb-short-down {
	margin-right: 5px;
	cursor: pointer;
	line-height: normal;
	padding: 0px 5px 4px;
	&:after {
		content: "";
		border: solid #000;
		border-width: 0 1px 1px 0;
		display: inline-block;
		padding: 3px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
}
.short-field-label {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	cursor: pointer;
}
.short-field-wrapper > .dashicons {
	cursor: pointer;
}
.wopb-short-collapse {
	margin-right: 5px;
	cursor: pointer;
	line-height: 0;
	height: 10px;
	width: 10px;
	&:after {
		content: "";
		border: solid #000;
		border-width: 0 1px 1px 0;
		display: inline-block;
		padding: 3px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
	&.active {
		transform: rotate(-180deg);
		-webkit-transform: rotate(-180deg);
		transition: transform 0.5s;
		-webkit-transition: transform 0.5s;
		-moz-transition: transform 0.5s;
		-ms-transition: transform 0.5s;
		-o-transition: transform 0.5s;
	}
}
.wopb-sort-items {
	margin: 10px 0px;
}
.wopb-sort-btn {
	color: #454545;
	cursor: pointer;
	font-size: 10px;
	font-weight: normal;
	display: flex;
	align-items: center;
	border-radius: 2px;
	border: solid 1px #757575;
	background: none;
	margin: 13px auto 0px;
	padding: 8px 20px 8px 20px;
	span {
		font-size: 14px;
		display: flex;
		align-items: center;
	}
}
.wopb-short-content {
	height: 0px;
	display: none;
	opacity: 0;
	transition: all 0.5s;
	&.active {
		opacity: 100;
		display: block;
		height: auto;
		opacity: 1;
		border: 1px solid #222;
		transition: all 0.5s;
		padding: 10px 10px 30px;
		border-top: none;
	}
}
.wopb-sort-close {
	height: 100%;
	font-size: 17px;
	color: #1c1c1c;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #000;
	box-sizing: content-box;
	padding: 8px;
}
.wopb-sort-close.dashicons-hidden {
	opacity: 0.4;
}
.wopb-button-sort {
	display: block;
	width: 100%;
}

/* -----------------------------
------ 3.16 Tag [Field] -------
-------------------------------- */
.wopb-field-tag {
	label {
		margin-bottom: 6px;
		display: inline-block;
	}
	.wopb-tag-button {
		color: #2a2a2a;
		cursor: pointer;
		font-size: 13px;
		line-height: 1;
		font-weight: 600;
		border-radius: 2px;
		padding: 6px 7.5px;
		white-space: nowrap;
		&.active {
			color: $white-color;
			background-color: #2a2a2a;
		}
	}
	.wopb-sub-field {
		justify-content: space-between;
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* IE and Edge */
		border: 1px solid #757575;
		border-radius: 2px;
		padding: 5px;
		overflow-x: scroll;
		flex-wrap: wrap;
	}
	.wopb-sub-field::-webkit-scrollbar {
		display: none;
	}
	// .wopb-tag-separator {
	//     padding: 0 5px;
	// }
}
.wopb-tag-inline {
	padding: 5px 7px !important;
	.wopb-sub-field {
		display: block;
		border: none;
		padding: 0px;
		margin: 0px;
		.wopb-tag-button {
			display: block;
			margin: 3px 0px;
			font-size: 14px;
			&::after {
				display: none;
			}
		}
	}
}
.wopb-tag-toolbar {
	span {
		font-size: 18px;
		padding: 7px 10px;
		display: block;
		text-transform: uppercase;
	}
}

/* -----------------------------
------ 3.17 Template [Field] ---
-------------------------------- */
.wopb-field-template {
	margin-top: -10px;
	.wopb-sub-field-template {
		padding: 0;
		.wopb-field-template-item {
			box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
			margin-bottom: 20px;
			padding: 0;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			border: 3px solid transparent;
			border-radius: 3px;
			cursor: pointer;
			transition: 400ms;
			display: block;
			line-height: 0;
			position: relative;
			img {
				transition: 400ms;
			}
			.wopb-field-premium-badge {
				line-height: 1;
				position: absolute;
				left: 0;
				top: 0;
				padding: 2px 8px 6px;
				background: #0085ba;
				color: #fff;
				border-radius: 0 0 3px 0;
				font-size: 10px;
				text-transform: uppercase;
				font-weight: 600;
				opacity: 0;
				transition: 400ms;
			}
			&:hover {
				border: 3px solid transparent;
				.wopb-field-premium-badge {
					opacity: 1;
				}
				.wopb-field-premium-lock {
					opacity: 1;
					a {
						border: none;
						padding: 4px 9px 5px;
						border-radius: 2px;
						width: auto;
						font-size: 12px;
						line-height: 18px;
						font-weight: 500;
						color: #fff;
						background-color: #e83838;
						-webkit-box-shadow: none;
						box-shadow: none;
						margin-left: 4px;
						text-align: center;
						-webkit-transition: 0.4s;
						transition: 0.4s;
						cursor: pointer;
						margin-right: 0;
						display: inline-block;
						text-decoration: none;
						&:focus {
							outline: 0;
							box-shadow: none;
						}
					}
				}
			}
			.wopb-field-premium-lock {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				z-index: 1;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				opacity: 0;
				-webkit-transition: 0.4s;
				transition: 0.4s;
				span {
					font-size: 32px;
				}
				button {
					border: none;
					padding: 4px 9px 5px;
					border-radius: 2px;
					width: auto;
					font-size: 12px;
					font-weight: 500;
					color: #fff;
					background-color: #18b518;
					-webkit-box-shadow: none;
					box-shadow: none;
					margin-left: 4px;
					text-align: center;
					-webkit-transition: 0.4s;
					transition: 0.4s;
					cursor: pointer;
					margin-right: 0;
					display: flex;
					align-items: center;
					text-decoration: none;
					span {
						font-size: 14px;
						width: auto;
						height: auto;
						margin-left: 2px;
					}
					&:focus {
						outline: 0;
						box-shadow: none;
					}
				}
			}
			&.wopb-field-premium {
				.wopb-field-premium-badge {
					background: #e83838;
				}
				&:hover {
					border: 3px solid #e83838;
					img {
						opacity: 0.4;
						-webkit-filter: blur(3px);
						filter: blur(3px);
					}
				}
			}
		}
	}
}

/* -----------------------------
------ 3.17 Toggle [Field] -----
-------------------------------- */
.wopb-field-toggle {
	display: flex;
	justify-content: space-between;
	.components-form-toggle {
		margin-right: 0px !important;
	}
	.components-toggle-control__label {
		margin-left: 8px;
	}
	.components-base-control,
	.components-base-control__field {
		margin-bottom: 0 !important;
		flex-direction: row !important;
	}
}
.components-form-toggle.is-checked .components-form-toggle__track {
	background-color: #007cba !important;
}

/* -----------------------------
---- 3.18 Typography [Field] ---
-------------------------------- */
.wopb-typo-section {
	display: inline-block;
	width: 50%;
}
.wopb-field-typography {
	.components-base-control {
		.components-base-control__field {
			display: block;
			.components-base-control__label {
				flex-grow: unset;
				margin-bottom: 8px;
			}
			.components-select-control__input {
				width: 100%;
			}
		}
	}
	.wopb-field-label-responsive {
		gap: 0px;
		padding-bottom: 5px;
	}
}
.wopb-edit-btn {
	.wopb-base-control-btn {
		background: none;
		box-shadow: none;
		cursor: pointer;
		&.dashicons-image-rotate {
			margin-top: 5px;
			color: #9e9e9e;
			font-size: 14px;
			margin-right: 4px;
			&.active {
				color: #e62222;
			}
		}
	}
}
.wopb-sub-field {
	.dashicons-image-rotate {
		color: #9e9e9e;
		font-size: 14px;
		&.active {
			color: #e62222;
		}
	}
}
.wopb-common-popup {
	padding: 0;
	max-height: 400px;
	width: 280px;
	.react-colorful,
	.react-colorful__hue,
	.react-colorful__alpha,
	.components-color-picker {
		width: 100% !important;
	}
	.components-base-control__label {
		font-weight: 400;
		font-size: 13px;
		color: #545454;
		margin-bottom: 8px;
	}
	.components-color-picker__body {
		padding: 10px;
	}
	.components-color-picker__inputs-wrapper {
		padding-top: 10px;
		margin: 0;
	}
	.wopb-field-color {
		margin-bottom: 0;
	}
	.components-toggle-control {
		margin-bottom: 35px;
	}
	.wopb-field-wrap {
		padding-top: 0;
		margin-bottom: 16px;
	}
}

.wopb-transform-style {
	margin-top: 8px;
	span {
		margin-right: 5px;
		font-weight: 500;
		padding: 2px;
		cursor: pointer;
		&.active,
		&:hover {
			background: #1e1e1e;
			color: $white-color;
			border-radius: 3px;
		}
	}
}
.wopb-typo-family-wrap {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 20px;
	.wopb-typo-family {
		label {
			display: block;
			margin-bottom: 5px !important;
		}
		.wopb-family-field-data {
			border-radius: 2px;
			padding: 5px 10px;
			border: 1px solid #8c8f94;
			display: block;
			margin-top: 6px;
			position: relative;
			cursor: pointer;
			span {
				font-size: 16px;
				width: auto;
				height: auto;
				position: absolute;
				right: 6px;
				top: 6px;
			}
		}
		.wopb-family-field {
			input {
				width: 100%;
				margin-bottom: 5px;
			}
			.wopb-family-list {
				display: inline-block;
				max-height: 250px;
				overflow-y: auto;
				width: 100%;
				padding: 10px;
				box-shadow:
					0 5px 5px 0 rgba(18, 63, 82, 0.04),
					0 0 0 1px rgba(176, 181, 193, 0.25),
					0 5px 30px -10px rgba(18, 63, 82, 0.35);
				border-radius: 3px;
				margin-top: 4px;
				z-index: 4;
				span {
					display: block;
					cursor: pointer;
					padding: 5px 12px;
					margin: 0 -10px;
					transition: 400ms;
					background: $white-color;
					&:hover {
						background: #f0f0f0;
					}
					&.wopb_custom_font_option {
						display: flex;
						align-items: center;
						justify-content: space-between;
						& > a {
							text-decoration: none;
							color: #bdbdbd;
						}
					}
				}
			}
		}
	}
}
.wopb-typo-weight-wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}
.wopb-typo-style-wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}
.wopb-family-disabled {
	background: #e4e4e4 !important;
	cursor: default !important;
	color: #000;
}
.wopb-edit-btn {
	.wopb-typo-control {
		@include contentAlign(flex-end, center);
	}
	.wopb-base-control-btn {
		background: none;
		box-shadow: none;
		cursor: pointer;
		&.dashicons-edit {
			border: 1px solid #8c969f;
			padding: 3px 5px;
			border-radius: 3px;
			display: inline-block;
			width: auto;
			line-height: 1;
			height: auto;
			font-size: 16px;
			color: #555;
			border-color: #ccc;
			background: #f7f7f7;
			box-shadow: inset 0 -1px 0 #ccc;
			&.active {
				background: #0085ba;
				border-color: #006a95 #00648c #00648c;
				box-shadow: inset 0 -1px 0 #00648c;
				color: $white-color;
				text-decoration: none;
			}
		}
		svg {
			width: 20px;
			&:hover {
				fill: #007cba;
			}
		}
		&.dashicons-image-rotate {
			color: #9e9e9e;
			font-size: 16px;
			margin-right: 6px;
			&.active {
				height: auto;
			}
		}
	}
}
.wopb-popup-control {
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	label {
		font-weight: 400;
		font-size: 13px;
		color: #545454;
		letter-spacing: 0.2px;
	}
	.wopb-field-wrap {
		margin-bottom: 0;
	}
	.wopb-range-control {
		margin-top: 0px;
	}
}
.wopb-family-list {
	position: absolute;
	z-index: 2;
	overflow: hidden;
	background: $white-color;
}
.wopb-family-list {
	max-width: max-content;
}
.wopb-typ-container {
	display: flex;
	gap: 15px;
	margin-top: 15px;
	.wopb-field-wrap {
		padding: 0px;
	}
	.components-base-control {
		width: 100%;
	}
	.components-base-control__field {
		margin-bottom: 0px;
	}
}
.wopb-default-font-field {
	position: relative;
	border-radius: 2px;
	border: solid 1px #757575;
	display: flex;
	justify-content: space-between;
	overflow-x: scroll;
	padding: 5px;
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
	.wopb-default-font {
		color: #2a2a2a;
		cursor: pointer;
		font-size: 13px;
		line-height: 1;
		font-weight: 600;
		border-radius: 2px;
		padding: 5px;
		&.active {
			color: $white-color;
			background-color: #2a2a2a;
		}
	}
}
.wopb-typo-custom-setting {
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: 5px;
	line-height: 0;
	border-radius: 3px;
	padding: 2px 3px;
	color: #1e1e1e;
	border: 2px solid #1e1e1e;
	color: #1e1e1e;
	&.active {
		color: #fff;
		background: #1e1e1e;
	}
}

/* -----------------------------
------ 3.19 Accordion [Field] -------
-------------------------------- */
.wopb-section-accordion {
	.wopb-section-accordion-item {
		border-top: 1px solid #e2e4e7;
		border-bottom: 1px solid #e2e4e7;
		color: #191e23;
		position: relative;
		padding: 15px 16px;
		cursor: pointer;
		transition: 400ms;
		font-weight: 600;
		&:hover {
			background: #f3f4f5;
		}
		.wopb-section-arrow {
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translateY(-50%);
			color: #191e23;
			fill: currentColor;
			transition: color 0.1s ease-in-out;
		}
	}
	.wopb-section-show {
		margin-top: 0;
		padding: 0 15px 15px;
		margin-bottom: 15px;
		position: relative;
		.wopb-pro-total {
			padding-top: 15px;
			padding-bottom: 10px;
			.wopb-field-wrap {
				pointer-events: none;
			}
			.wopb-section-pro-message {
				height: 100%;
				position: absolute;
				width: 100%;
				background-color: rgba(222, 222, 222, 0.5);
				overflow: hidden;
				z-index: 3;
				left: 0;
				padding: 20px 0;
				top: -2px;
				span {
					position: relative;
					top: -10px;
					left: 15px;
					font-size: 13px;
					color: #000;
					font-weight: 700;
					a {
						margin-left: 3px;
						color: #38b549;
					}
				}
			}
		}
	}
}

/* -----------------------------
---- 3.20 Section [Field] ------
-------------------------------- */
.wopb-section-show {
	.components-text-control__input,
	.components-textarea-control__input {
		border: 1px solid #1e1e1e !important;
		padding: 9px;
	}
}
.wopb-section-accordion-item + .wopb-section-show {
	.components-base-control__label {
		margin-bottom: 2px;
	}
	> .components-base-control {
		margin-bottom: 0;
		padding-top: 14px;
		.components-base-control__field {
			margin-bottom: 0px;
		}
	}
	> .components-base-control:first-child {
		padding-top: 3px;
	}
}
.wopb-section-tab {
	margin-top: 10px;
	.wopb-section-wrap-inner {
		display: flex;
		justify-content: space-between;
	}
	.wopb-section-title {
		text-align: center;
		padding: 10px 5px;
		width: 100%;
		border-top: 1px solid #e0e0e0;
		border-bottom: 1px solid #e0e0e0;
		&:hover {
			cursor: pointer;
			// border-color: #037fff;
		}
		&.active {
			border-bottom: 0;
			position: relative;
			span {
				color: #212121;
			}
			&:before {
				content: "";
				width: 100%;
				height: 3px;
				position: absolute;
				left: 0;
				bottom: -1px;
				background: #212121;
			}
		}
		span {
			font-size: 12px;
			display: inline-block;
			color: #1c2126;
			font-weight: 600;
			&:before {
				top: 1px;
				position: relative;
				margin-right: 5px;
				font-size: 16px;
			}
		}
	}
	.wopb-section-wrap {
		&.wopb-section-fixed {
			position: sticky;
			top: -3px;
			background: #fff;
			z-index: 10000;
			-webkit-box-shadow: 0 -1px 0 0 rgba(23, 64, 245, 0.1);
			box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
		}
	}
}

/* -----------------------------
------ 3.21 Tab [Field] --------
-------------------------------- */
.wopb-tab-wrap-title {
	margin-top: 2px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 600;
	color: #3e3e3e;
	letter-spacing: 0.5px;
	font-size: 13px;
	position: relative;
	span {
		background: #f5f5f5;
		padding: 0 10px 0 0;
		position: relative;
	}
	&:before {
		position: absolute;
		content: "";
		width: 100%;
		height: 1px;
		background: #c2c5c7;
		left: 0;
		top: 50%;
	}
}
.wopb-hover-tabs {
	padding-top: 0;
	margin-top: -5px;
	.components-tab-panel__tabs {
		width: 100%;
		button {
			background: transparent;
			border: 0;
			border: 1px solid #e5e5e5;
			border-bottom: 2px solid transparent;
			padding: 8px 12px;
			margin-bottom: -2px;
			outline: 0;
			color: #575757;
			width: 50%;
			font-size: 14px;
			font-weight: 500;
			cursor: pointer;
			&.active-tab {
				color: $white-color;
				border-bottom-color: #535353;
				background: $black-color;
			}
			&:focus {
				outline: 0;
				box-shadow: none;
			}
		}
	}
}
.wopb-inspect-tabs {
	clear: both;
	padding-top: 20px;
	.components-tab-panel__tabs {
		border-bottom: 2px solid #d4d4d4;
		background: #eee;
		border-radius: 2px;
		flex-wrap: wrap;
		button {
			border-radius: 2px;
			background: transparent;
			border: 0;
			border-bottom: 2px solid transparent;
			padding: 8px 10px;
			margin-bottom: -2px;
			outline: 0;
			font-weight: 500;
			cursor: pointer;
			display: inline-block;
			text-align: center;
			height: auto;
			&.active-tab {
				color: $white-color;
				border-bottom-color: $black-color;
				background: $black-color;
			}
		}
	}
}
.components-range-control {
	margin: 0 0 2px 0 !important;
	.components-base-control__field {
		margin-bottom: 2px !important;
	}
}
.components-autocomplete__results .block-editor-block-icon img {
	max-width: 32px;
}

/* -----------------------------
------ 3.21 Tab [Field] --------
-------------------------------- */
.wopb-field-layout2 {
	display: flex;

	&-inline {
		flex-direction: row;
		gap: 20px;
		align-items: center;
		justify-content: space-between;
	}

	&-block {
		flex-direction: column;
		gap: 5px;
		align-items: flex-start;
	}

	.wopb-field-layout2-label {
		font-size: 11px;
		color: black;
		margin-bottom: 0;
		text-transform: uppercase;
		font-weight: 500;
	}

	.wopb-field-layout2-select {
		width: 100%;
		padding: 5px 10px;
		border: 1px solid #757575;
		font-size: 14px;
		position: relative;
	}

	.wopb-field-layout2-select-items {
		display: flex;
		align-items: center;
		justify-content: space-between;
		user-select: none;
		cursor: pointer;

		img {
			width: 35px;
			height: 35px;
		}
	}
}

.wopb-field-layout2-select-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.3s ease;

	svg {
		width: 10px;
		height: 10px;
	}
}

.wopb-field-layout2-select-text {
	display: flex;
	align-items: center;
	gap: 10px;
}

.wopb-field-layout2-dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: #fff;
	border: 1px solid #757575;
	border-radius: 4px;
	z-index: 9999999;
	margin-top: 10px;
}

.wopb-field-layout2-dropdown-items {
	padding: 5px 10px;

	&:hover {
		background-color: gainsboro;
	}
}

.wopb-field-layout2-img {
	position: relative;

	svg {
		width: 3rem;
		height: auto;
	}
}

.wopb-field-layout2-pro {
	position: absolute;
	top: 0;
	right: 0;

	background: #2fb924;
	color: #fff;
	font-size: 9px;
	padding: 2px 3px;
	line-height: 1;
	border-radius: 0 0 0 2px;
	transition: 400ms;
	&:hover {
		background: #27a51d;
	}
}

/* -----------------------------
------ 4.x PopUp Modal ---------
-------------------------------- */
.wopb-builder-modalXXX {
	//right: 0;
	//bottom: 0;
	//background-color: rgba(0,0,0,.8);
	//z-index: 100000;
	//position: fixed;
	//top: 0;
	//left: 0;
	//width: 100%;
	//height: 100%;
	//display: -webkit-box;
	//display: -ms-flexbox;
	//display: flex;
	.wopb-popup-wrap {
		margin: 50px auto 0;
		background-color: #fbfcff;
		height: 90%;
		overflow-y: scroll;
		position: relative;
		.wopb-popup-nav {
			text-align: center;
			ul {
				display: inline-block;
				background: #fff;
				border: 1px solid #e9ebee;
				padding: 0;
				background: #fff;
				box-shadow: 5px 5px 30px 0 rgba(25, 30, 35, 0.1);
				margin-right: 30px;
				border-radius: 3px;
				margin-top: 25px;
				margin-bottom: 20px;
				overflow: hidden;
				li {
					display: inline-block;
					margin: 0;
					&:focus {
						outline: 0;
					}
					&:last-child,
					&:first-child {
						a {
							&:before {
								content: "";
								position: absolute;
								right: 0;
								top: 14px;
								height: 12px;
								width: 1px;
								background: #d5d5d5;
							}
						}
					}
					&:last-child {
						a {
							&:before {
								left: 0;
							}
						}
					}
					a {
						position: relative;
						padding: 10px 20px;
						text-decoration: none;
						display: inline-block;
						color: #444;
					}
					&.wopb-nav-active {
						a {
							background-color: #ff176b;
							-webkit-box-shadow: inset 0 -2px 3px #e03232;
							box-shadow: inset 0 -2px 3px #e03232;
							color: #fff;
							&:before {
								display: none;
							}
						}
					}
				}
			}
		}
	}
	.wopb-popup-header {
		position: sticky;
		top: 0;
		z-index: 100000000999;
		.wopb-popup-filter-title {
			position: relative;
			padding: 0 30px;
			background: #e4e5e8;
			display: flex;
			justify-content: space-between;
			.wopb-popup-filter-image-head {
				display: flex;
				align-items: center;
				img {
					width: 35px;
				}
				span {
					text-transform: uppercase;
					font-weight: 600;
					margin-left: 6px;
					margin-top: 4px;
					font-size: 15px;
				}
			}
			.wopb-popup-filter-nav {
				text-align: center;
				.wopb-popup-tab-title {
					padding: 20px 25px;
					display: inline-block;
					font-size: 16px;
					border-left: 1px solid transparent;
					border-right: 1px solid transparent;
					&.wopb-active {
						background-color: #fbfcff;
						border-left: 1px solid #d3d6dc;
						border-right: 1px solid #d3d6dc;
					}
					&:hover {
						cursor: pointer;
					}
				}
			}
			.wopb-popup-filter-sync-close {
				display: flex;
				align-items: center;
				.wopb-popup-sync {
					cursor: pointer;
					margin-right: 50px;
					display: flex;
					align-items: center;
					transition: 400px;
					color: #3c434a;
					i {
						margin-right: 4px;
						font-size: 25px;
						height: auto;
						width: auto;
					}
					&:hover {
						color: #ff176b;
					}
				}
			}
			.wopb-btn-close {
				border: none;
				box-shadow: none;
				cursor: pointer;
				color: #fff;
				background: #000;
				transition: 0.3s;
				position: absolute;
				right: 0;
				height: 58px;
				padding: 0;
				width: 58px;
				&:hover {
					color: #fff;
					background: #e51616;
				}
				span {
					font-size: 26px;
					width: auto;
					height: auto;
					vertical-align: middle;
				}
				&:focus {
					outline: 0;
				}
			}
		}
		.wopb-popup-filter {
			padding: 30px 5px;
			max-width: 600px;
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.wopb-popup-content {
		padding: 0 25px 25px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 25px;
		.wopb-popup-item {
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			border: 1px solid #e9ebee;
			padding: 10px;
			background: #fff;
			box-shadow: 5px 5px 30px 0px rgba(25, 30, 35, 0.1);
			z-index: 99999999;
			border-radius: 4px;
			.LazyLoad {
				position: relative;
				img {
					max-height: 408px;
					object-fit: cover;
					width: 100%;
					transition: 400ms;
				}
				.wopb-popup-premium-btn {
					position: absolute;
					z-index: 1;
					background: #e83838;
					font-size: 12px;
					color: #fff;
					line-height: 17px;
					padding: 2px 8px;
					border-radius: 2px;
					top: 5px;
					right: 5px;
					text-transform: uppercase;
					transition: 400ms;
					&.wopb-popup-premium-free-btn {
						background-color: #18b518;
					}
					opacity: 0;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
		.wopb-popup-title {
			font-size: 12px;
			font-weight: 400;
			margin-right: auto;
		}
		.LazyLoad {
			margin-bottom: auto;
		}
		.wopb-popup-info {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			border-top: 1px solid #e9ebee;
			margin: 10px -15px -10px;
			padding: 10px 15px;
			align-items: center;
			font-size: 12px;
			.wopb-action-btn {
				button,
				.wopb-popup-primary-btn {
					border: none;
					padding: 3px 7px 3px;
					border-radius: 2px;
					width: auto;
					font-size: 12px;
					font-weight: 500;
					color: #fff;
					background-color: #e83838;
					box-shadow: none;
					margin-left: 4px;
					text-align: center;
					-webkit-transition: 0.4s;
					transition: 0.4s;
					cursor: pointer;
					margin-right: 0;
					display: inline-block;
					text-decoration: none;
					&:hover {
						background-color: #000000;
						box-shadow: none;
						cursor: pointer;
						text-decoration: none;
					}
					&:focus {
						outline: 0;
						box-shadow: none;
					}
				}
				button.wopb-popup-btn {
					background: #18b518;
					&:hover {
						background-color: #000000;
					}
					span {
						font-size: 14px;
						width: auto;
						height: auto;
						margin-left: 2px;
					}
				}
				a.wopb-popup-btn {
					color: #000;
					margin-left: 10px;
					&:hover {
						text-decoration: underline;
						color: #555;
					}
				}
			}
		}
		// &.wopb-popup-content-designs {
		//     page-break-inside: avoid;
		//     break-inside: avoid;
		//     column-count: 4;
		//     column-gap: 30px;
		//     display: block;
		//     .wopb-popup-item {
		//         border-radius: 4px;
		//         overflow: hidden;
		//         position: relative;
		//         margin-bottom: 30px;
		//         display: block;
		//         break-inside: avoid;
		//         width: 100%;
		//         will-change: transform;
		//         box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
		//         transition: all .2s ease-in-out;
		//         padding: 0;
		//         .wopb-popup-info {
		//             margin: 0;
		//             padding: 8px 12px;
		//         }
		//     }
		// }
	}
}

.sab-toolbar-insert-layout {
	display: flex;
	order: 1;
	gap: 5px;
}

.wopb-popup-button {
	border: none;
	padding: 5px 10px;
	border-radius: 3px;
	display: table;
	font-size: 13px;
	font-weight: 600;
	color: #ff176b;
	background: #fffcfc;
	box-shadow: none;
	margin-left: 4px;
	text-align: center;
	transition: 400ms;
	cursor: pointer;
	display: flex;
	align-items: center;
	border: 1px solid #ff176b;
	min-height: 38px;
	flex-shrink: 0;
	img {
		margin-right: 8px;
		width: 22px;
	}
	.dashicons {
		margin-right: 8px;
		font-size: 25px;
		margin-bottom: 3px;
	}
	&:hover {
		background-color: #ffe8e8;
		box-shadow: none;
	}
	i {
		font-size: 15px;
		width: auto;
		height: auto;
		margin-right: 5px;
		position: relative;
		top: 1px;
	}
	&.active {
		background: #0085ba;
		border-color: #006a95 #00648c #00648c;
		-webkit-box-shadow: inset 0 -1px 0 #00648c;
		box-shadow: inset 0 -1px 0 #00648c;
		color: #fff;
		text-decoration: none;
	}
	&:focus {
		outline: 0;
	}
	svg {
		width: 16px;
		height: 100%;
	}
	&:hover {
		cursor: pointer;
	}
}
#ast-block-templates-button-wrap {
	flex-basis: auto !important;
}
@media (min-width: 1440px) {
	.wopb-builder-modal {
		.wopb-popup-wrap {
			width: 100%;
			max-width: 1400px;
		}
	}
}
@media (max-width: 1439px) {
	.wopb-builder-modalXXX {
		.wopb-popup-wrap {
			width: 100%;
			max-width: 1240px;
		}
	}
	// .wopb-builder-modalXXX .wopb-popup-content {
	//     &.wopb-popup-content-designs {
	//         column-count: 3;
	//     }
	// }
}
@media (max-width: 768px) {
	.wopb-builder-modalXXX .wopb-popup-content {
		grid-template-columns: 1fr;
		// &.wopb-popup-content-designs {
		//     column-count: 2;
		// }
	}
}

/* -----------------------------
-- 5.x Fix Default Gutenberg ---
-------------------------------- */
// Sidebar Input
.wopb-image,
.wopb-block-image img,
.wopb-block-image .wopb-image-hover,
.editor-styles-wrapper .wopb-block-image img {
	width: 100%;
	height: auto;
}
.is-sidebar-opened {
	.components-base-control__field {
		.components-textarea-control__input,
		.components-text-control__input {
			border: 1px solid #ccc;
		}
	}
}
.edit-post-sidebar input[type="number"] {
	border-color: $bordercolor;
}
.components-range-control {
	margin: 0 0 2px 0 !important;
	.components-base-control__field {
		margin-bottom: 2px !important;
	}
}
.editor-writing-flow {
	.wopb-flex-menu {
		text-transform: capitalize;
	}
}

/* -----------------------------
-- 6.x Global Settings ---------
-------------------------------- */
.wopb-global-color,
.wopb-global-current-color {
	width: 28px;
	height: 28px;
	margin-right: 6px;
	border-radius: 50%;
	display: inline-block;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
	border: 1px solid #e5e5e5;
	&:hover {
		cursor: pointer;
	}
}
.wopb-global-color-label {
	margin-bottom: 10px;
}
.wopb-global-custom-color {
	margin-top: 20px;
}
.wopb-global-current-color {
	cursor: pointer;
}
.wopb-custom-color-lists {
	display: flex;
	// margin-bottom: 20px;
	flex-wrap: wrap;
	.wopb-custom-color-list {
		display: flex;
		position: relative;
		margin-right: 15px;
		.wopb-global-color {
			margin-right: 0;
		}
		.wopb-global-remove {
			position: absolute;
			right: -3px;
			top: -3px;
			width: 16px;
			height: 16px;
			background: #1c1c1c;
			display: flex;
			line-height: 1;
			text-align: center;
			align-items: center;
			justify-content: center;
			border-radius: 100px;
			color: $white-color;
			font-size: 10px;
			font-weight: 700;
			cursor: pointer;
			transition: 400ms;
			&:hover {
				background: #eb2929;
			}
		}
	}
}
.wopb-section-tab .components-base-control {
	padding-top: 14px;
	margin-bottom: 0px;
}
.wopb-field-typography {
	padding: 0;
	max-height: 400px;
	width: 280px;
}
.wopb-section-tab {
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		height: 30px;
		max-height: 100%;
	}
}

/* -----------------------------
-- 7.x Filter Pro Wrapper ------
-------------------------------- */
.wopb-block-select-picker {
	box-sizing: border-box;
	position: relative;
	padding: 1em;
	min-height: 200px;
	color: #1e1e1e;
	-moz-font-smoothing: subpixel-antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
	border-radius: 2px;
	background-color: #fff;
	box-shadow: inset 0 0 0 1px #1e1e1e;
	outline: 1px solid transparent;
	&:hover {
		box-shadow: 0 0 0 var(--wp-admin-border-width-focus)
			var(--wp-admin-theme-color);
	}
}
.wopb-block-pro-wrapper {
	padding: 20px;
	position: relative;
	opacity: 0.6;
}
.wopb-block-pro-wrapper:before {
	content: "";
	background: rgb(220 149 11 / 41%);
	width: 100%;
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	border-radius: 4px;
	z-index: 9;
}
.block-editor-block-inspector__advanced {
	margin-bottom: 35px !important;
}
.wopb-block-inserter-icon-section .wopb-pro-label {
	display: none;
}
.block-editor-block-types-list__item-icon .wopb-block-inserter-icon-section {
	position: relative;
	.wopb-pro-label {
		display: inline-block;
		position: absolute;
		font-size: 8px;
		right: -24px;
		background: #fb444d;
		padding: 1px 4px;
		color: #fff;
		border-radius: 1px;
	}
}

/* -----------------------------
-------- 8.x Section Toggle ----------
--------------------------------*/
.wopb-section-control {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 10px;
	.wopb-section-control__help {
		display: flex;
		align-items: center;
		& > a {
			text-decoration: none !important;
			display: block;
			margin-left: 5px;
			top: 2px;
			position: relative;
			& > span {
				color: #2a2a2a;
				font-size: 18px;
				line-height: normal;
				height: auto;
				display: block;
			}
		}
		.wopb-section-control__docs {
			font-size: 14px;
			line-height: unset;
		}
	}
	.wopb-section-control__toggle {
		margin-bottom: 0px !important;
		padding: 0 15px 0 0;
		margin-top: 0px !important; // Otter Plug Compitiblity
		div {
			margin-bottom: 0px !important;
		}
	}
}

/* -----------------------------
-------- 9.x Query ----------
--------------------------------*/
.wopb-query-toolbar {
	.components-popover__content {
		width: 270px;
		padding: 15px;
		border: 1px solid #1e1e1e;
		outline: 0px !important;
		.wopb-field-wrap {
			&:first-child {
				padding-top: 0px !important;
			}
		}
	}
}
.wopb-query-toolbar__btn {
	max-width: fit-content;
}
.wopb-query-toolbar__btn svg {
	min-width: auto;
	min-height: auto;
	max-width: inherit;
	max-height: inherit;
}
.wopb-query-toolbar__btn {
	svg {
		max-height: 22px;
		max-width: 100%;
	}
}

/* -----------------------------
-------- 10.x Toolbar Icon Size ----------
--------------------------------*/
.block-editor-block-icon {
	img {
		max-height: 22px;
		min-width: auto;
		min-height: auto;
		max-width: inherit;
		pointer-events: none;
	}
}

/* -----------------------------
-------- 11.x Template Style ----------
--------------------------------*/
/* block info */
.block-editor-block-card:has(.wopb-block-info) .block-editor-block-icon {
	margin-top: 5px;
}
.wopb-block-info {
	color: #676767;
	font-weight: 400;
	a {
		display: block;
		color: #037fff;
		font-weight: 600;
		font-size: 12px;
		transition: 400ms;
		margin-top: 4px;
		&:hover {
			color: #5ca8f3;
		}
	}
}
.wopb-ready-design {
	// padding: 18px 15px;
	// border-top: 1px solid #e0e0e0;
	& > div {
		display: flex;
		gap: 8px;
		justify-content: space-between;
		padding-inline: 10px;
		.wopb-ready-design-btns {
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
			padding: 5px 3px;
			font-size: 12px;
			border-radius: 2px;
			white-space: nowrap;
			font-weight: 500;
			cursor: pointer;
			box-shadow: none;
			transition: background-color 400ms;
			&.patterns {
				border: 1px solid rgba(255, 88, 69, 0.1);
				background: linear-gradient(
						180deg,
						rgba(255, 88, 69, 0.1607843137),
						transparent
					)
					rgba(255, 56, 163, 0.1019607843);
				color: #000;
				&:hover {
					background-color: #ff176b29;
				}
			}
			&.preview {
				color: #ffffff;
				background: linear-gradient(180deg, #ff176b, transparent)
					#fd2560;
				text-decoration: none;
				&:hover {
					background-color: #ff176b;
				}
			}
		}
	}
}

/* -----------------------------
-------- 12.x Design Template -- Explore Patterns----------
--------------------------------*/
// .wopb-templatekit-content-designs {
//     page-break-inside: avoid;
//     break-inside: avoid;
//     column-count: 4;
//     column-gap: 30px;
//     grid-template-columns: repeat(4, 1fr);
// }
.wopb-gap30 {
	gap: 30px;
}
.wopb-grid {
	display: grid;
}
// .wopb-templatekit-content-designs .wopb-item-list {
//     margin-bottom: 30px;
//     position: relative;
//     break-inside: avoid;
//     will-change: transform;
// }
.wopb-premade-grid .wopb-build-scratch {
	&,
	.wopb-item-content,
	.dashicons-plus-alt2 {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.wopb-item-content {
		cursor: pointer;
		background: #f8f0ec;
		box-shadow: 0px 1px 2px 0px rgba(147, 42, 30, 0.08);
		height: 100%;
		width: 100%;
		flex-direction: column;
		gap: 15px;
		padding: 50px;
		&:hover {
			box-shadow: 1px 5px 15px #f4ebe9;
			transition: 0.3s;
		}
	}
	.dashicons-plus-alt2 {
		border-radius: 100px;
		background: #fff;
		box-shadow: 0px 2px 10px 1px rgba(235, 203, 196, 0.38);
		width: 60px;
		height: 60px;
		font-size: 32px;
		color: #ead3d3;
	}
}
.wopb-item-list {
	position: relative;
}
.wopb-card {
	background: var(--wowstore-white-color);
	border-radius: 4px;
	border: 1px solid var(--wowstore-border-color);
}
.wopb-settings-tab-wrap .wopb-p10,
.wopb-p10 {
	padding: var(--wowstore-gutter-10);
}

.wopb-templatekit-content-designs .wopb-item-list-overlay {
	min-height: 120px;
	align-items: center;
	display: flex;
	background: none;
}
.wopb-item-list-overlay {
	cursor: pointer;
	background: var(--wowstore-popbodyBg);
	box-sizing: border-box;
	text-align: center;
	position: relative;
	line-height: 0;
}
.wopb-templatekit-img {
	display: block;
	width: 100%;
	&:focus {
		outline: none;
		box-shadow: none;
	}
	&.builder_temps {
		cursor: auto;
	}
}
.wopb-item-list img {
	max-width: 100%;
}
.wopb-list-dark-overlay {
	cursor: pointer;
	font-weight: 600;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	position: absolute;
	display: flex;
	background: rgba(0, 0, 0, 0);
	transition: var(--wowstore-transition-400);
}
.wopb-templatekit-premium-free-btn {
	background-color: var(--wowstore-success-button-color) !important;
}
.wopb-overlay-view,
.wopb-overlay-view:hover {
	color: var(--wowstore-white-color);
	text-decoration: none;
}
.wopb-overlay-view {
	opacity: 0;
	transition: var(--wowstore-transition-400);
	display: flex;
	flex-direction: column;
	.wopb-action-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		.wopb-btn-import,
		.wopb-preview {
			border-radius: 3px;
			font-size: 14px;
			padding: 8px 15px;
			line-height: normal;
			text-decoration: none;
		}
		.wopb-btn-import {
			background: #27b835;
			color: #fff;
			gap: 5px;
			.dashicons-update.rotate {
				font-size: 14px;
			}
			&:hover {
				background: #27b835;
				box-shadow: 0px 4px 10px 0px rgba(39, 184, 53, 0.6);
			}
		}
		.wopb-preview {
			background: #fff;
			color: #27b835;
			&:hover {
				box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.6);
			}
		}
	}
}
.wopb-templatekit-content-designs .wopb-overlay-view .dashicons {
	//line-height: 25px;
}
.wopb-overlay-view .dashicons {
	font-size: 80px;
	display: inline-table;
	height: auto;
	width: auto;
}
.wopb-templatekit-premium-btn {
	position: absolute;
	z-index: 1;
	background: #e83838;
	font-size: 12px;
	color: var(--wowstore-white-color);
	line-height: 17px;
	padding: 2px 8px;
	border-radius: 2px;
	top: 20px;
	right: 22px;
	text-transform: uppercase;
	transition: 0.4s;
	border-radius: 2px;
	opacity: 0;
}
.wopb-item-list-info {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid var(--wowstore-border-color);
	margin: 10px -10px -10px;
	align-items: center;
	text-transform: capitalize;
}
.wopb-templatekit-title {
	font-size: 14px;
	color: var(--wowstore-dark-color);
}
.wopb-action-btn .wopb-btn {
	display: flex;
	align-items: center;
}
.wopb-btn-success {
	color: var(--wowstore-white-color);
	background: var(--wowstore-success-button-color);
}
.wopb-btn-sm {
	padding: var(--wowstore-gutter-5) var(--wowstore-gutter-10) !important;
	font-size: var(--wowstore-text-sm-size) !important;
}
.wopb-btn {
	font-size: var(--wowstore-text-size);
	line-height: 1;
	font-weight: 600;
	text-decoration: none;
	border-radius: var(--wowstore-gutter-2);
	transition: var(--wowstore-transition-400);
	padding: var(--wowstore-gutter-15) var(--wowstore-gutter-35);
	cursor: pointer;
}
.wopb-btn-warning {
	white-space: nowrap;
	color: var(--wowstore-white-color);
	background: var(--wowstore-warning-button-color);
}

.wopb-btn-warning:hover,
.wopb-btn-warning:focus {
	color: var(--wowstore-white-color);
	background: var(--wowstore-warning-button-hover-color);
}
.wopb-item-list:hover .wopb-list-dark-overlay {
	background: rgba(0, 0, 0, 0.7);
}
.wopb-item-list:hover .wopb-overlay-view {
	opacity: 1;
}
.wopb-overlay-view,
.wopb-overlay-view:hover {
	color: var(--wowstore-white-color);
	text-decoration: none;
}
.wopb-item-list:hover .wopb-templatekit-premium-btn {
	opacity: 1;
}
.wopb-btn-success:hover,
.wopb-btn-success:focus {
	color: var(--wowstore-white-color);
	background: var(--wowstore-success-button-hover-color);
}
.wopb-btn-pro:hover {
	background: var(--wowstore-warning-button-hover-color);
	color: var(--wowstore-white-color);
}

.wopb-pro-block-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background: #ffdedb;
	padding: 15px 30px;
	.wopb-block-info {
		display: flex;
		align-items: center;
		gap: 10px;
		img {
			width: 30px;
			height: 20px;
		}
	}
	.wopb-block-name {
		font-size: var(--wowstore-text-size);
		color: #000;
		font-weight: 500;
		line-height: normal;
		span {
			color: #ff176b;
			margin-left: 2px;
		}
	}
	.wopb-action-btn {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 30px;
		.wopb-upgrade-btn {
			font-size: 14px;
			line-height: normal;
			&:focus {
				box-shadow: none;
			}
			&:hover {
				color: var(--wowstore-primary-color);
				transition: 0.3s;
			}
		}
		.wopb-upgrade-btn {
			color: #986a60;
			font-weight: 500;
			text-decoration-line: underline;
		}
	}
}

.wopb-wrapper-pro {
	//background: rgba(249,234,232,.35);
	padding: 12px !important;
	border: 1px solid #ffdedb;
}

/*==========================
    Css Image Filter Field
==========================*/
.wopb-field-imgfilter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.wopb-range-control {
		margin-top: 0px;
	}
}

/*==========================
    Css Image Filter Field
==========================*/
.wopb-imgfilter-range .wopb-range-input {
	margin-top: 0px !important; // overide range margin
	margin-bottom: 20px;
}

/*==========================
    13.x Row Column Structure
==========================*/

.wopb-field-columnwidth {
	padding: 17px 13px 15px;
}

.wopb-row-control {
	padding: 15px 13px 0px;
}

/*======  RowLayout Component Style  ======*/
.wopb-columnLayout-label {
	display: flex;
	align-items: center;
	gap: 20px;
	label {
		margin: 0px;
	}
}

.wopb-panel-column {
	display: grid;
	flex-wrap: wrap;
	gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0 auto;
	margin-top: 15px;
	.wopb-row-size {
		width: 100%;
		max-width: 78px;
		height: 50px;
		display: flex;
		gap: 3px;
		align-items: stretch;
		justify-content: center;
		transition: 0.3s;
		padding: 3px;
		opacity: 1;
		&:hover {
			& > div {
				background-color: #a5a5a7;
			}
		}
		& > div {
			cursor: pointer;
			width: 100%;
			flex-grow: 1;
			background-color: #d3d5dd;
		}
		& > span {
			position: absolute; // hover tooltip issue
		}
	}
}

.wopb-row-size:has(
		div:first-child:is(.wopb-layout-vertical)
			+ div:not(:nth-child(n + 2):is(.wopb-layout-vertical))
	) {
	flex-wrap: wrap;
	flex-direction: row;
	&:hover {
		flex-wrap: wrap;
		flex-direction: row;
	}
	& > div:nth-child(2) {
		width: calc(50% - 5px) !important;
	}
	& > div:nth-child(3) {
		width: calc(50% - 5px) !important;
	}
}

.wopb-row-size:has(
		div:not(:nth-child(-n + 2):is(.wopb-layout-vertical))
			+ div:nth-child(3):is(.wopb-layout-vertical)
	) {
	flex-wrap: wrap;
	flex-direction: row;
	&:hover {
		flex-wrap: wrap;
		flex-direction: row;
	}
	& > div:nth-child(1) {
		width: calc(50% - 5px) !important;
	}
	& > div:nth-child(2) {
		width: calc(50% - 5px) !important;
	}
}

/*========= Layout Initial View  =========*/
.wopb-column-structure {
	border: dashed 1.5px #868686;
	border-spacing: 5px;
	margin: 0 auto;
	.wopb-column-structure__heading {
		font-size: 18px;
		line-height: 1.39;
		color: #525252;
		text-align: center;
		margin: 30px 0px 38px;
	}
	.wopb-column-structure__content {
		display: flex;
		gap: 15px;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 820px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 44px;
		& > div {
			width: 90px;
			height: 29.6px;
			display: flex;
			flex-wrap: wrap;
			gap: 2px;
			transition: 0.3s;
			& > div {
				cursor: pointer;
				width: 100%;
				padding: 5px;
				background-color: #d3d5dd;
				flex-grow: 1;
			}
			&:hover {
				& > div {
					background-color: #a5a5a7;
				}
			}
		}
	}
}

/*======  Row Backend InnerComponent  ======*/
.wp-block-product-blocks-row {
	& > .wopb-row-wrapper {
		& > .block-editor-inner-blocks {
			width: 100%;
			box-sizing: border-box;
			.wopb-column-overlay {
				z-index: 0 !important;
			}
			& > .block-editor-block-list__layout {
				flex-wrap: wrap;
				& > .wp-block {
					&
						> .block-list-appender.wp-block
						> .block-list-appender__toggle {
						display: none;
					}
				}
				& > .block-editor-block-list__block {
					// flex-grow: 1;
					min-width: 0;
					word-break: break-word;
					overflow-wrap: break-word;
					box-sizing: border-box;
					margin: 0px !important;
					max-width: 100%;
				}
				.wp-block {
					max-width: 100%;
					transition: none;
				}
			}
		}
		.block-editor-block-list__block.is-selected {
			box-shadow: inset 0px 0 0 1.5px #007cba;
			&:focus::after {
				box-shadow: inset 0px 0 0 1.5px #007cba;
			}
		}
	}
	&
		> .wopb-row-wrapper
		> .block-editor-inner-blocks
		> .block-editor-block-list__layout {
		display: flex;
		box-sizing: border-box;
	}
}
.block-editor-block-list__block
	.wp-block-product-blocks-row
	> .wopb-row-wrapper {
	box-sizing: border-box;
}

/*======  Backend Insert Block Button & Width Tooltip   ======*/
.wp-block-product-blocks-column {
	& > .wopb-column-wrapper {
		& > .wopb-colwidth-tooltip {
			display: none;
			color: #000;
			font-size: 13px;
			pointer-events: none;
			white-space: nowrap;
			background-color: rgba(255, 255, 255, 0.8);
			border-radius: 4px;
			padding: 2px 6px;
			display: none;
			position: absolute;
			top: calc(50% - 10px);
			right: 16px;
			z-index: 999;
		}
		& > .wopb-colwidth-prev {
			left: 16px;
			right: auto;
		}
		& > .block-editor-inner-blocks {
			width: 100%;
			&:has(
					.block-editor-block-list__layout
						> .block-editor-block-list__block
				) {
				.wp-block-product-blocks-row {
					padding: 15px;
				}
				&
					> .block-editor-block-list__layout
					> .block-list-appender
					> div
					> button {
					border: none !important;
					box-shadow: none !important;
				}
			}
			& > .block-editor-block-list__layout {
				& > .block-editor-block-list__block {
					width: -webkit-fill-available;
				}
			}
		}
	}
	&.no-inner-block > .wopb-column-wrapper {
		& > .block-editor-inner-blocks {
			& > .block-editor-block-list__layout > .block-list-appender {
				width: 100%;
				& > div > button {
					border: solid 1.5px #000 !important;
					box-shadow: none !important;
				}
			}
		}
	}
}

/*======    Dragable Padding ( Resizer )    ======*/
body .wp-block-product-blocks-row > .wopb-row-wrapper {
	&:hover > .components-resizable-box__container {
		opacity: 0.5;
		background: #c1dcb6;
		z-index: 1;
		.wopb-dragable-padding {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&:has(
			> .components-resizable-box__container
				> div
				> .components-resizable-box__handle
		)
		> .block-editor-inner-blocks {
		width: -webkit-fill-available;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.components-resizable-box__container .wopb-dragable-padding {
		display: none;
		span {
			color: #000000;
			font-size: 14px;
		}
	}
}

/*======    dragable row padding    ======*/
.wp-block-product-blocks-row
	.wopb-row-wrapper
	.components-resizable-box__container:has(.wopb-dragable-padding)
	.components-resizable-box__handle {
	height: 100%;
	bottom: -3px;
	top: -3px;
	&.components-resizable-box__handle-top,
	&.components-resizable-box__handle-bottom {
		&::after,
		&::before {
			content: none;
		}
	}
}

/*======    Column dragable width    ======*/
.wopb-row-wrapper {
	&:has(.wopb-resizer-container) > .block-editor-inner-blocks {
		overflow-x: clip;
		overflow-y: visible;
		> .block-editor-block-list__layout {
			position: relative;
		}
	}
	.wopb-resizer-container {
		pointer-events: none;
		position: absolute;
		top: 0;
		height: 100%;
		.components-resizable-box__handle {
			pointer-events: auto;
			&:not(:hover) {
				&::after {
					display: none;
				}
			}
		}
	}
}
/*======    Column Width Tooltip Show    ======*/
.has-child-selected,
.is-selected {
	&
		> .wp-block-product-blocks-row
		.block-editor-block-list__block
		.wp-block-product-blocks-column
		> .wopb-column-wrapper
		> .wopb-colwidth-tooltip {
		display: block;
	}
	&
		> .wp-block
		.wp-block-product-blocks-row
		.block-editor-block-list__block
		.wp-block-product-blocks-column
		> .wopb-column-wrapper
		> .wopb-colwidth-tooltip {
		display: block;
	}
}
.wopb-hide-field-item .components-custom-gradient-picker select {
	option[value="radial-gradient"] {
		display: none;
	}
}

.wopb-field-layout-items:has(.wopb-layout-vertical) {
	flex-direction: column;
}
// Need to Check Existance
.wopb-field-layout-items:has(.wopb-layout-half) {
	flex-wrap: wrap;
}

/* 
    ======   Row column all css ======  
*/
.wopb-row-alignment.wopb-field-alignment .wopb-sub-field {
	span.wopb-align-button {
		svg {
			width: 18px;
			margin-right: 0px;
			padding: 4px 7px;
		}
	}
}
.wopb-field-layout-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
	grid-gap: 6px;
	margin-top: 10px;
	.wopb-field-layout-items {
		text-align: center;
		padding: 3px;
		box-shadow: inset 0 0 0 1px #b4bcc0;
		border-radius: 3px;
		.wopb-field-layout-item {
			.wopb-field-layout-content {
				position: relative;
				img {
					height: auto;
					max-width: 100%;
				}
				span {
					font-size: 16px;
					font-weight: 500;
				}
				.wopb-field-layout-pro {
					position: absolute;
					right: 0;
					top: 0;
					background: #2fb924;
					color: #fff;
					font-size: 9px;
					padding: 2px 3px;
					line-height: 1;
					border-radius: 0 0 0 2px;
					transition: 400ms;
					&:hover {
						background: #27a51d;
					}
				}
				cursor: pointer;
			}
		}

		&.active {
			// box-shadow: inset 0 0 0 1px #037fff, 0 0 0 1px #037fff;
			// For our new besing Pattern and layout toolbar dropdown
			box-shadow:
				inset 0 0 0 1px #2a2a2a,
				0 0 0 1px #2a2a2a;
			opacity: 1;
			.wopb-field-layout-item {
				cursor: pointer;
			}
		}
	}
}

/* -----------------------------
-------- Separator ---------
--------------------------------*/
.wopb-separator-ribbon-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 23px;
}

.wopb-separator-ribbon {
	--r: 0.8em;

	font-size: 16px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bold;
	color: #fff;
	padding-inline: calc(var(--r) + 30px);
	line-height: 1.8;
	clip-path: polygon(
		0 0,
		100% 0,
		calc(100% - var(--r)) 50%,
		100% 100%,
		0 100%,
		var(--r) 50%
	);
	background: $wopbcolor;
	width: fit-content;
}

.wopb-field-separator {
	margin-right: -15px;
	margin-left: -15px;
	> div {
		position: relative;
		text-align: center;
		span {
			background: $white-color;
			padding: 0 12px;
			position: relative;
			margin-left: 0;
			font-weight: 600;
			font-size: 11px;
			text-transform: uppercase;
			letter-spacing: 3px;
			color: #1c2126;
		}
		&:before,
		&:after {
			position: absolute;
			content: "";
			height: 1px;
			background: #dddddd;
			top: 50%;
		}
		&:before {
			width: 100%;
			right: 0;
		}
		// &:after {
		//     width: 3px;
		//     left: 0;
		//     height: 14px;
		//     top: 2px;
		//     background: #037fff;
		// }
	}
}

/*==========================
    Css Icon  Field
==========================*/
.wopb-field-icons {
	.wopb-sub-field {
		display: block;
		width: 100%;
		margin-top: 10px;
		> div {
			width: 100%;
		}
		/* ===== Common Style ===== */
		.wopb-icon-input {
			height: 36px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-radius: 2px;
			position: relative;
			border: solid 1px #757575;
			padding-left: 10px;
			.wopb-icon-close {
				height: 17px;
				width: 17px;
				cursor: pointer;
				background: #eaeaea;
				margin-right: 50px;
				border-radius: 12px;
				position: relative;
				&:after {
					transform: rotate(45deg);
				}
				&:before {
					transform: rotate(-45deg);
				}
				&:after,
				&:before {
					content: " ";
					width: 1px;
					height: 10px;
					background-color: #707070;
					position: absolute;
					left: 8px;
				}
			}
			svg {
				height: 20px;
				// padding: 8px 12px;
				cursor: pointer;
			}
			div {
				display: flex;
				align-items: center;
			}
			span {
				cursor: pointer;
				height: 100%;
				display: flex;
				align-items: center;
				border: none;
				border-left: solid 1px #707070;
				border-radius: 0px;
				background-color: #eaeaea;
				// padding: 13px 10px 12px;
				padding: 0px 12px;
				position: absolute;
				top: 0;
				right: 0;
				&:after {
					content: "";
					display: block;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-top: 10px solid #757575;
				}
			}
		}
	}
}
.wopb-icondropdown-container {
	width: 280px;
	max-height: 293px;
	border-radius: 2px;
	padding: 7px;
	.wopb-search-icon {
		display: flex;
		align-items: center;
		input {
			width: 100%;
			padding: 5px 8px;
		}
	}
	.wopb-searchIcon-filter {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 15px;
		svg {
			height: 15px;
			width: 17px;
		}
	}
	.wopb-dropdown-icon {
		max-height: 193px;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		align-items: center;
		gap: 5px;
		margin: 15px 0px 15px;
		overflow-y: scroll;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		&::-webkit-scrollbar {
			display: none;
		}
		span {
			cursor: pointer;
			width: 100%;
			height: 100%;
			max-width: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 12px 0px;
			border-radius: 4px;
			background-color: #f8f8f8;
			svg {
				height: 20px;
				width: 20px;
			}
			&.active {
				background-color: #037fff;
				svg {
					fill: #fff;
				}
			}
		}
	}
}
/*==========================
    Css Icon  Field End
==========================*/

/* -----------------------------
------ Link [Field] ------
--------------------------------*/
.wopb-field-link {
	.wopb-link-section {
		display: flex;
		.wopb-link-input {
			position: relative;
			display: flex;
			align-items: center;
			width: 100%;
			input {
				width: 100%;
				display: inline-block;
				border-radius: 0;
				border: 1px solid #333;
				margin: 0;
				padding-right: 30px;
				&:focus {
					box-shadow: none;
				}
			}
			.wopb-input-inner-options {
				position: absolute;
				right: 5px;
			}
			.wopb-image-close-icon {
				background: red;
				width: 13px;
				height: 13px;
				font-size: 12px;
				color: #fff;
				border-radius: 20px;
				line-height: 13px;
				padding: 0;
				margin: 0;
				cursor: pointer;
			}
		}

		.wopb-link-options {
			display: flex;
			gap: 10px;
			align-items: center;
			.wopb-collapse-section {
				cursor: pointer;
				height: 100%;
				display: flex;
				align-items: center;
				border: 1px solid #333;
				border-left: none;
				padding: 0 10px;
				.wopb-short-collapse {
					margin-right: 0;
				}
			}
		}
	}
	.wopb-short-content {
		padding: 0;
	}
	.wopb-section-accordion-item {
		display: none;
	}
}
/* -----------------------------
------ Link [Field] End ------
--------------------------------*/

body .editor-styles-wrapper .is-layout-flow h1,
body .editor-styles-wrapper .is-layout-flow h2,
body .editor-styles-wrapper .is-layout-flow h3,
body .editor-styles-wrapper .is-layout-flow h4,
body.editor-styles-wrapper .is-layout-flow h5,
body .editor-styles-wrapper .is-layout-flow h6 {
	margin-block-end: unset;
	margin-block-start: unset;
}

/* -----------------------------
------ Support from Block Settings Style ------
--------------------------------*/
.wopb-editor-support {
	text-align: center;
	padding: 22px 15px;
	border-top: 1px solid #e0e0e0;
	background-color: #f9f9f9;
	.wopb-editor-support-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
		.wopb-logo {
			height: 30px;
			width: auto;
		}
		.wopb-title {
			color: black;
			font-size: 1.25rem;
			font-weight: bolder;
		}
		.wopb-description {
			color: #000;
			font-size: 14px;
		}
		a {
			padding: 10px 25px;
			color: #ffffff;
			font-size: 14px;
			font-weight: bold;
			line-height: 1.4;
			background: linear-gradient(180deg, #ff176b, transparent) #fd2560;
			border-radius: 4px;
			text-decoration: none;
			display: inline-block;
			border: none;
			transition: background-color 400ms;
			&:hover {
				background-color: var(--wowstore-primary-color);
			}
		}
	}
}

/*==========================
    14.x UX Component
==========================*/
.wopb-component {
	cursor: pointer !important;
}

.wopb-component-hover {
	transition-duration: 300ms;
	transition-timing-function: ease;
}

.wopb-component:hover .wopb-component-hover {
	outline: 1px solid $wopbcolor;
	outline-offset: 5px;
}

.wopb-component-simple {
	pointer-events: all !important;
	cursor: pointer !important;
	transition-duration: 300ms;
	transition-timing-function: ease;
}

.wopb-component-simple:hover {
	box-shadow: inset 0px 0px 0px 1px $wopbcolor;
}

.wopb-sidebar-highlight {
	animation: wopb-highlight 1s ease-in-out 700ms forwards;
}

@keyframes wopb-highlight {
	from {
		box-shadow: inset 0 0 0 2px $wopbcolor;
	}
	to {
		box-shadow: none;
	}
}

.wopb-ux-style-btn-parent {
	position: relative;
}

.wopb-ux-style-btn {
	position: absolute;
	right: 50%;
	top: 0px;
	font-size: 14px;
	color: white;
	z-index: 99999;
	padding: 2px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease;
	cursor: pointer;
	background-color: $wopbcolor;
	overflow: hidden;
	transform: translate(50%, 50%);

	&:hover {
		transform: translate(50%, 50%) scale(1.2);

		&::after {
			animation: none;
		}
	}
}

.wopb-ux-style-btn::after {
	content: "";
	position: absolute;
	top: 0;
	height: 100%;
	left: -100px;
	width: 6px;
	transform: skewX(-25deg);
	-webkit-text-fill-color: transparent;
	animation: style-button-shine 5s infinite ease;
	background: white;
	opacity: 0.5;
}

@keyframes style-button-shine {
	0% {
		left: -10%;
	}
	40%,
	100% {
		left: 110%;
	}
}

/*==========================
    15.x WOPB Toolbar Group
==========================*/
div[aria-label="Block tools"] {
	// prevents the top text in our toolbar from
	// being obstructed
	margin-top: 25px !important;
}
.wopb-toolbar-group {
	background-color: var(--wowstore-popbodyBg);
	display: flex;
	position: relative;
	user-select: none;
}

.wopb-toolbar-group-text {
	position: absolute;
	top: auto !important;
	bottom: 100%;
	width: calc(100% + 1px);
	transform: translateX(-1px);
	text-align: center;
	background-color: $wopbcolor;
	padding-block: 8px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	overflow: hidden;

	&-inner {
		font-weight: bolder;
		text-transform: uppercase;
		color: white;
	}
}

.wopb-toolbar-text-ticker-wrapper {
	.wopb-toolbar-group-text-inner {
		display: block;
		animation: ticker 4s linear infinite;
		text-wrap: nowrap;
		width: max-content;
	}
}

@keyframes ticker {
	0% {
		transform: translateX(110%);
	}
	100% {
		transform: translateX(-110%);
	}
}

.wopb-toolbar-group-block {
	position: relative;

	&-overlay {
		position: absolute;
		z-index: 5;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgb(224, 251, 231, 0.9);
		display: flex;
		justify-content: center;
		align-items: center;
		word-wrap: break-word;
		word-break: break-all;

		color: #2bb749 !important;
		font-size: 1rem;
		font-weight: bolder;
		text-transform: uppercase;
	}
}

/* ===== Layout ===== */
.wopb-toolbar-template__btn {
	span {
		font-size: 22px;
	}
}
/* ===== Layout ===== */
.wopb-layout-toolbar {
	.wopb-field-wrap {
		padding-top: 0px !important;
	}
	.components-popover__content {
		width: 270px;
		padding: 7px 15px !important;
		border: 1px solid #1e1e1e;
		outline: 0px !important;
	}
	.wopb-field-layout-wrapper {
		grid-template-columns: repeat(auto-fit, minmax(40px, 1fr)) !important;
	}
}

/* ===== Toolbar Tab ===== */
.wopb-custom-toolbar-wrapper {
	.components-popover__content {
		min-width: 270px;
		padding: 0px !important;
		border: 1px solid #1e1e1e;
		outline: 0px !important;
	}
}

.components-button:focus:not(:disabled) {
	border: none !important;
}

.wopb-toolbar-tab {
	max-width: 300px;

	button {
		border: none !important; // Removes weird border when selected
		white-space: nowrap;

		&::after {
			background-color: #1e1e1e !important;
		}
	}

	div[role="tabpanel"] {
		padding: 0px 15px 30px 15px;
	}

	.components-tab-panel__tabs {
		margin-bottom: 14px;
	}

	.components-tab-panel__tab-content,
	.wopb-inspect-tabs.wopb-hover-tabs {
		padding-bottom: 0px;
	}

	// Typography style resets
	.wopb-field-typo-settings {
		padding: 0px;
		width: 240px;
	}

	.wopb-field-typography {
		max-height: initial;
		width: initial;
	}

	.wopb-typo-container {
		flex-wrap: wrap;
	}

	.wopb-field-typography .wopb-typo-section.wopb-typo-spacing,
	.wopb-field-typography .wopb-style-container {
		flex-basis: 100%;
	}
}

.wopb-toolbar-section-show {
	padding: 0px !important;
	margin: 0px !important;

	.components-tab-panel__tabs {
		border-bottom: 1px solid #cecece;
	}
}

.wopb-toolbar-sort {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3px;

	&-btn {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 18px;
		margin-left: -5px;
		transition: all 200ms ease-in-out;

		svg {
			fill: black;
			width: 24px;
			height: auto;
		}

		&:hover {
			background-color: #ff176b;
			border-radius: 3px;

			svg {
				fill: white;
			}
		}
	}
}

.wopb-toolbar-align {
	svg {
		width: 24px;
		height: auto;
	}
}

/*start repeat css for gutenberg editor*/
.wopb-variation-swatches .wopb-swatch {
	margin-top: 5px;
	margin-right: 10px;
	position: relative;
	text-align: center;
	display: inline-flex;
	width: fit-content;
	align-items: center;
	justify-content: center;
	line-height: normal;
	cursor: pointer;
}
.wopb-variation-swatches .wopb-swatch-label {
	background: #ededed;
	color: #545252;
	padding: 5px 8px;
	border-radius: 2px;
}
.wopb-variation-swatches .wopb-swatch-label.selected {
	border: 2px solid #333;
}
.wopb-variation-swatches .wopb-swatch-color.selected:before {
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	-moz-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
	content: "";
	width: 6px;
	height: 10px;
	border: solid #eee;
	border-width: 0 2px 2px 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -2px -2px 0 0;
}
.wopb-variation-swatches .wopb-swatch-image.selected img {
	border: 2px solid #b3aeae;
	padding: 2px;
}
.wopb-variation-swatches .wopb-swatch.disabled {
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.4;
	overflow: hidden;
}
.wopb-variation-swatches .wopb-swatch.disabled:before {
	position: absolute;
	content: " " !important;
	width: 100%;
	height: 1px;
	background: red !important;
	left: 0;
	right: 0;
	bottom: 0;
	top: 50%;
	visibility: visible;
	opacity: 1;
	border: 0;
	margin: 0 !important;
	padding: 0 !important;
	min-width: auto;
	-webkit-transform-origin: center;
	transform-origin: center;
	z-index: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.wopb-variation-swatches .wopb-swatch.disabled:after {
	position: absolute;
	content: " " !important;
	width: 100%;
	height: 1px;
	background: red !important;
	left: 0;
	right: 0;
	bottom: 0;
	top: 50%;
	visibility: visible;
	opacity: 1;
	border: 0;
	margin: 0 !important;
	padding: 0 !important;
	min-width: auto;
	-webkit-transform-origin: center;
	transform-origin: center;
	z-index: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
ul.products
	li
	.wopb-loop-variations-form
	.wopb-variation-swatches
	.wopb-swatch
	img {
	margin: unset;
}
.wopb-swatch .wopb-variation-swatch-tooltip {
	border-radius: 3px;
	position: absolute;
	bottom: 125%;
	background: #333;
	z-index: 2;
	color: #fff;
	padding: 5px 5px;
	font-size: 12px;
	opacity: 0;
	visibility: hidden;
	white-space: nowrap;
}
.wopb-block-item .wopb-swatch .wopb-variation-swatch-tooltip {
	bottom: 135%;
}
.wopb-product-btn .wopb-swatch .wopb-variation-swatch-tooltip {
	padding: 16px 10px;
}
.wopb-swatch .wopb-variation-swatch-tooltip:after {
	transform: rotate(45deg);
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	background: #333;
	bottom: -4px;
	left: 50%;
	margin-left: -4px;
}
.wopb-swatch:hover .wopb-variation-swatch-tooltip {
	opacity: 1;
	visibility: visible;
}
/*end repeat css for gutenberg editor*/

.block-editor-list-view-leaf.is-selected {
	.block-editor-block-icon img {
		filter: brightness(100) contrast(100);
	}
}

.block-editor-block-inspector .wopb-block-use-instruction {
	color: #856404;
	background-color: #fdf7e3;
	border-color: #faedc1;
	position: relative;
	padding: 12px 18px;
	border: 1px solid transparent;
	border-radius: 4px;
	.wopb-link {
		color: #856404;
		display: flex;
		gap: 5px;
		text-decoration: none;
		cursor: pointer;

		.wopb-title {
			font-size: 14px;
			font-weight: 500;
		}

		.dashicons {
			color: #654c05;
			font-size: 20px;
		}
	}
	& ~ span.wopb-section-arrow {
		bottom: 5px;
		top: unset !important;
	}
}
