@import "../utility.scss";

.wopbLicense {
	@include flex(20);
}
.licenseGuideLeft {
	flex-basis: calc(100% - 435px);
}
.licenseGuideRight {
	flex-basis: 350px;
	@include flex(15);
}
.newLicense {
	.dashicons-update {
		margin-left: 5px;
	}
	.newLicenseLabel {
		font-size: 20px;
		font-weight: bold;
		color: var(--wowstore-text-color);
	}
	.newLicenseFields {
		display: flex;
		gap: 20px;
		margin-top: 22px;
		input {
			max-width: 400px;
			width: 100%;
			height: 40px;
			border: 1px solid var(--wowstore-border-color);
			border-radius: var(--wowstore-border-radius);
			color: var(--wowstore-dark-color);
			padding: 0px 13px 0px;
			background-color: var(--wowstore-white-color);
		}
		.wopb-primary-button {
			padding: 7px 20px;
		}
	}
}
.licenseActivated {
	text-align: center;
	.activatedIcon {
		border-radius: 50%;
		border: solid 2px #008000;
		color: #008000;
		width: 50px;
		height: 50px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		margin-bottom: 10px;
		font-size: 30px;
	}
}
.activationMessage,
.deactiveMessage,
.expiredMessage {
	color: var(--wowstore-text-color);
	font-size: var(--wowstore-text-sm-size);
}
.deactiveLink {
	color: var(--wowstore-primary-color);
}
.licenseExpired {
	text-align: center;
	.expiredIcon {
		border-radius: 50%;
		border: solid 2px #ce290b;
		color: #ce290b;
		width: 50px;
		height: 50px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		margin-bottom: 10px;
		font-size: 30px;
	}
}
.renewLink {
	color: #0d9308;
}
.licenseGuide {
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
	justify-content: space-between;
	.guidMessage {
		margin: 10px 0 15px;
	}
}
.errorNote {
	color: #67531e;
	background: rgba(255, 243, 205, 0.4);
	border: 1px solid rgba(255, 236, 181, 0.6);
	border-radius: 3px;
	font-size: var(--wowstore-text-sm-size);
	padding: 10px;
}
