.wp-block-product-blocks-banner {
	.wopb-banner-wrapper {
		display: flex;
	}
	.wopb-banner-link {
		width: 100%;
	}
	.wopb-banner-link[href]:not(:empty) {
		cursor: pointer;
	}
	.wopb-banner-section {
		display: grid;
		align-items: center;
		position: relative;
		overflow: hidden;
		width: 100%;
		box-sizing: border-box;
		.wopb-content-wrapper,
		.wopb-image-wrapper {
			z-index: 1;
		}
	}
	.wopb-banner-overlay {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}
	.wopb-title {
		font-size: 22px;
		font-weight: bold;
	}
	.wopb-subtitle {
		color: green;
	}
	.wopb-button {
		background: #333;
		color: #fff;
		text-decoration: none;
		padding: 7px 15px;
		font-size: 12px;
		display: inline-block;
		margin-top: 10px;
	}
	.wopb-image-wrapper {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		img.wopb-image {
			width: 100%;
		}
	}
	.wopb-sale-shape {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		text-align: center;
		svg {
			height: 100%;
			width: 100%;
		}
		.wopb-onsale {
			position: absolute;
		}
	}
	.wopb-onsale-hot {
		&.wopb-shape2 {
			width: 120px;
			display: flex;
			justify-content: center;
			box-sizing: content-box;
			&.wopb-location-top_left {
				transform: rotate(320deg);
			}
			&.wopb-location-top_right {
				transform: rotate(40deg);
			}
			&.wopb-location-bottom_left {
				transform: rotate(220deg);
			}
			&.wopb-location-bottom_right {
				transform: rotate(140deg);
			}
			.wopb-onsale-shape2 {
				position: absolute;
				bottom: 6px;
			}
		}
		&.wopb-shape3 {
			height: 25px;
			width: 130px;
			display: flex;
			justify-content: center;
			align-items: center;
			&.wopb-location-top_left {
				top: 20px;
				left: -25px;
				transform: rotate(320deg);
			}
			&.wopb-location-top_right {
				top: 20px;
				right: -25px;
				transform: rotate(40deg);
			}
			&.wopb-location-bottom_left {
				bottom: 15px;
				left: -25px;
				transform: rotate(217deg);
			}
			&.wopb-location-bottom_right {
				bottom: 15px;
				right: -25px;
				transform: rotate(140deg);
			}
			.wopb-onsale-shape3 {
				position: absolute;
			}
		}
	}

	.wopb-initial-option {
		background: #fff;
		padding: 15px 20px;
		border: 1px solid;
		.wopb-option-heading {
			font-size: 18px;
			margin-bottom: 12px;
		}
		.wopb-option-description {
			font-size: 14px;
			margin-bottom: 10px;
		}
		.wopb-option-group {
			a {
				font-size: 14px;
				padding: 6px 12px;
				border-radius: 2px;
				margin-right: 12px;
				cursor: pointer;
				text-decoration: none;
			}
			.wopb-option-pattern {
				background: #ff6345;
				color: #fff;
			}
			.wopb-option-blank {
				border: 1px solid #ff6345;
			}
		}
	}
	.wopb-image-uploader {
		cursor: pointer;
		display: flex;
		gap: 10px;
		position: absolute;
		align-items: center;
		background: #fff;
		padding: 6px 16px;
		border-radius: 4px;
		border: 1px solid #070707;
		.wopb-plus-icon {
			background: #000;
			padding: 4px;
			border-radius: 40px;
			display: flex;
			align-items: center;
			svg {
				stroke: #fff;
				width: 13px;
				stroke-width: 3;
			}
		}
		.wopb-instruction {
			font-size: 15px;
			font-weight: 600;
		}
	}
}
