@import "../../utility.scss";

.wopb-gettingstart-message {
	display: grid;
	grid-template-columns: 440px auto;
	gap: 30px;
	align-items: center;
	justify-content: space-between;
	@media only screen and (max-width: 1200px) {
		grid-template-columns: 1fr 1fr;
	}
	.wopb-heading,
	.wopb-description {
		margin-bottom: 12px;
	}
	.wopb-heading {
		font-size: 32px;
	}
	.wopb-description {
		font-size: var(--wowstore-text-size);
		color: #656976;
	}
	.wopb-start-left {
		position: relative;
		line-height: 0;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			border-radius: 4px;
			@media only screen and (max-width: 1400px) {
				object-fit: cover;
			}
		}
		.wopb-start-content {
			position: absolute;
			flex-direction: column;
			gap: 20px;
			display: flex;
			bottom: 24px;
			left: 24px;
			line-height: normal;
			.wopb-start-text {
				color: #ffffff;
				font-size: 18px;
			}
			.wopb-start-btns {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				gap: 12px;
				.wopb-primary-button {
					padding: 14px 25px;
				}
				.wopb-primary-button,
				.wopb-secondary-button {
					font-size: 14px;
					border-radius: 4px;
				}
				.wopb-secondary-button {
					padding: 13px 20px;
					background: unset;
					border: 1px solid #ffffff;
					color: #ffffff !important;
					font-weight: 600;
					&:hover {
						background: unset;
					}
				}
			}
		}
	}
	.wopb-start-right {
		display: grid;
		grid-template-columns: 1fr 1fr;
		height: 100%;
		@media only screen and (max-width: 1200px) {
			grid-template-columns: 1fr;
		}
		.wopb-dashboard-content {
			background: #ffffff;
			padding: 24px 32px;
			border-radius: 0 4px 4px 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			@media only screen and (min-width: 1200px) and (max-width: 1360px) {
				padding: 24px 15px;
			}
			.wopb-title {
				font-size: 16px;
				font-weight: 600;
				margin-bottom: 8px;
			}
			.wopb-desc {
				color: #656976;
				font-size: 14px;
				margin-bottom: 18px;
				@media only screen and (min-width: 1200px) and (max-width: 1300px) {
					display: none;
				}
			}
			.wopb-lists {
				display: flex;
				flex-direction: column;
				gap: 8px;
				margin-bottom: 16px;
				.wopb-list {
					display: flex;
					align-items: center;
					gap: 7px;
					color: #070707;
					font-weight: 500;
					font-size: 14px;
					@media only screen and (min-width: 1200px) and (max-width: 1300px) {
						font-size: 12px;
					}
				}
			}
			.wopb-upgrade-btn {
				background: #ff176b;
				color: #ffffff;
				padding: 7px 20px;
				border-radius: 4px;
				font-size: 14px;
				margin-bottom: 15px;
				display: flex;
				align-items: center;
				gap: 10px;
				width: fit-content;
				cursor: pointer;
				text-decoration: none;
			}
		}
	}
	.wopb-dashborad-banner {
		width: 100%;
		position: relative;
		line-height: 0;
		@media only screen and (max-width: 1200px) {
			display: none;
		}
		.wopb-play-icon-container {
			max-width: 25%;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			max-height: fit-content;
			cursor: pointer;
			.wopb-play-icon {
				max-width: 100%;
			}
			.wopb-animate {
				-webkit-animation: pulse 1.2s ease infinite;
				animation: pulse 1.2s ease infinite;
				background: #ff176b80;
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				border-radius: 100%;
			}
		}
		img.wopb-banner-img {
			max-width: 100%;
			height: 100%;
			border-radius: 4px 0 0 4px;
			@media only screen and (max-width: 1420px) {
				object-fit: cover;
			}
		}
	}
	@-webkit-keyframes pulse {
		0% {
			opacity: 0;
			transform: scale(1, 1);
		}

		50% {
			opacity: 0.3;
		}

		100% {
			transform: scale(1.5);
			opacity: 0;
		}
	}

	@keyframes pulse {
		0% {
			opacity: 0;
			transform: scale(1, 1);
		}

		50% {
			opacity: 0.3;
		}

		100% {
			transform: scale(1.5);
			opacity: 0;
		}
	}
}
.wopb-gettingstart-btns {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}
.wopb-dashboard-addons-container {
	font-family: "Roboto", sans-serif;
	@include flex();
	&:has(.wopb-drag-highlight) {
		user-select: none;
	}
	&:has(.wopb-grid-view-all) {
		position: relative;
	}
	.wopb-addon-parent-heading.mt {
		margin-top: 50px;
	}
	.wopb-addon-parent-heading {
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 30px;
		color: #2b1506;
		& > span {
			color: var(--wowstore-primary-color);
		}
	}
	.wopb-addons-grid {
		display: grid;
		justify-content: space-between;
		grid-template-columns: grid(3);
		gap: 30px;
		position: relative;
		.wopb-addon-item {
			@include flex();
			justify-content: space-between;
			padding: unset !important;
			border: 1px solid #f4ebe9;
			border-radius: 4px;
			box-shadow: 0 1px 2px 0 rgba(110, 38, 24, 0.02);
			img {
				height: 50px;
			}
			.dashicons {
				height: unset;
				width: unset;
				line-height: unset;
				//font-size: 16px;
			}
			.wopb-addon-item-contents {
				padding: 25px;
				position: relative;
				text-align: center;
				.wopb-addon-item-name {
					.wopb-addon-heading {
						font-size: 18px;
						font-weight: 600;
						color: #2b1506;
					}
					margin-bottom: 20px;
					img {
						border-radius: var(--wowstore-border-radius);
					}
				}
				.wopb-pro-lock {
					position: absolute;
					top: 10px;
					right: 10px;
					font-size: 12px;
					color: #ff176b;
					transition: 400ms;
					border: 1px solid #ff176b;
					border-radius: 2px;
					padding: 1px 7px;
				}
			}
		}
		.wopb-description {
			font-size: 14px;
			font-weight: 400;
			color: #736c66;
		}
	}
	.wopb-addons-pro-message {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		padding: 25px;
		background: #fff;
		border-radius: var(--wowstore-border-radius);
		box-shadow: 0 1px 2px 0 rgba(147, 42, 30, 0.08);
		align-items: center;
		.imgCon {
			max-width: 450px;
			line-height: 1;
			img {
				width: 100%;
			}
		}
		.wopb-description {
			display: inline-block;
			margin-top: 15px;
		}
		.wopb-addons-pro-message-right {
			max-width: 550px;
		}
		.wopb-pro-messages {
			margin: 20px 0 15px 0;
			span {
				margin-bottom: 10px;
				display: inline-block;
				font-size: var(--wowstore-text-sm-size);
				color: var(--wowstore-text-color);
				font-weight: normal;
				svg {
					height: 20px;
					width: 20px;
					vertical-align: middle;
					fill: var(--wowstore-primary-color);
					margin-right: 8px;
				}
			}
		}
	}
	.wopb-addon-item-actions {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid var(--wowstore-border-color);
		.wopb-control-switch,
		.wopb-docs-action {
			padding: 12px 15px;
		}
		.dashicons.wopb-popup-setting {
			display: inline-flex;
			align-items: center;
			padding: 0 12px;
			border-left: 1px solid #f4ebe9;
			color: #2b1506;
			font-size: 24px;
			cursor: pointer;
		}
		.wopb-docs-action {
			display: flex;
			justify-content: space-between;
			gap: 15px;
			a {
				display: inline-flex;
				align-items: center;
				gap: 3px;
				font-size: 14px;
				color: #2b1506;
				cursor: pointer;
				text-decoration: none;
				&:hover {
					color: var(--wowstore-primary-color);
				}
			}
			.dashicons {
				color: #736c66;
				font-size: 16px;
			}
			.dashicons-admin-collapse {
				transform: rotate(180deg);
			}
		}
		.wopb-addon-settings {
			font-family: "Roboto", sans-serif;
			width: 100%;
			background-color: rgb(0, 0, 0, 0.5);
			position: fixed;
			top: 0;
			bottom: 0;
			right: 10%;
			transition: 0.5s;
			z-index: 999999;
			.wopb-addon-settings-popup {
				height: 100%;
				width: 75vw;
				max-width: 1000px;
				position: fixed;
				z-index: 99;
				top: 32px;
				right: 0px;
				margin: 0 auto;
				border-radius: var(--wowstore-border-radius);
				box-sizing: border-box;
				background-color: var(--wowstore-white-color);
				box-shadow: 0 1px 2px 0 rgba(147, 42, 30, 0.08);
				overflow-x: hidden;
				transition: 0.5s;
				&::-webkit-scrollbar {
					display: none;
				}
				.wopb-addon-setting-header {
					justify-content: space-between;
					.wopb-addon-settings-title {
						padding: 0 16px;
						.wopb-heading {
							color: #070c1a;
						}
					}
				}
				.wopb-addon-setting-body {
					padding: 30px;
					height: 100%;
					overflow-y: auto;
					overflow-x: hidden;
					@include wopb-custom-scrollbar-style;
					background: var(--wowstore-popbodyBg);

					// Settings Field Wrap Card
					.wopb-settings-field-wrap {
					}
					strong {
						font-size: 14px;
						margin-bottom: 6px;
						display: inline-block;
					}
					.wopb-settings-heading {
						display: block;
						margin-bottom: 28px;
						color: #4b5563;
						position: relative;
						z-index: 0;
						font-size: 20px;
						&::after {
							content: "";
							background: #f0eeed;
							position: absolute;
							z-index: -1;
							right: -50%;
							left: -50%;
							top: -8px;
							bottom: -8px;
						}
					}

					.wopb-settings-field {
						.wopb-input-group {
							display: flex;
							align-items: center;
							width: fit-content;
							position: relative;
						}
						[contenteditable="true"] {
							&:focus {
								outline: none;
							}
						}
						.wopb-settings-input-field .wopb-input-group {
							// start typography settings
							input[type="number"] {
								border: none;
								text-align: center;
								max-width: 60px;
							}
							.wopb-plus-minus-icon {
								cursor: pointer;
								padding: 11px;
								background: #e5e5e5;
								svg {
									margin-bottom: -4px;
								}
								&:first-child,
								&:last-child {
									border-right: 1px solid #d9d9d9;
								}
								&:hover {
									background: #000000;
									svg path {
										stroke: #ffffff;
									}
								}
							}
						}
						// end typography settings

						.wopb-checkmark {
							position: absolute;
							display: flex;
							top: -3px;
							right: -4px;
							border-radius: 10px;
							background: #ff176b;
							svg {
								width: 10px;
								height: 10px;
							}
						}

						//radio field settings
						&.wopb-radio-field {
							.wopb-input-section {
								display: flex;
								flex-direction: column;
								flex-wrap: wrap;
								row-gap: 8px;
								.wopb-input-group {
									gap: 8px;
									margin-bottom: 5px;
									cursor: pointer;
									.wopb-checkmark {
										display: none;
									}
									&.wopb-active .wopb-field-icon {
										color: var(--wowstore-primary-color);
									}
									.wopb-field-icon {
										display: flex;
										font-size: 12px;
										svg {
											height: 20px;
											width: 20px;
										}
									}
									input {
										margin: unset;
										display: flex;
										align-items: center;
										justify-content: center;
										border-radius: var(
											--wowstore-border-radius
										);
										border: 1px solid #6b7280;
										box-shadow: none;
										line-height: normal;
										& + label {
											line-height: 0;
											vertical-align: top;
										}
										&:checked {
											border: 1px solid
												var(--wowstore-primary-color);
											&::before {
												background-color: var(
													--wowstore-primary-color
												);
												border-radius: 2px;
											}
										}
									}
									label {
										line-height: 10px;
										span {
											display: inline-flex;
											gap: 5px;
											font-size: var(
												--wowstore-text-sm-size
											);
											svg {
												width: 16px;
												height: 16px;
												margin-bottom: -1px;
												margin-left: 8px;
											}
										}
									}
								}
							}

							&.wopb-display-inline-box {
								.wopb-input-section {
									flex-direction: row;
									gap: 15px;
								}
								.wopb-input-group {
									border-radius: 2px;
									border: 1px solid #e7ecf1;
									padding: 8px 16px;
									&:has(input[type="radio"]:checked) {
										border: 1px solid
											var(--wowstore-primary-color);
										.wopb-checkmark {
											display: flex;
										}
										label span svg {
											&:not(:has(path[stroke])) {
												fill: var(
													--wowstore-primary-color
												);
											}
											path {
												stroke: var(
													--wowstore-primary-color
												);
												&:not([stroke]) {
													stroke: none;
													fill: var(
														--wowstore-primary-color
													);
												}
											}
										}
									}
									label span {
										font-size: 12px;
									}
								}
								.wopb-description {
									display: block;
									font-weight: 400;
									margin-bottom: 12px;
									font-size: 12px;
								}
							}
						}
						//end radio field settings

						//tag field settings
						&.wopb-settings-field-tag {
							display: flex;
							// border: 1px solid #6b7280;
							padding: 11px 12px;
							border-radius: 3px;
							// gap: 8px;
							justify-content: space-around;
							width: 100%;
							.wopb-tag {
								font-size: 12px;
								color: #6b7280;
								cursor: pointer;
								padding: 5px 4px;
								border-radius: 2px;
								&.wopb-tag-remove {
									background: #e5e5e5;
								}
								&:hover,
								&.wopb-active-tag {
									background: #000000;
									color: #ffffff;
									svg path {
										stroke: #ffffff;
									}
								}
								svg {
									margin-bottom: -6px;
								}
							}
						}
						//end tag field settings

						//select item with table settings
						&.wopb-select-item {
							.wopb-selected-item {
								margin-top: 24px;
								margin-bottom: 16px;
								border-bottom: 1px solid #eddde3;
								padding-bottom: 8px;
								.wopb-column-item-list {
									&.wopb-drag-highlight {
										border: 2px dashed #d9d9d9;
										min-height: 40px;
										position: relative;
										.wopb-drag-section {
											position: absolute;
										}
									}
									.wopb-drag-section {
										display: flex;
										align-items: stretch;
										background: rgb(231 236 241 / 16%);
										width: 100%;
										.wopb-drag-column,
										.wopb-data-column,
										.wopb-action-column {
											padding: 10px;
										}
										.wopb-drag-column {
											display: flex;
											align-items: center;
											cursor: move;
											border-right: 1px solid #e7ecf1;
											background: #f3e4e8;
											border-radius: 2px 0 0 2px;
										}
										.wopb-data-column {
											flex-basis: 90%;
											background: #f3ecee;
											.wopb-column-data {
												display: inline-flex;
												align-items: center;
												max-width: 140px;
												width: 95%;
												justify-content: space-between;
												white-space: nowrap;
												position: relative;
												.wopb-column-data-text {
													&[contenteditable="true"] {
														border-bottom: 1px solid
															#d8adbd;
														width: 100%;
														&.empty {
															border-bottom: 1px
																solid red;
														}
													}
												}
											}
											.wopb-edit-icon {
												cursor: pointer;
												position: absolute;
												right: -2px;
												svg {
													margin-bottom: -3px;
													path {
														stroke: #d8adbd;
													}
												}
												&.disable {
													cursor: not-allowed;
												}
											}
										}
										.wopb-action-column {
											display: flex;
											align-items: center;
											cursor: pointer;
											background: #f3e4e8;
											border-radius: 0 2px 2px 0;
											&:hover {
												svg {
													path {
														stroke: var(
															--wowstore-primary-color
														);
													}
												}
											}
										}
									}
								}
							}
							.wopb-select {
								.wopb-input-group {
									max-width: 450px;
									width: 80%;
									select,
									.wopb-add-item {
										height: 40px;
									}
									select {
										margin: 0;
										border-radius: var(
												--wowstore-border-radius
											)
											0 0 var(--wowstore-border-radius);
										border: 1px solid #e7ecf1;
									}
									.wopb-add-item {
										display: flex;
										align-items: center;
										gap: 10px;
										padding: 0 20px;
										background: #d8adbd;
										border-radius: 0
											var(--wowstore-border-radius)
											var(--wowstore-border-radius) 0;
										border: 1px solid #d8adbd;
									}
								}
							}
						}
						//end select item with table settings

						//flex item settings for setting field
						&.wopb-flex-field {
							display: flex;
							justify-content: space-between;
							align-items: baseline;
							border-radius: 2px;
							border: 1px solid #e7ecf1;
							padding: 12px;
							.wopb-field-label {
								color: #6b7280;
								font-size: 14px;
							}
						}
						.wopb-sub-field {
							display: flex;
							align-items: center;
							gap: 15px;
							margin-top: 10px;
						}

						//layout field settings
						&.wopb-settings-field-layout {
							display: flex;
							flex-wrap: wrap;
							gap: 15px;
							padding-top: 3px;
							.wopb-layout {
								border-radius: 2px;
								border: 1px solid #e7ecf1;
								cursor: pointer;
								position: relative;
								width: 143px;
								height: 100px;
								.wopb-checkmark {
									z-index: 1;
								}
								&.wopb-active-layout,
								&:hover {
									border: 1px solid #ff176b;
									.wopb-layout-icon {
										.wopb-layout-preview-button {
											transition: all 0.2s;
											bottom: 0;
										}
									}
								}
								.wopb-layout-icon {
									height: 100%;
									position: relative;
									overflow: hidden;
									padding: 0 5px;
									background: #ececec;
									.wopb-layout-preview-button {
										background: #ff176b;
										padding: 3px;
										text-align: center;
										color: #fff;
										cursor: pointer;
										position: absolute;
										bottom: -40px;
										left: 0;
										right: 0px;
										transition: all 0.6s;
										&:hover {
											background: #ff4387;
										}
									}
									.wopb-pro-text {
										color: #ffffff;
										letter-spacing: 1px;
										font-weight: 600;
										font-size: 10px;
										position: absolute;
										text-align: center;
										top: 6px;
										right: -25px;
										height: 15px;
										width: 50%;
										background: #ff176b;
										transform: rotate(45deg);
									}
								}
								img {
									width: 100%;
									height: 100%;
									object-fit: contain;
								}
							}
							.wopb-layout-preview-button {
								position: absolute;
							}
						}
						//end layout field settings

						.wopb-box-field-content {
							border-radius: 2px;
							border: 1px solid #d9d9d9;
							display: flex;
							gap: 10px;
							align-items: center;
							justify-content: space-between;
							min-width: 140px;
							max-height: 43px;
							height: 100%;
							&:has(.wopb-settings-field):has(select) {
								display: block;
								select {
									border: 0;
								}
							}
						}
					}
					.wopb-typo-field {
						display: flex;
						align-items: center;
						.wopb-tools-item {
							gap: 20px;
							border: 1px solid #d8adbd;
							border-left: 0;
							padding: 5px 24px;
							svg {
								cursor: pointer;
							}
							.wopb-active svg path {
								stroke: #ff176b;
							}
						}
						.wopb-color-group .wopb-field-color:first-child {
							border-left: 0;
						}
					}
					.wopb-color-group {
						display: flex;
						.wopb-field-color {
							&:nth-child(2) {
								border-left: none;
								padding-left: 0;
							}
							&:not(:only-child):first-child {
								border-right: none; // Remove border-right from the first child if 2nd child exist
							}
						}
					}
					.wopb-field-color {
						border: 1px solid #d8adbd;
						width: fit-content;
						padding: 5px 20px;
						.wopb-color-select {
							position: relative;
							display: flex;
							.wopb-color {
								width: 20px;
								height: 20px;
								cursor: pointer;
								border-radius: 30px;
								border: 1px solid #d2d3d5;
							}
							.wopb-color-popup {
								position: absolute;
								right: 100%;
								top: 100%;
								z-index: 99;
								padding: 0px 10px 0px 10px;
								background: rgb(255, 255, 255);
								border-radius: 4px;
								box-shadow:
									rgba(0, 0, 0, 0.15) 0px 0px 0px 1px,
									rgba(0, 0, 0, 0.15) 0px 8px 16px;

								.wopb-top-toolbar {
									display: flex;
									align-items: center;
									padding: 10px 0;
									gap: 15px;
								}
								.wopb-reset-settings {
									font-size: 16px !important;
									color: #e21111 !important;
									cursor: pointer;
								}
								.wopb-empty-color-wrap {
									display: flex;
									align-items: center;
									gap: 7px;
									cursor: pointer;
									padding: 2px 4px;
									&:hover {
										background-color: #ededed;
									}
								}
								.wopb-empty-color {
									position: relative;
									overflow: hidden;
									background: white !important;
									width: 18px;
									height: 18px;
									border-radius: 2px;
									border: 1px solid rgba(0, 0, 0, 0.12);
									&:after {
										content: "";
										position: absolute;
										top: 50%;
										left: 50%;
										width: 200%;
										border-top: 3px solid #eb5648;
										transform-origin: 0 0;
										transform: rotate(-45deg)
											translate(-50%, -50%);
									}
								}

								.sketch-picker {
									padding: 0 !important;
									background: none !important;
									border-radius: 0 !important;
									box-shadow: none !important;
								}
							}
						}
					}
					.wopb-border-field {
						display: flex;
						.wopb-number-field {
							border-right: none;
						}
					}
					.wopb-tools-item .wopb-tooltip:hover .wopb-tooltip-text {
						top: -30px;
					}
					.wopb-tooltip {
						position: relative;
						display: flex;
						justify-content: center;
						.wopb-tooltip-text {
							display: none;
						}
						&:hover .wopb-tooltip-text {
							display: flex;
							justify-content: center;
							position: absolute;
							top: -35px;
							background: #333333;
							color: #ffffff;
							padding: 3px 10px;
							border-radius: 3px;
							white-space: nowrap;
							z-index: 9;
							&::before {
								content: "";
								position: absolute;
								bottom: -4px;
								transform: rotate(45deg);
								width: 9px;
								height: 9px;
								background: #2b1506;
								border-radius: 2px;
							}
						}
					}
					.wopb-dimension-field {
						display: flex;
						.wopb-number-field {
							border-right: none;
						}
						.wopb-unit {
							width: 35px;
							justify-content: center;
							align-items: center;
							display: flex;
							border: 1px solid #d8adbd;
							background: #f4e4e9;
							padding: 5px 0;
						}
					}
					.wopb-field-container.wopb-field-group .wopb-field-group {
						grid-template-columns: grid(1);
						gap: 12px;
						.wopb-box-field-content {
							.wopb-selected-content {
								border: 0;
							}
						}
					}
					.wopb-field-group {
						display: grid;
						grid-template-columns: grid(2);
						gap: 20px 46px;
						.wopb-group-label {
							font-size: 12px;
							font-weight: 500;
							background: rgba(231, 236, 241, 0.8);
							margin-bottom: 20px;
						}
					}
				}
				.wopb-setting-footer {
					background: #f1eaea;
					text-align: center;
					position: sticky;
					bottom: 32px;
					padding: 8px;
					.wopb-form-save-btn {
						width: 100%;
						justify-content: center;
						padding: 18px !important;
						border-radius: 0;
					}
				}
				form {
					position: relative;
					height: 100%;
					@include flex();
					.wopb-addons-setting-save {
						color: var(--wowstore-white-color);
						cursor: pointer;
						width: 60%;
						border: none;
						position: fixed;
						right: 0;
						bottom: 0;
						padding: 12px 25px;
						background: var(--wowstore-primary-color);
					}
				}
			}
		}
	}
	.wopb-addon-settings-popup {
		.wopb-popup-close {
			color: var(--wowstore-white-color) !important;
			font-size: 30px !important;
			border: none;
			padding: 2px 9px 0;
			background-color: var(--wowstore-dark-color);
			z-index: 99;
			margin-right: 10px;
			line-height: normal;
			&::after {
				content: "\00d7";
			}
			&:hover {
				background: #ff0000;
			}
		}
	}
	.wopb-addon-setting-header {
		display: flex;
		background: #e3d4d8;
		position: sticky;
		z-index: 1;
		align-items: center;
		.wopb-settings-tab {
			padding: 0;
			.wopb-tab {
				display: inline-block;
				color: #070c1a;
				padding: 15.5px 25px;
				font-size: 16px;
				line-height: 24px;
				cursor: pointer;
				&.wopb-active-tab {
					color: var(--wowstore-primary-color);
					background: #ffffff;
					border-bottom: 2px solid #ff176b;
				}
			}
		}
		.wopb-close-section {
			display: flex;
			gap: 8px;
			align-items: center;
		}
		.wopb-separator {
			width: 1px;
			height: 56px;
			background: #d8adbd;
		}
	}
	.wopb-layout-preview-wrapper {
		z-index: 999999;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(0, 0, 0, 0.7);
		padding-top: 10px;
		.wopb-popup-close {
			position: absolute;
			cursor: pointer;
			border: none;
			transition: 400ms;
			svg {
				height: 13px;
			}
		}
	}
	.wopb-layout-preview-wrapper {
		.wopb-popup-close {
			display: flex;
			align-items: center;
			justify-content: center;
			top: 0;
			right: -45px;
			border-radius: 50%;
			padding: 12px;
			background: #fff;
			position: absolute;
			cursor: pointer;
			border: none;
			transition: 400ms;
			&:hover {
				background: #f31616;
				path {
					fill: #fff;
				}
			}
		}
		.wopb-layout-preview {
			position: relative;
			height: 90%;
			img {
				max-height: 850px;
				height: -webkit-fill-available;
			}
		}
	}
}
// new one
.wopb-plugin-required {
	font-size: 14px;
	text-align: center;
	display: inline-block;
	padding: 20px 0px 0;
	color: var(--wowstore-warning-button-color);
}

@media only screen and (max-width: 1200px) {
	.wopb-dashboard-addons-container {
		.wopb-addons-grid {
			grid-template-columns: grid(2);
		}
	}
}
@media only screen and (max-width: 767px) {
	.wopb-dashboard-addons-container {
		.wopb-addons-grid,
		.wopb-field-group,
		.wopb-gettingstart-message {
			grid-template-columns: grid(1);
		}
	}
	.wopb-setting-header {
		top: 0;
		text-align: center;
		grid-template-columns: 1fr;
	}
	.wopb-dash-faq-con {
		border-left: none;
	}
	.wopb-settings-tab {
		padding: 0;
	}
}

/*
 * Field Container style
 */
.wopb-container-wrap {
	background: #ffffff;
	padding: 24px 0;
	.wopb-settings-wrap.wopb-addon-key {
		grid-template-columns: 1fr 1.4fr;
		gap: 0;
		padding-left: 24px;
	}
}
/*
 * End field Container style
 */

/*
 * Some common style
 */
.wopb-section-wrap,
.wopb-container-wrap {
	margin-bottom: 12px;
	.wopb-settings-wrap {
		padding-top: 0;
		padding-bottom: 0;
		box-shadow: unset;
		margin-bottom: 38px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
/*
 * End Some common style
 */

/*
 * Accordion style
 */
.wopb-section-wrap {
	.wopb-settings-section {
		background: #ffffff;
		box-shadow: 0px 2px 2px 0px #00000014;
	}
	.wopb-section-header {
		display: flex;
		justify-content: space-between;
		padding: 15px;
		cursor: pointer;
		.wopb-settings-label {
			color: #ff176b;
			font-size: 14px;
			font-weight: 500;
		}
		svg path {
			stroke: #ff176b;
			stroke-width: 1.5px;
		}
	}
	.wopb-section-body {
		border-top: 1px solid #eddde3;
		padding: 24px 0;
	}
}
/*
 * End Accordion style
 */

/*
 * Select item wrap(Drag n drop column) style
 */
.wopb-select_item-wrap {
	.wopb-selected-content {
		border-radius: 2px 0 0 2px !important;
	}
}
/*
 * End Select item wrap(Drag n drop column) style
 */

/*
 * Preset color style
 */
.wopb-preset_color-wrap {
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	.wopb-settings-field-wrap {
		position: relative;
		display: inline-block;
	}
	.wopb-select-preset-list {
		display: flex;
		gap: 8px;
		padding: 7px;
		.wopb-preset-item {
			width: 28px;
			height: 28px;
			border-radius: 2px 0 0 2px;
			border: 2px solid #f2f2f2;
		}
	}
	.wopb-selected-content {
		display: inline-flex;
		border: 1px solid #d8adbd;
		border-radius: 2px;
		cursor: pointer;
		.wopb-select-arrow {
			border-left: 1px solid #d8adbd;
			padding: 0 12px;
		}
	}
	.wopb-select-dropdown {
		.wopb-select-preset-list {
			justify-content: space-between;
			border: 1px solid rgba(0, 0, 0, 0.16);
			cursor: pointer;
			margin-bottom: 4px;
			&:last-child {
				margin-bottom: 0;
			}
			&:hover,
			&.active {
				border: 1px solid var(--wowstore-primary-color);
			}
		}
	}
}
/*
 * End Preset color style
 */
