.wopb-product-wrapper.wopb-filter-block {
	.wopb-filter-show-less {
		display: none;
	}
	&.wopb-filter-block-front-end {
		.wopb-filter-remove-section,
		.wopb-filter-extended-item,
		.wopb-filter-show-less {
			display: none;
		}
	}

	.wopb-filter-remove-section {
		padding-bottom: 16px;
		margin-bottom: 16px;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		&,
		.wopb-active-items {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
		}

		.wopb-filter-active-item,
		.wopb-filter-remove-all {
			display: inline-flex;
			gap: 6px;
			align-items: center;
		}
		.wopb-filter-remove-all {
			cursor: pointer;
		}

		.wopb-filter-remove-icon {
			font-size: inherit;
			display: inline-flex;
			align-items: center;
			cursor: pointer;
			height: unset;
			width: unset;
			line-height: inherit;
		}
	}

	/*
    * Filter Title
   */
	.wopb-filter-title-section {
		display: flex;
		justify-content: space-between;
	}
	/*
    * Filter Title
   */

	.wopb-taxonomy-relation {
		margin-bottom: 10px;
		.wopb-filter-body {
			display: block !important;
		}
		label {
			display: block;
			margin-bottom: 0;
			font-size: 14px;
			&:first-of-type {
				margin-bottom: 3px;
			}
		}
	}
	.wopb-filter-section {
		margin-bottom: 30px;
		.wopb-filter-header {
			display: flex;
			justify-content: space-between;

			.wopb-filter-toggle {
				display: inline-block;

				.dashicons {
					cursor: pointer;
				}
			}
		}

		.wopb-filter-body {
			input {
				box-shadow: unset;
				min-height: unset;
				height: unset;
			}

			/*
        * Search Filter
       */
			.wopb-search-filter-body {
				position: relative;
				display: flex;
				align-items: center;
				input {
					width: 100%;
					margin: 0 !important;
				}
				.wopb-search-icon {
					position: absolute;
					right: 14px;
					cursor: pointer;
					width: 1.2em;
					height: 100%;
					display: flex;
					align-items: center;
					//img {
					//  width: 100%;
					//}
				}
			}
			/*
        * End Search Filter
      */

			/*
        * End Price Filtering
      */
			&.wopb-price-range-slider {
				.wopb-price-range {
					height: 3px;
					position: relative;
					margin: 15px 0px;
					display: flex;
					align-items: center;

					.wopb-price-range-bar {
						height: 100%;
						left: 0%;
						right: 0%;
						position: absolute;
						border-radius: 5px;
					}

					input.wopb-price-range-input {
						position: absolute;
						width: 100%;
						background: 0 0;
						pointer-events: none;
						-webkit-appearance: none;
						-moz-appearance: none;
						cursor: pointer;
						border: none !important;
						padding: 0 !important;
						margin: 0 !important;
					}

					input.wopb-price-range-input:focus {
						box-shadow: none !important;
					}

					.wopb-price-range-input::-webkit-slider-runnable-track {
						box-shadow: none !important;
						background: none !important;
					}

					.wopb-price-range-input::-webkit-slider-thumb {
						height: 1.2em;
						width: 1.2em;
						border: 2px solid currentColor;
						border-radius: 50%;
						background: #fff;
						pointer-events: auto;
						-webkit-appearance: none;
						box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
					}

					.wopb-price-range-input::-moz-range-thumb {
						height: 1.2em;
						width: 1.2em;
						border-radius: 50%;
						border: 2px solid currentColor;
						background: #fff;
						pointer-events: auto;
						-moz-appearance: none;
						box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
					}
				}
				.wopb-input-group {
					display: flex;
					gap: 40px;
					.wopb-filter-price-input {
						width: 100%;
						background-color: unset;
						min-height: 38px;
						padding: 0 0 0 10px;
					}
				}
			}
			/*
        * Price Filtering
      */

			/*
        * Rating Style
      */
			.wopb-filter-ratings {
				.dashicons {
					font-size: inherit;
					vertical-align: middle;
					height: unset;
					width: unset;
				}
				.dashicons-star-filled {
					color: #ffaf38;
				}
				.dashicons-star-empty {
					color: #070707;
				}
			}
			/*
        * End Rating Style
      */

			/*
        * Checklist Style
      */
			.wopb-filter-check-list {
				display: flex;
				flex-direction: column;
				gap: 10px;
				.wopb-filter-item {
					display: flex;
					justify-content: space-between;
				}
				.wopb-item-content {
					//padding: 4px 0px;
					font-size: 14px;
					width: 100%;

					img {
						width: 100%;
						max-width: 30px;
					}

					label {
						display: flex;
						align-items: center;
						gap: 8px;
						cursor: pointer;
						margin-bottom: unset;
					}

					input[type="checkbox"] {
						cursor: pointer;
						margin: 0;
						height: 16px;
						width: 16px;
						appearance: none;
						-webkit-appearance: none;
						position: relative;
						box-shadow: none;
						display: inline-block;
						flex-shrink: 0;
						&:checked {
							border: none;
							display: inline-flex;
							align-items: center;
						}
						&:checked::before {
							content: "✓";
							height: unset;
							width: unset;
							margin: unset;
							position: absolute;
							left: 4px;
							font-size: 14px;
							font-weight: 900;
						}
					}

					.wopb-filter-tax-color {
						width: 1em;
						height: 1em;
						border-radius: 50%;
						display: inline-block;
					}

					.wopb-filter-check-list {
						margin: 5px 0 0 20px;
						width: 80%;
					}
				}

				.wopb-filter-child-toggle {
					height: fit-content;
					display: flex;
					.dashicons {
						font-size: 1em;
						cursor: pointer;
					}
				}
			}
			.wopb-filter-extend-control {
				color: #000;
				font-size: 13px;
				text-decoration: underline;
				margin-left: 10px;
				outline: none;
			}
			/*
        * End Checklist Style
      */

			input:focus {
				outline: none;
			}

			select.wopb-filter-sorting-input {
				max-width: 100%;
				width: 100%;
				height: auto;
				min-height: 38px;
				appearance: none;
				background-position: 98% 50%;
				background-color: #fff;
				box-shadow: none;
				line-height: normal;
				font-style: normal;
				font-weight: 400;
				background-image: url("data:image/svg+xml,%3Csvg class='ast-arrow-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='26px' height='16.043px' fill='%23334155' viewBox='57 35.171 26 16.043' enable-background='new 57 35.171 26 16.043' xml:space='preserve' %3E%3Cpath d='M57.5,38.193l12.5,12.5l12.5-12.5l-2.5-2.5l-10,10l-10-10L57.5,38.193z'%3E%3C/path%3E%3C/svg%3E");
				background-size: 0.8em;
				background-repeat: no-repeat;
				box-sizing: border-box;
				&:focus {
					outline: none;
				}
			}
		}
	}

	&.wopb-filter-toggle-initial-open .wopb-filter-plus {
		display: none;
	}

	&.wopb-filter-toggle-initial-close {
		.wopb-filter-minus,
		.wopb-filter-body {
			display: none;
		}
	}
}

.wopb-filter-uses-modal {
	.components-modal__content {
		margin-top: 55px;
		.components-modal__header {
			height: 40px;
			padding: 0 32px 0;
			background: #f9ebe9;
		}
		.components-button {
			position: absolute;
			background: #333;
			width: 40px;
			height: 40px;
			border-radius: 0;
			right: 0;
			left: unset;
			svg {
				width: 25px;
				height: 25px;
				fill: #ffffff;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.wopb-filter-block-front-end form {
		display: none;
	}
	.wopb-filter-modal .wopb-filter-block-front-end form {
		display: block;
	}
}
@media only screen and (min-width: 769px) {
	.wopb-filter-modal {
		display: none;
	}
	.wopb-product-wrapper.wopb-filter-block .wopb-filter-title-section {
		pointer-events: none;
	}
}

.wopb-filter-modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	&:not(.wopb-slide-out) {
		.wopb-modal-overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.3);
			z-index: -1;
		}
	}
	&.wopb-slide-in {
		opacity: 1;
		visibility: visible;
		z-index: 999998;
		.wopb-filter-content {
			animation: wopbSlideRightIn 0.8s forwards;
		}
	}
	&.wopb-slide-in.wopb-slide-out,
	&.wopb-slide-out {
		animation: wopbFilterFadeOut 0.8s forwards;
		.wopb-filter-content {
			animation: wopbSlideRightOut 1s forwards;
		}
	}
	.wopb-filter-content {
		top: 0;
		bottom: 0;
		background: #ffffff;
		position: absolute;
		width: 70%;
		right: 0;
		height: 100%;
		.wp-block-product-blocks-filter {
			padding: 15px 15px 0 15px;
			overflow: auto;
			height: 90%;
			.wopb-filter-reset-section {
				margin-bottom: 0;
			}
		}
		.wopb-filter-title-section {
			display: none;
		}
		.wopb-modal-header {
			background: #e7e7e7;
			border-radius: 0;
			justify-content: space-between;
			padding: 10px;
			.wopb-modal-close {
				position: unset;
				right: unset;
			}
			.wopb-modal-title {
				font-size: 18px;
				font-weight: 600;
				color: #070707;
			}
		}
	}
}
@keyframes wopbFilterFadeOut {
	100% {
		opacity: 0;
		visibility: hidden;
		z-index: 0;
	}
}
