$wizardWidth: 1250px;
$tabBg: #ebdfdc;

/* ====================
    Adminbar Style
=======================*/
// html.wp-toolbar:has(.productx_page_wopb-initial-setup-wizard) {
//     padding-top: 0;
// }

// .productx_page_wopb-initial-setup-wizard #wpadminbar,
// .productx_page_wopb-initial-setup-wizard #adminmenumain {
//     display: none;
// }

.wowstore_page_wopb-initial-setup-wizard #wpcontent {
	// margin-left: unset !important;
	padding-left: 0;
}

/* =======================
    Initial Wizard Style
==========================*/
.wopb-setup-wizard-container {
	margin: 0px auto !important;
	max-width: $wizardWidth;
	padding:15px 80px 100px;
	.wopb_aster {
		position: relative;
		&::after {
			position: absolute;
			content: "*";
			color: #ff0000;
		}
	}
	.wopb-addon-item {
		background: var(--wowstore-popbodyBg);
		box-shadow: none;
		border: 1px solid var(--wowstore-border-color);
		.wopb-addon-settings-popup {
			top: 0 !important;
		}
		.wopb-popup-close {
			top: 10px !important;
		}
	}
	.readySkipCon {
		text-align: center;
		a {
			display: inline-flex;
			gap: 4px;
		}
	}
	.wopb-addon-settings {
		height: 220vh !important;
		top: -100% !important;
	}
	.wopb-secondary-button.wopb-return-dashboard {
		background: #f6eff1;
	}
}
.wopb-initial-setting-wrap {
	.headerCon {
		padding-bottom: 25px;
		border-bottom: 1px solid #f4ebe9;
		.dashicons-saved {
			color: #1bb41b;
			font-size: 42px;
			line-height: 60px;
			width: 60px;
			height: 60px;
			border-radius: 100px;
			border: 2px solid #1bb41b;
		}
		.completeTitle {
			font-size: 32px;
			margin-bottom: 15px;
			margin-top: 15px;
		}
		img.ready_image {
			width: auto !important;
			max-height: 90px;
		}
		.wopb-headecon-title {
			font-size: 22px;
			font-weight: 500;
			margin: 0 0 16px;
			line-height: normal;
		}
	}
	/* ===== Content Header ===== */
	.wopb-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 15px;
		position: relative;
		.wopb-tab {
			// gap: 65px;
			display: flex;
			justify-content: space-between;
			padding: 8px 0;
			margin: 0;
			width: 100%;
			li {
				position: relative;
				a {
					color: #a2a2a2;
					cursor: pointer;
					font-size: 12px;
					font-weight: 500;
					text-decoration: none;
					padding: 0;
					display: inline-block;
					position: relative;
					transition: 400ms;
				}
			}
		}
	}
	.inputFields {
		display: flex;
		flex-direction: column;
		gap: 15px;
		align-items: flex-start;

		& > div {
			display: flex;
			gap: 12px;
			align-items: center;
			&.completepage {
				align-items: flex-start;
			}
			& > span {
				margin-top: -6px;
				text-align: left;
				font-size: 16px;
				color: #575a5d;
				.fieldDesc {
					font-size: 12px;
					color: #808284;
					display: block;
				}
			}
		}
	}
	.completeContent {
		display: flex;
		flex-wrap: wrap;
		gap: 50px;
		margin-top: 40px;
		input[type="checkbox"]:checked {
			background: #888888;
			display: flex;
			align-items: center;
		}
		.contentRight {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
		.contentLeft {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
		.wopb-learn-more {
			text-align: left;
			font-size: 20px;
			font-weight: 500;
		}
		.intro-video {
			position: relative;
			max-width: 440px;

			.thumbnail {
				max-width: 100%;
				border-radius: 20px;
				opacity: 0.6;
			}

			.wopb-play-icon-container {
				max-width: 25%;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				max-height: fit-content;
				cursor: pointer;

				.animate {
					-webkit-animation: pulse 1.2s ease infinite;
					animation: pulse 1.2s ease infinite;
					background: var(--wowstore-primary-color);
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
					border-radius: 100%;
				}
			}

			.wopb-play-icon {
				max-width: 100%;
			}

			.video-frame {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				width: 100%;
				height: 100%;
				border-radius: 10px;
			}
		}

		@-webkit-keyframes pulse {
			0% {
				opacity: 0;
				transform: scale(1, 1);
			}

			50% {
				opacity: 0.3;
			}

			100% {
				transform: scale(1.5);
				opacity: 0;
			}
		}

		@keyframes pulse {
			0% {
				opacity: 0;
				transform: scale(1, 1);
			}

			50% {
				opacity: 0.3;
			}

			100% {
				transform: scale(1.5);
				opacity: 0;
			}
		}
		.contentRight {
			ul li {
				margin-bottom: 20px;
				cursor: pointer;
				span.learn-more-option {
					font-size: 20px;
					line-height: 26px;
					color: var(--wowstore-primary-color);
					display: flex;
					gap: 15px;
					align-items: center;
					img {
						width: 22px;
						height: 22px;
					}
				}
			}
			.social-media-button {
				padding: 15px 40px;
				border-radius: 6px;
				border: solid 1px var(--wowstore-primary-color);
				color: var(--wowstore-primary-color);
				background-color: #fff;
				display: flex;
				align-items: center;
				gap: 10px;
				justify-content: center;
				max-width: fit-content;
				cursor: pointer;
				img {
					height: 22px;
					width: 22px;
				}
				.social-media-button-label {
					font-size: 18px;
					line-height: 23.4px;
				}
			}
		}
	}
	/* ===== Content Body Style ===== */
	.wopb-content {
		// width: 80%;
		margin: 0 auto;
		box-shadow: unset !important;
		border: unset !important;
		min-height: unset;

		/* ===== Common Style ===== */
		.wopb-logo {
			height: 100px;
		}
		.wopb-content-items {
			border: 1px solid #f4ebe9;
			border-radius: 6px;
			background-color: #fff;
			padding: 30px;
			margin-bottom: 30px;
			.wopb-popup-container {
				z-index: 999;
			}
		}
		.wopb-welcome,
		.wopb-unlock-pro,
		.wopb-contribute,
		.wopb-complete {
			text-align: center;
		}
		.wopb-welcome,
		.wopb-blocks {
			margin-bottom: -30px;
			padding-bottom: 20px;
		}

		/* ===== Welcome Style ===== */
		.wopb-welcome {
			padding: 0;
			max-width: 70%;
			margin: 0 auto;
			.wopb-title {
				color: #2b1506;
				font-size: 42px;
				font-weight: 700;
				margin: 10px 0 20px 0;
			}
			.wopb-subtitle {
				color: #2b1506;
				font-size: 18px;
				display: block;
				margin: 0 0 15px 0;
				line-height: 1.8;
				span {
					color: var(--wowstore-primary-color);
				}
				&.wopb_st1 {
					font-size: 22px;
					font-weight: 500;
				}
			}
			.wopb-short-desc {
				display: block;
				max-width: 550px;
				margin: 0 auto 30px;
				font-size: 16px;
				color: #575a5d;
			}
		}
		.wopb-block-option .wopb-grid-view-all {
			padding: 40px 0 0 0;
		}
		/* ===== coreFeatures ===== */
		.coreFeatures {
			padding-bottom: 20px;
			text-align: center;
			.wopb-description {
				font-size: 16px;
			}
			.wopb-feature-group {
				margin-top: 40px;
				ul {
					display: flex;
					flex-wrap: wrap;
					gap: 15px;
					justify-content: center;
					margin-top: 25px;
					a {
						text-decoration: none;
						display: block;
						cursor: pointer;
						&:focus {
							box-shadow: none;
						}
					}
					.wopb-core-feature {
						display: flex;
						padding: 15px;
						gap: 10px;
						align-items: center;
						justify-content: center;
						padding: 12px 20px;
						border-radius: 6px;
						background-color: var(--wowstore-popbodyBg);
						margin-bottom: 0;
						img {
							width: 20px;
						}
						.wopb-feature-name {
							font-size: 16px;
							color: #2b1506;
						}
						.wopb-feature-more {
							color: #a8a8a8;
							text-decoration: none;
						}
					}
				}
				.wopb-feature-group-label {
					font-size: 20px;
					font-weight: 500;
				}
				.wopb-title {
					font-size: 32px;
				}
			}
			.wopb-addons .wopb-feature-section ul li {
				min-width: 230px;
				a::before {
					content: "\2713";
					display: inline-block;
					background-color: #ff176b;
					width: 20px;
					color: #fff;
					border-radius: 50%;
					height: 20px;
				}
			}
		}
		/* ===== Complete ===== */
		.wopb-complete {
			.wopb-subtitle {
				color: #7b7b7b;
				font-size: 18px;
			}
			img {
				width: 100%;
			}
		}
	}
	.wopb-site-status {
		text-align: center;
		.siteStatusData {
			text-align: left;
			display: flex;
			flex-direction: column;
			gap: 30px;
			margin-top: 20px;
			& > div {
				display: flex;
				flex-direction: column;
				gap: 8px;
			}
			label {
				font-size: 14px;
				color: #2b1506;
			}
			select,
			input {
				&:not([type="checkbox"]) {
					display: block;
					width: 100%;
					max-width: 100%;
					min-height: 40px;
					&:focus {
						box-shadow: none;
						border-color: none;
					}
					border: solid 1px var(--wowstore-border-color);
				}
				&[type="checkbox"] {
					display: flex;
					align-items: center;
					background: #d6ced0;
				}
			}
		}
		.headerCon {
			border: none;
			padding-bottom: 0;
		}
		.wob-revenue-link {
			text-decoration: none;
			color: #888897;
		}
	}

	/* ===== Content Pagination ===== */
	.wopb-pagination {
		display: flex;
		justify-content: center;
		margin-top: 40px;
		gap: 10px;
		&:has(.skipButton) {
			justify-content: space-between;
		}
		& > div {
			display: flex;
			justify-content: flex-end;
			gap: 10px;
		}
		a {
			padding: 10px 25px;
			border-radius: 4px;
			font-size: 16px;
			cursor: pointer;
			display: flex;
			gap: 1px;
			align-items: center;
			.dashicons {
				font-size: 16px;
				line-height: 1;
				width: auto;
				height: auto;
				margin-top: 2px;
			}
		}
		.wopb-btn-previous,
		.wopb-btn-thank {
			border: solid 1px rgba(105, 105, 105, 0.6);
			color: #222;
		}
		.wopb-btn-next,
		.wopb-btn-count,
		.wopb-btn-complete {
			background-image: linear-gradient(
				1deg,
				var(--wowstore-primary-color) 2%,
				#4a4aff 99%
			);
			color: #fff;
			text-decoration: none;
		}
	}
}

/* ===== View All Style ===== */
.wopb-grid-view-all {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0) 4%,
		rgba(255, 255, 255, 0.8) 69%,
		#fff
	);
	padding: 40px 0 0 0;
	a {
		background-color: #fff;
		border: solid 1px rgba(3, 127, 255, 0.4);
		border-radius: 4px;
		padding: 10px 25px;
		color: #2b1506;
		font-weight: 500;
		font-size: 15px;
		cursor: pointer;
	}
}

.progressbar {
	width: -webkit-fill-available;
	padding: 0 6%;
	margin: 40px auto 0;
	box-shadow: unset !important;
	border: unset !important;
	min-height: unset;
	position: relative;
	.tab-1::after {
		width: 7%;
	}
	.tab-2::after {
		width: 36%;
	}

	.tab-3::after {
		width: 65%;
	}

	.tab-4::after {
		width: 100%;
	}
	.wopb-tab {
		&::before,
		&::after {
			content: "";
			position: absolute;
			height: 5px;
			top: 48%;
			transform: translateY(-50%);
			left: 0;
		}
		&::before {
			width: 100%;
			background-color: $tabBg;
		}

		&::after {
			background-color: var(--wowstore-primary-color);
			transition: 0.4s ease;
		}
		.progress-step-wrapper.wopb-pass {
			border: 3px solid var(--wowstore-primary-color);
			.progress-step-style {
				background-color: var(--wowstore-primary-color);
			}
		}

		.progress-step-wrapper {
			box-sizing: unset;
			position: relative;
			z-index: 1;
			height: 18px;
			width: 18px;
			border-radius: 50%;
			border: 3px solid $tabBg;
			background-color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			&.wopb-tab-pass {
				border-color: var(--wowstore-primary-color);
				.progress-step-style {
					background-color: var(--wowstore-primary-color);
				}
			}
		}
		.progress-step-style {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: $tabBg;
			transition: 0.4s ease;
		}
		.progress-step-count {
			font-size: 19px;
			color: #f3e7f3;
		}
		.progress-step-label-container {
			top: -28px;
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%);
			width: max-content;
			@media only screen and (max-width: 768px) {
				width: min-content;
			}
			.progress-step-label {
				font-size: 22px;
				color: #2b1506;
				cursor: pointer;
				@media only screen and (max-width: 768px) {
					font-size: 15px;
				}
				@media only screen and (max-width: 480px) {
					font-size: 12px;
				}
			}
		}
	}
}
.wopb-welcome .letsStartButton {
	font-size: 25px;
	display: inline-flex;
	align-items: center;
	gap: 5px;
	padding: 25px 100px;
}
.completeStep {
	text-align: center;
	margin-top: 25px;
	.readyButton {
		font-size: 22px;
		display: inline-flex;
		align-items: center;
		gap: 5px;
		.dashicons {
			font-size: 22px;
			line-height: normal;
		}
	}
}
/* ===== Navigation Control ===== */
.wopb-d-none {
	display: none !important;
}
.productx-wizard-installation-notice {
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	color: #888888;
	margin-top: -10px;
	.installable-plugin {
		color: #ff8545;
		a {
			color: #ff8545;
		}
	}
}
