.wp-block-product-blocks-thankyou-order-details .wopb-product-wrapper {
	table {
		border-spacing: 0px;
		width: 100% !important;
		thead,
		tbody,
		tfoot {
			td,
			th {
				background-color: unset !important;
			}
		}
		tr td {
			vertical-align: middle !important;
		}
	}

	.woocommerce-MyAccount-downloads-file.button {
		display: inline-block;
		min-height: unset;
	}
}
