// inside li anchor tag css
.woocommerce div.product .wp-block-product-blocks-product-tab,
.wp-block-product-blocks-product-tab {
	&.wopb_hide_r_head .woocommerce-Reviews-title {
		display: none;
	}
	.wopb-product-wrapper .woocommerce-tabs .woocommerce-Reviews-title {
		margin: 0 0 24px;
	}
	.wopb-product-wrapper {
		transition: 300ms;
		.woocommerce-tabs {
			max-width: unset;
			padding: 0;
			margin: 0;
			border: 0;
			background-color: unset;
			box-shadow: none;
			ul.wc-tabs {
				display: block;
				margin: 0;
				border: none;
				padding: 0;
				width: 100%;
				background: none;
				&::before {
					display: none !important;
				}
				&::after {
					display: none !important;
				}
				li {
					display: inline-block;
					float: unset;
					padding: 0;
					margin: 0;
					border: none;
					border-radius: 0;
					background: none;
					&.active {
						background: none;
						&::before {
							display: none;
						}
					}
					&::before {
						display: none;
					}
					&::after {
						display: none;
					}
					a {
						display: inline-block;
						text-decoration: none;
						margin: 0 1px;
						&::before {
							display: none;
						}
						&:focus {
							border: none;
							outline: none;
							box-shadow: none;
						}
					}
				}
			}
			.tab-panels {
				padding-top: unset;
			}
			.woocommerce-Tabs-panel {
				width: 100%;
				padding: 0 !important;
				margin: 0 !important;
				clear: both;
				border: none;
				background-color: unset;
				box-shadow: none;
				& > p {
					margin: 0;
					max-width: unset;
				}
			}
			.woocommerce-Tabs-panel--description {
				display: none;
			}
			.woocommerce-Tabs-panel--additional_information > h2 {
				display: none;
			}
		}
		table {
			width: -webkit-fill-available;
			margin-top: unset;
			&.shop_attributes {
				tbody {
					display: table-row-group;
				}
				th {
					width: 22%;
				}
				td p {
					padding: 0px;
					line-height: normal;
				}
			}
			th,
			td {
				text-align: left;
				p {
					margin-bottom: unset !important;
				}
			}
		}
	}
}

// theme design
.theme-hestia {
	.wopb-builder-container {
		margin-top: 90px !important;
	}
}
